{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
Feature: Smoke tests for {{service}}

Background:
{{#client_endpoint}}
  Given I create a client in region '{{client_region}}' with endpoint '{{client_endpoint}}'
{{/client_endpoint}}
{{^client_endpoint}}
  Given I create a client in region '{{client_region}}'
{{/client_endpoint}}
{{#smoke_tests}}

  {{smoke_test_tags}}
  Scenario: {{scenario_string}}
  When I call the operation '{{operation}}' with params:
    """
{{&param_hash}}
    """
  Then {{error_expectation}}
{{/smoke_tests}}
