{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
Feature: Smoke tests for {{service_name}}
{{#smoke_tests}}

  {{tags}}
  Scenario: {{id}}
    Given I create a '{{service_module}}' client with config:
      """
{{&config_hash}}
      """
    When I call the operation '{{operation_name}}' with params:
      """
{{&param_hash}}
      """
    Then {{&expectation}}
{{/smoke_tests}}
