Before("@{{var_name}}") do
{{#client_endpoint}}
  @service = {{module_name}}::Resource.new(endpoint: '{{client_endpoint}}')
{{/client_endpoint}}
{{^client_endpoint}}
  @service = {{module_name}}::Resource.new(region: '{{client_region}}')
{{/client_endpoint}}
  @client = @service.client
end

After("@{{var_name}}") do
  # shared cleanup logic
end
