.byebug_history
/.bundle
/.yardoc
/*.gem
/api-docs
/api-docs.zip
/integration-test-config.json
coverage
/Gemfile.lock
/vendor
/release-notes.html
/TODO
*.DS_Store
.ruby-version

/developer_guide/output
/developer_guide/tmp
/developer_guide/crash.log
