--title 'AWS SDK for Ruby V2'
--output-dir api-docs
--template-path doc-src/templates
--markup markdown
--markup-provider rdiscount
--hide-api private
--plugin sitemap
--embed-mixins
--asset doc-src/images:images
-e doc-src/plugins/apis.rb
-e doc-src/plugins/resources.rb
-e doc-src/plugins/stability.rb
**/lib/**/*.rb
