--title 'AWS SDK for Ruby V2'
--output-dir api-docs
--template-path doc-src/templates
--markup markdown
--markup-provider rdiscount
--hide-api private
--plugin sitemap
--asset doc-src/images:images
-e doc-src/plugins/apis.rb
-e doc-src/plugins/resources.rb
-e doc-src/plugins/stability.rb
aws-sdk-core/lib/**/*.rb aws-sdk-resources/lib/**/*.rb aws-sdk/lib/**/*.rb
