--title 'AWS SDK for Ruby V3'
--output-dir api-docs
--template-path doc-src/templates
--markup markdown
--markup-provider rdiscount
--hide-api private
--plugin sitemap
--exclude \/client_api.rb$
gems/aws-sdk-core/lib/**/*.rb gems/aws-sdk-dynamodb/lib/**/*.rb
