{{generated_src_warning}}
module Aws
  module {{service_name}}
    module Errors
      class ServiceError < ::Aws::Errors::ServiceError
      end

      {{#errors}}
      class {{name}} < ::Aws::Errors::ServiceError
        {{#members}}
        {{{signature}}}
        {{/members}}
      end
      {{/errors}}
    end
  end
end
