{{generated_src_warning}}
module Aws
  module {{service_name}}
    module Types
      {{#shape_map}}
      {{#class?}}
      {{#output_structure_members_empty?}}
      class {{name}} < ::Aws::EmptyStructure
      end
      {{/output_structure_members_empty?}}
      {{^output_structure_members_empty?}}
      class {{name}}
        include Seahorse::Client::DelegatorMethodsForResponse[{{name}}]
        {{#output_structure_members}}

        attr_accessor {{method_name}}: {{returns}}
        {{/output_structure_members}}
      end
      {{/output_structure_members_empty?}}
      {{/class?}}
      {{#alias?}}
      {{{rbs_as_alias}}}
      {{/alias?}}
      {{/shape_map}}
    end
  end
end
