{
  "metadata":{
    "apiVersion":"2014-01-31",
    "endpointPrefix":"cloudfront",
    "globalEndpoint":"cloudfront.amazonaws.com",
    "serviceAbbreviation":"CloudFront",
    "serviceFullName":"Amazon CloudFront",
    "signatureVersion":"v4",
    "type":"rest-xml"
  },
  "operations":{
    "CreateCloudFrontOriginAccessIdentity2014_01_31":{
      "http":{
        "method":"POST",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront",
        "responseCode":201
      },
      "input":{
        "$extends":["CreateCloudFrontOriginAccessIdentityRequest"],
        "documentation":"The request to create a new origin access identity."
      },
      "output":{
        "$extends":["CreateCloudFrontOriginAccessIdentityResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["CloudFrontOriginAccessIdentityAlreadyExists"],
          "documentation":"If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request,\n    CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["TooManyCloudFrontOriginAccessIdentities"],
          "documentation":"Processing your request would cause you to exceed the maximum number of origin access identities allowed."
        },
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        }
      ],
      "documentation":"Create a new origin access identity."
    },
    "CreateDistribution2014_01_31":{
      "http":{
        "method":"POST",
        "requestUri":"/2014-01-31/distribution",
        "responseCode":201
      },
      "input":{
        "$extends":["CreateDistributionRequest"],
        "documentation":"The request to create a new distribution."
      },
      "output":{
        "$extends":["CreateDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {"$extends":["CNAMEAlreadyExists"]},
        {
          "$extends":["DistributionAlreadyExists"],
          "documentation":"The caller reference you attempted to create the distribution with is associated with another distribution."
        },
        {
          "$extends":["InvalidOrigin"],
          "documentation":"The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
        },
        {
          "$extends":["InvalidOriginAccessIdentity"],
          "documentation":"The origin access identity is not valid or doesn't exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {
          "$extends":["TooManyTrustedSigners"],
          "documentation":"Your request contains more trusted signers than are allowed per distribution."
        },
        {
          "$extends":["TrustedSignerDoesNotExist"],
          "documentation":"One or more of your trusted signers do not exist."
        },
        {"$extends":["InvalidViewerCertificate"]},
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["TooManyDistributionCNAMEs"],
          "documentation":"Your request contains more CNAMEs than are allowed per distribution."
        },
        {
          "$extends":["TooManyDistributions"],
          "documentation":"Processing your request would cause you to exceed the maximum number of distributions allowed."
        },
        {
          "$extends":["InvalidDefaultRootObject"],
          "documentation":"The default root object file name is too big or contains an invalid character."
        },
        {
          "$extends":["InvalidRelativePath"],
          "documentation":"The relative path is too big, is not URL-encoded, or\n    does not begin with a slash (/)."
        },
        {"$extends":["InvalidErrorCode"]},
        {"$extends":["InvalidResponseCode"]},
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InvalidRequiredProtocol"],
          "documentation":"This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
        },
        {
          "$extends":["NoSuchOrigin"],
          "documentation":"No origin exists with the specified Origin Id."
        },
        {
          "$extends":["TooManyOrigins"],
          "documentation":"You cannot create anymore origins for the distribution."
        },
        {
          "$extends":["TooManyCacheBehaviors"],
          "documentation":"You cannot create anymore cache behaviors for the distribution."
        },
        {
          "$extends":["TooManyCookieNamesInWhiteList"],
          "documentation":"Your request contains more cookie names in the whitelist than are allowed per cache behavior."
        },
        {
          "$extends":["InvalidForwardCookies"],
          "documentation":"Your request contains forward cookies option which doesn't match with the expectation for the whitelisted\n    list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names\n    is missing when expected."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        },
        {
          "$extends":["TooManyCertificates"],
          "documentation":"You cannot create anymore custom ssl certificates."
        },
        {"$extends":["InvalidLocationCode"]},
        {"$extends":["InvalidGeoRestrictionParameter"]}
      ],
      "documentation":"Create a new distribution."
    },
    "CreateInvalidation2014_01_31":{
      "http":{
        "method":"POST",
        "requestUri":"/2014-01-31/distribution/{DistributionId}/invalidation",
        "responseCode":201
      },
      "input":{
        "$extends":["CreateInvalidationRequest"],
        "documentation":"The request to create an invalidation."
      },
      "output":{
        "$extends":["CreateInvalidationResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {"$extends":["BatchTooLarge"]},
        {
          "$extends":["TooManyInvalidationsInProgress"],
          "documentation":"You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        }
      ],
      "documentation":"Create a new invalidation."
    },
    "CreateStreamingDistribution2014_01_31":{
      "http":{
        "method":"POST",
        "requestUri":"/2014-01-31/streaming-distribution",
        "responseCode":201
      },
      "input":{
        "$extends":["CreateStreamingDistributionRequest"],
        "documentation":"The request to create a new streaming distribution."
      },
      "output":{
        "$extends":["CreateStreamingDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {"$extends":["CNAMEAlreadyExists"]},
        {"$extends":["StreamingDistributionAlreadyExists"]},
        {
          "$extends":["InvalidOrigin"],
          "documentation":"The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
        },
        {
          "$extends":["InvalidOriginAccessIdentity"],
          "documentation":"The origin access identity is not valid or doesn't exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {
          "$extends":["TooManyTrustedSigners"],
          "documentation":"Your request contains more trusted signers than are allowed per distribution."
        },
        {
          "$extends":["TrustedSignerDoesNotExist"],
          "documentation":"One or more of your trusted signers do not exist."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {"$extends":["TooManyStreamingDistributionCNAMEs"]},
        {
          "$extends":["TooManyStreamingDistributions"],
          "documentation":"Processing your request would cause you to exceed the maximum number of streaming distributions allowed."
        },
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        }
      ],
      "documentation":"Create a new streaming distribution."
    },
    "DeleteCloudFrontOriginAccessIdentity2014_01_31":{
      "http":{
        "method":"DELETE",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront/{Id}",
        "responseCode":204
      },
      "input":{
        "$extends":["DeleteCloudFrontOriginAccessIdentityRequest"],
        "documentation":"The request to delete a origin access identity."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["NoSuchCloudFrontOriginAccessIdentity"],
          "documentation":"The specified origin access identity does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        },
        {"$extends":["CloudFrontOriginAccessIdentityInUse"]}
      ],
      "documentation":"Delete an origin access identity."
    },
    "DeleteDistribution2014_01_31":{
      "http":{
        "method":"DELETE",
        "requestUri":"/2014-01-31/distribution/{Id}",
        "responseCode":204
      },
      "input":{
        "$extends":["DeleteDistributionRequest"],
        "documentation":"The request to delete a distribution."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {"$extends":["DistributionNotDisabled"]},
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        }
      ],
      "documentation":"Delete a distribution."
    },
    "DeleteStreamingDistribution2014_01_31":{
      "http":{
        "method":"DELETE",
        "requestUri":"/2014-01-31/streaming-distribution/{Id}",
        "responseCode":204
      },
      "input":{
        "$extends":["DeleteStreamingDistributionRequest"],
        "documentation":"The request to delete a streaming distribution."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {"$extends":["StreamingDistributionNotDisabled"]},
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["NoSuchStreamingDistribution"],
          "documentation":"The specified streaming distribution does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        }
      ],
      "documentation":"Delete a streaming distribution."
    },
    "GetCloudFrontOriginAccessIdentity2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront/{Id}"
      },
      "input":{
        "$extends":["GetCloudFrontOriginAccessIdentityRequest"],
        "documentation":"The request to get an origin access identity's information."
      },
      "output":{
        "$extends":["GetCloudFrontOriginAccessIdentityResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchCloudFrontOriginAccessIdentity"],
          "documentation":"The specified origin access identity does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the information about an origin access identity."
    },
    "GetCloudFrontOriginAccessIdentityConfig2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{
        "$extends":["GetCloudFrontOriginAccessIdentityConfigRequest"],
        "documentation":"The request to get an origin access identity's configuration."
      },
      "output":{
        "$extends":["GetCloudFrontOriginAccessIdentityConfigResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchCloudFrontOriginAccessIdentity"],
          "documentation":"The specified origin access identity does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the configuration information about an origin access identity."
    },
    "GetDistribution2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/distribution/{Id}"
      },
      "input":{
        "$extends":["GetDistributionRequest"],
        "documentation":"The request to get a distribution's information."
      },
      "output":{
        "$extends":["GetDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the information about a distribution."
    },
    "GetDistributionConfig2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/distribution/{Id}/config"
      },
      "input":{
        "$extends":["GetDistributionConfigRequest"],
        "documentation":"The request to get a distribution configuration."
      },
      "output":{
        "$extends":["GetDistributionConfigResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the configuration information about a distribution."
    },
    "GetInvalidation2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input":{
        "$extends":["GetInvalidationRequest"],
        "documentation":"The request to get an invalidation's information."
      },
      "output":{
        "$extends":["GetInvalidationResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchInvalidation"],
          "documentation":"The specified invalidation does not exist."
        },
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the information about an invalidation."
    },
    "GetStreamingDistribution2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/streaming-distribution/{Id}"
      },
      "input":{
        "$extends":["GetStreamingDistributionRequest"],
        "documentation":"The request to get a streaming distribution's information."
      },
      "output":{
        "$extends":["GetStreamingDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchStreamingDistribution"],
          "documentation":"The specified streaming distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the information about a streaming distribution."
    },
    "GetStreamingDistributionConfig2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/streaming-distribution/{Id}/config"
      },
      "input":{
        "$extends":["GetStreamingDistributionConfigRequest"],
        "documentation":"To request to get a streaming distribution configuration."
      },
      "output":{
        "$extends":["GetStreamingDistributionConfigResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["NoSuchStreamingDistribution"],
          "documentation":"The specified streaming distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"Get the configuration information about a streaming distribution."
    },
    "ListCloudFrontOriginAccessIdentities2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront{?Marker,MaxItems}"
      },
      "input":{
        "$extends":["ListCloudFrontOriginAccessIdentitiesRequest"],
        "documentation":"The request to list origin access identities."
      },
      "output":{
        "$extends":["ListCloudFrontOriginAccessIdentitiesResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[{
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        }],
      "documentation":"List origin access identities."
    },
    "ListDistributions2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/distribution{?Marker,MaxItems}"
      },
      "input":{
        "$extends":["ListDistributionsRequest"],
        "documentation":"The request to list your distributions."
      },
      "output":{
        "$extends":["ListDistributionsResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[{
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        }],
      "documentation":"List distributions."
    },
    "ListInvalidations2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/distribution/{DistributionId}/invalidation{?Marker,MaxItems}"
      },
      "input":{
        "$extends":["ListInvalidationsRequest"],
        "documentation":"The request to list invalidations."
      },
      "output":{
        "$extends":["ListInvalidationsResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        }
      ],
      "documentation":"List invalidation batches."
    },
    "ListStreamingDistributions2014_01_31":{
      "http":{
        "method":"GET",
        "requestUri":"/2014-01-31/streaming-distribution{?Marker,MaxItems}"
      },
      "input":{
        "$extends":["ListStreamingDistributionsRequest"],
        "documentation":"The request to list your streaming distributions."
      },
      "output":{
        "$extends":["ListStreamingDistributionsResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[{
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        }],
      "documentation":"List streaming distributions."
    },
    "UpdateCloudFrontOriginAccessIdentity2014_01_31":{
      "http":{
        "method":"PUT",
        "requestUri":"/2014-01-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{
        "$extends":["UpdateCloudFrontOriginAccessIdentityRequest"],
        "documentation":"The request to update an origin access identity."
      },
      "output":{
        "$extends":["UpdateCloudFrontOriginAccessIdentityResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {
          "$extends":["IllegalUpdate"],
          "documentation":"Origin and CallerReference cannot be updated."
        },
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["NoSuchCloudFrontOriginAccessIdentity"],
          "documentation":"The specified origin access identity does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        },
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        }
      ],
      "documentation":"Update an origin access identity."
    },
    "UpdateDistribution2014_01_31":{
      "http":{
        "method":"PUT",
        "requestUri":"/2014-01-31/distribution/{Id}/config"
      },
      "input":{
        "$extends":["UpdateDistributionRequest"],
        "documentation":"The request to update a distribution."
      },
      "output":{
        "$extends":["UpdateDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {"$extends":["CNAMEAlreadyExists"]},
        {
          "$extends":["IllegalUpdate"],
          "documentation":"Origin and CallerReference cannot be updated."
        },
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["NoSuchDistribution"],
          "documentation":"The specified distribution does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        },
        {
          "$extends":["TooManyDistributionCNAMEs"],
          "documentation":"Your request contains more CNAMEs than are allowed per distribution."
        },
        {
          "$extends":["InvalidDefaultRootObject"],
          "documentation":"The default root object file name is too big or contains an invalid character."
        },
        {
          "$extends":["InvalidRelativePath"],
          "documentation":"The relative path is too big, is not URL-encoded, or\n    does not begin with a slash (/)."
        },
        {"$extends":["InvalidErrorCode"]},
        {"$extends":["InvalidResponseCode"]},
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InvalidOriginAccessIdentity"],
          "documentation":"The origin access identity is not valid or doesn't exist."
        },
        {
          "$extends":["TooManyTrustedSigners"],
          "documentation":"Your request contains more trusted signers than are allowed per distribution."
        },
        {
          "$extends":["TrustedSignerDoesNotExist"],
          "documentation":"One or more of your trusted signers do not exist."
        },
        {"$extends":["InvalidViewerCertificate"]},
        {
          "$extends":["InvalidRequiredProtocol"],
          "documentation":"This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
        },
        {
          "$extends":["NoSuchOrigin"],
          "documentation":"No origin exists with the specified Origin Id."
        },
        {
          "$extends":["TooManyOrigins"],
          "documentation":"You cannot create anymore origins for the distribution."
        },
        {
          "$extends":["TooManyCacheBehaviors"],
          "documentation":"You cannot create anymore cache behaviors for the distribution."
        },
        {
          "$extends":["TooManyCookieNamesInWhiteList"],
          "documentation":"Your request contains more cookie names in the whitelist than are allowed per cache behavior."
        },
        {
          "$extends":["InvalidForwardCookies"],
          "documentation":"Your request contains forward cookies option which doesn't match with the expectation for the whitelisted\n    list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names\n    is missing when expected."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        },
        {
          "$extends":["TooManyCertificates"],
          "documentation":"You cannot create anymore custom ssl certificates."
        },
        {"$extends":["InvalidLocationCode"]},
        {"$extends":["InvalidGeoRestrictionParameter"]}
      ],
      "documentation":"Update a distribution."
    },
    "UpdateStreamingDistribution2014_01_31":{
      "http":{
        "method":"PUT",
        "requestUri":"/2014-01-31/streaming-distribution/{Id}/config"
      },
      "input":{
        "$extends":["UpdateStreamingDistributionRequest"],
        "documentation":"The request to update a streaming distribution."
      },
      "output":{
        "$extends":["UpdateStreamingDistributionResult"],
        "documentation":"The returned result of the corresponding request."
      },
      "errors":[
        {
          "$extends":["AccessDenied"],
          "documentation":"Access denied."
        },
        {"$extends":["CNAMEAlreadyExists"]},
        {
          "$extends":["IllegalUpdate"],
          "documentation":"Origin and CallerReference cannot be updated."
        },
        {
          "$extends":["InvalidIfMatchVersion"],
          "documentation":"The If-Match version is missing or not valid for the distribution."
        },
        {
          "$extends":["MissingBody"],
          "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
        },
        {
          "$extends":["NoSuchStreamingDistribution"],
          "documentation":"The specified streaming distribution does not exist."
        },
        {
          "$extends":["PreconditionFailed"],
          "documentation":"The precondition given in one or more of the request-header fields evaluated to false."
        },
        {"$extends":["TooManyStreamingDistributionCNAMEs"]},
        {
          "$extends":["InvalidArgument"],
          "documentation":"The argument is invalid."
        },
        {
          "$extends":["InvalidOriginAccessIdentity"],
          "documentation":"The origin access identity is not valid or doesn't exist."
        },
        {
          "$extends":["TooManyTrustedSigners"],
          "documentation":"Your request contains more trusted signers than are allowed per distribution."
        },
        {
          "$extends":["TrustedSignerDoesNotExist"],
          "documentation":"One or more of your trusted signers do not exist."
        },
        {
          "$extends":["InconsistentQuantities"],
          "documentation":"The value of Quantity and the size of Items do not match."
        }
      ],
      "documentation":"Update a streaming distribution."
    }
  },
  "definitions":{
    "AccessDenied":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"Access denied."
    },
    "ActiveTrustedSigners":{
      "type":"structure",
      "required":[
        "Enabled",
        "Quantity"
      ],
      "members":{
        "Enabled":{
          "$extends":["boolean"],
          "documentation":"Each active trusted signer."
        },
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of unique trusted signers included in all\n    cache behaviors. For example, if three cache\n    behaviors all list the same three AWS accounts, the\n    value of Quantity for ActiveTrustedSigners will\n    be 3."
        },
        "Items":{
          "$extends":["SignerList"],
          "documentation":"A complex type that contains one Signer complex\n    type for each unique trusted signer that is specified in\n    the TrustedSigners complex type, including trusted\n    signers in the default cache behavior and in all of the\n    other cache behaviors."
        }
      },
      "documentation":"A complex type that lists the AWS accounts, if any,\n    that you included in the TrustedSigners complex\n    type for the default cache behavior or for any of the\n    other cache behaviors for this distribution. These are\n    accounts that you want to allow to create signed URLs\n    for private content."
    },
    "AliasList":{
      "type":"list",
      "member":{
        "$extends":["string"],
        "xmlname":"CNAME"
      }
    },
    "Aliases":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of CNAMEs, if any, for this distribution."
        },
        "Items":{
          "$extends":["AliasList"],
          "documentation":"Optional: A complex type that contains CNAME elements, if any, for this distribution. If Quantity is 0, you can omit Items."
        }
      },
      "documentation":"A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution."
    },
    "AllowedMethods":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of HTTP methods that you want CloudFront to forward to your origin. \n\tValid values are 2 (for GET and HEAD requests) and 7 (for DELETE, GET, HEAD, \n\tOPTIONS, PATCH, POST, and PUT requests)."
        },
        "Items":{
          "$extends":["AllowedMethodsList"],
          "documentation":"A complex type that contains the HTTP methods that you want \n\tCloudFront to process and forward to your origin."
        }
      },
      "documentation":"A complex type that controls which HTTP methods CloudFront processes and \n\tforwards to your Amazon S3 bucket or your custom origin. There are two \n\toptions:\n\t- CloudFront forwards only GET and HEAD requests.\n\t- CloudFront forwards DELETE, GET, HEAD, OPTIONS, PATCH, POST, and PUT\n\trequests.\n\tIf you choose the second option, you may need to restrict access to your \n\tAmazon S3 bucket or to your custom origin so users can't perform operations \n\tthat you don't want them to. For example, you may not want users to have \n\tpermission to delete objects from your origin."
    },
    "AllowedMethodsList":{
      "type":"list",
      "member":{
        "$extends":["Method"],
        "xmlname":"Method"
      }
    },
    "AwsAccountNumberList":{
      "type":"list",
      "member":{
        "$extends":["string"],
        "xmlname":"AwsAccountNumber"
      }
    },
    "BatchTooLarge":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "CNAMEAlreadyExists":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "CacheBehavior":{
      "type":"structure",
      "required":[
        "PathPattern",
        "TargetOriginId",
        "ForwardedValues",
        "TrustedSigners",
        "ViewerProtocolPolicy",
        "MinTTL"
      ],
      "members":{
        "PathPattern":{
          "$extends":["string"],
          "documentation":"The pattern (for example, images/*.jpg) that specifies which requests\n    you want this cache behavior to apply to. When CloudFront receives an\n    end-user request, the requested path is compared with path patterns in\n    the order in which cache behaviors are listed in the distribution.\n    The path pattern for the default cache behavior is * and cannot be\n    changed. If the request for an object does not match the path pattern for\n    any cache behaviors, CloudFront applies the behavior in the default cache\n    behavior."
        },
        "TargetOriginId":{
          "$extends":["string"],
          "documentation":"The value of ID for the origin that you want CloudFront to route requests\n    to when a request matches the path pattern either for a cache behavior\n    or for the default cache behavior."
        },
        "ForwardedValues":{
          "$extends":["ForwardedValues"],
          "documentation":"A complex type that specifies how CloudFront handles query strings and cookies."
        },
        "TrustedSigners":{
          "$extends":["TrustedSigners"],
          "documentation":"A complex type that specifies the AWS accounts, if any, that you want\n    to allow to create signed URLs for private content.\n    If you want to require signed URLs in requests for objects in the target\n    origin that match the PathPattern for this cache behavior, specify true\n    for Enabled, and specify the applicable values for Quantity and Items.\n    For more information, go to Using a Signed URL to Serve Private Content\n    in the Amazon CloudFront Developer Guide.\n    If you don't want to require signed URLs in requests for objects that match\n    PathPattern, specify false for Enabled and 0 for Quantity. Omit\n    Items.\n    To add, change, or remove one or more trusted signers, change Enabled\n    to true (if it's currently false), change Quantity as applicable, and\n    specify all of the trusted signers that you want to include in the updated\n    distribution."
        },
        "ViewerProtocolPolicy":{
          "$extends":["ViewerProtocolPolicy"],
          "documentation":"Use this element to specify the protocol that users can use to access the\n    files in the origin specified by TargetOriginId when a request matches\n    the path pattern in PathPattern. If you want CloudFront to allow end\n    users to use any available protocol, specify allow-all. If you want\n    CloudFront to require HTTPS, specify https. If you want CloudFront to \n    respond to an HTTP request with an HTTP status code of 301 (Moved Permanently)\n    and the HTTPS URL, specify redirect-to-https. The viewer then resubmits \n    the request using the HTTPS URL."
        },
        "MinTTL":{
          "$extends":["long"],
          "documentation":"The minimum amount of time that you want objects to stay in CloudFront\n    caches before CloudFront queries your origin to see whether the object\n    has been updated.You can specify a value from 0 to 3,153,600,000\n    seconds (100 years)."
        },
        "AllowedMethods":{"$extends":["AllowedMethods"]},
        "SmoothStreaming":{
          "$extends":["boolean"],
          "documentation":"Indicates whether you want to distribute media files in Microsoft Smooth\n      Streaming format using the origin that is associated with this cache behavior.\n      If so, specify true; if not, specify false."
        }
      },
      "documentation":"A complex type that describes how CloudFront processes requests.\n    You can create up to 10 cache behaviors.You must create at least as\n    many cache behaviors (including the default cache behavior) as you have\n    origins if you want CloudFront to distribute objects from all of the origins.\n    Each cache behavior specifies the one origin from which you want\n    CloudFront to get objects. If you have two origins and only the default\n    cache behavior, the default cache behavior will cause CloudFront to get\n    objects from one of the origins, but the other origin will never be used.\n    If you don't want to specify any cache behaviors, include only an empty\n    CacheBehaviors element. Don't include an empty CacheBehavior\n    element, or CloudFront returns a MalformedXML error.\n    To delete all cache behaviors in an existing distribution, update the\n    distribution configuration and include only an empty CacheBehaviors\n    element.\n    To add, change, or remove one or more cache behaviors, update the\n    distribution configuration and specify all of the cache behaviors that you\n    want to include in the updated distribution."
    },
    "CacheBehaviorList":{
      "type":"list",
      "member":{
        "$extends":["CacheBehavior"],
        "xmlname":"CacheBehavior"
      }
    },
    "CacheBehaviors":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of cache behaviors for this distribution."
        },
        "Items":{
          "$extends":["CacheBehaviorList"],
          "documentation":"Optional: A complex type that contains cache behaviors for this\n   distribution. If Quantity is 0, you can omit Items."
        }
      },
      "documentation":"A complex type that contains zero or more CacheBehavior elements."
    },
    "CloudFrontOriginAccessIdentity":{
      "type":"structure",
      "required":[
        "Id",
        "S3CanonicalUserId"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The ID for the origin access identity. For example: E74FTE3AJFJ256A."
        },
        "S3CanonicalUserId":{
          "$extends":["string"],
          "documentation":"The Amazon S3 canonical user ID for the origin access identity, which you use when giving the origin access identity read permission to an object in Amazon S3."
        },
        "CloudFrontOriginAccessIdentityConfig":{
          "$extends":["CloudFrontOriginAccessIdentityConfig"],
          "documentation":"The current configuration information for the identity."
        }
      },
      "documentation":"CloudFront origin access identity."
    },
    "CloudFrontOriginAccessIdentityAlreadyExists":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request,\n    CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
    },
    "CloudFrontOriginAccessIdentityConfig":{
      "type":"structure",
      "required":[
        "CallerReference",
        "Comment"
      ],
      "members":{
        "CallerReference":{
          "$extends":["string"],
          "documentation":"A unique number that ensures the request can't be replayed.\n    If the CallerReference is new (no matter the content of the CloudFrontOriginAccessIdentityConfig object), a new origin access identity is created.\n    If the CallerReference is a value you already sent in a previous request to create an identity, and the content of the CloudFrontOriginAccessIdentityConfig is identical to the original request (ignoring white space),\n    the response includes the same information returned to the original request.\n    If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request,\n    CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error."
        },
        "Comment":{
          "$extends":["string"],
          "documentation":"Any comments you want to include about the origin access identity."
        }
      },
      "documentation":"Origin access identity configuration."
    },
    "CloudFrontOriginAccessIdentityInUse":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "CloudFrontOriginAccessIdentityList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{
          "$extends":["string"],
          "documentation":"The value you provided for the Marker request parameter."
        },
        "NextMarker":{
          "$extends":["string"],
          "documentation":"If IsTruncated is true, this element is present and contains the value you can use for the Marker request parameter to continue listing your origin access identities where they left off."
        },
        "MaxItems":{
          "$extends":["integer"],
          "documentation":"The value you provided for the MaxItems request parameter."
        },
        "IsTruncated":{
          "$extends":["boolean"],
          "documentation":"A flag that indicates whether more origin access identities remain to be listed.\n    If your results were truncated, you can make a follow-up pagination request using the Marker request parameter to retrieve more items in the list."
        },
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of CloudFront origin access identities that were created by\n    the current AWS account."
        },
        "Items":{
          "$extends":["CloudFrontOriginAccessIdentitySummaryList"],
          "documentation":"A complex type that contains one\n    CloudFrontOriginAccessIdentitySummary element for each origin\n    access identity that was created by the current AWS account."
        }
      },
      "documentation":"The CloudFrontOriginAccessIdentityList type."
    },
    "CloudFrontOriginAccessIdentitySummary":{
      "type":"structure",
      "required":[
        "Id",
        "S3CanonicalUserId",
        "Comment"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The ID for the origin access identity. For example: E74FTE3AJFJ256A."
        },
        "S3CanonicalUserId":{
          "$extends":["string"],
          "documentation":"The Amazon S3 canonical user ID for the origin access identity, which you use when\n     giving the origin access identity read permission to an object in Amazon S3."
        },
        "Comment":{
          "$extends":["string"],
          "documentation":"The comment for this origin access identity, as originally specified when created."
        }
      },
      "documentation":"Summary of the information about a CloudFront origin access identity."
    },
    "CloudFrontOriginAccessIdentitySummaryList":{
      "type":"list",
      "member":{
        "$extends":["CloudFrontOriginAccessIdentitySummary"],
        "xmlname":"CloudFrontOriginAccessIdentitySummary"
      }
    },
    "CookieNameList":{
      "type":"list",
      "member":{
        "$extends":["string"],
        "xmlname":"Name"
      }
    },
    "CookieNames":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of whitelisted cookies for this cache behavior."
        },
        "Items":{
          "$extends":["CookieNameList"],
          "documentation":"Optional: A complex type that contains whitelisted cookies for this cache\n    behavior. If Quantity is 0, you can omit Items."
        }
      },
      "documentation":"A complex type that specifies the whitelisted cookies, if any, that you want CloudFront to forward to your\n    origin that is associated with this cache behavior."
    },
    "CookiePreference":{
      "type":"structure",
      "required":["Forward"],
      "members":{
        "Forward":{
          "$extends":["ItemSelection"],
          "documentation":"Use this element to specify whether you want CloudFront to forward cookies to the origin that is\n    associated with this cache behavior. You can specify all, none or whitelist. If you choose All,\n    CloudFront forwards all cookies regardless of how many your application uses."
        },
        "WhitelistedNames":{
          "$extends":["CookieNames"],
          "documentation":"A complex type that specifies the whitelisted cookies, if any, that you want CloudFront to forward to your\n    origin that is associated with this cache behavior."
        }
      },
      "documentation":"A complex type that specifies the cookie preferences associated with this cache behavior."
    },
    "CreateCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "required":["CloudFrontOriginAccessIdentityConfig"],
      "members":{"CloudFrontOriginAccessIdentityConfig":{
          "$extends":["CloudFrontOriginAccessIdentityConfig"],
          "payload":true,
          "documentation":"The origin access identity's configuration information."
        }},
      "documentation":"The request to create a new origin access identity."
    },
    "CreateCloudFrontOriginAccessIdentityResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentity":{
          "$extends":["CloudFrontOriginAccessIdentity"],
          "payload":true,
          "documentation":"The origin access identity's information."
        },
        "Location":{
          "$extends":["string"],
          "location":"header",
          "locationName":"Location",
          "documentation":"The fully qualified URI of the new origin access identity just created.\n    For example: https://cloudfront.amazonaws.com/2010-11-01/origin-access-identity/cloudfront/E74FTE3AJFJ256A."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the origin access identity created."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "CreateDistributionRequest":{
      "type":"structure",
      "required":["DistributionConfig"],
      "members":{"DistributionConfig":{
          "$extends":["DistributionConfig"],
          "payload":true,
          "documentation":"The distribution's configuration information."
        }},
      "documentation":"The request to create a new distribution."
    },
    "CreateDistributionResult":{
      "type":"structure",
      "members":{
        "Distribution":{
          "$extends":["Distribution"],
          "payload":true,
          "documentation":"The distribution's information."
        },
        "Location":{
          "$extends":["string"],
          "location":"header",
          "locationName":"Location",
          "documentation":"The fully qualified URI of the new distribution resource just created. For example: https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the distribution created."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "CreateInvalidationRequest":{
      "type":"structure",
      "required":[
        "DistributionId",
        "InvalidationBatch"
      ],
      "members":{
        "DistributionId":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"DistributionId",
          "documentation":"The distribution's id."
        },
        "InvalidationBatch":{
          "$extends":["InvalidationBatch"],
          "payload":true,
          "documentation":"The batch information for the invalidation."
        }
      },
      "documentation":"The request to create an invalidation."
    },
    "CreateInvalidationResult":{
      "type":"structure",
      "members":{
        "Location":{
          "$extends":["string"],
          "location":"header",
          "locationName":"Location",
          "documentation":"The fully qualified URI of the distribution and invalidation batch request, including the Invalidation ID."
        },
        "Invalidation":{
          "$extends":["Invalidation"],
          "payload":true,
          "documentation":"The invalidation's information."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "CreateStreamingDistributionRequest":{
      "type":"structure",
      "required":["StreamingDistributionConfig"],
      "members":{"StreamingDistributionConfig":{
          "$extends":["StreamingDistributionConfig"],
          "payload":true,
          "documentation":"The streaming distribution's configuration information."
        }},
      "documentation":"The request to create a new streaming distribution."
    },
    "CreateStreamingDistributionResult":{
      "type":"structure",
      "members":{
        "StreamingDistribution":{
          "$extends":["StreamingDistribution"],
          "payload":true,
          "documentation":"The streaming distribution's information."
        },
        "Location":{
          "$extends":["string"],
          "location":"header",
          "locationName":"Location",
          "documentation":"The fully qualified URI of the new streaming distribution resource just created.\n    For example: https://cloudfront.amazonaws.com/2010-11-01/streaming-distribution/EGTXBD79H29TRA8."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the streaming distribution created."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "CustomErrorResponse":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{
          "$extends":["integer"],
          "documentation":"The 4xx or 5xx HTTP status code that you want to customize. For a list of \n    HTTP status codes that you can customize, see CloudFront documentation."
        },
        "ResponsePagePath":{
          "$extends":["string"],
          "documentation":"The path of the custom error page (for example, /custom_404.html). The \n    path is relative to the distribution and must begin with a slash (/). If\n    the path includes any non-ASCII characters or unsafe characters as defined \n    in RFC 1783 (http://www.ietf.org/rfc/rfc1738.txt), URL encode those characters.\n    Do not URL encode any other characters in the path, or CloudFront will not \n    return the custom error page to the viewer."
        },
        "ResponseCode":{
          "$extends":["string"],
          "documentation":"The HTTP status code that you want CloudFront to return with the custom error \n    page to the viewer. For a list of HTTP status codes that you can replace, see \n    CloudFront Documentation."
        },
        "ErrorCachingMinTTL":{
          "$extends":["long"],
          "documentation":"The minimum amount of time you want HTTP error codes to stay in CloudFront caches \n    before CloudFront queries your origin to see whether the object has been updated.\n    You can specify a value from 0 to 31,536,000."
        }
      },
      "documentation":"A complex type that describes how you'd prefer CloudFront to respond to\n    requests that result in either a 4xx or 5xx response. You can control \n    whether a custom error page should be displayed, what the desired response\n    code should be for this error page and how long should the error response\n    be cached by CloudFront.\n    If you don't want to specify any custom error responses, include only an \n    empty CustomErrorResponses element. \n    To delete all custom error responses in an existing distribution, update the\n    distribution configuration and include only an empty CustomErrorResponses\n    element.\n    To add, change, or remove one or more custom error responses, update the\n    distribution configuration and specify all of the custom error responses that\n    you want to include in the updated distribution."
    },
    "CustomErrorResponseList":{
      "type":"list",
      "member":{
        "$extends":["CustomErrorResponse"],
        "xmlname":"CustomErrorResponse"
      }
    },
    "CustomErrorResponses":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of custom error responses for this distribution."
        },
        "Items":{
          "$extends":["CustomErrorResponseList"],
          "documentation":"Optional: A complex type that contains custom error responses for this\n    distribution. If Quantity is 0, you can omit Items."
        }
      },
      "documentation":"A complex type that contains zero or more CustomErrorResponse elements."
    },
    "CustomOriginConfig":{
      "type":"structure",
      "required":[
        "HTTPPort",
        "HTTPSPort",
        "OriginProtocolPolicy"
      ],
      "members":{
        "HTTPPort":{
          "$extends":["integer"],
          "documentation":"The HTTP port the custom origin listens on."
        },
        "HTTPSPort":{
          "$extends":["integer"],
          "documentation":"The HTTPS port the custom origin listens on."
        },
        "OriginProtocolPolicy":{
          "$extends":["OriginProtocolPolicy"],
          "documentation":"The origin protocol policy to apply to your origin."
        }
      },
      "documentation":"A customer origin."
    },
    "DefaultCacheBehavior":{
      "type":"structure",
      "required":[
        "TargetOriginId",
        "ForwardedValues",
        "TrustedSigners",
        "ViewerProtocolPolicy",
        "MinTTL"
      ],
      "members":{
        "TargetOriginId":{
          "$extends":["string"],
          "documentation":"The value of ID for the origin that you want CloudFront to route requests\n    to when a request matches the path pattern either for a cache behavior\n    or for the default cache behavior."
        },
        "ForwardedValues":{
          "$extends":["ForwardedValues"],
          "documentation":"A complex type that specifies how CloudFront handles query strings and cookies."
        },
        "TrustedSigners":{
          "$extends":["TrustedSigners"],
          "documentation":"A complex type that specifies the AWS accounts, if any, that you want\n    to allow to create signed URLs for private content.\n    If you want to require signed URLs in requests for objects in the target\n    origin that match the PathPattern for this cache behavior, specify true\n    for Enabled, and specify the applicable values for Quantity and Items.\n    For more information, go to Using a Signed URL to Serve Private Content\n    in the Amazon CloudFront Developer Guide.\n    If you don't want to require signed URLs in requests for objects that match\n    PathPattern, specify false for Enabled and 0 for Quantity. Omit\n    Items.\n    To add, change, or remove one or more trusted signers, change Enabled\n    to true (if it's currently false), change Quantity as applicable, and\n    specify all of the trusted signers that you want to include in the updated\n    distribution."
        },
        "ViewerProtocolPolicy":{
          "$extends":["ViewerProtocolPolicy"],
          "documentation":"Use this element to specify the protocol that users can use to access the\n    files in the origin specified by TargetOriginId when a request matches\n    the path pattern in PathPattern. If you want CloudFront to allow end\n    users to use any available protocol, specify allow-all. If you want\n    CloudFront to require HTTPS, specify https. If you want CloudFront to \n    respond to an HTTP request with an HTTP status code of 301 (Moved Permanently)\n    and the HTTPS URL, specify redirect-to-https. The viewer then resubmits \n    the request using the HTTPS URL."
        },
        "MinTTL":{
          "$extends":["long"],
          "documentation":"The minimum amount of time that you want objects to stay in CloudFront\n    caches before CloudFront queries your origin to see whether the object\n    has been updated.You can specify a value from 0 to 3,153,600,000\n    seconds (100 years)."
        },
        "AllowedMethods":{"$extends":["AllowedMethods"]},
        "SmoothStreaming":{
          "$extends":["boolean"],
          "documentation":"Indicates whether you want to distribute media files in Microsoft Smooth\n      Streaming format using the origin that is associated with this cache behavior.\n      If so, specify true; if not, specify false."
        }
      },
      "documentation":"A complex type that describes the default cache behavior if you do not\n    specify a CacheBehavior element or if files don't match any of the values\n    of PathPattern in CacheBehavior elements.You must create exactly\n    one default cache behavior."
    },
    "DeleteCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "members":{
        "Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The origin access identity's id."
        },
        "IfMatch":{
          "$extends":["string"],
          "location":"header",
          "locationName":"If-Match",
          "documentation":"The value of the ETag header you received from a previous GET or PUT request. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The request to delete a origin access identity."
    },
    "DeleteDistributionRequest":{
      "type":"structure",
      "members":{
        "Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The distribution id."
        },
        "IfMatch":{
          "$extends":["string"],
          "location":"header",
          "locationName":"If-Match",
          "documentation":"The value of the ETag header you received when you disabled the distribution. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The request to delete a distribution."
    },
    "DeleteStreamingDistributionRequest":{
      "type":"structure",
      "members":{
        "Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The distribution id."
        },
        "IfMatch":{
          "$extends":["string"],
          "location":"header",
          "locationName":"If-Match",
          "documentation":"The value of the ETag header you received when you disabled the streaming distribution. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The request to delete a streaming distribution."
    },
    "Distribution":{
      "type":"structure",
      "required":[
        "Id",
        "Status",
        "LastModifiedTime",
        "InProgressInvalidationBatches",
        "DomainName",
        "ActiveTrustedSigners",
        "DistributionConfig"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The identifier for the distribution. For example: EDFDVBD632BHDS5."
        },
        "Status":{
          "$extends":["string"],
          "documentation":"This response element indicates the current status of the distribution.\n    When the status is Deployed, the distribution's information is fully propagated throughout the Amazon CloudFront system."
        },
        "LastModifiedTime":{
          "$extends":["timestamp"],
          "documentation":"The date and time the distribution was last modified."
        },
        "InProgressInvalidationBatches":{
          "$extends":["integer"],
          "documentation":"The number of invalidation batches currently in progress."
        },
        "DomainName":{
          "$extends":["string"],
          "documentation":"The domain name corresponding to the distribution. For example: d604721fxaaqy9.cloudfront.net."
        },
        "ActiveTrustedSigners":{
          "$extends":["ActiveTrustedSigners"],
          "documentation":"CloudFront automatically adds this element to the response only if you've set up the distribution to serve private content with signed URLs.\n    The element lists the key pair IDs that CloudFront is aware of for each trusted signer.\n    The Signer child element lists the AWS account number of the trusted signer (or an empty Self element if the signer is you).\n    The Signer element also includes the IDs of any active key pairs associated with the trusted signer's AWS account. If no KeyPairId element appears for a Signer, that signer can't create working signed URLs."
        },
        "DistributionConfig":{
          "$extends":["DistributionConfig"],
          "documentation":"The current configuration information for the distribution."
        }
      },
      "documentation":"A distribution."
    },
    "DistributionAlreadyExists":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The caller reference you attempted to create the distribution with is associated with another distribution."
    },
    "DistributionConfig":{
      "type":"structure",
      "required":[
        "CallerReference",
        "Aliases",
        "DefaultRootObject",
        "Origins",
        "DefaultCacheBehavior",
        "CacheBehaviors",
        "Comment",
        "Logging",
        "PriceClass",
        "Enabled"
      ],
      "members":{
        "CallerReference":{
          "$extends":["string"],
          "documentation":"A unique number that ensures the request can't be replayed.\n    If the CallerReference is new (no matter the content of the DistributionConfig object), a new distribution is created.\n    If the CallerReference is a value you already sent in a previous request to create a distribution, and the content of the DistributionConfig is identical to the original request (ignoring white space),\n    the response includes the same information returned to the original request.\n    If the CallerReference is a value you already sent in a previous request to create a distribution but the content of the DistributionConfig is different from the original request,\n    CloudFront returns a DistributionAlreadyExists error."
        },
        "Aliases":{
          "$extends":["Aliases"],
          "documentation":"A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution."
        },
        "DefaultRootObject":{
          "$extends":["string"],
          "documentation":"The object that you want CloudFront to return (for example, index.html)\n    when an end user requests the root URL for your distribution\n    (http://www.example.com) instead of an object in your distribution\n    (http://www.example.com/index.html). Specifying a default root\n    object avoids exposing the contents of your distribution.\n    If you don't want to specify a default root object when you create a\n    distribution, include an empty DefaultRootObject element.\n    To delete the default root object from an existing distribution, update the\n    distribution configuration and include an empty DefaultRootObject\n    element. To replace the default root object, update the distribution configuration\n    and specify the new object."
        },
        "Origins":{
          "$extends":["Origins"],
          "documentation":"A complex type that contains information about origins for this distribution."
        },
        "DefaultCacheBehavior":{
          "$extends":["DefaultCacheBehavior"],
          "documentation":"A complex type that describes the default cache behavior if you do not\n    specify a CacheBehavior element or if files don't match any of the values\n    of PathPattern in CacheBehavior elements.You must create exactly\n    one default cache behavior."
        },
        "CacheBehaviors":{
          "$extends":["CacheBehaviors"],
          "documentation":"A complex type that contains zero or more CacheBehavior elements."
        },
        "CustomErrorResponses":{
          "$extends":["CustomErrorResponses"],
          "documentation":"A complex type that contains zero or more CustomErrorResponse elements."
        },
        "Comment":{
          "$extends":["string"],
          "documentation":"Any comments you want to include about the distribution."
        },
        "Logging":{
          "$extends":["LoggingConfig"],
          "documentation":"A complex type that controls whether access logs are written for the distribution."
        },
        "PriceClass":{
          "$extends":["PriceClass"],
          "documentation":"A complex type that contains information about price class for this distribution."
        },
        "Enabled":{
          "$extends":["boolean"],
          "documentation":"Whether the distribution is enabled to accept end user requests for content."
        },
        "ViewerCertificate":{"$extends":["ViewerCertificate"]},
        "Restrictions":{"$extends":["Restrictions"]}
      },
      "documentation":"A distribution Configuration."
    },
    "DistributionList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{
          "$extends":["string"],
          "documentation":"The value you provided for the Marker request parameter."
        },
        "NextMarker":{
          "$extends":["string"],
          "documentation":"If IsTruncated is true, this element is present and contains the value you can use for the Marker request parameter to continue listing your distributions where they left off."
        },
        "MaxItems":{
          "$extends":["integer"],
          "documentation":"The value you provided for the MaxItems request parameter."
        },
        "IsTruncated":{
          "$extends":["boolean"],
          "documentation":"A flag that indicates whether more distributions remain to be listed.\n    If your results were truncated, you can make a follow-up pagination request using the Marker request parameter to retrieve more distributions in the list."
        },
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of distributions that were created by the current AWS account."
        },
        "Items":{
          "$extends":["DistributionSummaryList"],
          "documentation":"A complex type that contains one DistributionSummary element for\n    each distribution that was created by the current AWS account."
        }
      },
      "documentation":"A distribution list."
    },
    "DistributionNotDisabled":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "DistributionSummary":{
      "type":"structure",
      "required":[
        "Id",
        "Status",
        "LastModifiedTime",
        "DomainName",
        "Aliases",
        "Origins",
        "DefaultCacheBehavior",
        "CacheBehaviors",
        "CustomErrorResponses",
        "Comment",
        "PriceClass",
        "Enabled",
        "ViewerCertificate",
        "Restrictions"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The identifier for the distribution. For example: EDFDVBD632BHDS5."
        },
        "Status":{
          "$extends":["string"],
          "documentation":"This response element indicates the current status of the distribution.\n    When the status is Deployed, the distribution's information is fully propagated throughout the Amazon CloudFront system."
        },
        "LastModifiedTime":{
          "$extends":["timestamp"],
          "documentation":"The date and time the distribution was last modified."
        },
        "DomainName":{
          "$extends":["string"],
          "documentation":"The domain name corresponding to the distribution. For example: d604721fxaaqy9.cloudfront.net."
        },
        "Aliases":{
          "$extends":["Aliases"],
          "documentation":"A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution."
        },
        "Origins":{
          "$extends":["Origins"],
          "documentation":"A complex type that contains information about origins for this distribution."
        },
        "DefaultCacheBehavior":{
          "$extends":["DefaultCacheBehavior"],
          "documentation":"A complex type that describes the default cache behavior if you do not\n    specify a CacheBehavior element or if files don't match any of the values\n    of PathPattern in CacheBehavior elements.You must create exactly\n    one default cache behavior."
        },
        "CacheBehaviors":{
          "$extends":["CacheBehaviors"],
          "documentation":"A complex type that contains zero or more CacheBehavior elements."
        },
        "CustomErrorResponses":{
          "$extends":["CustomErrorResponses"],
          "documentation":"A complex type that contains zero or more CustomErrorResponses elements."
        },
        "Comment":{
          "$extends":["string"],
          "documentation":"The comment originally specified when this distribution was created."
        },
        "PriceClass":{"$extends":["PriceClass"]},
        "Enabled":{
          "$extends":["boolean"],
          "documentation":"Whether the distribution is enabled to accept end user requests for content."
        },
        "ViewerCertificate":{"$extends":["ViewerCertificate"]},
        "Restrictions":{"$extends":["Restrictions"]}
      },
      "documentation":"A summary of the information for an Amazon CloudFront distribution."
    },
    "DistributionSummaryList":{
      "type":"list",
      "member":{
        "$extends":["DistributionSummary"],
        "xmlname":"DistributionSummary"
      }
    },
    "ForwardedValues":{
      "type":"structure",
      "required":[
        "QueryString",
        "Cookies"
      ],
      "members":{
        "QueryString":{
          "$extends":["boolean"],
          "documentation":"Indicates whether you want CloudFront to forward query strings to the\n    origin that is associated with this cache behavior. If so, specify true; if\n    not, specify false."
        },
        "Cookies":{
          "$extends":["CookiePreference"],
          "documentation":"A complex type that specifies how CloudFront handles cookies."
        }
      },
      "documentation":"A complex type that specifies how CloudFront handles query strings."
    },
    "GeoRestriction":{
      "type":"structure",
      "required":[
        "RestrictionType",
        "Quantity"
      ],
      "members":{
        "RestrictionType":{
          "$extends":["GeoRestrictionType"],
          "documentation":"The method that you want to use to restrict distribution of your content by country:\n       - none: No geo restriction is enabled, meaning access to content is not restricted\n                    by client geo location.\n       - blacklist: The Location elements specify the countries in which you do not want \n                    CloudFront to distribute your content.\n       - whitelist: The Location elements specify the countries in which you want CloudFront \n                    to distribute your content."
        },
        "Quantity":{
          "$extends":["integer"],
          "documentation":"When geo restriction is enabled, this is the number of countries in your whitelist \n       or blacklist. Otherwise, when it is not enabled, Quantity is 0, and you can omit Items."
        },
        "Items":{
          "$extends":["LocationList"],
          "documentation":"A complex type that contains a Location element for each country in which you want \n       CloudFront either to distribute your content (whitelist) or not distribute your \n       content (blacklist). \n\n       The Location element is a two-letter, uppercase country code for a country that \n       you want to include in your blacklist or whitelist. Include one Location element \n       for each country.\n\n       CloudFront and MaxMind both use ISO 3166 country codes. For the current list of \n       countries and the corresponding codes, see ISO 3166-1-alpha-2 code on the International \n       Organization for Standardization website. You can also refer to the country list \n       in the CloudFront console, which includes both country names and codes."
        }
      },
      "documentation":"A complex type that controls the countries in which your content is distributed. \n       For more information about geo restriction, go to Customizing Error Responses in \n       the Amazon CloudFront Developer Guide.\n\n       CloudFront determines the location of your users using MaxMind GeoIP databases. \n       For information about the accuracy of these databases, see How accurate are \n       your GeoIP databases? on the MaxMind website."
    },
    "GeoRestrictionType":{
      "type":"string",
      "enum":[
        "blacklist",
        "whitelist",
        "none"
      ]
    },
    "GetCloudFrontOriginAccessIdentityConfigRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The identity's id."
        }},
      "documentation":"The request to get an origin access identity's configuration."
    },
    "GetCloudFrontOriginAccessIdentityConfigResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentityConfig":{
          "$extends":["CloudFrontOriginAccessIdentityConfig"],
          "payload":true,
          "documentation":"The origin access identity's configuration information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the configuration. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "GetCloudFrontOriginAccessIdentityRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The identity's id."
        }},
      "documentation":"The request to get an origin access identity's information."
    },
    "GetCloudFrontOriginAccessIdentityResult":{
      "type":"structure",
      "members":{
        "CloudFrontOriginAccessIdentity":{
          "$extends":["CloudFrontOriginAccessIdentity"],
          "payload":true,
          "documentation":"The origin access identity's information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the origin access identity's information. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "GetDistributionConfigRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The distribution's id."
        }},
      "documentation":"The request to get a distribution configuration."
    },
    "GetDistributionConfigResult":{
      "type":"structure",
      "members":{
        "DistributionConfig":{
          "$extends":["DistributionConfig"],
          "payload":true,
          "documentation":"The distribution's configuration information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the configuration. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "GetDistributionRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The distribution's id."
        }},
      "documentation":"The request to get a distribution's information."
    },
    "GetDistributionResult":{
      "type":"structure",
      "members":{
        "Distribution":{
          "$extends":["Distribution"],
          "payload":true,
          "documentation":"The distribution's information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the distribution's information. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "GetInvalidationRequest":{
      "type":"structure",
      "required":[
        "DistributionId",
        "Id"
      ],
      "members":{
        "DistributionId":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"DistributionId",
          "documentation":"The distribution's id."
        },
        "Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The invalidation's id."
        }
      },
      "documentation":"The request to get an invalidation's information."
    },
    "GetInvalidationResult":{
      "type":"structure",
      "members":{"Invalidation":{
          "$extends":["Invalidation"],
          "payload":true,
          "documentation":"The invalidation's information."
        }},
      "documentation":"The returned result of the corresponding request."
    },
    "GetStreamingDistributionConfigRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The streaming distribution's id."
        }},
      "documentation":"To request to get a streaming distribution configuration."
    },
    "GetStreamingDistributionConfigResult":{
      "type":"structure",
      "members":{
        "StreamingDistributionConfig":{
          "$extends":["StreamingDistributionConfig"],
          "payload":true,
          "documentation":"The streaming distribution's configuration information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the configuration. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "GetStreamingDistributionRequest":{
      "type":"structure",
      "members":{"Id":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Id",
          "documentation":"The streaming distribution's id."
        }},
      "documentation":"The request to get a streaming distribution's information."
    },
    "GetStreamingDistributionResult":{
      "type":"structure",
      "members":{
        "StreamingDistribution":{
          "$extends":["StreamingDistribution"],
          "payload":true,
          "documentation":"The streaming distribution's information."
        },
        "ETag":{
          "$extends":["string"],
          "location":"header",
          "locationName":"ETag",
          "documentation":"The current version of the streaming distribution's information. For example: E2QWRUHAPOMQZL."
        }
      },
      "documentation":"The returned result of the corresponding request."
    },
    "IllegalUpdate":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"Origin and CallerReference cannot be updated."
    },
    "InconsistentQuantities":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The value of Quantity and the size of Items do not match."
    },
    "InvalidArgument":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The argument is invalid."
    },
    "InvalidDefaultRootObject":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The default root object file name is too big or contains an invalid character."
    },
    "InvalidErrorCode":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "InvalidForwardCookies":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"Your request contains forward cookies option which doesn't match with the expectation for the whitelisted\n    list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names\n    is missing when expected."
    },
    "InvalidGeoRestrictionParameter":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "InvalidIfMatchVersion":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The If-Match version is missing or not valid for the distribution."
    },
    "InvalidLocationCode":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "InvalidOrigin":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket."
    },
    "InvalidOriginAccessIdentity":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The origin access identity is not valid or doesn't exist."
    },
    "InvalidRelativePath":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The relative path is too big, is not URL-encoded, or\n    does not begin with a slash (/)."
    },
    "InvalidRequiredProtocol":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration."
    },
    "InvalidResponseCode":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "InvalidViewerCertificate":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}}
    },
    "Invalidation":{
      "type":"structure",
      "required":[
        "Id",
        "Status",
        "CreateTime",
        "InvalidationBatch"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The identifier for the invalidation request. For example: IDFDVBD632BHDS5."
        },
        "Status":{
          "$extends":["string"],
          "documentation":"The status of the invalidation request. When the invalidation batch is finished, the status is Completed."
        },
        "CreateTime":{
          "$extends":["timestamp"],
          "documentation":"The date and time the invalidation request was first made."
        },
        "InvalidationBatch":{
          "$extends":["InvalidationBatch"],
          "documentation":"The current invalidation information for the batch request."
        }
      },
      "documentation":"An invalidation."
    },
    "InvalidationBatch":{
      "type":"structure",
      "required":[
        "Paths",
        "CallerReference"
      ],
      "members":{
        "Paths":{
          "$extends":["Paths"],
          "documentation":"The path of the object to invalidate. The path is relative to the distribution and must begin with a slash (/). You must enclose each invalidation object with the Path element tags.\n    If the path includes non-ASCII characters or unsafe characters as defined in RFC 1783 (http://www.ietf.org/rfc/rfc1738.txt), URL encode those characters.\n    Do not URL encode any other characters in the path, or CloudFront will not invalidate the old version of the updated object."
        },
        "CallerReference":{
          "$extends":["string"],
          "documentation":"A unique name that ensures the request can't be replayed.\n    If the CallerReference is new (no matter the content of the Path object), a new distribution is created.\n    If the CallerReference is a value you already sent in a previous request to create an invalidation batch, and the content of each Path element is identical to the original request,\n    the response includes the same information returned to the original request.\n    If the CallerReference is a value you already sent in a previous request to create a distribution but the content of any Path is different from the original request,\n    CloudFront returns an InvalidationBatchAlreadyExists error."
        }
      },
      "documentation":"An invalidation batch."
    },
    "InvalidationList":{
      "type":"structure",
      "required":[
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "members":{
        "Marker":{
          "$extends":["string"],
          "documentation":"The value you provided for the Marker request parameter."
        },
        "NextMarker":{
          "$extends":["string"],
          "documentation":"If IsTruncated is true, this element is present and contains the value you can use for the Marker request parameter to continue listing your invalidation batches where they left off."
        },
        "MaxItems":{
          "$extends":["integer"],
          "documentation":"The value you provided for the MaxItems request parameter."
        },
        "IsTruncated":{
          "$extends":["boolean"],
          "documentation":"A flag that indicates whether more invalidation batch requests remain to be listed.\n    If your results were truncated, you can make a follow-up pagination request using the Marker request parameter to retrieve more invalidation batches in the list."
        },
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of invalidation batches that were created by the current AWS\n    account."
        },
        "Items":{
          "$extends":["InvalidationSummaryList"],
          "documentation":"A complex type that contains one InvalidationSummary element for\n    each invalidation batch that was created by the current AWS account."
        }
      },
      "documentation":"An invalidation list."
    },
    "InvalidationSummary":{
      "type":"structure",
      "required":[
        "Id",
        "CreateTime",
        "Status"
      ],
      "members":{
        "Id":{
          "$extends":["string"],
          "documentation":"The unique ID for an invalidation request."
        },
        "CreateTime":{"$extends":["timestamp"]},
        "Status":{
          "$extends":["string"],
          "documentation":"The status of an invalidation request."
        }
      },
      "documentation":"Summary of an invalidation request."
    },
    "InvalidationSummaryList":{
      "type":"list",
      "member":{
        "$extends":["InvalidationSummary"],
        "xmlname":"InvalidationSummary"
      }
    },
    "ItemSelection":{
      "type":"string",
      "enum":[
        "none",
        "whitelist",
        "all"
      ]
    },
    "KeyPairIdList":{
      "type":"list",
      "member":{
        "$extends":["string"],
        "xmlname":"KeyPairId"
      }
    },
    "KeyPairIds":{
      "type":"structure",
      "required":["Quantity"],
      "members":{
        "Quantity":{
          "$extends":["integer"],
          "documentation":"The number of active CloudFront key pairs for\n    AwsAccountNumber."
        },
        "Items":{
          "$extends":["KeyPairIdList"],
          "documentation":"A complex type that lists the active CloudFront key\n    pairs, if any, that are associated with\n    AwsAccountNumber."
        }
      },
      "documentation":"A complex type that lists the active CloudFront key\n    pairs, if any, that are associated with\n    AwsAccountNumber."
    },
    "ListCloudFrontOriginAccessIdentitiesRequest":{
      "type":"structure",
      "members":{
        "Marker":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Marker",
          "documentation":"Use this when paginating results to indicate where to begin in your list of origin access identities. The results include identities in the list that occur after the marker.\n    To get the next page of results, set the Marker to the value of the NextMarker from the current page's response (which is also the ID of the last identity on that page)."
        },
        "MaxItems":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"MaxItems",
          "documentation":"The maximum number of origin access identities you want in the response body."
        }
      },
      "documentation":"The request to list origin access identities."
    },
    "ListCloudFrontOriginAccessIdentitiesResult":{
      "type":"structure",
      "members":{"CloudFrontOriginAccessIdentityList":{
          "$extends":["CloudFrontOriginAccessIdentityList"],
          "payload":true,
          "documentation":"The CloudFrontOriginAccessIdentityList type."
        }},
      "documentation":"The returned result of the corresponding request."
    },
    "ListDistributionsRequest":{
      "type":"structure",
      "members":{
        "Marker":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Marker",
          "documentation":"Use this when paginating results to indicate where to begin in your list of distributions. The results include distributions in the list that occur after the marker.\n    To get the next page of results, set the Marker to the value of the NextMarker from the current page's response (which is also the ID of the last distribution on that page)."
        },
        "MaxItems":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"MaxItems",
          "documentation":"The maximum number of distributions you want in the response body."
        }
      },
      "documentation":"The request to list your distributions."
    },
    "ListDistributionsResult":{
      "type":"structure",
      "members":{"DistributionList":{
          "$extends":["DistributionList"],
          "payload":true,
          "documentation":"The DistributionList type."
        }},
      "documentation":"The returned result of the corresponding request."
    },
    "ListInvalidationsRequest":{
      "type":"structure",
      "required":["DistributionId"],
      "members":{
        "DistributionId":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"DistributionId",
          "documentation":"The distribution's id."
        },
        "Marker":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Marker",
          "documentation":"Use this parameter when paginating results to indicate where to begin in your list of invalidation batches.\n    Because the results are returned in decreasing order from most recent to oldest, the most recent results are on the first page, the second page will contain earlier results, and so on.\n    To get the next page of results, set the Marker to the value of the NextMarker from the current page's response.\n    This value is the same as the ID of the last invalidation batch on that page."
        },
        "MaxItems":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"MaxItems",
          "documentation":"The maximum number of invalidation batches you want in the response body."
        }
      },
      "documentation":"The request to list invalidations."
    },
    "ListInvalidationsResult":{
      "type":"structure",
      "members":{"InvalidationList":{
          "$extends":["InvalidationList"],
          "payload":true,
          "documentation":"Information about invalidation batches."
        }},
      "documentation":"The returned result of the corresponding request."
    },
    "ListStreamingDistributionsRequest":{
      "type":"structure",
      "members":{
        "Marker":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"Marker",
          "documentation":"Use this when paginating results to indicate where to begin in your list of streaming distributions. The results include distributions in the list that occur after the marker.\n    To get the next page of results, set the Marker to the value of the NextMarker from the current page's response (which is also the ID of the last distribution on that page)."
        },
        "MaxItems":{
          "$extends":["string"],
          "location":"uri",
          "locationName":"MaxItems",
          "documentation":"The maximum number of streaming distributions you want in the response body."
        }
      },
      "documentation":"The request to list your streaming distributions."
    },
    "ListStreamingDistributionsResult":{
      "type":"structure",
      "members":{"StreamingDistributionList":{
          "$extends":["StreamingDistributionList"],
          "payload":true,
          "documentation":"The StreamingDistributionList type."
        }},
      "documentation":"The returned result of the corresponding request."
    },
    "LocationList":{
      "type":"list",
      "member":{
        "$extends":["string"],
        "xmlname":"Location"
      }
    },
    "LoggingConfig":{
      "type":"structure",
      "required":[
        "Enabled",
        "IncludeCookies",
        "Bucket",
        "Prefix"
      ],
      "members":{
        "Enabled":{
          "$extends":["boolean"],
          "documentation":"Specifies whether you want CloudFront to save access logs to an Amazon\n    S3 bucket.\n    If you do not want to enable logging when you create a distribution or if\n    you want to disable logging for an existing distribution, specify false for\n    Enabled, and specify empty Bucket and Prefix elements.\n    If you specify false for Enabled but you specify values for Bucket, prefix and\n    IncludeCookies, the values are automatically deleted."
        },
        "IncludeCookies":{
          "$extends":["boolean"],
          "documentation":"Specifies whether you want CloudFront to include cookies in access logs, specify true for\n    IncludeCookies. If you choose to include cookies in logs, CloudFront logs all cookies regardless\n    of how you configure the cache behaviors for this distribution.\n    If you do not want to include cookies when you create a distribution or if you want to \n    disable include cookies for an existing distribution, specify false for IncludeCookies."
        },
        "Bucket":{
          "$extends":["string"],
          "documentation":"The Amazon S3 bucket to store the access logs in, for example,\n     myawslogbucket.s3.amazonaws.com."
        },
        "Prefix":{
          "$extends":["string"],
          "documentation":"An optional string that you want CloudFront to prefix to the access log\n    filenames for this distribution, for example, myprefix/.\n    If you want to enable logging, but you do not want to specify a prefix, you\n    still must include an empty Prefix element in the Logging element."
        }
      },
      "documentation":"A complex type that controls whether access logs are written for the distribution."
    },
    "Method":{
      "type":"string",
      "enum":[
        "GET",
        "HEAD",
        "POST",
        "PUT",
        "PATCH",
        "OPTIONS",
        "DELETE"
      ]
    },
    "MissingBody":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"This operation requires a body. Ensure that the body is present and the Content-Type header is set."
    },
    "NoSuchCloudFrontOriginAccessIdentity":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The specified origin access identity does not exist."
    },
    "NoSuchDistribution":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The specified distribution does not exist."
    },
    "NoSuchInvalidation":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
      "documentation":"The specified invalidation does not exist."
    },
    "NoSuchOrigin":{
      "type":"structure",
      "members":{"Message":{"$extends":["string"]}},
[...]
