#toc {
  z-index: 2;
}

/* Version 2 warning */

#version-3-warning {
  margin: 10px 0px;
  padding: 10px;
  font-weight: bold;
  background-color: lightblue;
  border: 2px solid darkblue;
}
/* formatting for request parameters and response data */

.params, .params .params {
  background: url(../images/vline.png) repeat-y;
  margin: 0;
  padding: 0;
}

.params .params {
  margin-left: 10px;
}

.params .param {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url(../images/node.png) no-repeat;
}

.params .param:last-child {
  background: #fff url(../images/lastnode.png) no-repeat;
}

.entry {
  font-family: monospace;
  display: inline;
  line-height: 20px;
  padding: 0 4px;
}

.entry .key.required {
  font-weight: bold;
}

/* documentation provided by the AWS service API reference docs */

.api-ref {
  margin: 0 0 0 1px;
  padding-left: 15px;
  color: #333;
  border-left: 1px solid #c9c3ba;
  overflow: hidden;
}

.params .api-ref {
  border: none;
}

.api-src {
  max-height: 400px;
  overflow: auto;
}

pre.code .label {
  color: #C5060B;
}
