/* Default color is 888, change to 666 for at least a 4.5 contrast ratio */
li .item { color: #666; cursor: pointer; }
#search { width: 170px; position: static; margin: 3px; margin-left: 10px; font-size: 0.9em; color: #666; padding-left: 0; padding-right: 24px; }

/* Override opacity for at least a 4.5 contrast ratio */
li.collapsed a.toggle {
    opacity: 1;
    cursor: default;
    background-position: top left;
}

/* Make all links underlined */
a { text-decoration: underline !important; }