# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
module {{module_name}}

  # TODO - better documentation
  # Structure generated with all Endpoint Parameters.
  #
  {{#parameters}}
  {{documentation}}
  {{/parameters}}
  EndpointParameters = Struct.new(
    {{#parameters}}
    :{{underscore_name}},
    {{/parameters}}
    {{^parameters}}
    nil
    {{/parameters}}
  ) do
    include Aws::Structure
    PARAM_MAP = {
      {{#parameters}}
      '{{name}}' => :{{underscore_name}},
      {{/parameters}}
    }.freeze

    def initialize(options = {})
        {{#parameters}}
        {{#has_default}}
        self[:{{underscore_name}}] = options[:{{underscore_name}}] || {{default}}
        {{/has_default}}
        {{^has_default}}
        self[:{{underscore_name}}] = options[:{{underscore_name}}]
        {{/has_default}}
        {{#required}}
        if self[:{{underscore_name}}].nil?
          raise ArgumentError, "Missing required EndpointParameter: :{{underscore_name}}"
        end
        {{/required}}
        {{/parameters}}
    end
  end
end