# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}

module {{module_name}}
  module Plugins
    class Endpoints < Seahorse::Client::Plugin
      option(
        :endpoint_provider,
        doc_type: '{{documentation_type}}',
        docstring: 'The endpoint provider used to resolve endpoints. Any '\
                   'object that responds to `#resolve_endpoint(parameters)` '\
                   'where `parameters` is a Struct similar to '\
                   '`{{module_name}}::EndpointParameters`'
      ) do |cfg|
        {{default_provider}}
      end

      {{#endpoint_options}}
      option(
        :{{name}},
        doc_type: '{{doc_type}}',
        default: {{{default}}},
        docstring: "{{{docstring}}}")

      {{/endpoint_options}}
      # @api private
      class Handler < Seahorse::Client::Handler
        def call(context)
          {{#endpoint_rules?}}
          params = parameters_for_operation(context)
          {{/endpoint_rules?}}
          {{^endpoint_rules?}}
          params = {{module_name}}::EndpointParameters.new
          {{/endpoint_rules?}}
          endpoint = context.config.endpoint_provider.resolve_endpoint(params)

          context.http_request.endpoint = endpoint.url
          apply_endpoint_headers(context, endpoint.headers)

          context[:endpoint_params] = params
          context[:auth_scheme] =
            Aws::Endpoints.resolve_auth_scheme(context, endpoint)

          @handler.call(context)
        end

        private

        def apply_endpoint_headers(context, headers)
          headers.each do |key, val|
            joined = val
                       .compact
                       .map do |s|
                         (s.include?('"') || s.include?(",")) ?
                           "\"#{s.gsub('"', '\"')}\"" : s
                       end
                       .join(',')
            context.http_request.headers[key] = joined
          end
        end
        {{#endpoint_rules?}}

        def parameters_for_operation(context)
          case context.operation_name
          {{#endpoint_classes}}
          when :{{operation_name}}
            {{module_name}}::Endpoints::{{class_name}}.build(context)
          {{/endpoint_classes}}
          end
        end
        {{/endpoint_rules?}}
      end

      def add_handlers(handlers, _config)
        handlers.add(Handler, step: :build, priority: 99)
      end
    end
  end
end
