# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}

module {{module_name}}
  # @api private
  module Endpoints

    {{#endpoint_classes}}
    class {{name}}
      def self.build(context)
        {{module_name}}::EndpointParameters.create(
          context.config,
          {{#parameters}}
          {{key}}: {{{value}}},
          {{/parameters}}
        )
      end
    end

    {{/endpoint_classes}}

    OPERATION_PARAM_MAP = {
    {{#endpoint_classes}}
      {{operation}}: {{name}},
    {{/endpoint_classes}}
    }.freeze
  end
end
