# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
module {{module_name}}
  class EndpointProvider
    def initialize(rule_set = nil)
      @@endpoint_rules ||= Aws::Json.load(Base64.decode64(RULES))
      rule_set ||= Aws::Endpoints::RuleSet.new(
        version: @@endpoint_rules['version'],
        service_id: @@endpoint_rules['serviceId'],
        parameters: @@endpoint_rules['parameters'],
        rules: @@endpoint_rules['rules']
      )
      @provider = Aws::Endpoints::RulesProvider.new(rule_set)
    end

    def resolve_endpoint(parameters)
      @provider.resolve_endpoint(parameters)
    end

    # @api private
    RULES = <<-JSON
{{endpoint_rules_encoded}}
    JSON
  end
end
