# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
module {{module_name}}
  class EndpointProvider
    def resolve_endpoint(parameters)
{{{ endpoint_rules_code }}}
    end
  end
end
