# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}

require_relative 'endpoint_parameters'
require_relative 'endpoint_provider'


module {{module_name}}
  module Endpoints
  end
end