{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
module {{module_name}}
  module EventStreams

    {{#input_eventstreams}}
    class {{class_name}}
      def initialize

        @event_emitter = Aws::EventEmitter.new
      end

      {{#types}}
      def signal_{{.}}_event(params)
        @event_emitter.emit(:{{.}}, params)
      end

      {{/types}}
      def signal_end_stream
        @event_emitter.emit(:end_stream, {})
      end

      # @api private
      # @return Aws::EventEmitter
      attr_reader :event_emitter

    end

    {{/input_eventstreams}}
    {{#output_eventstreams}}
    class {{class_name}}

      def initialize
        @event_emitter = Aws::EventEmitter.new
      end

      {{#types}}
      def on_{{.}}_event(&block)
        @event_emitter.on(:{{.}}, Proc.new)
      end

      {{/types}}
      def on_error_event(&block)
        @event_emitter.on(:error, Proc.new)
      end

      def on_event(&block)
        {{#types}}
        on_{{.}}_event(&block)
        {{/types}}
      end

      # @api private
      # @return Aws::EventEmitter
      attr_reader :event_emitter

    end
    {{/output_eventstreams}}

  end
end

