{{> generated_src_warning}}

Gem::Specification.new do |spec|

  spec.name          = '{{gem_name}}'
  spec.version       = File.read(File.expand_path('../VERSION', __FILE__)).strip
  spec.summary       = '{{summary}}'
  spec.description   = '{{description}}'
  spec.author        = 'Amazon Web Services'
  spec.homepage      = 'http://github.com/aws/aws-sdk-ruby'
  spec.license       = 'Apache-2.0'
  spec.email         = ['trevrowe@amazon.com']
  spec.require_paths = ['lib']
  spec.files         = Dir['lib/**/*.rb']

  {{#dependencies}}
  spec.add_dependency('{{gem}}', '{{&version}}')
  {{/dependencies}}

end
