{
  "metadata":{
    "apiVersion":"2011-02-01",
    "endpointPrefix":"cloudsearch",
    "serviceFullName":"Amazon CloudSearch",
    "signatureVersion":"v4",
    "xmlNamespace":"http://cloudsearch.amazonaws.com/doc/2011-02-01/",
    "protocol":"query"
  },
  "operations":{
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{
        "shape":"CreateDomainResponse",
        "resultWrapper":"CreateDomainResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DefineIndexField":{
      "name":"DefineIndexField",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DefineIndexFieldRequest"},
      "output":{
        "shape":"DefineIndexFieldResponse",
        "resultWrapper":"DefineIndexFieldResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DefineRankExpression":{
      "name":"DefineRankExpression",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DefineRankExpressionRequest"},
      "output":{
        "shape":"DefineRankExpressionResponse",
        "resultWrapper":"DefineRankExpressionResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{
        "shape":"DeleteDomainResponse",
        "resultWrapper":"DeleteDomainResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "DeleteIndexField":{
      "name":"DeleteIndexField",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIndexFieldRequest"},
      "output":{
        "shape":"DeleteIndexFieldResponse",
        "resultWrapper":"DeleteIndexFieldResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DeleteRankExpression":{
      "name":"DeleteRankExpression",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRankExpressionRequest"},
      "output":{
        "shape":"DeleteRankExpressionResponse",
        "resultWrapper":"DeleteRankExpressionResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeAvailabilityOptions":{
      "name":"DescribeAvailabilityOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAvailabilityOptionsRequest"},
      "output":{
        "shape":"DescribeAvailabilityOptionsResponse",
        "resultWrapper":"DescribeAvailabilityOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"DisabledOperationException",
          "error":{
            "code":"DisabledAction",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeDefaultSearchField":{
      "name":"DescribeDefaultSearchField",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDefaultSearchFieldRequest"},
      "output":{
        "shape":"DescribeDefaultSearchFieldResponse",
        "resultWrapper":"DescribeDefaultSearchFieldResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeDomains":{
      "name":"DescribeDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDomainsRequest"},
      "output":{
        "shape":"DescribeDomainsResponse",
        "resultWrapper":"DescribeDomainsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "DescribeIndexFields":{
      "name":"DescribeIndexFields",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIndexFieldsRequest"},
      "output":{
        "shape":"DescribeIndexFieldsResponse",
        "resultWrapper":"DescribeIndexFieldsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeRankExpressions":{
      "name":"DescribeRankExpressions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRankExpressionsRequest"},
      "output":{
        "shape":"DescribeRankExpressionsResponse",
        "resultWrapper":"DescribeRankExpressionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeServiceAccessPolicies":{
      "name":"DescribeServiceAccessPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServiceAccessPoliciesRequest"},
      "output":{
        "shape":"DescribeServiceAccessPoliciesResponse",
        "resultWrapper":"DescribeServiceAccessPoliciesResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeStemmingOptions":{
      "name":"DescribeStemmingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStemmingOptionsRequest"},
      "output":{
        "shape":"DescribeStemmingOptionsResponse",
        "resultWrapper":"DescribeStemmingOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeStopwordOptions":{
      "name":"DescribeStopwordOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStopwordOptionsRequest"},
      "output":{
        "shape":"DescribeStopwordOptionsResponse",
        "resultWrapper":"DescribeStopwordOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "DescribeSynonymOptions":{
      "name":"DescribeSynonymOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSynonymOptionsRequest"},
      "output":{
        "shape":"DescribeSynonymOptionsResponse",
        "resultWrapper":"DescribeSynonymOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "IndexDocuments":{
      "name":"IndexDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IndexDocumentsRequest"},
      "output":{
        "shape":"IndexDocumentsResponse",
        "resultWrapper":"IndexDocumentsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateAvailabilityOptions":{
      "name":"UpdateAvailabilityOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAvailabilityOptionsRequest"},
      "output":{
        "shape":"UpdateAvailabilityOptionsResponse",
        "resultWrapper":"UpdateAvailabilityOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"DisabledOperationException",
          "error":{
            "code":"DisabledAction",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateDefaultSearchField":{
      "name":"UpdateDefaultSearchField",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDefaultSearchFieldRequest"},
      "output":{
        "shape":"UpdateDefaultSearchFieldResponse",
        "resultWrapper":"UpdateDefaultSearchFieldResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateServiceAccessPolicies":{
      "name":"UpdateServiceAccessPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceAccessPoliciesRequest"},
      "output":{
        "shape":"UpdateServiceAccessPoliciesResponse",
        "resultWrapper":"UpdateServiceAccessPoliciesResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateStemmingOptions":{
      "name":"UpdateStemmingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStemmingOptionsRequest"},
      "output":{
        "shape":"UpdateStemmingOptionsResponse",
        "resultWrapper":"UpdateStemmingOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateStopwordOptions":{
      "name":"UpdateStopwordOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStopwordOptionsRequest"},
      "output":{
        "shape":"UpdateStopwordOptionsResponse",
        "resultWrapper":"UpdateStopwordOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "UpdateSynonymOptions":{
      "name":"UpdateSynonymOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSynonymOptionsRequest"},
      "output":{
        "shape":"UpdateSynonymOptionsResponse",
        "resultWrapper":"UpdateSynonymOptionsResult"
      },
      "errors":[
        {
          "shape":"BaseException",
          "exception":true
        },
        {
          "shape":"InternalException",
          "error":{
            "code":"InternalException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"InvalidTypeException",
          "error":{
            "code":"InvalidType",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AccessPoliciesStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"PolicyDocument"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "Arn":{"type":"string"},
    "AvailabilityOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"MultiAZ"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "BaseException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CreateDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "CreateDomainResponse":{
      "type":"structure",
      "members":{
        "DomainStatus":{"shape":"DomainStatus"}
      }
    },
    "DefaultSearchFieldStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"FieldName"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "DefineIndexFieldRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "IndexField"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "IndexField":{"shape":"IndexField"}
      }
    },
    "DefineIndexFieldResponse":{
      "type":"structure",
      "required":["IndexField"],
      "members":{
        "IndexField":{"shape":"IndexFieldStatus"}
      }
    },
    "DefineRankExpressionRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "RankExpression"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "RankExpression":{"shape":"NamedRankExpression"}
      }
    },
    "DefineRankExpressionResponse":{
      "type":"structure",
      "required":["RankExpression"],
      "members":{
        "RankExpression":{"shape":"RankExpressionStatus"}
      }
    },
    "DeleteDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DeleteDomainResponse":{
      "type":"structure",
      "members":{
        "DomainStatus":{"shape":"DomainStatus"}
      }
    },
    "DeleteIndexFieldRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "IndexFieldName"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "IndexFieldName":{"shape":"FieldName"}
      }
    },
    "DeleteIndexFieldResponse":{
      "type":"structure",
      "required":["IndexField"],
      "members":{
        "IndexField":{"shape":"IndexFieldStatus"}
      }
    },
    "DeleteRankExpressionRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "RankName"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "RankName":{"shape":"FieldName"}
      }
    },
    "DeleteRankExpressionResponse":{
      "type":"structure",
      "required":["RankExpression"],
      "members":{
        "RankExpression":{"shape":"RankExpressionStatus"}
      }
    },
    "DescribeAvailabilityOptionsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeAvailabilityOptionsResponse":{
      "type":"structure",
      "members":{
        "AvailabilityOptions":{"shape":"AvailabilityOptionsStatus"}
      }
    },
    "DescribeDefaultSearchFieldRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeDefaultSearchFieldResponse":{
      "type":"structure",
      "required":["DefaultSearchField"],
      "members":{
        "DefaultSearchField":{"shape":"DefaultSearchFieldStatus"}
      }
    },
    "DescribeDomainsRequest":{
      "type":"structure",
      "members":{
        "DomainNames":{"shape":"DomainNameList"}
      }
    },
    "DescribeDomainsResponse":{
      "type":"structure",
      "required":["DomainStatusList"],
      "members":{
        "DomainStatusList":{"shape":"DomainStatusList"}
      }
    },
    "DescribeIndexFieldsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "FieldNames":{"shape":"FieldNameList"}
      }
    },
    "DescribeIndexFieldsResponse":{
      "type":"structure",
      "required":["IndexFields"],
      "members":{
        "IndexFields":{"shape":"IndexFieldStatusList"}
      }
    },
    "DescribeRankExpressionsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "RankNames":{"shape":"FieldNameList"}
      }
    },
    "DescribeRankExpressionsResponse":{
      "type":"structure",
      "required":["RankExpressions"],
      "members":{
        "RankExpressions":{"shape":"RankExpressionStatusList"}
      }
    },
    "DescribeServiceAccessPoliciesRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeServiceAccessPoliciesResponse":{
      "type":"structure",
      "required":["AccessPolicies"],
      "members":{
        "AccessPolicies":{"shape":"AccessPoliciesStatus"}
      }
    },
    "DescribeStemmingOptionsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeStemmingOptionsResponse":{
      "type":"structure",
      "required":["Stems"],
      "members":{
        "Stems":{"shape":"StemmingOptionsStatus"}
      }
    },
    "DescribeStopwordOptionsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeStopwordOptionsResponse":{
      "type":"structure",
      "required":["Stopwords"],
      "members":{
        "Stopwords":{"shape":"StopwordOptionsStatus"}
      }
    },
    "DescribeSynonymOptionsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DescribeSynonymOptionsResponse":{
      "type":"structure",
      "required":["Synonyms"],
      "members":{
        "Synonyms":{"shape":"SynonymOptionsStatus"}
      }
    },
    "DisabledOperationException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DisabledAction",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "DocumentCount":{
      "type":"long",
      "min":0
    },
    "DomainId":{
      "type":"string",
      "min":1,
      "max":64
    },
    "DomainName":{
      "type":"string",
      "min":3,
      "max":28,
      "pattern":"[a-z][a-z0-9\\-]+"
    },
    "DomainNameList":{
      "type":"list",
      "member":{"shape":"DomainName"}
    },
    "DomainStatus":{
      "type":"structure",
      "required":[
        "DomainId",
        "DomainName",
        "RequiresIndexDocuments"
      ],
      "members":{
        "DomainId":{"shape":"DomainId"},
        "DomainName":{"shape":"DomainName"},
        "Created":{"shape":"Boolean"},
        "Deleted":{"shape":"Boolean"},
        "NumSearchableDocs":{"shape":"DocumentCount"},
        "DocService":{"shape":"ServiceEndpoint"},
        "SearchService":{"shape":"ServiceEndpoint"},
        "RequiresIndexDocuments":{"shape":"Boolean"},
        "Processing":{"shape":"Boolean"},
        "SearchInstanceType":{"shape":"SearchInstanceType"},
        "SearchPartitionCount":{"shape":"PartitionCount"},
        "SearchInstanceCount":{"shape":"InstanceCount"}
      }
    },
    "DomainStatusList":{
      "type":"list",
      "member":{"shape":"DomainStatus"}
    },
    "ErrorCode":{"type":"string"},
    "ErrorMessage":{"type":"string"},
    "FieldName":{
      "type":"string",
      "min":1,
      "max":64,
      "pattern":"[a-z][a-z0-9_]*"
    },
    "FieldNameList":{
      "type":"list",
      "member":{"shape":"FieldName"}
    },
    "FieldValue":{
      "type":"string",
      "min":0,
      "max":1024
    },
    "IndexDocumentsRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "IndexDocumentsResponse":{
      "type":"structure",
      "members":{
        "FieldNames":{"shape":"FieldNameList"}
      }
    },
    "IndexField":{
      "type":"structure",
      "required":[
        "IndexFieldName",
        "IndexFieldType"
      ],
      "members":{
        "IndexFieldName":{"shape":"FieldName"},
        "IndexFieldType":{"shape":"IndexFieldType"},
        "UIntOptions":{"shape":"UIntOptions"},
        "LiteralOptions":{"shape":"LiteralOptions"},
        "TextOptions":{"shape":"TextOptions"},
        "SourceAttributes":{"shape":"SourceAttributeList"}
      }
    },
    "IndexFieldStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"IndexField"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "IndexFieldStatusList":{
      "type":"list",
      "member":{"shape":"IndexFieldStatus"}
    },
    "IndexFieldType":{
      "type":"string",
      "enum":[
        "uint",
        "literal",
        "text"
      ]
    },
    "InstanceCount":{
      "type":"integer",
      "min":1
    },
    "InternalException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InternalException",
        "httpStatusCode":500
      },
      "exception":true
    },
    "InvalidTypeException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidType",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Language":{
      "type":"string",
      "pattern":"[a-zA-Z]{2,8}(?:-[a-zA-Z]{2,8})*"
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LimitExceeded",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "LiteralOptions":{
      "type":"structure",
      "members":{
        "DefaultValue":{"shape":"FieldValue"},
        "SearchEnabled":{"shape":"Boolean"},
        "FacetEnabled":{"shape":"Boolean"},
        "ResultEnabled":{"shape":"Boolean"}
      }
    },
    "MultiAZ":{"type":"boolean"},
    "NamedRankExpression":{
      "type":"structure",
      "required":[
        "RankName",
        "RankExpression"
      ],
      "members":{
        "RankName":{"shape":"FieldName"},
        "RankExpression":{"shape":"RankExpression"}
      }
    },
    "OptionState":{
      "type":"string",
      "enum":[
        "RequiresIndexDocuments",
        "Processing",
        "Active"
      ]
    },
    "OptionStatus":{
      "type":"structure",
      "required":[
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members":{
        "CreationDate":{"shape":"UpdateTimestamp"},
        "UpdateDate":{"shape":"UpdateTimestamp"},
        "UpdateVersion":{"shape":"UIntValue"},
        "State":{"shape":"OptionState"},
        "PendingDeletion":{"shape":"Boolean"}
      }
    },
    "PartitionCount":{
      "type":"integer",
      "min":1
    },
    "PolicyDocument":{"type":"string"},
    "RankExpression":{
      "type":"string",
      "min":1,
      "max":10240
    },
    "RankExpressionStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"NamedRankExpression"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "RankExpressionStatusList":{
      "type":"list",
      "member":{"shape":"RankExpressionStatus"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ResourceNotFound",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "SearchInstanceType":{"type":"string"},
    "ServiceEndpoint":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "Endpoint":{"shape":"ServiceUrl"}
      }
    },
    "ServiceUrl":{"type":"string"},
    "SourceAttribute":{
      "type":"structure",
      "required":["SourceDataFunction"],
      "members":{
        "SourceDataFunction":{"shape":"SourceDataFunction"},
        "SourceDataCopy":{"shape":"SourceData"},
        "SourceDataTrimTitle":{"shape":"SourceDataTrimTitle"},
        "SourceDataMap":{"shape":"SourceDataMap"}
      }
    },
    "SourceAttributeList":{
      "type":"list",
      "member":{"shape":"SourceAttribute"}
    },
    "SourceData":{
      "type":"structure",
      "required":["SourceName"],
      "members":{
        "SourceName":{"shape":"FieldName"},
        "DefaultValue":{"shape":"FieldValue"}
      }
    },
    "SourceDataFunction":{
      "type":"string",
      "enum":[
        "Copy",
        "TrimTitle",
        "Map"
      ]
    },
    "SourceDataMap":{
      "type":"structure",
      "required":["SourceName"],
      "members":{
        "SourceName":{"shape":"FieldName"},
        "DefaultValue":{"shape":"FieldValue"},
        "Cases":{"shape":"StringCaseMap"}
      }
    },
    "SourceDataTrimTitle":{
      "type":"structure",
      "required":["SourceName"],
      "members":{
        "SourceName":{"shape":"FieldName"},
        "DefaultValue":{"shape":"FieldValue"},
        "Separator":{"shape":"String"},
        "Language":{"shape":"Language"}
      }
    },
    "StemmingOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"StemsDocument"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "StemsDocument":{"type":"string"},
    "StopwordOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"StopwordsDocument"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "StopwordsDocument":{"type":"string"},
    "String":{"type":"string"},
    "StringCaseMap":{
      "type":"map",
      "key":{"shape":"FieldValue"},
      "value":{"shape":"FieldValue"}
    },
    "SynonymOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{"shape":"SynonymsDocument"},
        "Status":{"shape":"OptionStatus"}
      }
    },
    "SynonymsDocument":{"type":"string"},
    "TextOptions":{
      "type":"structure",
      "members":{
        "DefaultValue":{"shape":"FieldValue"},
        "FacetEnabled":{"shape":"Boolean"},
        "ResultEnabled":{"shape":"Boolean"},
        "TextProcessor":{"shape":"FieldName"}
      }
    },
    "UIntOptions":{
      "type":"structure",
      "members":{
        "DefaultValue":{"shape":"UIntValue"}
      }
    },
    "UIntValue":{
      "type":"integer",
      "min":0
    },
    "UpdateAvailabilityOptionsRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "MultiAZ"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "MultiAZ":{"shape":"Boolean"}
      }
    },
    "UpdateAvailabilityOptionsResponse":{
      "type":"structure",
      "members":{
        "AvailabilityOptions":{"shape":"AvailabilityOptionsStatus"}
      }
    },
    "UpdateDefaultSearchFieldRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "DefaultSearchField"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "DefaultSearchField":{"shape":"String"}
      }
    },
    "UpdateDefaultSearchFieldResponse":{
      "type":"structure",
      "required":["DefaultSearchField"],
      "members":{
        "DefaultSearchField":{"shape":"DefaultSearchFieldStatus"}
      }
    },
    "UpdateServiceAccessPoliciesRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "AccessPolicies"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "AccessPolicies":{"shape":"PolicyDocument"}
      }
    },
    "UpdateServiceAccessPoliciesResponse":{
      "type":"structure",
      "required":["AccessPolicies"],
      "members":{
        "AccessPolicies":{"shape":"AccessPoliciesStatus"}
      }
    },
    "UpdateStemmingOptionsRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Stems"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "Stems":{"shape":"StemsDocument"}
      }
    },
    "UpdateStemmingOptionsResponse":{
      "type":"structure",
      "required":["Stems"],
      "members":{
        "Stems":{"shape":"StemmingOptionsStatus"}
      }
    },
    "UpdateStopwordOptionsRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Stopwords"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "Stopwords":{"shape":"StopwordsDocument"}
      }
    },
    "UpdateStopwordOptionsResponse":{
      "type":"structure",
      "required":["Stopwords"],
      "members":{
        "Stopwords":{"shape":"StopwordOptionsStatus"}
      }
    },
    "UpdateSynonymOptionsRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Synonyms"
      ],
      "members":{
        "DomainName":{"shape":"DomainName"},
        "Synonyms":{"shape":"SynonymsDocument"}
      }
    },
    "UpdateSynonymOptionsResponse":{
      "type":"structure",
      "required":["Synonyms"],
      "members":{
        "Synonyms":{"shape":"SynonymOptionsStatus"}
      }
    },
    "UpdateTimestamp":{"type":"timestamp"}
  }
}
