{
  "metadata":{
    "apiVersion":"2012-08-10",
    "endpointPrefix":"dynamodb",
    "jsonVersion":"1.0",
    "serviceAbbreviation":"DynamoDB",
    "serviceFullName":"Amazon DynamoDB",
    "signatureVersion":"v4",
    "targetPrefix":"DynamoDB_20120810",
    "protocol":"json"
  },
  "documentation":"<fullname>Amazon DynamoDB</fullname>\n    <b>Overview</b>\n    <p>This is the Amazon DynamoDB API Reference. This guide provides descriptions and samples of the low-level\n      DynamoDB API. For information about DynamoDB application development, go to the <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/\">Amazon DynamoDB Developer Guide</a>.</p>\n\n    <p>Instead of making the requests to the low-level DynamoDB API directly from your application, we\n      recommend that you use the AWS Software Development Kits (SDKs). The easy-to-use libraries in\n      the AWS SDKs make it unnecessary to call the low-level DynamoDB API directly from your\n      application. The libraries take care of request authentication, serialization, and connection\n      management. For more information, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/UsingAWSSDK.html\">Using the AWS\n        SDKs with DynamoDB</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\n\n    <p>If you decide to code against the low-level DynamoDB API directly, you will need to write the\n      necessary code to authenticate your requests. For more information on signing your requests,\n      go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/API.html\">Using the DynamoDB API</a> in the\n      <i>Amazon DynamoDB Developer Guide</i>.</p>\n\n    <p>The following are short descriptions of each low-level API action, organized by function.</p>\n    <p>\n      <b>Managing Tables</b>\n    </p>\n    <p>\n      <ul>\n        <li>\n          <p><i>CreateTable</i> - Creates a table with user-specified provisioned throughput\n            settings. You must designate one attribute as the hash primary key for the table; you\n            can optionally designate a second attribute as the range primary key. DynamoDB creates\n            indexes on these key attributes for fast data access. Optionally, you can create one or\n            more secondary indexes, which provide fast data access using non-key attributes.</p>\n        </li>\n        <li>\n          <p><i>DescribeTable</i> - Returns metadata for a table, such as table size, status, and\n            index information.</p>\n        </li>\n        <li>\n          <p><i>UpdateTable</i> - Modifies the provisioned throughput settings for a table.\n            Optionally, you can modify the provisioned throughput settings for global secondary indexes on the\n            table.</p>\n        </li>\n        <li>\n          <p><i>ListTables</i> - Returns a list of all tables associated with the current AWS\n            account and endpoint.</p>\n        </li>\n        <li>\n          <p><i>DeleteTable</i> - Deletes a table and all of its indexes.</p>\n        </li>\n      </ul>\n    </p>\n    <p>For conceptual information about managing tables, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.html\">Working with Tables</a> in the\n        <i>Amazon DynamoDB Developer Guide</i>.</p>\n\n    <p>\n      <b>Reading Data</b>\n    </p>\n    <p>\n      <ul>\n        <li>\n          <p><i>GetItem</i> - Returns a set of attributes for the item that has a given primary key.\n            By default, <i>GetItem</i> performs an eventually consistent read; however, applications\n            can specify a strongly consistent read instead.</p>\n        </li>\n        <li>\n          <p><i>BatchGetItem</i> - Performs multiple <i>GetItem</i> requests for data items using\n            their primary keys, from one table or multiple tables. The response from\n              <i>BatchGetItem</i> has a size limit of 1 MB and returns a maximum of\n            100 items. Both eventually consistent and strongly\n            consistent reads can be used.</p>\n        </li>\n        <li>\n          <p><i>Query</i> - Returns one or more items from a table or a secondary index. You must provide a\n            specific hash key value. You can narrow the scope of the query using comparison\n            operators against a range key value, or on the index key. <i>Query</i> supports either\n            eventual or strong consistency. A single response has a size limit of\n            1 MB.</p>\n        </li>\n        <li>\n          <p><i>Scan</i> - Reads every item in a table; the result set is eventually consistent. You\n            can limit the number of items returned by filtering the data attributes, using\n            conditional expressions. <i>Scan</i> can be used to enable ad-hoc querying of a table\n            against non-key attributes; however, since this is a full table scan without using an\n            index, <i>Scan</i> should not be used for any application query use case that requires\n            predictable performance.</p>\n        </li>\n      </ul>\n    </p>\n    <p>For conceptual information about reading data, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithItems.html\">Working with Items</a> and <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html\">Query and Scan Operations</a> in the\n        <i>Amazon DynamoDB Developer Guide</i>.</p>\n\n    <p>\n      <b>Modifying Data</b>\n    </p>\n    <p>\n      <ul>\n        <li>\n          <p><i>PutItem</i> - Creates a new item, or replaces an existing item with a new item\n            (including all the attributes). By default, if an item in the table already exists with\n            the same primary key, the new item completely replaces the existing item. You can use\n            conditional operators to replace an item only if its attribute values match certain\n            conditions, or to insert a new item only if that item doesn't already exist.</p>\n        </li>\n        <li>\n          <p><i>UpdateItem</i> - Modifies the attributes of an existing item. You can also use\n            conditional operators to perform an update only if the item's attribute values match\n            certain conditions.</p>\n        </li>\n        <li>\n          <p><i>DeleteItem</i> - Deletes an item in a table by primary key. You can use conditional\n            operators to perform a delete an item only if the item's attribute values match certain\n            conditions.</p>\n        </li>\n        <li>\n          <p><i>BatchWriteItem</i> - Performs multiple <i>PutItem</i> and <i>DeleteItem</i> requests\n            across multiple tables in a single request. A failure of any request(s) in the batch\n            will not cause the entire <i>BatchWriteItem</i> operation to fail. Supports batches of\n            up to 25 items to put or delete, with a maximum total\n            request size of 1 MB. </p>\n        </li>\n      </ul>\n    </p>\n    <p>For conceptual information about modifying data, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithItems.html\">Working with Items</a> and <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html\">Query and Scan Operations</a> in the\n        <i>Amazon DynamoDB Developer Guide</i>.</p>",
  "operations":{
    "BatchGetItem":{
      "name":"BatchGetItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"BatchGetItemInput",
        "documentation":"<p>Represents the input of a <i>BatchGetItem</i> operation.</p>"
      },
      "output":{
        "shape":"BatchGetItemOutput",
        "documentation":"<p>Represents the output of a <i>BatchGetItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>BatchGetItem</i> operation returns the attributes of one or more items from one or\n      more tables. You identify requested items by primary key.</p>\n    <p>A single operation can retrieve up to 1 MB of data, which can contain as many\n      as 100 items. <i>BatchGetItem</i> will return a partial result\n      if the response size limit is exceeded, the table's provisioned throughput is exceeded, or an\n      internal processing failure occurs. If a partial result is returned, the operation returns a\n      value for <i>UnprocessedKeys</i>. You can use this value to retry the operation starting with\n      the next item to get.</p>\n    <p>For example, if you ask to retrieve 100 items, but each individual item is 50 KB in size, the\n      system returns 20 items (1 MB) and an appropriate <i>UnprocessedKeys</i> value\n      so you can get the next page of results. If desired, your application can include its own\n      logic to assemble the pages of results into one dataset.</p>\n    <p>If <i>none</i> of the items can be processed due to insufficient provisioned throughput on\n      all of the tables in the request, then <i>BatchGetItem</i> will throw a\n        <i>ProvisionedThroughputExceededException</i>. If <i>at least one</i> of the items is\n      successfully processed, then <i>BatchGetItem</i> completes successfully, while returning the\n      keys of the unread items in <i>UnprocessedKeys</i>.</p>\n    <important><p>If DynamoDB returns any unprocessed items, you should retry the batch operation on those items. However, <i>we strongly recommend that you use an exponential backoff algorithm</i>. If you retry the batch operation immediately, the underlying read or write requests can still fail due to throttling on the individual tables. If you delay the batch operation using exponential backoff, the individual requests in the batch are much more likely to succeed.</p>\n      <p>For more information, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#BatchOperations\">Batch Operations and Error Handling</a> in the Amazon DynamoDB Developer Guide.</p></important>\n    <p>By default, <i>BatchGetItem</i> performs eventually consistent reads on every table in the\n      request. If you want strongly consistent reads instead, you can set <i>ConsistentRead</i> to\n        <code>true</code> for any or all tables.</p>\n    <p>In order to minimize response latency, <i>BatchGetItem</i> retrieves items in parallel.</p>\n    <p>When designing your application, keep in mind that DynamoDB does not return attributes in any\n      particular order. To help parse the response by item, include the primary key values for the\n      items in your request in the <i>AttributesToGet</i> parameter.</p>\n    <p>If a requested item does not exist, it is not returned in the result. Requests for\n      nonexistent items consume the minimum read capacity units according to the type of read. For\n      more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.html#CapacityUnitCalculations\">Capacity Units Calculations</a> in the Amazon DynamoDB Developer Guide.</p>\n\n    <examples>\n      <example>\n        <name>Retrieve Items From Multiple Tables</name>\n        <description>The following sample requests attributes from two different\n          tables.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.BatchGetItem \n\n{\n    \"RequestItems\": {\n        \"Forum\": {\n            \"Keys\": [\n                {\n                    \"Name\":{\"S\":\"Amazon DynamoDB\"}\n                },\n                {\n                    \"Name\":{\"S\":\"Amazon RDS\"}\n                },\n                {\n                    \"Name\":{\"S\":\"Amazon Redshift\"}\n                }\n            ],\n            \"AttributesToGet\": [\n                \"Name\",\"Threads\",\"Messages\",\"Views\"\n            ]\n        },\n        \"Thread\": {\n            \"Keys\": [\n                {\n                    \"ForumName\":{\"S\":\"Amazon DynamoDB\"},\n                    \"Subject\":{\"S\":\"Concurrent reads\"}\n                }\n            ],\n            \"AttributesToGet\": [\n                \"Tags\",\"Message\"\n            ]\n        }\n    },\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Responses\": {\n        \"Forum\": [\n            {\n                \"Name\":{\n                    \"S\":\"Amazon DynamoDB\"\n                },\n                \"Threads\":{\n                    \"N\":\"5\"\n                },\n                \"Messages\":{\n                    \"N\":\"19\"\n                },\n                \"Views\":{\n                    \"N\":\"35\"\n                }\n            },\n            {\n                \"Name\":{\n                    \"S\":\"Amazon RDS\"\n                },\n                \"Threads\":{\n                    \"N\":\"8\"\n                },\n                \"Messages\":{\n                    \"N\":\"32\"\n                },\n                \"Views\":{\n                    \"N\":\"38\"\n                }\n            },\n            {\n                \"Name\":{\n                    \"S\":\"Amazon Redshift\"\n                },\n                \"Threads\":{\n                    \"N\":\"12\"\n                },\n                \"Messages\":{\n                    \"N\":\"55\"\n                },\n                \"Views\":{\n                    \"N\":\"47\"\n                }\n            }\n        ]\n        \"Thread\": [\n            {\n                \"Tags\":{\n                    \"SS\":[\"Reads\",\"MultipleUsers\"]\n                },\n                \"Message\":{\n                    \"S\":\"How many users can read a single data item at a time? Are there any limits?\"\n                }\n            }\n        ]\n    },\n    \"UnprocessedKeys\": {\n    },\n    \"ConsumedCapacity\": [\n        {\n            \"TableName\": \"Forum\",\n            \"CapacityUnits\": 3\n        },\n        {\n            \"TableName\": \"Thread\",\n            \"CapacityUnits\": 1\n        }\n    ]\n}\n        </response>\n      </example>\n    </examples>"
    },
    "BatchWriteItem":{
      "name":"BatchWriteItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"BatchWriteItemInput",
        "documentation":"<p>Represents the input of a <i>BatchWriteItem</i> operation.</p>"
      },
      "output":{
        "shape":"BatchWriteItemOutput",
        "documentation":"<p>Represents the output of a <i>BatchWriteItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"ItemCollectionSizeLimitExceededException",
          "exception":true,
          "documentation":"<p>An item collection is too large. This exception is only returned for tables that have one or\n      more local secondary indexes.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>BatchWriteItem</i> operation puts or deletes multiple items in one or more tables. A\n      single call to <i>BatchWriteItem</i> can write up to 1 MB of data, which can\n      comprise as many as 25 put or delete requests. Individual items\n      to be written can be as large as 64 KB.</p>\n    <note>\n      <p><i>BatchWriteItem</i> cannot update items. To update items, use the <i>UpdateItem</i>\n        API.</p>\n    </note>\n    <p>The individual <i>PutItem</i> and <i>DeleteItem</i> operations specified in\n        <i>BatchWriteItem</i> are atomic; however <i>BatchWriteItem</i> as a whole is not. If any\n      requested operations fail because the table's provisioned throughput is exceeded or an\n      internal processing failure occurs, the failed operations are returned in the\n        <i>UnprocessedItems</i> response parameter. You can investigate and optionally resend the\n      requests. Typically, you would call <i>BatchWriteItem</i> in a loop. Each iteration would\n      check for unprocessed items and submit a new <i>BatchWriteItem</i> request with those\n      unprocessed items until all items have been processed.</p>\n    <p>Note that if <i>none</i> of the items can be processed due to insufficient provisioned\n      throughput on all of the tables in the request, then <i>BatchGetItem</i> will throw a\n        <i>ProvisionedThroughputExceededException</i>.</p>\n    <important><p>If DynamoDB returns any unprocessed items, you should retry the batch operation on those items. However, <i>we strongly recommend that you use an exponential backoff algorithm</i>. If you retry the batch operation immediately, the underlying read or write requests can still fail due to throttling on the individual tables. If you delay the batch operation using exponential backoff, the individual requests in the batch are much more likely to succeed.</p>\n      <p>For more information, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#BatchOperations\">Batch Operations and Error Handling</a> in the Amazon DynamoDB Developer Guide.</p></important>\n    \n    <p>With <i>BatchWriteItem</i>, you can efficiently write or delete large amounts of data, such\n      as from Amazon Elastic MapReduce (EMR), or copy data from another database into DynamoDB. In\n      order to improve performance with these large-scale operations, <i>BatchWriteItem</i> does not\n      behave in the same way as individual <i>PutItem</i> and <i>DeleteItem</i> calls would For\n      example, you cannot specify conditions on individual put and delete requests, and\n        <i>BatchWriteItem</i> does not return deleted items in the response.</p>\n    <p>If you use a programming language that supports concurrency, such as Java, you can use\n      threads to write items in parallel. Your application must include the necessary logic to\n      manage the threads. With languages that don't support threading, such as PHP, you must update\n      or delete the specified items one at a time. In both situations, <i>BatchWriteItem</i>\n      provides an alternative where the API performs the specified put and delete operations in\n      parallel, giving you the power of the thread pool approach without having to introduce\n      complexity into your application.</p>\n    <p>Parallel processing reduces latency, but each specified put and delete request consumes the\n      same number of write capacity units whether it is processed in parallel or not. Delete\n      operations on nonexistent items consume one write capacity unit.</p>\n    <p>If one or more of the following is true, DynamoDB rejects the entire batch write operation:</p>\n    <ul>\n      <li>\n        <p>One or more tables specified in the <i>BatchWriteItem</i> request does not exist.</p>\n      </li>\n      <li>\n        <p>Primary key attributes specified on an item in the request do not match those in the\n          corresponding table's primary key schema.</p>\n      </li>\n      <li>\n        <p>You try to perform multiple operations on the same item in the same <i>BatchWriteItem</i>\n          request. For example, you cannot put and delete the same item in the same\n            <i>BatchWriteItem</i> request. </p>\n      </li>\n      <li>\n        <p>The total request size exceeds 1 MB.</p>\n      </li>\n      <li>\n        <p>Any individual item in a batch exceeds 64 KB.</p>\n      </li>\n    </ul>\n\n    <examples>\n      <example>\n        <name>Multiple Operations on One Table</name>\n        <description>This example writes several items to the Forum table. The response shows that\n          the final put operation failed, possibly because the application exceeded the provisioned\n          throughput on the table. The UnprocessedItems object shows the unsuccessful put request.\n          The application can call BatchWriteItem again to address such unprocessed\n          requests.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.BatchWriteItem \n\n{\n    \"RequestItems\": {\n        \"Forum\": [\n            {\n                \"PutRequest\": {\n                    \"Item\": {\n                        \"Name\": {\n                            \"S\": \"Amazon DynamoDB\"\n                        },\n                        \"Category\": {\n                            \"S\": \"Amazon Web Services\"\n                        }\n                    }\n                }\n            },\n            {\n                \"PutRequest\": {\n                    \"Item\": {\n                        \"Name\": {\n                            \"S\": \"Amazon RDS\"\n                        },\n                        \"Category\": {\n                            \"S\": \"Amazon Web Services\"\n                        }\n                    }\n                }\n            },\n            {\n                \"PutRequest\": {\n                    \"Item\": {\n                        \"Name\": {\n                            \"S\": \"Amazon Redshift\"\n                        },\n                        \"Category\": {\n                            \"S\": \"Amazon Web Services\"\n                        }\n                    }\n                }\n            },\n            {\n                \"PutRequest\": {\n                    \"Item\": {\n                        \"Name\": {\n                            \"S\": \"Amazon ElastiCache\"\n                        },\n                        \"Category\": {\n                            \"S\": \"Amazon Web Services\"\n                        }\n                    }\n                }\n            }\n        ]\n    },\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"UnprocessedItems\": {\n        \"Forum\": [\n            {\n                \"PutRequest\": {\n                    \"Item\": {\n                        \"Name\": {\n                            \"S\": \"Amazon ElastiCache\"\n                        },\n                        \"Category\": {\n                            \"S\": \"Amazon Web Services\"\n                        }\n                    }\n                }\n            }\n        ]\n    },\n    \"ConsumedCapacity\": [\n        {\n            \"TableName\": \"Forum\",\n            \"CapacityUnits\": 3\n        }\n    ]\n}\n        </response>\n      </example>\n    </examples>"
    },
    "CreateTable":{
      "name":"CreateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTableInput",
        "documentation":"<p>Represents the input of a <i>CreateTable</i> operation.</p>"
      },
      "output":{
        "shape":"CreateTableOutput",
        "documentation":"<p>Represents the output of a <i>CreateTable</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ResourceInUseException",
          "exception":true,
          "documentation":"<p>The operation conflicts with the resource's availability. For example, you attempted to\n      recreate an existing table, or tried to delete a table currently in the <code>CREATING</code>\n      state.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The number of concurrent table requests (cumulative number of tables in the\n        <code>CREATING</code>, <code>DELETING</code> or <code>UPDATING</code> state) exceeds the\n      maximum allowed of 10.</p>\n    <p>Also, for tables with secondary indexes, only one of those tables can be in the <code>CREATING</code>\n      state at any point in time. Do not attempt to create more than one such table\n      simultaneously.</p>\n    <p>The total limit of tables in the <code>ACTIVE</code> state is 250.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateTable</i> operation adds a new table to your account. In an AWS account, table\n      names must be unique within each region. That is, you can have two tables with same name if\n      you create the tables in different regions.</p>\n    <p><i>CreateTable</i> is an asynchronous operation. Upon receiving a <i>CreateTable</i> request,\n      DynamoDB immediately returns a response with a <i>TableStatus</i> of <code>CREATING</code>. After\n      the table is created, DynamoDB sets the <i>TableStatus</i> to <code>ACTIVE</code>. You can\n      perform read and write operations only on an <code>ACTIVE</code> table. </p>\n    <p>If you want to create multiple tables with secondary indexes on them, you must create them sequentially.\n      Only one table with secondary indexes can be in the <code>CREATING</code> state at any given time.</p>\n    <p>You can use the <i>DescribeTable</i> API to check the table status.</p>\n    <examples>\n      <example>\n        <name>Create a Table</name>\n        <description>This example creates a table named Thread. The table primary key consists of\n          ForumName (hash) and Subject (range). A local secondary index is also created; its key consists of\n          ForumName (hash) and LastPostDateTime (range).</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.CreateTable \n\n{\n    \"AttributeDefinitions\": [\n        {\n            \"AttributeName\": \"ForumName\",\n            \"AttributeType\": \"S\"\n        },\n        {\n            \"AttributeName\": \"Subject\",\n            \"AttributeType\": \"S\"\n        },\n        {\n            \"AttributeName\": \"LastPostDateTime\",\n            \"AttributeType\": \"S\"\n        }\n    ],\n    \"TableName\": \"Thread\",\n    \"KeySchema\": [\n        {\n            \"AttributeName\": \"ForumName\",\n            \"KeyType\": \"HASH\"\n        },\n        {\n            \"AttributeName\": \"Subject\",\n            \"KeyType\": \"RANGE\"\n        }\n    ],\n    \"LocalSecondaryIndexes\": [\n        {\n            \"IndexName\": \"LastPostIndex\",\n            \"KeySchema\": [\n                {\n                    \"AttributeName\": \"ForumName\",\n                    \"KeyType\": \"HASH\"\n                },\n                {\n                    \"AttributeName\": \"LastPostDateTime\",\n                    \"KeyType\": \"RANGE\"\n                }\n            ],\n            \"Projection\": {\n                \"ProjectionType\": \"KEYS_ONLY\"\n            }\n        }\n    ],\n    \"ProvisionedThroughput\": {\n        \"ReadCapacityUnits\": 5,\n        \"WriteCapacityUnits\": 5\n    }\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"TableDescription\": {\n        \"AttributeDefinitions\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"LastPostDateTime\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"AttributeType\": \"S\"\n            }\n        ],\n        \"CreationDateTime\": 1.36372808007E9,\n        \"ItemCount\": 0,\n        \"KeySchema\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"KeyType\": \"HASH\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"KeyType\": \"RANGE\"\n            }\n        ],\n        \"LocalSecondaryIndexes\": [\n            {\n                \"IndexName\": \"LastPostIndex\",\n                \"IndexSizeBytes\": 0,\n                \"ItemCount\": 0,\n                \"KeySchema\": [\n                    {\n                        \"AttributeName\": \"ForumName\",\n                        \"KeyType\": \"HASH\"\n                    },\n                    {\n                        \"AttributeName\": \"LastPostDateTime\",\n                        \"KeyType\": \"RANGE\"\n                    }\n                ],\n                \"Projection\": {\n                    \"ProjectionType\": \"KEYS_ONLY\"\n                }\n            }\n        ],\n        \"ProvisionedThroughput\": {\n            \"NumberOfDecreasesToday\": 0,\n            \"ReadCapacityUnits\": 5,\n            \"WriteCapacityUnits\": 5\n        },\n        \"TableName\": \"Thread\",\n        \"TableSizeBytes\": 0,\n        \"TableStatus\": \"CREATING\"\n    }\n}\n        </response>\n      </example>\n    </examples>"
    },
    "DeleteItem":{
      "name":"DeleteItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteItemInput",
        "documentation":"<p>Represents the input of a <i>DeleteItem</i> operation.</p>"
      },
      "output":{
        "shape":"DeleteItemOutput",
        "documentation":"<p>Represents the output of a <i>DeleteItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ConditionalCheckFailedException",
          "exception":true,
          "documentation":"<p>A condition specified in the operation could not be evaluated.</p>"
        },
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"ItemCollectionSizeLimitExceededException",
          "exception":true,
          "documentation":"<p>An item collection is too large. This exception is only returned for tables that have one or\n      more local secondary indexes.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>Deletes a single item in a table by primary key. You can perform a conditional delete\n      operation that deletes the item if it exists, or if it has an expected attribute value.</p>\n    <p>In addition to deleting an item, you can also return the item's attribute values in the same\n      operation, using the <i>ReturnValues</i> parameter.</p>\n    <p>Unless you specify conditions, the <i>DeleteItem</i> is an idempotent operation; running it\n      multiple times on the same item or attribute does <i>not</i> result in an error response.</p>\n    <p>Conditional deletes are useful for only deleting items if specific conditions are met. If\n      those conditions are met, DynamoDB performs the delete. Otherwise, the item is not deleted. </p>\n    <examples>\n      <example>\n        <name>Delete an Item</name>\n        <description>This example deletes an item from the Thread table, but only if that item does\n          not have an attribute named Replies. Because ReturnValues is set to ALL_OLD, the response\n          contains the item as it appeared before the delete.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.DeleteItem \n\n{\n    \"TableName\": \"Thread\",\n    \"Key\": {\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"Subject\": {\n            \"S\": \"How do I update multiple items?\"\n        }\n    },\n    \"Expected\": {\n        \"Replies\": {\n            \"ComparisonOperator\": \"NULL\"\n        }\n    },\n    \"ReturnValues\": \"ALL_OLD\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Attributes\": {\n        \"LastPostedBy\": {\n            \"S\": \"fred@example.com\"\n        },\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"LastPostDateTime\": {\n            \"S\": \"201303201023\"\n        },\n        \"Tags\": {\n            \"SS\": [\"Update\",\"Multiple Items\",\"HelpMe\"]\n        },\n        \"Subject\": {\n            \"S\": \"How do I update multiple items?\"\n        },\n        \"Message\": {\n            \"S\": \"I want to update multiple items in a single API call. What's the best way to do that?\"\n        }\n    }\n}\n        </response>\n      </example>\n    </examples>"
    },
    "DeleteTable":{
      "name":"DeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTableInput",
        "documentation":"<p>Represents the input of a <i>DeleteTable</i> operation.</p>"
      },
      "output":{
        "shape":"DeleteTableOutput",
        "documentation":"<p>Represents the output of a <i>DeleteTable</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ResourceInUseException",
          "exception":true,
          "documentation":"<p>The operation conflicts with the resource's availability. For example, you attempted to\n      recreate an existing table, or tried to delete a table currently in the <code>CREATING</code>\n      state.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The number of concurrent table requests (cumulative number of tables in the\n        <code>CREATING</code>, <code>DELETING</code> or <code>UPDATING</code> state) exceeds the\n      maximum allowed of 10.</p>\n    <p>Also, for tables with secondary indexes, only one of those tables can be in the <code>CREATING</code>\n      state at any point in time. Do not attempt to create more than one such table\n      simultaneously.</p>\n    <p>The total limit of tables in the <code>ACTIVE</code> state is 250.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteTable</i> operation deletes a table and all of its items. After a\n        <i>DeleteTable</i> request, the specified table is in the <code>DELETING</code> state until\n      DynamoDB completes the deletion. If the table is in the <code>ACTIVE</code> state, you can delete\n      it. If a table is in <code>CREATING</code> or <code>UPDATING</code> states, then DynamoDB returns\n      a <i>ResourceInUseException</i>. If the specified table does not exist, DynamoDB returns a\n        <i>ResourceNotFoundException</i>. If table is already in the <code>DELETING</code> state, no\n      error is returned. </p>\n    <note>\n      <p>DynamoDB might continue to accept data read and write operations, such as <i>GetItem</i> and\n          <i>PutItem</i>, on a table in the <code>DELETING</code> state until the table deletion is\n        complete.</p>\n    </note>\n    <p>When you delete a table, any indexes on that table are also deleted.</p>\n\n    <p>Use the <i>DescribeTable</i> API to check the status of the table. </p>\n\n    <examples>\n      <example>\n        <name>Delete a Table</name>\n        <description>This example deletes the Reply table.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.DeleteTable \n\n{\n    \"TableName\": \"Reply\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"TableDescription\": {\n        \"ItemCount\": 0,\n        \"ProvisionedThroughput\": {\n            \"NumberOfDecreasesToday\": 0,\n            \"ReadCapacityUnits\": 5,\n            \"WriteCapacityUnits\": 5\n        },\n        \"TableName\": \"Reply\",\n        \"TableSizeBytes\": 0,\n        \"TableStatus\": \"DELETING\"\n    }\n}\n        </response>\n      </example>\n    </examples>"
    },
    "DescribeTable":{
      "name":"DescribeTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTableInput",
        "documentation":"<p>Represents the input of a <i>DescribeTable</i> operation.</p>"
      },
      "output":{
        "shape":"DescribeTableOutput",
        "documentation":"<p>Represents the output of a <i>DescribeTable</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>Returns information about the table, including the current status of the table, when it was\n      created, the primary key schema, and any indexes on the table.</p>\n    <examples>\n      <example>\n        <name>Describe a Table</name>\n        <description>\n          <p>This example describes the Thread table.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.DescribeTable \n\n{\n    \"TableName\":\"Thread\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Table\": {\n        \"AttributeDefinitions\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"LastPostDateTime\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"AttributeType\": \"S\"\n            }\n        ],\n        \"CreationDateTime\": 1.363729002358E9,\n        \"ItemCount\": 0,\n        \"KeySchema\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"KeyType\": \"HASH\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"KeyType\": \"RANGE\"\n            }\n        ],\n        \"LocalSecondaryIndexes\": [\n            {\n                \"IndexName\": \"LastPostIndex\",\n                \"IndexSizeBytes\": 0,\n                \"ItemCount\": 0,\n                \"KeySchema\": [\n                    {\n                        \"AttributeName\": \"ForumName\",\n                        \"KeyType\": \"HASH\"\n                    },\n                    {\n                        \"AttributeName\": \"LastPostDateTime\",\n                        \"KeyType\": \"RANGE\"\n                    }\n                ],\n                \"Projection\": {\n                    \"ProjectionType\": \"KEYS_ONLY\"\n                }\n            }\n        ],\n        \"ProvisionedThroughput\": {\n            \"NumberOfDecreasesToday\": 0,\n            \"ReadCapacityUnits\": 5,\n            \"WriteCapacityUnits\": 5\n        },\n        \"TableName\": \"Thread\",\n        \"TableSizeBytes\": 0,\n        \"TableStatus\": \"ACTIVE\"\n    }\n}\n        </response>\n      </example>\n    </examples>"
    },
    "GetItem":{
      "name":"GetItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetItemInput",
        "documentation":"<p>Represents the input of a <i>GetItem</i> operation.</p>"
      },
      "output":{
        "shape":"GetItemOutput",
        "documentation":"<p>Represents the output of a <i>GetItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>GetItem</i> operation returns a set of attributes for the item with the given primary\n      key. If there is no matching item, <i>GetItem</i> does not return any data.</p>\n    <p><i>GetItem</i> provides an eventually consistent read by default. If your application\n      requires a strongly consistent read, set <i>ConsistentRead</i> to <code>true</code>. Although\n      a strongly consistent read might take more time than an eventually consistent read, it always\n      returns the last updated value.</p>\n    <examples>\n      <example>\n        <name>Retrieve Item Attributes</name>\n        <description>This example retrieves three attributes from the Thread table. In the response,\n          the ConsumedCapacityUnits value is 1, because ConsistentRead is set to true. If\n          ConsistentRead had been set to false (or not specified) for the same request, an\n          eventually consistent read would have been used and ConsumedCapacityUnits would have been\n          0.5.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.GetItem \n\n{\n    \"TableName\": \"Thread\",\n    \"Key\": {\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"Subject\": {\n            \"S\": \"How do I update multiple items?\"\n        }\n    },\n    \"AttributesToGet\": [\"LastPostDateTime\",\"Message\",\"Tags\"],\n    \"ConsistentRead\": true,\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"ConsumedCapacity\": {\n        \"CapacityUnits\": 1,\n        \"TableName\": \"Thread\"\n    },\n    \"Item\": {\n        \"Tags\": {\n            \"SS\": [\"Update\",\"Multiple Items\",\"HelpMe\"]\n        },\n        \"LastPostDateTime\": {\n            \"S\": \"201303190436\"\n        },\n        \"Message\": {\n            \"S\": \"I want to update multiple items in a single API call. What's the best way to do that?\"\n        }\n    }\n}\n        </response>\n      </example>\n    </examples>"
    },
    "ListTables":{
      "name":"ListTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListTablesInput",
        "documentation":"<p>Represents the input of a <i>ListTables</i> operation.</p>"
      },
      "output":{
        "shape":"ListTablesOutput",
        "documentation":"<p>Represents the output of a <i>ListTables</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>Returns an array of table names associated with the current account and endpoint. The output\n      from <i>ListTables</i> is paginated, with each page returning a maximum of 100 table\n      names.</p>\n    <examples>\n      <example>\n        <name>List Tables</name>\n        <description>\n          <p>This example requests a list of tables, starting with a table named <i>Forum</i> and\n            ending after three table names have been returned.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.ListTables \n\n{\n    \"ExclusiveStartTableName\": \"Forum\",\n    \"Limit\": 3\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"LastEvaluatedTableName\": \"Thread\",\n    \"TableNames\": [\"Forum\",\"Reply\",\"Thread\"]\n}\n        </response>\n      </example>\n    </examples>"
    },
    "PutItem":{
      "name":"PutItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutItemInput",
        "documentation":"<p>Represents the input of a <i>PutItem</i> operation.</p>"
      },
      "output":{
        "shape":"PutItemOutput",
        "documentation":"<p>Represents the output of a <i>PutItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ConditionalCheckFailedException",
          "exception":true,
          "documentation":"<p>A condition specified in the operation could not be evaluated.</p>"
        },
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"ItemCollectionSizeLimitExceededException",
          "exception":true,
          "documentation":"<p>An item collection is too large. This exception is only returned for tables that have one or\n      more local secondary indexes.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>Creates a new item, or replaces an old item with a new item. If an item already exists in the\n      specified table with the same primary key, the new item completely replaces the existing item.\n      You can perform a conditional put (insert a new item if one with the specified primary key\n      doesn't exist), or replace an existing item if it has certain attribute values. </p>\n    <p>In addition to putting an item, you can also return the item's attribute values in the same\n      operation, using the <i>ReturnValues</i> parameter.</p>\n    <p>When you add an item, the primary key attribute(s) are the only required attributes.\n      Attribute values cannot be null. String and binary type attributes must have lengths greater\n      than zero. Set type attributes cannot be empty. Requests with empty values will be rejected\n      with a <i>ValidationException</i>.</p>\n    <p>You can request that <i>PutItem</i> return either a copy of the old item (before the update)\n      or a copy of the new item (after the update). For more information, see the\n        <i>ReturnValues</i> description.</p>\n    <note>\n      <p>To prevent a new item from replacing an existing item, use a conditional put operation with\n          <i>ComparisonOperator</i> set to <code>NULL</code> for the primary key attribute, or attributes.</p>\n    </note>\n    <p>For more information about using this API, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithItems.html\">Working with Items</a> in the Amazon DynamoDB Developer Guide.</p>\n    <examples>\n      <example>\n        <name>Put an Item</name>\n        <description>\n          <p>This example puts a new item into the Thread table. To prevent this new item from\n            overwriting an existing item, \"ComparisonOperator\" is set to NULL for the primary key\n            attributes.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.PutItem \n\n{\n    \"TableName\": \"Thread\",\n    \"Item\": {\n        \"LastPostDateTime\": {\n            \"S\": \"201303190422\"\n        },\n        \"Tags\": {\n            \"SS\": [\"Update\",\"Multiple Items\",\"HelpMe\"]\n        },\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"Message\": {\n            \"S\": \"I want to update multiple items in a single API call. What's the best way to do that?\"\n        },\n        \"Subject\": {\n            \"S\": \"How do I update multiple items?\"\n        },\n        \"LastPostedBy\": {\n            \"S\": \"fred@example.com\"\n        }\n    },\n    \"Expected\": {\n        \"ForumName\": {\n            \"ComparisonOperator\": \"NULL\",\n        },\n        \"Subject\": {\n            \"ComparisonOperator\": \"NULL\",\n        }\n    }\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n}\n        </response>\n      </example>\n    </examples>"
    },
    "Query":{
      "name":"Query",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"QueryInput",
        "documentation":"<p>Represents the input of a <i>Query</i> operation.</p>"
      },
      "output":{
        "shape":"QueryOutput",
        "documentation":"<p>Represents the output of a <i>Query</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>A <i>Query</i> operation directly accesses items from a table using the table primary key, or\n      from an index using the index key. You must provide a specific hash key value. You can narrow\n      the scope of the query by using comparison operators on the range key value, or on the index\n      key. You can use the <i>ScanIndexForward</i> parameter to get results in forward or reverse\n      order, by range key or by index key. </p>\n    <p>Queries that do not return results consume the minimum read capacity units according to the\n      type of read.</p>\n    <p>If the total number of items meeting the query criteria exceeds the result set size limit of\n      1 MB, the query stops and results are returned to the user with a\n        <i>LastEvaluatedKey</i> to continue the query in a subsequent operation. Unlike a\n        <i>Scan</i> operation, a <i>Query</i> operation never returns an empty result set <i>and</i>\n      a <i>LastEvaluatedKey</i>. The <i>LastEvaluatedKey</i> is only provided if the results exceed\n      1 MB, or if you have used <i>Limit</i>. </p>\n    <p>You can query a table, a local secondary index, or a global secondary index. For a query on a table or on a local secondary index, you can set\n        <i>ConsistentRead</i> to true and obtain a strongly consistent result. Global secondary indexes support\n      eventually consistent reads only, so do not specify <i>ConsistentRead</i> when querying a\n      global secondary index.</p>\n    <examples>\n      <example>\n        <name>Retrieving a Range of Items</name>\n        <description>\n          <p>This example queries the <i>Thread</i> table for postings between two dates. There is\n            an index on <i>LastPostDateTime</i> to facilitate fast lookups on this attribute.</p>\n          <p>All of the attributes will be returned. Any attributes that are not projected into the\n            index will cause DynamoDB to fetch those attributes from the <i>Thread</i> table; this\n            fetching occurs automatically.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.Query \n\n{\n    \"TableName\": \"Thread\",\n    \"IndexName\": \"LastPostIndex\",\n    \"Select\": \"ALL_ATTRIBUTES\",\n    \"Limit\":3,\n    \"ConsistentRead\": true,\n    \"KeyConditions\": {\n        \"LastPostDateTime\": {\n            \"AttributeValueList\": [\n                {\n                    \"S\": \"20130101\"\n                },\n                {\n                    \"S\": \"20130115\"\n                }\n            ],\n            \"ComparisonOperator\": \"BETWEEN\"\n        },\n        \"ForumName\": {\n            \"AttributeValueList\": [\n                {\n                    \"S\": \"Amazon DynamoDB\"\n                }\n            ],\n            \"ComparisonOperator\": \"EQ\"\n        }\n    },\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Count\": 3,\n    \"Items\": [\n        {\n            \"LastPostedBy\": {\n                \"S\": \"fred@example.com\"\n            },\n            \"ForumName\": {\n                \"S\": \"Amazon DynamoDB\"\n            },\n            \"LastPostDateTime\": {\n                \"S\": \"20130102054211\"\n            },\n            \"Tags\": {\n                \"SS\": [\"Problem\",\"Question\"]\n            }\n        },\n        {\n            \"LastPostedBy\": {\n                \"S\": \"alice@example.com\"\n            },\n            \"ForumName\": {\n                \"S\": \"Amazon DynamoDB\"\n            },\n            \"LastPostDateTime\": {\n                    \"S\": \"20130105111307\"\n            },\n            \"Tags\": {\n                \"SS\": [\"Idea\"]\n            }\n        },\n        {\n            \"LastPostedBy\": {\n                \"S\": \"bob@example.com\"\n            },\n            \"ForumName\": {\n                \"S\": \"Amazon DynamoDB\"\n            },\n            \"LastPostDateTime\": {\n                \"S\": \"20130108094417\"\n            },\n            \"Tags\": {\n                \"SS\": [\"AppDesign\", \"HelpMe\"]\n            }\n        }\n    ],\n    \"ConsumedCapacity\": {\n        \"TableName\": \"Thread\",\n        \"CapacityUnits\": 1\n    }\n}\n        </response>\n      </example>\n      <example>\n        <name>Counting Items</name>\n        <description>\n          <p>This example returns the number of items in the Thread table for a particular\n            forum.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.Query \n\n{\n    \"TableName\": \"Thread\",\n    \"Select\": \"COUNT\",\n    \"ConsistentRead\": true,\n    \"KeyConditions\": {\n        \"ForumName\": {\n            \"AttributeValueList\": [\n                {\n                    \"S\": \"Amazon DynamoDB\"\n                }\n            ],\n            \"ComparisonOperator\": \"EQ\"\n        }\n    }\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Count\":`17\n}\n        </response>\n      </example>\n    </examples>"
    },
    "Scan":{
      "name":"Scan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ScanInput",
        "documentation":"<p>Represents the input of a <i>Scan</i> operation.</p>"
      },
      "output":{
        "shape":"ScanOutput",
        "documentation":"<p>Represents the output of a <i>Scan</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>The <i>Scan</i> operation returns one or more items and item attributes by accessing every\n      item in the table. To have DynamoDB return fewer items, you can provide a <i>ScanFilter</i>.</p>\n\n    <p>If the total number of scanned items exceeds the maximum data set size limit of\n      1 MB, the scan stops and results are returned to the user with a\n        <i>LastEvaluatedKey</i> to continue the scan in a subsequent operation. The results also\n      include the number of items exceeding the limit. A scan can result in no table data meeting\n      the filter criteria. </p>\n    <p>The result set is eventually consistent. </p>\n    <p>By default, <i>Scan</i> operations proceed sequentially; however, for faster performance on\n      large tables, applications can request a parallel <i>Scan</i> by specifying the <i>Segment</i>\n      and <i>TotalSegments</i> parameters. For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html#QueryAndScanParallelScan\">Parallel Scan</a> in the\n      Amazon DynamoDB Developer Guide.</p>\n    <examples>\n      <example>\n        <name>Returning All Items</name>\n        <description>This example returns all of the items in a table. No scan filter is\n          applied.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.Scan \n\n{\n    \"TableName\": \"Reply\",\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"ConsumedCapacity\": {\n        \"CapacityUnits\": 0.5,\n        \"TableName\": \"Reply\"\n    },\n    \"Count\": 4,\n    \"Items\": [\n        {\n            \"PostedBy\": {\n                \"S\": \"joe@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115336\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"Have you looked at the BatchWriteItem API?\"\n            }\n        },\n        {\n            \"PostedBy\": {\n                \"S\": \"fred@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115342\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"No, I didn't know about that.  Where can I find more information?\"\n            }\n        },\n        {\n            \"PostedBy\": {\n                \"S\": \"joe@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115347\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"BatchWriteItem is documented in the Amazon DynamoDB API Reference.\"\n            }\n        },\n        {\n            \"PostedBy\": {\n                \"S\": \"fred@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115352\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"OK, I'll take a look at that.  Thanks!\"\n            }\n        }\n    ],\n    \"ScannedCount\": 4\n}\n        </response>\n      </example>\n      <example>\n        <name>Using a Scan Filter</name>\n        <description>This example returns only those items matching specific criteria.</description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.Scan \n\n{\n    \"TableName\": \"Reply\",\n    \"ScanFilter\": {\n        \"PostedBy\": {\n            \"AttributeValueList\": [\n                {\n                    \"S\": \"joe@example.com\"\n                }\n            ],\n            \"ComparisonOperator\": \"EQ\"\n        }\n    },\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"ConsumedCapacity\": {\n        \"CapacityUnits\": 0.5,\n        \"TableName\": \"Reply\"\n    },\n    \"Count\": 2,\n    \"Items\": [\n        {\n            \"PostedBy\": {\n                \"S\": \"joe@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115336\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"Have you looked at the BatchWriteItem API?\"\n            }\n        },\n        {\n            \"PostedBy\": {\n                \"S\": \"joe@example.com\"\n            },\n            \"ReplyDateTime\": {\n                \"S\": \"20130320115347\"\n            },\n            \"Id\": {\n                \"S\": \"Amazon DynamoDB#How do I update multiple items?\"\n            },\n            \"Message\": {\n                \"S\": \"BatchWriteItem is documented in the Amazon DynamoDB API Reference.\"\n            }\n        }\n    ],\n    \"ScannedCount\": 4\n}\n        </response>\n      </example>\n    </examples>"
    },
    "UpdateItem":{
      "name":"UpdateItem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateItemInput",
        "documentation":"<p>Represents the input of an <i>UpdateItem</i> operation.</p>"
      },
      "output":{
        "shape":"UpdateItemOutput",
        "documentation":"<p>Represents the output of an <i>UpdateItem</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ConditionalCheckFailedException",
          "exception":true,
          "documentation":"<p>A condition specified in the operation could not be evaluated.</p>"
        },
        {
          "shape":"ProvisionedThroughputExceededException",
          "exception":true,
          "documentation":"<p>The request rate is too high, or the request is too large, for the available throughput to\n      accommodate. The AWS SDKs automatically retry requests that receive this exception; therefore,\n      your request will eventually succeed, unless the request is too large or your retry queue is\n      too large to finish. Reduce the frequency of requests by using the strategies listed in <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a>\n      in the Amazon DynamoDB Developer Guide.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"ItemCollectionSizeLimitExceededException",
          "exception":true,
          "documentation":"<p>An item collection is too large. This exception is only returned for tables that have one or\n      more local secondary indexes.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p> Edits an existing item's attributes, or inserts a new item if it does not already exist. You\n      can put, delete, or add attribute values. You can also perform a conditional update (insert a\n      new attribute name-value pair if it doesn't exist, or replace an existing name-value pair if\n      it has certain expected attribute values).</p>\n    <p>In addition to updating an item, you can also return the item's attribute values in the same\n      operation, using the <i>ReturnValues</i> parameter.</p>\n    <examples>\n      <example>\n        <name>Conditional Update</name>\n        <description>\n          <p>This example updates the Thread table, changing the LastPostedBy attribute-but only if\n            LastPostedBy is currently \"fred@example.com\". All of the item's attributes, as they\n            appear after the update, are returned in the response.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.UpdateItem \n\n{\n    \"TableName\": \"Thread\",\n    \"Key\": {\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"Subject\": {\n            \"S\": \"Maximum number of items?\"\n        }\n    },\n    \"AttributeUpdates\": {\n        \"LastPostedBy\": {\n            \"Value\": {\n                \"S\": \"alice@example.com\"\n            },\n            \"Action\": \"PUT\"\n        }\n    },\n    \"Expected\": {\n        \"LastPostedBy\": {\n        \"ComparisonOperator\":\"EQ\",\n        \"AttributeValueList\": [ { \"S\": \"fred@example.com\"} ]\n        }\n    },\n    \"ReturnValues\": \"ALL_NEW\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {\n    \"Attributes\": {\n        \"LastPostedBy\": {\n            \"S\": \"alice@example.com\"\n        },\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"LastPostDateTime\": {\n            \"S\": \"20130320010350\"\n        },\n        \"Tags\": {\n            \"SS\": [\"Update\",\"Multiple Items\",\"HelpMe\"]\n        },\n        \"Subject\": {\n            \"S\": \"Maximum number of items?\"\n        },\n        \"Views\": {\n            \"N\": \"5\"\n        },\n        \"Message\": {\n            \"S\": \"I want to put 10 million data items to an Amazon DynamoDB table.  Is there an upper limit?\"\n        }\n    }\n}\n        </response>\n      </example>\n      <example>\n        <name>Atomic Counter</name>\n        <description>\n          <p>This example increments the Replies attribute in the Thread table whenever someone\n            posts a reply. Because ReturnValues is set to NONE, no output appears in the response\n            payload.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.UpdateItem \n\n{\n    \"TableName\": \"Thread\",\n    \"Key\": {\n        \"ForumName\": {\n            \"S\": \"Amazon DynamoDB\"\n        },\n        \"Subject\": {\n            \"S\": \"A question about updates\"\n        }\n    },\n    \"AttributeUpdates\": {\n        \"Replies\": {\n            \"Action\": \"ADD\",\n            \"Value\": {\"N\": \"1\"}\n        }\n    },\n    \"ReturnValues\" : \"NONE\"\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {          \n}\n        </response>\n      </example>\n    </examples>"
    },
    "UpdateTable":{
      "name":"UpdateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateTableInput",
        "documentation":"<p>Represents the input of an <i>UpdateTable</i> operation.</p>"
      },
      "output":{
        "shape":"UpdateTableOutput",
        "documentation":"<p>Represents the output of an <i>UpdateTable</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"ResourceInUseException",
          "exception":true,
          "documentation":"<p>The operation conflicts with the resource's availability. For example, you attempted to\n      recreate an existing table, or tried to delete a table currently in the <code>CREATING</code>\n      state.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>The operation tried to access a nonexistent table or index. The resource may not be specified\n      correctly, or its status may not be <code>ACTIVE</code>.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The number of concurrent table requests (cumulative number of tables in the\n        <code>CREATING</code>, <code>DELETING</code> or <code>UPDATING</code> state) exceeds the\n      maximum allowed of 10.</p>\n    <p>Also, for tables with secondary indexes, only one of those tables can be in the <code>CREATING</code>\n      state at any point in time. Do not attempt to create more than one such table\n      simultaneously.</p>\n    <p>The total limit of tables in the <code>ACTIVE</code> state is 250.</p>"
        },
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An error occurred on the server side.</p>"
        }
      ],
      "documentation":"<p>Updates the provisioned throughput for the given table. Setting the throughput for a table\n      helps you manage performance and is part of the provisioned throughput feature of DynamoDB.</p>\n    <p>The provisioned throughput values can be upgraded or downgraded based on the maximums and\n      minimums listed in the <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html\">Limits</a> section in the\n      Amazon DynamoDB Developer Guide.</p>\n    <p>The table must be in the <code>ACTIVE</code> state for this operation to succeed.\n        <i>UpdateTable</i> is an asynchronous operation; while executing the operation, the table is\n      in the <code>UPDATING</code> state. While the table is in the <code>UPDATING</code> state, the\n      table still has the provisioned throughput from before the call. The new provisioned\n      throughput setting is in effect only when the table returns to the <code>ACTIVE</code> state\n      after the <i>UpdateTable</i> operation. </p>\n    <p>You cannot add, modify or delete indexes using <i>UpdateTable</i>. Indexes can only be\n      defined at table creation time.</p>\n\n    <examples>\n      <example>\n        <name>Modify Provisioned Write Throughput</name>\n        <description>\n          <p> This example changes both the provisioned read and write throughput of the Thread\n            table to 10 capacity units.</p>\n        </description>\n        <request><![CDATA[\nPOST / HTTP/1.1\nHost: dynamodb.<region>.<domain>;\nX-Amz-Date: <Date>\nAuthorization: AWS4-HMAC-SHA256 Credential=<Credential>, SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target, Signature=<Signature>\nUser-Agent: <UserAgentString>\nx-amz-content-sha256: <PayloadHash>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>     \nConnection: Keep-Alive]]> X-Amz-Target: DynamoDB_20120810.UpdateTable \n\n{\n    \"TableName\": \"Thread\",\n    \"ProvisionedThroughput\": {\n        \"ReadCapacityUnits\": 10,\n        \"WriteCapacityUnits\": 10\n    }\n}\n        </request>\n        <response><![CDATA[\nHTTP/1.1 200 OK\nx-amzn-RequestId: <RequestId> \nx-amz-crc32: <Checksum>\nContent-Type: application/x-amz-json-1.0\nContent-Length: <PayloadSizeBytes>\nDate: <Date>\n]]> {          \n    \"TableDescription\": {\n        \"AttributeDefinitions\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"LastPostDateTime\",\n                \"AttributeType\": \"S\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"AttributeType\": \"S\"\n            }\n        ],\n        \"CreationDateTime\": 1.363801528686E9,\n        \"ItemCount\": 0,\n        \"KeySchema\": [\n            {\n                \"AttributeName\": \"ForumName\",\n                \"KeyType\": \"HASH\"\n            },\n            {\n                \"AttributeName\": \"Subject\",\n                \"KeyType\": \"RANGE\"\n            }\n        ],\n        \"LocalSecondaryIndexes\": [\n            {\n                \"IndexName\": \"LastPostIndex\",\n                \"IndexSizeBytes\": 0,\n                \"ItemCount\": 0,\n                \"KeySchema\": [\n                    {\n                        \"AttributeName\": \"ForumName\",\n                        \"KeyType\": \"HASH\"\n                    },\n                    {\n                        \"AttributeName\": \"LastPostDateTime\",\n                        \"KeyType\": \"RANGE\"\n                    }\n                ],\n                \"Projection\": {\n                    \"ProjectionType\": \"KEYS_ONLY\"\n                }\n            }\n        ],\n        \"ProvisionedThroughput\": {\n            \"LastIncreaseDateTime\": 1.363801701282E9,\n            \"NumberOfDecreasesToday\": 0,\n            \"ReadCapacityUnits\": 5,\n            \"WriteCapacityUnits\": 5\n        },\n        \"TableName\": \"Thread\",\n        \"TableSizeBytes\": 0,\n        \"TableStatus\": \"UPDATING\"\n    }\n}\n        </response>\n      </example>\n    </examples>"
    }
  },
  "shapes":{
    "AttributeAction":{
      "type":"string",
      "enum":[
        "ADD",
        "PUT",
        "DELETE"
      ]
    },
    "AttributeDefinition":{
      "type":"structure",
      "required":[
        "AttributeName",
        "AttributeType"
      ],
      "members":{
        "AttributeName":{
          "shape":"KeySchemaAttributeName",
          "documentation":"<p>A name for the attribute.</p>"
        },
        "AttributeType":{
          "shape":"ScalarAttributeType",
          "documentation":"<p>The data type for the attribute.</p>"
        }
      },
      "documentation":"<p>Represents an attribute for describing the key schema for the table and indexes.</p>"
    },
    "AttributeDefinitions":{
      "type":"list",
      "member":{"shape":"AttributeDefinition"}
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"AttributeName"},
      "value":{"shape":"AttributeValue"}
    },
    "AttributeName":{
      "type":"string",
      "max":65535
    },
    "AttributeNameList":{
      "type":"list",
      "member":{"shape":"AttributeName"},
      "min":1
    },
    "AttributeUpdates":{
      "type":"map",
      "key":{"shape":"AttributeName"},
      "value":{"shape":"AttributeValueUpdate"}
    },
    "AttributeValue":{
      "type":"structure",
      "members":{
        "S":{
          "shape":"StringAttributeValue",
          "documentation":"<p>A String data type</p>"
        },
        "N":{
          "shape":"NumberAttributeValue",
          "documentation":"<p>A Number data type</p>"
        },
        "B":{
          "shape":"BinaryAttributeValue",
          "documentation":"<p>A Binary data type</p>"
        },
        "SS":{
          "shape":"StringSetAttributeValue",
          "documentation":"<p>A String set data type</p>"
        },
        "NS":{
          "shape":"NumberSetAttributeValue",
          "documentation":"<p> Number set data type</p>"
        },
        "BS":{
          "shape":"BinarySetAttributeValue",
          "documentation":"<p>A Binary set data type</p>"
        }
      },
      "documentation":"<p>Represents the data for an attribute. You can set one, and only one, of the elements.</p>"
    },
    "AttributeValueList":{
      "type":"list",
      "member":{"shape":"AttributeValue"}
    },
    "AttributeValueUpdate":{
      "type":"structure",
      "members":{
        "Value":{"shape":"AttributeValue"},
        "Action":{
          "shape":"AttributeAction",
          "documentation":"<p>Specifies how to perform the update. Valid values are <code>PUT</code>, <code>DELETE</code>,\n      and <code>ADD</code>. The behavior depends on whether the specified primary key already exists\n      in the table.</p>\n\n    <p>\n      <b>If an item with the specified <i>Key</i> is found in the table:</b>\n    </p>\n\n    <ul>\n      <li>\n        <p><code>PUT</code> - Adds the specified attribute to the item. If the attribute already\n          exists, it is replaced by the new value. </p>\n      </li>\n      <li>\n        <p><code>DELETE</code> - If no value is specified, the attribute and its value are removed\n          from the item. The data type of the specified value must match the existing value's data\n          type.</p>\n        <p>If a <i>set</i> of values is specified, then those values are subtracted from the old\n          set. For example, if the attribute value was the set <code>[a,b,c]</code> and the\n            <i>DELETE</i> action specified <code>[a,c]</code>, then the final attribute value would\n          be <code>[b]</code>. Specifying an empty set is an error.</p>\n      </li>\n      <li>\n        <p><code>ADD</code> - If the attribute does not already exist, then the attribute and its\n          values are added to the item. If the attribute does exist, then the behavior of\n            <code>ADD</code> depends on the data type of the attribute:</p>\n        <ul>\n          <li>\n            <p>If the existing attribute is a number, and if <i>Value</i> is also a number, then the\n                <i>Value</i> is mathematically added to the existing attribute. If <i>Value</i> is a\n              negative number, then it is subtracted from the existing attribute.</p>\n            <note>\n              <p> If you use <code>ADD</code> to increment or decrement a number value for an item\n                that doesn't exist before the update, DynamoDB uses 0 as the initial value.</p>\n              <p>In addition, if you use <code>ADD</code> to update an existing item, and intend to\n                increment or decrement an attribute value which does not yet exist, DynamoDB uses\n                  <code>0</code> as the initial value. For example, suppose that the item you want\n                to update does not yet have an attribute named <i>itemcount</i>, but you decide to\n                  <code>ADD</code> the number <code>3</code> to this attribute anyway, even though\n                it currently does not exist. DynamoDB will create the <i>itemcount</i> attribute, set\n                its initial value to <code>0</code>, and finally add <code>3</code> to it. The\n                result will be a new <i>itemcount</i> attribute in the item, with a value of\n                  <code>3</code>.</p>\n            </note>\n          </li>\n          <li>\n            <p>If the existing data type is a set, and if the <i>Value</i> is also a set, then the\n                <i>Value</i> is added to the existing set. (This is a <i>set</i> operation, not\n              mathematical addition.) For example, if the attribute value was the set\n                <code>[1,2]</code>, and the <code>ADD</code> action specified <code>[3]</code>, then\n              the final attribute value would be <code>[1,2,3]</code>. An error occurs if an Add\n              action is specified for a set attribute and the attribute type specified does not\n              match the existing set type. </p>\n            <p>Both sets must have the same primitive data type. For example, if the existing data\n              type is a set of strings, the <i>Value</i> must also be a set of strings. The same\n              holds true for number sets and binary sets.</p>\n          </li>\n        </ul>\n        <p>This action is only valid for an existing attribute whose data type is number or is a\n          set. Do not use <code>ADD</code> for any other data types.</p>\n      </li>\n    </ul>\n\n    <p>\n      <b>If no item with the specified <i>Key</i> is found:</b>\n    </p>\n\n    <ul>\n      <li>\n        <p><code>PUT</code> - DynamoDB creates a new item with the specified primary key, and then adds\n          the attribute. </p>\n      </li>\n      <li>\n        <p><code>DELETE</code> - Nothing happens; there is no attribute to delete.</p>\n      </li>\n      <li>\n        <p><code>ADD</code> - DynamoDB creates an item with the supplied primary key and number (or set\n          of numbers) for the attribute value. The only data types allowed are number and number\n          set; no other data types can be specified.</p>\n      </li>\n    </ul>"
        }
      },
      "documentation":"<p>For the <i>UpdateItem</i> operation, represents the attributes to be modified, the action to\n      perform on each, and the new value for each.</p>\n    <note>\n      <p>You cannot use <i>UpdateItem</i> to update any primary key attributes. Instead, you will\n        need to delete the item, and then use <i>PutItem</i> to create a new item with new\n        attributes.</p>\n    </note>\n    <p>Attribute values cannot be null; string and binary type attributes must have lengths greater\n      than zero; and set type attributes must not be empty. Requests with empty values will be\n      rejected with a <i>ValidationException</i>.</p>"
    },
    "BatchGetItemInput":{
      "type":"structure",
      "required":["RequestItems"],
      "members":{
        "RequestItems":{
          "shape":"BatchGetRequestMap",
          "documentation":"<p>A map of one or more table names and, for each table, the corresponding primary keys for the\n      items to retrieve. Each table name can be invoked only once.</p>\n    <p>Each element in the map consists of the following:</p>\n    <ul>\n      <li>\n        <p><i>Keys</i> - An array of primary key attribute values that define specific items in the\n          table. For each primary key, you must provide <i>all</i> of the key attributes. For\n          example, with a hash type primary key, you only need to specify the hash attribute. For a\n          hash-and-range type primary key, you must specify <i>both</i> the hash attribute and the\n          range attribute.</p>\n      </li>\n\n      <li>\n        <p><i>AttributesToGet</i> - One or more attributes to be retrieved from the table. By\n          default, all attributes are returned. If a specified attribute is not found, it does not\n          appear in the result.</p>\n        <p>Note that <i>AttributesToGet</i> has no effect on provisioned throughput consumption.\n          DynamoDB determines capacity units consumed based on item size, not on the amount of data\n          that is returned to an application.</p>\n      </li>\n\n      <li>\n        <p><i>ConsistentRead</i> - If <code>true</code>, a strongly consistent read is used; if\n            <code>false</code> (the default), an eventually consistent read is used.</p>\n      </li>\n    </ul>"
        },
        "ReturnConsumedCapacity":{"shape":"ReturnConsumedCapacity"}
      },
      "documentation":"<p>Represents the input of a <i>BatchGetItem</i> operation.</p>"
    },
    "BatchGetItemOutput":{
      "type":"structure",
      "members":{
        "Responses":{
          "shape":"BatchGetResponseMap",
          "documentation":"<p>A map of table name to a list of items. Each object in <i>Responses</i> consists of a table\n      name, along with a map of attribute data consisting of the data type and attribute value.</p>"
        },
        "UnprocessedKeys":{
          "shape":"BatchGetRequestMap",
          "documentation":"<p>A map of tables and their respective keys that were not processed with the current response.\n      The <i>UnprocessedKeys</i> value is in the same form as <i>RequestItems</i>, so the value can\n      be provided directly to a subsequent <i>BatchGetItem</i> operation. For more information, see\n        <i>RequestItems</i> in the Request Parameters section.</p>\n    <p>Each element consists of:</p>\n    <ul>\n      <li>\n        <p><i>Keys</i> - An array of primary key attribute values that define specific items in the\n          table.</p>\n      </li>\n      <li>\n        <p><i>AttributesToGet</i> - One or more attributes to be retrieved from the table or index.\n          By default, all attributes are returned. If a specified attribute is not found, it does\n          not appear in the result.</p>\n      </li>\n      <li>\n        <p><i>ConsistentRead</i> - The consistency of a read operation. If set to <code>true</code>,\n          then a strongly consistent read is used; otherwise, an eventually consistent read is\n          used.</p>\n      </li>\n    </ul>\n    <p>If there are no unprocessed keys remaining, the response contains an empty\n        <i>UnprocessedKeys</i> map.</p>"
        },
        "ConsumedCapacity":{
          "shape":"ConsumedCapacityMultiple",
          "documentation":"<p>The write capacity units consumed by the operation.</p>\n    <p>Each element consists of:</p>\n    <ul>\n      <li>\n        <p><i>TableName</i> - The table that consumed the provisioned throughput.</p>\n      </li>\n\n      <li>\n        <p><i>CapacityUnits</i> - The total number of capacity units consumed.</p>\n      </li>\n    </ul>"
        }
      },
      "documentation":"<p>Represents the output of a <i>BatchGetItem</i> operation.</p>"
    },
    "BatchGetRequestMap":{
      "type":"map",
      "key":{"shape":"TableName"},
      "value":{"shape":"KeysAndAttributes"},
      "min":1,
      "max":100
    },
    "BatchGetResponseMap":{
      "type":"map",
      "key":{"shape":"TableName"},
      "value":{"shape":"ItemList"}
    },
    "BatchWriteItemInput":{
      "type":"structure",
      "required":["RequestItems"],
      "members":{
        "RequestItems":{
          "shape":"BatchWriteItemRequestMap",
[...]
