{
  "metadata":{
    "apiVersion":"2014-02-01",
    "endpointPrefix":"ec2",
    "serviceAbbreviation":"Amazon EC2",
    "serviceFullName":"Amazon Elastic Compute Cloud",
    "signatureVersion":"v2",
    "xmlNamespace":"http://ec2.amazonaws.com/doc/2014-02-01",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon Elastic Compute Cloud</fullname>\n        <p>Amazon Elastic Compute Cloud (Amazon EC2) provides resizable computing\n        capacity in the Amazon Web Services (AWS) cloud. Using Amazon EC2 eliminates\n        your need to invest in hardware up front, so you can develop and deploy\n        applications faster.</p>",
  "operations":{
    "AcceptVpcPeeringConnection":{
      "name":"AcceptVpcPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptVpcPeeringConnectionRequest"},
      "output":{"shape":"AcceptVpcPeeringConnectionResult"},
      "documentation":"<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection\n      must be in the <code>pending-acceptance</code> state, and you must be the owner of\n      the peer VPC. Use the <code>DescribeVpcPeeringConnections</code> request to\n      view your outstanding VPC peering connection requests.</p>\n    <examples>\n      <example>\n        <name>Example</name>\n        <description>This example accepts the specified VPC peering connection\n          request.</description>\n        <queryrequest> https://ec2.amazonaws.com/?Action=AcceptVpcPeeringConnection\n&amp;vpcPeeringConnectionId=pcx-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n        <queryresponse>&lt;AcceptVpcPeeringConnectionResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;vpcPeeringConnection&gt;\n   &lt;vpcPeeringConnectionId&gt;pcx-1a2b3c4d&lt;/vpcPeeringConnectionId&gt;\n   &lt;requesterVpcInfo&gt;\n     &lt;ownerId&gt;123456789012&lt;/ownerId&gt;\n     &lt;vpcId&gt;vpc-1a2b3c4d&lt;/vpcId&gt;\n     &lt;cidrBlock&gt;10.0.0.0/28&lt;/cidrBlock&gt;\n   &lt;/requesterVpcInfo&gt;\n   &lt;accepterVpcInfo&gt;\n     &lt;ownerId&gt;777788889999&lt;/ownerId&gt;\n     &lt;vpcId&gt;vpc-111aaa22&lt;/vpcId&gt;\n     &lt;cidrBlock&gt;10.0.1.0/28&lt;/cidrBlock&gt;\n   &lt;/accepterVpcInfo&gt;\n   &lt;status&gt;\n     &lt;code&gt;active&lt;/code&gt;\n     &lt;message&gt;Active&lt;/message&gt;\n    &lt;/status&gt;\n   &lt;tagSet/&gt;\n  &lt;/vpcPeeringConnection&gt;\n &lt;/AcceptVpcPeeringConnectionResponse&gt;\"</queryresponse>\n      </example>\n    </examples>"
    },
    "AllocateAddress":{
      "name":"AllocateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateAddressRequest"},
      "output":{"shape":"AllocateAddressResult"},
      "documentation":"<p>Acquires an Elastic IP address.</p>\n     <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC.\n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example for EC2-Classic</name>\n       <description>This example request allocates an Elastic IP address for use with instances in EC2-Classic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AllocateAddress\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AllocateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;publicIp&gt;192.0.2.1&lt;/publicIp&gt;\n   &lt;domain&gt;standard&lt;/domain&gt;\n&lt;/AllocateAddressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example for EC2-VPC</name>\n       <description>This example request allocates an Elastic IP address for use with instances in a VPC.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AllocateAddress\nDomain=vpc\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AllocateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;publicIp&gt;198.51.100.1&lt;/publicIp&gt;\n   &lt;domain&gt;vpc&lt;/domain&gt;\n   &lt;allocationId&gt;eipalloc-5723d13e&lt;/allocationId&gt;\n&lt;/AllocateAddressResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AssignPrivateIpAddresses":{
      "name":"AssignPrivateIpAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignPrivateIpAddressesRequest"},
      "documentation":"<p>Assigns one or more secondary private IP addresses to the specified network interface. You\n\t\t\t\tcan specify one or more specific secondary IP addresses, or\n\t\t\t\tyou can specify the number of secondary IP addresses to be automatically assigned\n\t\t\t\twithin the subnet's CIDR block range. The number of secondary IP addresses that you\n\t\t\t\tcan assign to an instance varies by instance type. For information about\n\t\t\t\tinstance types, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance Types</a> \n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about Elastic IP\n\t\t\t\taddresses, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP\n\t\t\t\tAddresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <p>AssignPrivateIpAddresses is available only in EC2-VPC.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example assigns two secondary private IP addresses (<code>10.0.2.1</code> and\n\t\t\t\t\t<code>10.0.2.11</code>) to the specified network interface.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssignPrivateIpAddresses\n&amp;NetworkInterfaceId=eni-d83388b1\n&amp;PrivateIpAddress.0=10.0.2.1\n&amp;PrivateIpAddress.1=10.0.2.11\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssignPrivateIpAddresses xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AssignPrivateIpAddresses&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example assigns two secondary private IP addresses to the specified network\n\t\t\t\t\tinterface. Amazon EC2 automatically assigns these IP addresses from the available IP\n\t\t\t\t\taddresses within the subnet's CIDR block range.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssignPrivateIpAddresses\n&amp;NetworkInterfaceId=eni-d83388b1\n&amp;SecondaryPrivateIpAddressCount=2\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssignPrivateIpAddresses xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AssignPrivateIpAddresses&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AssociateAddress":{
      "name":"AssociateAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAddressRequest"},
      "output":{"shape":"AssociateAddressResult"},
      "documentation":"<p>Associates an Elastic IP address with an instance or a network interface.</p>\n     <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC.\n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <p>[EC2-Classic, default VPC] If the Elastic IP address is already associated with a different\n\t\t\t\tinstance, it is disassociated from that instance and associated with the specified\n\t\t\t\tinstance.</p>\n     <p>[EC2-VPC] If you don't specify a private IP address, the Elastic IP address is\n\t\t\t\tassociated with the primary IP address. If the Elastic IP address is already\n\t\t\t\tassociated with a different instance or a network interface, you get an error unless\n\t\t\t\tyou allow reassociation.</p>\n     <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2\n\t\t\t\tdoesn't return an error.</p>\n     <examples>\n      <example>\n       <name>Example for EC2-Classic</name>\n       <description>This example request associates an Elastic IP address with an instance in\n\t\t\t\t\tEC2-Classic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateAddress\n&amp;InstanceId=i-2ea64347\n&amp;PublicIp=192.0.2.1\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;return&gt;true&lt;/return&gt;\n&lt;/AssociateAddressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example for EC2-VPC</name>\n       <description>This example request associates a Elastic IP address with an instance in a VPC.\n\t\t\t\t\tThe <code>AllowReassignment</code> parameter allows the Elastic IP address to be associated with \n\t\t\t\t\tthe specified instance even if it's already associated with a different instance or a network interface.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateAddress\n&amp;InstanceId=i-4fd2431a\n&amp;AllocationId=eipalloc-5723d13e\n&amp;AllowReassignment=true\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n   &lt;associationId&gt;eipassoc-fc5ca095&lt;/associationId&gt;\n&lt;/AssociateAddressResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AssociateDhcpOptions":{
      "name":"AssociateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDhcpOptionsRequest"},
      "documentation":"<p>Associates a set of DHCP options (that you've previously created) with the\n\t\t\t  specified VPC, or associates no DHCP options with the VPC.</p>\n\t\t <p>After you associate the options with the VPC, any existing instances and all new\n \t\t\t  instances that you launch in that VPC use the options. You don't need to restart or\n\t \t\t  relaunch the instances. They automatically pick up the changes within a few hours,\n\t\t \t  depending on how frequently the instance renews its DHCP lease. You can\n\t\t\t  explicitly renew the lease using the operating system on the instance.</p>\n\t\t <p>For more information,\n\t\t\t  see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html\">DHCP Options Sets</a> \n\t\t\t  in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example associates the DHCP options with the ID <code>dopt-7a8b9c2d</code> with the VPC\n\t\t\t\t\twith the ID <code>vpc-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateDhcpOptions \n&amp;DhcpOptionsId=dopt-7a8b9c2d\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateDhcpOptionsResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt; \n&lt;/AssociateDhcpOptionsResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example changes the VPC with the ID <code>vpc-1a2b3c4d</code> to have no \n\t\t\t\t\tassociated DHCP options set.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateDhcpOptions \n&amp;DhcpOptionsId=default\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateDhcpOptionsResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt; \n&lt;/AssociateDhcpOptionsResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AssociateRouteTable":{
      "name":"AssociateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateRouteTableRequest"},
      "output":{"shape":"AssociateRouteTableResult"},
      "documentation":"<p>Associates a subnet with a route table. The subnet and route table must be in the same VPC.\n\t\t\t\tThis association causes traffic originating from the subnet to be routed according\n\t\t\t\tto the routes in the route table. The action returns an association ID, which you\n\t\t\t\tneed in order to disassociate the route table from the subnet later. A route table\n\t\t\t\tcan be associated with multiple subnets.</p>\n\t\t <p>For more information about route tables, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Route_Tables.html\">Route Tables</a> in the\n\t\t\t\t<i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example associates a route table with the ID <code>rtb-e4ad488d</code> with a subnet with\n\t\t\t\t\tthe ID <code>subnet-15ad487c</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateRouteTable\n&amp;RouteTableId=rtb-e4ad488d\n&amp;SubnetId=subnet-15ad487c</queryrequest>\n       <queryresponse>&lt;AssociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;associationId&gt;rtbassoc-f8ad4891&lt;/associationId&gt;\n&lt;/AssociateRouteTableResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AttachInternetGateway":{
      "name":"AttachInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInternetGatewayRequest"},
      "documentation":"<p>Attaches an Internet gateway to a VPC, enabling connectivity between the Internet\n\t\t\t\tand the VPC. For more information about your VPC and Internet gateway, see the\n\t\t\t\t<a href=\"http://docs.&awsdomain;/AmazonVPC/latest/UserGuide/\">Amazon Virtual Private Cloud User Guide</a>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the Internet gateway with the ID <code>igw-eaad4883</code> to the VPC with\n\t\t\t\t\tthe ID <code>vpc-11ad4878</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachInternetGateway\n&amp;InternetGatewayId=igw-eaad4883\n&amp;VpcId=vpc-11ad4878\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachInternetGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AttachInternetGatewayResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AttachNetworkInterface":{
      "name":"AttachNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachNetworkInterfaceRequest"},
      "output":{"shape":"AttachNetworkInterfaceResult"},
      "documentation":"<p>Attaches a network interface to an instance.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the specified network interface \n\t\t\t\t\tto the specified instance.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachNetworkInterface\n&amp;DeviceIndex=1\n&amp;InstanceId=i-9cc316fe\n&amp;NetworkInterfaceId=eni-ffda3197\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachNetworkInterfaceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n    &lt;requestId&gt;ace8cd1e-e685-4e44-90fb-92014d907212&lt;/requestId&gt;\n    &lt;attachmentId&gt;eni-attach-d94b09b0&lt;/attachmentId&gt;\n&lt;/AttachNetworkInterfaceResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AttachVolume":{
      "name":"AttachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVolumeRequest"},
      "output":{
        "shape":"VolumeAttachment",
        "locationName":"attachment",
        "queryName":"Attachment"
      },
      "documentation":"<p>Attaches an Amazon EBS volume to a running or stopped instance and exposes it to the instance\n     with the specified device name.</p>\n  <p>For a list of supported device names, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html\">Attaching an Amazon EBS Volume to an Instance</a>. Any device names that aren't reserved\n      for instance store volumes can be used for Amazon EBS volumes. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/InstanceStorage.html\">Amazon EC2 Instance Store</a> in the\n        <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <p>If a volume has an AWS Marketplace product code:</p>\n    <ul>\n     <li>The volume can only be attached as the root device of a stopped instance.</li>\n     <li>You must be subscribed to the AWS Marketplace code that is on the volume.</li>\n     <li>The configuration (instance type, operating system) of the instance must support that\n      specific AWS Marketplace code. For example, you cannot take a volume from a Windows instance\n      and attach it to a Linux instance.</li>\n     <li>AWS Marketplace product codes are copied from the volume to the instance.</li>\n    </ul>\n     <p>For an overview of the AWS Marketplace, see <a href=\"https://aws.amazon.com/marketplace/help/200900000\">https://aws.amazon.com/marketplace/help/200900000</a>. For more information about how to use the AWS\n      Marketplace, see <a href=\"https://aws.amazon.com/marketplace\">AWS Marketplace</a>.</p>\n     <p>For more information about Amazon EBS volumes, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html\">Attaching Amazon EBS Volumes</a> in the\n       <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example 1</name>\n    <description>This example request attaches the volume with the ID <code>vol-1a2b3c4d</code> to\n     the instance with the ID <code>i-1a2b3c4d</code> and exposes it as\n     <code>/dev/sdh</code>.</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=AttachVolume\n&amp;VolumeId=vol-1a2b3c4d\n&amp;InstanceId=i-1a2b3c4d\n&amp;Device=/dev/sdh\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse>&lt;AttachVolumeResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;volumeId&gt;vol-1a2b3c4d&lt;/volumeId&gt;\n  &lt;instanceId&gt;i-1a2b3c4d&lt;/instanceId&gt;\n  &lt;device&gt;/dev/sdh&lt;/device&gt;\n  &lt;status&gt;attaching&lt;/status&gt;\n  &lt;attachTime&gt;YYYY-MM-DDTHH:MM:SS.000Z&lt;/attachTime&gt;\n&lt;/AttachVolumeResponse&gt;</queryresponse>\n   </example>\n  </examples>"
    },
    "AttachVpnGateway":{
      "name":"AttachVpnGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVpnGatewayRequest"},
      "output":{"shape":"AttachVpnGatewayResult"},
      "documentation":"<p>Attaches a virtual private gateway to a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_VPN.html\">Adding a Hardware Virtual Private Gateway\n\t\t\t\t\tto Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the virtual private gateway with the ID <code>vgw-8db04f81</code> to the VPC with the ID\n\t\t\t\t\t<code>vpc-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachVpnGateway\n&amp;VpnGatewayId=vgw-8db04f81\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachVpnGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;attachment&gt;\n      &lt;vpcId&gt;vpc-1a2b3c4d&lt;/vpcId&gt;\n      &lt;state&gt;attaching&lt;/state&gt;\n   &lt;/attachment&gt;\n&lt;/AttachVpnGatewayResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AuthorizeSecurityGroupEgress":{
      "name":"AuthorizeSecurityGroupEgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupEgressRequest"},
      "documentation":"<p>Adds one or more egress rules to a security group for use with a VPC.\n\t\t\t\tSpecifically, this action permits instances to send traffic to one or more\n\t\t\t\tCIDR IP address ranges, or to one or more security groups\tfor the same VPC.</p>\n\t\t\t<important>\n\t\t\t\t<p>You can have up to 50 rules per security group (covering both ingress and\n\t\t\t\t\tegress rules).</p>\n\t\t\t</important>\n     <p>A security group is for use with instances either in the EC2-Classic platform or in a specific VPC.\n\t\t\t\tThis action doesn't apply to security groups for use in EC2-Classic. \n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in\n\t\t\t\tthe <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <p>Each rule consists of the protocol (for example, TCP), plus either a CIDR range or\n\t\t\t\ta source group. For the TCP and UDP protocols, you must also specify the destination\n\t\t\t\tport or port range. For the ICMP protocol, you must also specify the ICMP type and\n\t\t\t\tcode. You can use -1 for the type or code to mean all types or all codes.</p>\n     <p>Rule changes are propagated to affected instances as quickly as possible. However,\n\t\t\t\ta small delay might occur.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example request grants your security group with the ID <code>sg-1a2b3c4d</code> access to the\n\t\t\t\t\t<code>192.0.2.0/24</code> and <code>198.51.100.0/24</code> address ranges on TCP port 80.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupEgress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.IpRanges.1.CidrIp=192.0.2.0/24\n&amp;IpPermissions.1.IpRanges.2.CidrIp=198.51.100.0/24\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AuthorizeSecurityGroupEgressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AuthorizeSecurityGroupEgressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example request grants egress access from the security group with the ID <code>sg-1a2b3c4d</code> \n\t\t\t\t\tto the security group with the ID <code>sg-9a8d7f5c</code> on TCP port 1433.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupEgress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=1433\n&amp;IpPermissions.1.ToPort=1433\n&amp;IpPermissions.1.Groups.1.GroupId=sg-9a8d7f5c\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AuthorizeSecurityGroupEgressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AuthorizeSecurityGroupEgressResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "AuthorizeSecurityGroupIngress":{
      "name":"AuthorizeSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSecurityGroupIngressRequest"},
      "documentation":"<p>Adds one or more ingress rules to a security group.</p>\n\t\t\t<important>\n\t\t\t\t<p>EC2-Classic: You can have up to 100 rules per group.</p>\n\t\t\t\t<p>EC2-VPC: You can have up to 50 rules per group (covering both ingress and\n\t\t\t\t\tegress rules).</p>\n\t\t\t</important>\n     <p>Rule changes are propagated to instances within the security group as quickly as\n\t\t\t\tpossible. However, a small delay might occur.</p>\n     <p>[EC2-Classic] This action gives one or more CIDR IP address ranges permission to\n\t\t\t\taccess a security group in your account, or gives one or more security groups\n\t\t\t\t(called the <i>source groups</i>) permission to access a security\n\t\t\t\tgroup for your account. A source group can be for your own AWS account, or another.</p>\n     <p>[EC2-VPC] This action gives one or more CIDR IP address ranges permission to\n\t\t\t\taccess a security group in your VPC, or gives one or more other security groups\n\t\t\t\t(called the <i>source groups</i>) permission to access a security\n\t\t\t\tgroup for your VPC. The security groups must all be for the same VPC.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example request grants TCP port 80 access from the <code>192.0.2.0/24</code>\n\t\t\t\t\tand <code>198.51.100.0/24</code> address ranges to the security group for EC2-Classic \n\t\t\t\t\tnamed <code>websrv</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=websrv\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.IpRanges.1.CidrIp=192.0.2.0/24\n&amp;IpPermissions.1.IpRanges.2.CidrIp=198.51.100.0/24\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example request grants TCP port 80\n\t\t\t\t\taccess from the source group for EC2-Classic named <code>OtherAccountGroup</code> (in AWS\n\t\t\t\t\taccount <code>123456789012</code>) to the security group for EC2-Classic named <code>websrv</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=websrv\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.Groups.1.GroupName=OtherAccountGroup\n&amp;IpPermissions.1.Groups.1.UserId=123456789012\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 3</name>\n       <description>This example request grants TCP port\n\t\t\t\t\t80 access from the source group named <code>OtherGroupInMyVPC</code>\n\t\t\t\t\t(with the ID <code>sg-2a2b3c4d</code>) to the security group named <code>VpcWebServers</code> \n\t\t\t\t\t(with the ID <code>sg-1a2b3c4d</code>). In EC2-VPC, you must use the security group IDs in \n\t\t\t\t\ta request, not the security group names. In this example, your AWS account ID is <code>123456789012</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.Groups.1.GroupId=sg-2a2b3c4d\n&amp;IpPermissions.1.Groups.1.UserId=123456789012\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 4</name>\n       <description>This example request grants your local\n\t\t\t\t\tsystem the ability to use SSH (port 22) to connect to any instance in the security group\n\t\t\t\t\tnamed <code>default</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/\n?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=default\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=22\n&amp;IpPermissions.1.ToPort=22\n&amp;IpPermissions.1.IpRanges.1.CidrIp=<i>your-local-system's-public-ip-address</i>/32\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 5</name>\n       <description>This example request grants your local system\n\t\t\t\t\tthe ability to use Remote Desktop (port 3389) to connect to any instance in the security group\n\t\t\t\t\tnamed <code>default</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/\n?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=default\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=3389\n&amp;IpPermissions.1.ToPort=3389\n&amp;IpPermissions.1.IpRanges.1.CidrIp=<i>your-local-system's-public-ip-address</i>/32</queryrequest>\n      </example>\n     </examples>"
    },
    "BundleInstance":{
      "name":"BundleInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BundleInstanceRequest"},
      "output":{"shape":"BundleInstanceResult"},
      "documentation":"<p>Bundles an Amazon instance store-backed Windows instance.</p>\n     <p>During bundling, only the root device volume (C:\\) is bundled. Data on other\n\t\t\t\tinstance store volumes is not preserved.</p>\n     <note>\n       <p>This procedure is not applicable for Linux/Unix instances or Windows instances\n          that are backed by Amazon EBS.</p>\n\t\t\t</note>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/Creating_InstanceStoreBacked_WinAMI.html\">Creating an Instance Store-Backed Windows AMI</a>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>\n         <p>This example request bundles the specified instance.</p>\n         <p>Before you specify a value for your access key ID, review and follow the guidance  \n           in <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best Practices for Managing AWS Access Keys</a>.</p>\n       </description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=BundleInstance\n&amp;InstanceId=i-e468cd8d\n&amp;Storage.S3.AWSAccessKeyId='AKIAIOSFODNN7EXAMPLE'\n&amp;Storage.S3.Bucket=myawsbucket \n&amp;Storage.S3.Prefix=winami\n&amp;Storage.S3.UploadPolicy=eyJleHBpcmF0aW9uIjogIjIwMDgtMDgtMzBUMDg6NDk6MD\nlaIiwiY29uZGl0aW9ucyI6IFt7ImJ1Y2tldCI6ICJteS1idWNrZXQifSxbInN0YXJ0cy13aXRoIiwgI\niRrZXkiLCAibXktbmV3LWltYWdlIl0seyJhY2wiOiAiZWMyLWJ1bmRsZS1yZWFkIn1dfEXAMPLE\n&amp;Storage.S3.UploadPolicySignature=fh5tyyyQD8W4COEthj3nlGNEXAMPLE \n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;BundleInstanceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;bundleInstanceTask&gt;\n      &lt;instanceId&gt;i-12345678&lt;/instanceId&gt;\n      &lt;bundleId&gt;bun-c1a540a8&lt;/bundleId&gt;\n      &lt;state&gt;bundling&lt;/state&gt;\n      &lt;startTime&gt;2008-10-07T11:41:50.000Z&lt;/startTime&gt;\n      &lt;updateTime&gt;2008-10-07T11:51:50.000Z&lt;/updateTime&gt;\n      &lt;progress&gt;70%&lt;/progress&gt;\n      &lt;storage&gt;\n        &lt;S3&gt;\n          &lt;bucket&gt;myawsbucket&lt;/bucket&gt;\n          &lt;prefix&gt;winami&lt;/prefix&gt;\n        &lt;/S3&gt;\n      &lt;/storage&gt;\n  &lt;/bundleInstanceTask&gt;\n&lt;/BundleInstanceResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CancelBundleTask":{
      "name":"CancelBundleTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelBundleTaskRequest"},
      "output":{"shape":"CancelBundleTaskResult"},
      "documentation":"<p>Cancels a bundling operation for an instance store-backed Windows instance.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request cancels the specified bundle task.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelBundleTask\n&amp;BundleId=bun-cla322b9\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CancelBundleTaskResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;bundleInstanceTask&gt;\n      &lt;instanceId&gt;i-12345678&lt;/instanceId&gt;\n      &lt;bundleId&gt;bun-cla322b9&lt;/bundleId&gt;\n      &lt;state&gt;canceling&lt;/state&gt;\n      &lt;startTime&gt;2008-10-07T11:41:50.000Z&lt;/startTime&gt;\n      &lt;updateTime&gt;2008-10-07T11:51:50.000Z&lt;/updateTime&gt;\n      &lt;progress&gt;20%&lt;/progress&gt;\n      &lt;storage&gt;\n        &lt;S3&gt;\n          &lt;bucket&gt;myawsbucket&lt;/bucket&gt;\n          &lt;prefix&gt;my-new-image&lt;/prefix&gt;\n        &lt;/S3&gt;\n      &lt;/storage&gt;\n  &lt;/bundleInstanceTask&gt;\n&lt;/CancelBundleTaskResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CancelConversionTask":{
      "name":"CancelConversionTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelConversionRequest"},
      "documentation":"<p>Cancels an active conversion task. The task can be the import of an instance or volume. The\n     action removes all artifacts of the conversion, including a partially uploaded volume or\n     instance. If the conversion is complete or is in the process of transferring the final disk\n     image, the command fails and returns an exception.</p>\n    \n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/UploadingYourInstancesandVolumes.html\">Using the Command Line Tools to Import Your Virtual Machine to Amazon\n     EC2</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example request cancels the conversion task with the ID <code>import-i-fh95npoc</code>.</description>        \n      <queryrequest>https://ec2.amazonaws.com/?Action=CancelConversionTask\n&amp;ConversionTaskId=import-i-fh95npoc\n&amp;AUTHPARAMS</queryrequest>\n      <queryresponse><CancelConversionTaskResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId>\n   <return>true</return>\n</CancelConversionTaskResponse></queryresponse>\n     </example>\n    </examples>"
    },
    "CancelExportTask":{
      "name":"CancelExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelExportTaskRequest"},
      "documentation":"<p>Cancels an active export task. The request removes all artifacts of the export,\n     including any partially-created Amazon S3 objects. If the export task is complete or\n     is in the process of transferring the final disk image, the command fails and\n     returns an error.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example request cancels the export task with the ID <code>export-i-1234wxyz</code>.</description>        \n      <queryrequest>https://ec2.amazonaws.com/?Action=CancelExportTask\n       &amp;exportTaskId=export-i-1234wxyz\n       &amp;AUTHPARAMS</queryrequest>\n      <queryresponse><CancelExportTask xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n<requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId>\n<return>true</return>\n</CancelExportTask></queryresponse>\n     </example>\n    </examples>"
    },
    "CancelReservedInstancesListing":{
      "name":"CancelReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReservedInstancesListingRequest"},
      "output":{"shape":"CancelReservedInstancesListingResult"},
      "documentation":"<p>Cancels the specified Reserved Instance listing in the Reserved Instance Marketplace.</p>\n     <p>For more information, see \n        <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-market-general.html\">Reserved Instance Marketplace</a> \n        in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request cancels a Reserved Instance listing in the Reserved Instance Marketplace.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelReservedInstancesListing\n&amp;ReservedInstancesListingId=3ebe97b5-f273-43b6-a204-7a18cEXAMPLE\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CancelReservedInstancesListingResponse>\n    <requestId>bec2cf62-98ef-434a-8a15-886fcexample</requestId>\n    <reservedInstancesListingsSet>\n        <item>\n            <reservedInstancesListingId>3ebe97b5-f273-43b6-a204-7a18cEXAMPLE</reservedInstancesListingId>\n            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>\n            <createDate>2012-07-12T16:55:28.000Z</createDate>\n            <updateDate>2012-07-12T16:55:28.000Z</updateDate>\n            <status>cancelled</status>\n            <statusMessage>CANCELLED</statusMessage>\n            <instanceCounts>\n                <item>\n                    <state>Available</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Sold</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Cancelled</state>\n                    <instanceCount>1</instanceCount>\n                </item>\n                <item>\n                    <state>Pending</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n            </instanceCounts>\n            <priceSchedules>\n                <item>\n                    <term>5</term>\n                    <price>166.64</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>4</term>\n                    <price>133.32</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>3</term>\n                    <price>99.99</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>2</term>\n                    <price>66.66</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>1</term>\n                    <price>33.33</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n            </priceSchedules>\n            <tagSet/>\n            <clientToken>XqJIt1342112125076</clientToken>\n        </item>\n    </reservedInstancesListingsSet>\n</CancelReservedInstancesListingResponse></queryresponse>\n      </example>\n     </examples>"
    },
    "CancelSpotInstanceRequests":{
      "name":"CancelSpotInstanceRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSpotInstanceRequestsRequest"},
      "output":{"shape":"CancelSpotInstanceRequestsResult"},
      "documentation":"<p>Cancels one or more Spot Instance requests. Spot Instances are instances that\n\t\t\t\tAmazon EC2 starts on your behalf when the maximum price that you specify exceeds the\n\t\t\t\tcurrent Spot Price. Amazon EC2 periodically sets the Spot Price based on available\n\t\t\t\tSpot Instance capacity and current Spot Instance requests. For more information\n\t\t\t\tabout Spot Instances, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-spot-instances.html\">Spot\n\t\t\t\t\tInstances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <important>\n       <p>Canceling a Spot Instance request does not terminate running Spot Instances\n\t\t\t\t\tassociated with the request.</p>\n     </important>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example cancels the specified Spot Instance request.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelSpotInstanceRequests\n&amp;SpotInstanceRequestId.1=sir-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CancelSpotInstanceRequestsResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;spotInstanceRequestSet&gt;\n    &lt;item&gt;\n      &lt;spotInstanceRequestId&gt;sir-1a2b3c4d&lt;/spotInstanceRequestId&gt;\n      &lt;state&gt;cancelled&lt;/state&gt;\n    &lt;/item&gt;\n  &lt;/spotInstanceRequestSet&gt;\n&lt;/CancelSpotInstanceRequestsResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "ConfirmProductInstance":{
      "name":"ConfirmProductInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmProductInstanceRequest"},
      "output":{"shape":"ConfirmProductInstanceResult"},
      "documentation":"<p>Determines whether a product code is associated with an instance. This action can\n\t\t\t\tonly be used by the owner of the product code. It is useful when a product code\n\t\t\t\towner needs to verify whether another user's instance is eligible for\n\t\t\t\tsupport.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example determines whether the specified product code is associated with the\n\t\t\t\t\tspecified instance.</description>\n      <queryrequest>https://ec2.amazonaws.com/?Action=ConfirmProductInstance\n&amp;ProductCode=774F4FF8\n&amp;InstanceId=i-10a64379\n&amp;AUTHPARAMS</queryrequest>\n      <queryresponse>&lt;ConfirmProductInstanceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;return&gt;true&lt;/return&gt;\n  &lt;ownerId&gt;111122223333&lt;/ownerId&gt;\n&lt;/ConfirmProductInstanceResponse&gt;</queryresponse>\n     </example>\n    </examples>"
    },
    "CopyImage":{
      "name":"CopyImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyImageRequest"},
      "output":{"shape":"CopyImageResult"},
      "documentation":"<p>Initiates the copy of an AMI from the specified source region to the region in\n\t\t\t\twhich the request was made.</p>\n     <p>In cross-region copy operations, the AMI is copied from the region specified with the --source-region option to \n       the region specified with the <code>--region</code> option or the <code>EC2_URL</code> environment variable.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html\">Copying AMIs</a>\n        in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request copies the AMI in <code>us-west-2</code> with the ID <code>ami-1a2b3c4d</code>,\n\t\t\t\t\tnaming the new AMI <code>My-Standard-AMI</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CopyImage\n&amp;SourceRegion=us-west-2\n&amp;SourceImageId=ami-1a2b3c4d  \n&amp;Name=My-Standard-AMI\n&amp;Description=This%20is%20the%20new%20version%20of%20My-Standard-AMI     \n&amp;ClientToken=550e8400-e29b-41d4-a716-446655440000\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CopyImageResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;60bc441d-fa2c-494d-b155-5d6a3EXAMPLE&lt;/requestId&gt;\n   &lt;imageId&gt;ami-4d3c2b1a&lt;/imageId&gt;\n&lt;/CopyImageResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotRequest"},
      "output":{"shape":"CopySnapshotResult"},
      "documentation":"<p>Copies a point-in-time snapshot of an Amazon EBS volume and stores it in Amazon S3. You can copy the snapshot within the same region or from one region to another. You can\n     use the snapshot to create Amazon EBS volumes or Amazon Machine Images (AMIs).</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-copy-snapshot.html\">Copying an Amazon EBS Snapshot</a> in the\n       <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example</name>\n    <description>This example request copies the snapshot in the us-west-1 region with the ID\n      <code>snap-1a2b3c4d</code>.</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=CopySnapshot\n&amp;SourceRegion=us-west-1\n&amp;SourceSnapshotId=snap-1a2b3c4d\n&amp;Description=My_snapshot\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse>&lt;CopySnapshotResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;60bc441d-fa2c-494d-b155-5d6a3EXAMPLE&lt;/requestId&gt;\n  &lt;snapshotId&gt;snap-2a2b3c4d&lt;/snapshotId&gt;\n&lt;/CopySnapshotResponse&gt;</queryresponse>\n   </example>\n  </examples>"
    },
    "CreateCustomerGateway":{
      "name":"CreateCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomerGatewayRequest"},
      "output":{"shape":"CreateCustomerGatewayResult"},
      "documentation":"<p>Provides information to AWS about your VPN customer gateway device. The customer\n\t\t\t\tgateway is the appliance at your end of the VPN connection. (The device on the AWS\n\t\t\t\tside of the VPN connection is the virtual private gateway.) You must provide the\n\t\t\t\tInternet-routable IP address of the customer gateway's external interface. The IP\n\t\t\t\taddress must be static and can't be behind a device performing network address\n\t\t\t\ttranslation (NAT).</p>\n\t\t <p>For devices that use Border Gateway Protocol (BGP), you can also provide the\n\t\t\t\tdevice's BGP Autonomous System Number (ASN). You can use an existing ASN assigned to\n\t\t\t\tyour network. If you don't have an ASN already, you can use a private ASN (in the\n\t\t\t\t64512 - 65534 range).</p>\n\t\t\t<note>\n\t\t\t\t<p>Amazon EC2 supports all 2-byte ASN numbers in the range of 1 - 65534, with the\n\t\t\t\t\texception of 7224, which is reserved in the <code>us-east-1</code> region, and 9059, which is\n\t\t\t\t\treserved in the <code>eu-west-1</code> region.</p>\n\t\t\t</note>\n\t\t <p>For more information about VPN customer gateways, see\n\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_VPN.html\">Adding a Hardware\n\t\t\t\t\tVirtual Private Gateway to Your VPC</a> in the\n\t\t\t\t\t<i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example passes information to AWS about the customer gateway with the IP\n\t\t\t\t\taddress <code>12.1.2.3</code> and BGP ASN 65534.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateCustomerGateway\n&amp;Type=ipsec.1\n&amp;IpAddress=12.1.2.3\n&amp;BgpAsn=65534\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateCustomerGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;customerGateway&gt;\t\t\n      &lt;customerGatewayId&gt;cgw-b4dc3961&lt;/customerGatewayId&gt;\n      &lt;state&gt;pending&lt;/state&gt;\n      &lt;type&gt;ipsec.1&lt;/type&gt;\n      &lt;ipAddress&gt;12.1.2.3&lt;/ipAddress&gt;\n      &lt;bgpAsn&gt;65534&lt;/bgpAsn&gt;\n      &lt;tagSet/&gt;\n   &lt;/customerGateway&gt;\n&lt;/CreateCustomerGatewayResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateDhcpOptions":{
      "name":"CreateDhcpOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDhcpOptionsRequest"},
      "output":{"shape":"CreateDhcpOptionsResult"},
      "documentation":"<p>Creates a set of DHCP options for your VPC. After creating the set, you must\n\t\t\t\tassociate it with the VPC, causing all existing and new instances that you launch in\n\t\t\t\tthe VPC to use this set of DHCP options. The following are the individual DHCP\n\t\t\t\toptions you can specify. For more information about the options, see <a href=\"http://www.ietf.org/rfc/rfc2132.txt\">RFC 2132</a>.</p>\n    <ul>\n      <li>\n<code>domain-name-servers</code> - The IP addresses of up to four domain name servers, or\n          <code>AmazonProvidedDNS</code>. The default DHCP option set specifies\n          <code>AmazonProvidedDNS</code>. If specifying more than one domain name server, specify\n        the IP addresses in a single parameter, separated by commas.</li>\n      <li>\n<code>domain-name</code> - If you're using AmazonProvidedDNS in <code>us-east-1</code>,\n        specify <code>ec2.internal</code>. If you're using AmazonProvidedDNS in another region,\n        specify <code>region.compute.internal</code> (for example,\n          <code>ap-northeast-1.compute.internal</code>). Otherwise, specify a domain name (for\n        example, <code>MyCompany.com</code>).</li>\n      <li>\n<code>ntp-servers</code> - The IP addresses of up to four Network Time Protocol (NTP)\n        servers.</li>\n      <li>\n<code>netbios-name-servers</code> - The IP addresses of up to four NetBIOS name\n        servers.</li>\n      <li>\n<code>netbios-node-type</code> - The NetBIOS node type (1, 2, 4, or 8). We recommend that\n        you specify 2 (broadcast and multicast are not currently supported). For more information\n        about these node types, see <a href=\"http://www.ietf.org/rfc/rfc2132.txt\">RFC 2132</a>. </li>\n    </ul>\n     <p>For more information about DHCP options, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html\">DHCP Options Sets</a>\n\t\t\t\tin the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a set of DHCP options with a domain name\n            <code>example.com</code> and two DNS servers (<code>10.2.5.1</code> and\n            <code>10.2.5.2</code>). The DNS servers' IP addresses are specified in a single\n          parameter, separated by commas, to preserve the order in which they are\n          specified.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateDhcpOptions \n&amp;DhcpConfiguration.1.Key=domain-name\n&amp;DhcpConfiguration.1.Value.1=example.com\n&amp;DhcpConfiguration.2.Key=domain-name-servers\n&amp;DhcpConfiguration.2.Value.1=10.2.5.1,10.2.5.2\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateDhcpOptionsResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n  &lt;dhcpOptions&gt;\n      &lt;dhcpOptionsId&gt;dopt-7a8b9c2d&lt;/dhcpOptionsId&gt;\n      &lt;dhcpConfigurationSet&gt;\n        &lt;item&gt;\n          &lt;key&gt;domain-name&lt;/key&gt;\n          &lt;valueSet&gt;\n            &lt;item&gt;\n              &lt;value&gt;example.com&lt;/value&gt;\n            &lt;/item&gt;\n          &lt;/valueSet&gt;\n        &lt;/item&gt;\n        &lt;item&gt;\n          &lt;key&gt;domain-name-servers&lt;/key&gt;\n          &lt;valueSet&gt;\n            &lt;item&gt;\n              &lt;value&gt;10.2.5.1&lt;/value&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n              &lt;value&gt;10.2.5.2&lt;/value&gt;\n            &lt;/item&gt;\n          &lt;/valueSet&gt;\n        &lt;/item&gt;\n      &lt;/dhcpConfigurationSet&gt;\n      &lt;tagSet/&gt;\n  &lt;/dhcpOptions&gt;\n&lt;/CreateDhcpOptionsResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResult"},
      "documentation":"<p>Creates an Amazon EBS-backed AMI from an Amazon EBS-backed instance that is either\n\t\t\t\trunning or stopped.</p>\n     <p>If you customized your instance with instance store volumes or EBS volumes\n\t\t\t\tin addition to the root device volume, the new AMI contains block device mapping\n\t\t\t\tinformation for those volumes. When you launch an instance from this new AMI,\n\t\t\t\tthe instance automatically launches with those additional volumes.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/creating-an-ami-ebs.html\">Creating Amazon EBS-Backed Linux AMIs</a> \n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request creates an AMI from the specified instance.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateImage\n&amp;Description=Standard+Web+Server+v1.0\n&amp;InstanceId=i-10a64379\n&amp;Name=standard-web-server-v1.0\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateImageResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;imageId&gt;ami-4fa54026&lt;/imageId&gt;\n&lt;/CreateImageResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateInstanceExportTask":{
      "name":"CreateInstanceExportTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceExportTaskRequest"},
      "output":{"shape":"CreateInstanceExportTaskResult"},
      "documentation":"<p>Exports a running or stopped instance to an Amazon S3 bucket.</p>\n   \n    <p>For information about the supported operating systems, image formats, and known limitations for the\n      types of instances you can export, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ExportingEC2Instances.html\">Exporting EC2 Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example request creates an Export VM task that makes a Windows instance available\n       as an OVA.</description>        \n      <queryrequest>https://ec2.amazonaws.com/?Action=CreateInstanceExportTask\n       &amp;Description=Example%20for%20docs\n       &amp;InstanceId=i-12345678\n       &amp;TargetEnvironment=VMWare\n       &amp;ExportToS3.DiskImageFormat=VMDK\n       &amp;ExportToS3.ContainerFormat=OVA\n       &amp;ExportToS3.S3bucket=my-bucket-for-exported-vm\n       &amp;ExportToS3.S3prefix=my-exports/\n       &amp;AUTHPARAMS</queryrequest>\n      <queryresponse>&lt;CreateInstanceExportTaskResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n       &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n       &lt;exportTask&gt;\n       &lt;exportTaskId&gt;export-i-1234wxyz&lt;/exportTaskId&gt;\n       &lt;description&gt;Example for docs&lt;/description&gt;\n       &lt;state&gt;active&lt;/state&gt;\n       &lt;statusMessage&gt;Running&lt;/statusMessage&gt;\n       &lt;instanceExport&gt;\n       &lt;instanceId&gt;i-12345678&lt;/instanceId&gt;\n       &lt;targetEnvironment&gt;VMWare&lt;/targetEnvironment&gt;\n       &lt;/instanceExport&gt;\n       &lt;exportToS3&gt;\n       &lt;diskImageFormat&gt;VMDK&lt;/diskImageFormat&gt;\n       &lt;containerFormat&gt;OVA&lt;/containerFormat&gt;\n       &lt;s3Bucket&gt;my-bucket-for-exported-vm&lt;/s3Bucket&gt;\n       &lt;s3Key&gt;my-exports/ export-i-1234wxyz .ova&lt;/s3Key&gt;\n       &lt;/exportToS3&gt;\n       &lt;/exportTask&gt;\n       &lt;/CreateInstanceExportTaskResponse&gt;</queryresponse>\n     </example>\n    </examples>"
    },
    "CreateInternetGateway":{
      "name":"CreateInternetGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInternetGatewayRequest"},
      "output":{"shape":"CreateInternetGatewayResult"},
      "documentation":"<p>Creates an Internet gateway for use with a VPC. After creating the Internet\n\t\t\t\tgateway, you attach it to a VPC using <a>AttachInternetGateway</a>.</p>\n\t\t <p>For more information about your VPC and Internet gateway, see the <a href=\"http://docs.&awsdomain;/AmazonVPC/latest/UserGuide/\">Amazon Virtual Private Cloud User Guide</a>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates an Internet gateway.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateInternetGateway\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CreateInternetGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> \n   <internetGateway>\n      <internetGatewayId>igw-eaad4883</internetGatewayId>\n      <attachmentSet/>\n      <tagSet/>\n   </internetGateway>\n</CreateInternetGatewayResponse></queryresponse>\n      </example>\n     </examples>"
    },
    "CreateKeyPair":{
      "name":"CreateKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateKeyPairRequest"},
      "output":{
        "shape":"KeyPair",
        "documentation":"<p>Information about the key pair.</p>",
        "locationName":"keyPair",
        "queryName":"KeyPair"
      },
      "documentation":"<p>Creates a 2048-bit RSA key pair with the specified name. Amazon EC2 stores the public key\n\t\t\t\tand displays the private key for you to save to a file. The private key is\n\t\t\t\treturned as an unencrypted PEM encoded PKCS#8 private key. If a key with the\n\t\t\t\tspecified name already exists, Amazon EC2 returns an error.</p>\n     <p>You can have up to five thousand key pairs per region.</p>\n     <p>For more information about key pairs, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Key Pairs</a> \n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request creates a key pair named <code>my-key-pair</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateKeyPair\n&amp;KeyName=my-key-pair\n&amp;AUTHPARAMS</queryrequest>\n        <queryresponse>&lt;CreateKeyPairResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  <keyName>my-key-pair</keyName>\n  <keyFingerprint>\n     1f:51:ae:28:bf:89:e9:d8:1f:25:5d:37:2d:7d:b8:ca:9f:f5:f1:6f\n  </keyFingerprint>\n  <keyMaterial>---- BEGIN RSA PRIVATE KEY ----\nMIICiTCCAfICCQD6m7oRw0uXOjANBgkqhkiG9w0BAQUFADCBiDELMAkGA1UEBhMC\nVVMxCzAJBgNVBAgTAldBMRAwDgYDVQQHEwdTZWF0dGxlMQ8wDQYDVQQKEwZBbWF6\nb24xFDASBgNVBAsTC0lBTSBDb25zb2xlMRIwEAYDVQQDEwlUZXN0Q2lsYWMxHzAd\nBgkqhkiG9w0BCQEWEG5vb25lQGFtYXpvbi5jb20wHhcNMTEwNDI1MjA0NTIxWhcN\nMTIwNDI0MjA0NTIxWjCBiDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBMRAwDgYD\nVQQHEwdTZWF0dGxlMQ8wDQYDVQQKEwZBbWF6b24xFDASBgNVBAsTC0lBTSBDb25z\nb2xlMRIwEAYDVQQDEwlUZXN0Q2lsYWMxHzAdBgkqhkiG9w0BCQEWEG5vb25lQGFt\nYXpvbi5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMaK0dn+a4GmWIWJ\n21uUSfwfEvySWtC2XADZ4nB+BLYgVIk60CpiwsZ3G93vUEIO3IyNoH/f0wYK8m9T\nrDHudUZg3qX4waLG5M43q7Wgc/MbQITxOUSQv7c7ugFFDzQGBzZswY6786m86gpE\nIbb3OhjZnzcvQAaRHhdlQWIMm2nrAgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAtCu4\nnUhVVxYUntneD9+h8Mg9q6q+auNKyExzyLwaxlAoo7TJHidbtS4J5iNmZgXL0Fkb\nFFBjvSfpJIlJ00zbhNYS5f6GuoEDmFJl0ZxBHjJnyp378OD8uTs7fLvjx79LjSTb\nNYiytVbZPQUQ5Yaxu2jXnimvw3rrszlaEXAMPLE\n-----END RSA PRIVATE KEY-----</keyMaterial>\n</CreateKeyPairResponse></queryresponse>\n      </example>\n      <example>\n       <name>Saving the File</name>\n       <description>Create a file named <filename>my-key-pair.pem</filename> and paste\n\t\t\t\t\tthe entire key from the response into this file.\n\t\t\t\t\tKeep this file in a safe place; it is required to decrypt login information \n\t\t\t\t\twhen you connect to an instance that you launched using this key pair.\n\t\t\t\t\tIf you're using an SSH client on a Linux computer to connect to your instance, \n\t\t\t\t\tuse the following command to set the permissions of your private key file so \n\t\t\t\t\tthat only you can read it.</description>\n       <queryrequest>chmod 400 my-key-pair.pem</queryrequest>\n      </example>\n     </examples>"
    },
    "CreateNetworkAcl":{
      "name":"CreateNetworkAcl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclRequest"},
      "output":{"shape":"CreateNetworkAclResult"},
      "documentation":"<p>Creates a network ACL in a VPC. Network ACLs provide an optional layer of security (in addition\n\t\t\t\tto security groups) for the instances in your VPC.</p>\n\t\t <p>For more information about network ACLs, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_ACLs.html\">Network ACLs</a> in\n\t\t\t\tthe <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a network ACL in the specified VPC. \n\t\t\t\t\tThe response includes a default entry for egress, and another for ingress,\n\t\t\t\t\teach with a very high rule number. These are the last entries we process to\n\t\t\t\t\tdecide whether traffic is allowed in or out of an associated subnet. If the\n\t\t\t\t\ttraffic doesn't match any rules with a lower rule number, then these default\n\t\t\t\t\tentries ultimately deny the traffic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateNetworkAcl\n&amp;VpcId=vpc-11ad4878\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CreateNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> \n   <networkAcl>\n      <networkAclId>acl-5fb85d36</networkAclId>\n      <vpcId>vpc-11ad4878</vpcId>\n      <default>false</default>\n      <entrySet>\n         <item>\n            <ruleNumber>32767</ruleNumber>\n            <protocol>all</protocol>\n            <ruleAction>deny</ruleAction>\n            <egress>true</egress>\n            <cidrBlock>0.0.0.0/0</cidrBlock>\n         </item>\n         <item>\n            <ruleNumber>32767</ruleNumber>\n            <protocol>all</protocol>\n            <ruleAction>deny</ruleAction>\n            <egress>false</egress>\n            <cidrBlock>0.0.0.0/0</cidrBlock>\n         </item>\n      </entrySet>\n      <associationSet/>\n      <tagSet/>\n   </networkAcl>\n</CreateNetworkAclResponse></queryresponse>\n      </example>\n     </examples>"
    },
    "CreateNetworkAclEntry":{
      "name":"CreateNetworkAclEntry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkAclEntryRequest"},
      "documentation":"<p>Creates an entry (a rule) in a network ACL with the specified rule number. Each\n\t\t\t\tnetwork ACL has a set of numbered ingress rules and a separate set of numbered\n\t\t\t\tegress rules. When determining whether a packet should be allowed in or out of a\n\t\t\t\tsubnet associated with the ACL, we process the entries in the ACL according to the\n\t\t\t\trule numbers, in ascending order. Each network ACL has a set of ingress rules and a\n\t\t\t\tseparate set of egress rules.</p>\n\t\t <p>We recommend that you leave room between the rule numbers (for example,\n\t\t\t\t100, 110, 120, ...), and not number them one right after the other (for\n\t\t\t\texample, 101, 102, 103, ...). This makes it easier to add a rule between\n\t\t\t\texisting ones without having to renumber the rules.</p>\n\t\t <p>After you add an entry, you can't modify it; you must either replace it, or create\n\t\t\t\tan entry and delete the old one.</p>\n\t\t <p>For more information about network ACLs, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_ACLs.html\">Network ACLs</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates an entry with rule number 110 in the network ACL with the ID\n\t\t\t\t\t<code>acl-2cb85d45</code>. The rule allows ingress traffic from anywhere (<code>0.0.0.0/0</code>) on UDP\n\t\t\t\t\tport 53 into any associated subnet.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateNetworkAclEntry\n&amp;NetworkAclId=acl-2cb85d45\n&amp;RuleNumber=110\n&amp;Protocol=udp\n&amp;RuleAction=allow\n&amp;Egress=false\n&amp;CidrBlock=0.0.0.0/0\n&amp;PortRange.From=53\n&amp;PortRange.To=53\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateNetworkAclEntryResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/CreateNetworkAclEntryResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateNetworkInterface":{
      "name":"CreateNetworkInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkInterfaceRequest"},
      "output":{"shape":"CreateNetworkInterfaceResult"},
      "documentation":"<p>Creates a network interface in the specified subnet.</p>\n\t\t <p>For more information about network interfaces, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network Interfaces</a> \n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example creates a network interface in the specified\n\t\t\t\t\tsubnet with a primary IP address that is automatically selected by Amazon EC2.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateNetworkInterface\n&amp;SubnetId=subnet-b2a249da\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateNetworkInterfaceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n &lt;requestId&gt;8dbe591e-5a22-48cb-b948-dd0aadd55adf&lt;/requestId&gt;\n    &lt;networkInterface&gt;\n        &lt;networkInterfaceId&gt;eni-cfca76a6&lt;/networkInterfaceId&gt;\n        &lt;subnetId&gt;subnet-b2a249da&lt;/subnetId&gt;\n        &lt;vpcId&gt;vpc-c31dafaa&lt;/vpcId&gt;\n        &lt;availabilityZone&gt;ap-southeast-1b&lt;/availabilityZone&gt;\n        &lt;description/&gt;\n        &lt;ownerId&gt;251839141158&lt;/ownerId&gt;\n        &lt;requesterManaged&gt;false&lt;/requesterManaged&gt;\n        &lt;status&gt;available&lt;/status&gt;\n        &lt;macAddress&gt;02:74:b0:72:79:61&lt;/macAddress&gt;\n        &lt;privateIpAddress&gt;10.0.2.157&lt;/privateIpAddress&gt;\n        &lt;sourceDestCheck&gt;true&lt;/sourceDestCheck&gt;\n        &lt;groupSet&gt;\n            &lt;item&gt;\n                &lt;groupId&gt;sg-1a2b3c4d&lt;/groupId&gt;\n                &lt;groupName&gt;default&lt;/groupName&gt;\n            &lt;/item&gt;\n        &lt;/groupSet&gt;\n        &lt;tagSet/&gt;\n        &lt;privateIpAddressesSet&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.157&lt;/privateIpAddress&gt;\n                &lt;primary&gt;true&lt;/primary&gt;\n            &lt;/item&gt;\n        &lt;/privateIpAddressesSet&gt;\n    &lt;/networkInterface&gt;\n&lt;/CreateNetworkInterfaceResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example creates a network interface in the specified\n\t\t\t\t\tsubnet with a primary IP address of <code>10.0.2.140</code> and four secondary private IP\n\t\t\t\t\taddresses that are automatically selected by Amazon EC2.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateNetworkInterface\n&amp;PrivateIpAddresses.0.Primary=true\n&amp;PrivateIpAddresses.0.PrivateIpAddress=10.0.2.140\n&amp;SecondaryPrivateIpAddressCount=4\n&amp;SubnetId=subnet-a61dafcf\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateNetworkInterfaceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n &lt;requestId&gt;bd78c839-0895-4fac-a17f-98b559b6b630&lt;/requestId&gt;\n    &lt;networkInterface&gt;\n        &lt;networkInterfaceId&gt;eni-1bcb7772&lt;/networkInterfaceId&gt;\n        &lt;subnetId&gt;subnet-a61dafcf&lt;/subnetId&gt;\n        &lt;vpcId&gt;vpc-c31dafaa&lt;/vpcId&gt;\n        &lt;availabilityZone&gt;ap-southeast-1b&lt;/availabilityZone&gt;\n        &lt;description/&gt;\n        &lt;ownerId&gt;251839141158&lt;/ownerId&gt;\n        &lt;requesterManaged&gt;false&lt;/requesterManaged&gt;\n        &lt;status&gt;pending&lt;/status&gt;\n        &lt;macAddress&gt;02:74:b0:70:7f:1a&lt;/macAddress&gt;\n        &lt;privateIpAddress&gt;10.0.2.140&lt;/privateIpAddress&gt;\n        &lt;sourceDestCheck&gt;true&lt;/sourceDestCheck&gt;\n        &lt;groupSet&gt;\n            &lt;item&gt;\n                &lt;groupId&gt;sg-1a2b3c4d&lt;/groupId&gt;\n                &lt;groupName&gt;default&lt;/groupName&gt;\n            &lt;/item&gt;\n        &lt;/groupSet&gt;\n        &lt;tagSet/&gt;\n        &lt;privateIpAddressesSet&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.140&lt;/privateIpAddress&gt;\n                &lt;primary&gt;true&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.172&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.169&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.170&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.171&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n        &lt;/privateIpAddressesSet&gt;\n    &lt;/networkInterface&gt;\n&lt;/CreateNetworkInterfaceResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 3</name>\n       <description>This example creates a network interface with a primary private IP\n\t\t\t\t\taddress of 10.0.2.130 and two secondary IP addresses of 10.0.2.132 and\n\t\t\t\t\t10.0.2.133.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateNetworkInterface\n&amp;PrivateIpAddresses.0.Primary=true\n&amp;PrivateIpAddresses.0.PrivateIpAddress=10.0.2.130\n&amp;PrivateIpAddresses.1.Primary=false\n&amp;PrivateIpAddresses.1.PrivateIpAddress=10.0.2.132\n&amp;PrivateIpAddresses.2.Primary=false\n&amp;PrivateIpAddresses.2.PrivateIpAddress=10.0.2.133\n&amp;SubnetId=subnet-a61dafcf\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateNetworkInterfaceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n&lt;requestId&gt;a9565f4c-f928-4113-859b-905886d11658&lt;/requestId&gt;\n    &lt;networkInterface&gt;\n        &lt;networkInterfaceId&gt;eni-41c47828&lt;/networkInterfaceId&gt;\n        &lt;subnetId&gt;subnet-a61dafcf&lt;/subnetId&gt;\n        &lt;vpcId&gt;vpc-c31dafaa&lt;/vpcId&gt;\n        &lt;availabilityZone&gt;ap-southeast-1b&lt;/availabilityZone&gt;\n        &lt;description/&gt;\n        &lt;ownerId&gt;251839141158&lt;/ownerId&gt;\n        &lt;requesterManaged&gt;false&lt;/requesterManaged&gt;\n        &lt;status&gt;pending&lt;/status&gt;\n        &lt;macAddress&gt;02:74:b0:78:bf:ab&lt;/macAddress&gt;\n        &lt;privateIpAddress&gt;10.0.2.130&lt;/privateIpAddress&gt;\n        &lt;sourceDestCheck&gt;true&lt;/sourceDestCheck&gt;\n        &lt;groupSet&gt;\n            &lt;item&gt;\n                &lt;groupId&gt;sg-188d9f74&lt;/groupId&gt;\n                &lt;groupName&gt;default&lt;/groupName&gt;\n            &lt;/item&gt;\n        &lt;/groupSet&gt;\n        &lt;tagSet/&gt;\n        &lt;privateIpAddressesSet&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.130&lt;/privateIpAddress&gt;\n                &lt;primary&gt;true&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.133&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n            &lt;item&gt;\n                &lt;privateIpAddress&gt;10.0.2.132&lt;/privateIpAddress&gt;\n                &lt;primary&gt;false&lt;/primary&gt;\n            &lt;/item&gt;\n        &lt;/privateIpAddressesSet&gt;\n    &lt;/networkInterface&gt;\n&lt;/CreateNetworkInterfaceResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreatePlacementGroup":{
      "name":"CreatePlacementGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlacementGroupRequest"},
      "documentation":"<p>Creates a placement group that you launch cluster instances into. You must give\n\t\t\t  the group a name that's unique within the scope of your account.</p>\n     <p>For more information about placement groups and cluster instances, see\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using_cluster_computing.html\">Cluster Instances</a>\n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example creates a placement group named <code>XYZ-cluster</code>.</description>\n      <queryrequest>https://ec2.amazonaws.com/?Action=CreatePlacementGroup\n&amp;GroupName=XYZ-cluster\n&amp;Strategy=cluster\n&amp;AUTHPARAMS</queryrequest>\n      <queryresponse>&lt;CreatePlacementGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;d4904fd9-82c2-4ea5-adfe-a9cc3EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n&lt;/CreatePlacementGroupResponse&gt;</queryresponse>\n     </example>\n    </examples>"
    },
    "CreateReservedInstancesListing":{
      "name":"CreateReservedInstancesListing",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReservedInstancesListingRequest"},
      "output":{"shape":"CreateReservedInstancesListingResult"},
      "documentation":"<p>Creates a listing for Amazon EC2 Reserved Instances to be sold in the Reserved Instance Marketplace. \n        You can submit one Reserved Instance listing at a time.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-market-general.html\">Reserved Instance Marketplace</a> in the\n\t\t\t\t<i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a Reserved Instance Marketplace listing from the \n          specified Reserved Instance, which has 11 months remaining in its term. \n          In this example, we set the upfront price at $2.50, and the price drops\n\t\t\t\t\tover the course of the 11-month term if the instance is still not sold.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateReservedInstancesListing\n&amp;ClientToken=myIdempToken1\n&amp;InstanceCount=1\n&amp;PriceSchedules.0.Price=2.5\n&amp;PriceSchedules.0.Term=11\n&amp;PriceSchedules.1.Price=2.0\n&amp;PriceSchedules.1.Term=8\n&amp;PriceSchedules.2.Price=1.5\n&amp;PriceSchedules.2.Term=5\n&amp;PriceSchedules.3.Price=0.7\n&amp;PriceSchedules.3.Term=3\n&amp;PriceSchedules.4.Price=0.1\n&amp;PriceSchedules.4.Term=1\n&amp;ReservedInstancesId=e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CreateReservedInstancesListingResponse>\n    <requestId>a42481af-335a-4e9e-b291-bd18dexample</requestId>\n    <reservedInstancesListingsSet>\n        <item>\n            <reservedInstancesListingId>5ec28771-05ff-4b9b-aa31-9e57dEXAMPLE</reservedInstancesListingId>\n            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>\n            <createDate>2012-07-17T17:11:09.449Z</createDate>\n            <updateDate>2012-07-17T17:11:09.468Z</updateDate>\n            <status>active</status>\n            <statusMessage>ACTIVE</statusMessage>\n            <instanceCounts>\n                <item>\n                    <state>Available</state>\n                    <instanceCount>1</instanceCount>\n                </item>\n                <item>\n                    <state>Sold</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Cancelled</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Pending</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n            </instanceCounts>\n            <priceSchedules>\n                <item>\n                    <term>11</term>\n                    <price>2.5</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>true</active>\n                </item>\n                <item>\n                    <term>10</term>\n                    <price>2.5</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>9</term>\n                    <price>2.5</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>8</term>\n                    <price>2.0</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>7</term>\n                    <price>2.0</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>6</term>\n                    <price>2.0</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>5</term>\n                    <price>1.5</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>4</term>\n                    <price>1.5</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>3</term>\n                    <price>0.7</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>2</term>\n                    <price>0.7</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>1</term>\n                    <price>0.1</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n            </priceSchedules>\n            <tagSet/>\n            <clientToken>myIdempToken1</clientToken>\n        </item>\n    </reservedInstancesListingsSet>\n</CreateReservedInstancesListingResponse></queryresponse>\n      </example>\n     </examples>"
    },
    "CreateRoute":{
      "name":"CreateRoute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteRequest"},
      "documentation":"<p>Creates a route in a route table within a VPC.</p>\n     <p>You must specify one of the following targets: Internet gateway, NAT instance, VPC peering connection, or network interface.</p>\n     <p>When determining how to route traffic, we use the route with the most specific\n\t\t\tmatch. For example, let's say the traffic is destined for <code>192.0.2.3</code>, and the route\n\t\t\ttable includes the following two routes:</p>\n\t\t\t<ul>\n\t\t\t\t<li>\n\t\t\t\t\t<p><code>192.0.2.0/24</code> (goes to some target A)</p>\n\t\t\t\t</li>\n\t\t\t\t<li>\n\t\t\t\t\t<p><code>192.0.2.0/28</code> (goes to some target B)</p>\n\t\t\t\t</li>\n\t\t\t</ul>\n\t\t <p>Both routes apply to the traffic destined for <code>192.0.2.3</code>. However, the second route\n\t\t\t\tin the list covers a smaller number of IP addresses and is therefore more specific,\n\t\t\t\tso we use that route to determine where to target the traffic.</p>\n     <p>For more information about route tables, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Route_Tables.html\">Route Tables</a> in the\n\t\t\t\t<i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example creates a route in the route table with the ID <code>rtb-e4ad488d</code>. The\n\t\t\t\t\troute matches all traffic (<code>0.0.0.0/0</code>) and routes it to the Internet gateway with the\n\t\t\t\t\tID <code>igw-eaad4883</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateRoute\n&amp;RouteTableId=rtb-e4ad488d\n&amp;DestinationCidrBlock=0.0.0.0/0\n&amp;GatewayId=igw-eaad4883\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example creates a route in the route table with the ID <code>rtb-g8ff4ea2</code>. The\n\t\t\t\t\troute sends all traffic (<code>0.0.0.0/0</code>) to the NAT instance with the ID\n\t\t\t\t\t<code>i-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateRoute\n&amp;RouteTableId=rtb-g8ff4ea2\n&amp;DestinationCidrBlock=0.0.0.0/0\n&amp;InstanceId=i-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n       <example>\n         <name>Example 3</name>\n         <description>This example command creates a route in route table <code>rtb-g8ff4ea2</code>. The route\n           matches traffic for the CIDR block <code>10.0.0.0/16</code> and routes it to VPC\n           peering connection, <code>pcx-111aaa22</code>. This route enables traffic to be\n           directed to the other peered VPC in the VPC peering connection.</description>\n         <queryrequest>https://ec2.amazonaws.com/?Action=CreateRoute\n&amp;RouteTableId=rtb-g8ff4ea2\n&amp;DestinationCidrBlock=10.0.0.0/16\n&amp;vpcPeeringConnectionId=pcx-111aaa22\n&amp;AUTHPARAMS</queryrequest>\n       </example>\n     </examples>"
    },
    "CreateRouteTable":{
      "name":"CreateRouteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRouteTableRequest"},
      "output":{"shape":"CreateRouteTableResult"},
      "documentation":"<p>Creates a route table for the specified VPC. After you create a route table, you can\n\t\t\tadd routes and associate the table with a subnet.</p>\n     <p>For more information about route tables, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Route_Tables.html\">Route Tables</a> in\n\t\t\t\tthe <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a route table for the VPC with the ID <code>vpc-11ad4878</code>.\n          By default, every route table includes a local route that enables traffic to\n\t\t\t\t\tflow within the VPC. The following response shows that route.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateRouteTable\n&amp;VpcId=vpc-11ad4878\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CreateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId> \n   <routeTable>\n      <routeTableId>rtb-f9ad4890</routeTableId>\n      <vpcId>vpc-11ad4878</vpcId>\n      <routeSet>\n         <item>\n            <destinationCidrBlock>10.0.0.0/22</destinationCidrBlock>\n            <gatewayId>local</gatewayId>\n            <state>active</state>\n         </item>\n      </routeSet>\n      <associationSet/>\n      <tagSet/>\n   </routeTable>\n</CreateRouteTableResponse></queryresponse>\n      </example>\n     </examples>"
    },
    "CreateSecurityGroup":{
      "name":"CreateSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityGroupRequest"},
      "output":{"shape":"CreateSecurityGroupResult"},
      "documentation":"<p>Creates a security group.</p>\n     <p>A security group is for use with instances either in the EC2-Classic platform  \n\t\t\t\tor in a specific VPC. For more information, see\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security Groups</a> in \n\t\t\t\tthe <i>Amazon Elastic Compute Cloud User Guide</i> and \n\t\t\t\t<a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the\n\t\t\t\t<i>Amazon Virtual Private Cloud User Guide</i>.</p>\n      <important>\n\t\t\t\t<p>EC2-Classic: You can have up to 500 security groups.</p>\n\t\t\t\t<p>EC2-VPC: You can create up to 100 security groups per VPC.</p>\n\t\t\t</important>\n     <p>When you create a security group, you specify a friendly name of your choice. You\n\t\t\t\tcan have a security group for use in EC2-Classic with the same name as a security group\n\t\t\t\tfor use in a VPC. However, you can't have two security groups for use in EC2-Classic with the\n\t\t\t\tsame name or two security groups for use in a VPC with the same name.</p>\n     <p>You have a default security group for use in EC2-Classic and a default security group\n\t\t\t\tfor use in your VPC. If you don't specify a security group when you launch an instance, the\n\t\t\t\tinstance is launched into the appropriate default security group. A default security\n\t\t\t\tgroup includes a default rule that grants instances unrestricted network access to\n\t\t\t\teach other.</p>\n     <p>You can add or remove rules from your security groups using \n\t\t\t\t\t<a>AuthorizeSecurityGroupIngress</a>,\n\t\t\t\t\t<a>AuthorizeSecurityGroupEgress</a>,\n\t\t\t\t\t<a>RevokeSecurityGroupIngress</a>, and\n\t\t\t\t\t<a>RevokeSecurityGroupEgress</a>.</p>\n     <examples>\n      <example>\n       <name>Example for EC2-Classic</name>\n       <description>This example creates a security group named <code>websrv</code> for EC2-Classic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateSecurityGroup\n&amp;GroupName=websrv\n&amp;GroupDescription=Web Servers\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n   &lt;groupId&gt;sg-1a2b3c4d&lt;/groupId&gt;\n&lt;/CreateSecurityGroupResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example for EC2-VPC</name>\n       <description>This example creates a security group named <code>WebServerSG</code> for the specified VPC.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateSecurityGroup\n&amp;GroupName=WebServerSG\n&amp;GroupDescription=Web Servers\n&amp;VpcId=vpc-3325caf2\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n   &lt;groupId&gt;sg-0a42d66a&lt;/groupId&gt;\n&lt;/CreateSecurityGroupResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotRequest"},
      "output":{
        "shape":"Snapshot",
        "locationName":"snapshot",
        "queryName":"Snapshot"
      },
      "documentation":"<p>Creates a snapshot of an Amazon EBS volume and stores it in Amazon S3. You can use snapshots for backups,\n      to make copies of Amazon EBS volumes, and to save data before shutting down an instance.</p>\n  <p>When a snapshot is created, any AWS Marketplace product codes that are associated with the\n      source volume are propagated to the snapshot.</p>\n  <p>You can take a snapshot of an attached volume that is in use. However, snapshots only capture\n      data that has been written to your Amazon EBS volume at the time the snapshot command is issued;\n      this may exclude any data that has been cached by any applications or the operating system. If\n      you can pause any file writes to the volume long enough to take a snapshot, your snapshot\n      should be complete. However, if you cannot pause all file writes to the volume, you should\n      unmount the volume from within the instance, issue the snapshot command, and then remount the\n      volume to ensure a consistent and complete snapshot. You may remount and use your volume while\n      the snapshot status is <code>pending</code>.</p>\n  <p>To create a snapshot for Amazon EBS volumes that serve as root devices, you should stop the instance\n   before taking the snapshot.</p>\n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-creating-snapshot.html\">Creating an\n        Amazon EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example</name>\n    <description>This example creates a snapshot of the volume with the ID\n     <code>vol-1a2b3c4d</code>.</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=CreateSnapshot\n&amp;VolumeId=vol-1a2b3c4d\n&amp;Description=Daily+Backup\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse>&lt;CreateSnapshotResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;snapshotId&gt;snap-1a2b3c4d&lt;/snapshotId&gt;\n  &lt;volumeId&gt;vol-1a2b3c4d&lt;/volumeId&gt;\n  &lt;status&gt;pending&lt;/status&gt;\n  &lt;startTime&gt;YYYY-MM-DDTHH:MM:SS.000Z&lt;/startTime&gt;\n  &lt;progress&gt;60%&lt;/progress&gt;\n  &lt;ownerId&gt;111122223333&lt;/ownerId&gt;\n  &lt;volumeSize&gt;30&lt;/volumeSize&gt;\n  &lt;description&gt;Daily Backup&lt;/description&gt;\n&lt;/CreateSnapshotResponse&gt;</queryresponse>\n   </example>\n  </examples>"
    },
    "CreateSpotDatafeedSubscription":{
      "name":"CreateSpotDatafeedSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSpotDatafeedSubscriptionRequest"},
      "output":{"shape":"CreateSpotDatafeedSubscriptionResult"},
      "documentation":"<p>Creates a datafeed for Spot Instances, enabling you to view Spot Instance usage logs.\n\t\t\t\tYou can create one data feed per AWS account. For more information, see\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-spot-instances.html\">Spot Instances</a> in\n\t\t\t\tthe <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a Spot Instance datafeed for the account.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateSpotDatafeedSubscription\n&amp;Bucket=my-s3-bucket\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateSpotDatafeedSubscriptionResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;spotDatafeedSubscription&gt;\n    &lt;ownerId&gt;123456789012&lt;/ownerId&gt;\n    &lt;bucket&gt;my-s3-bucket&lt;/bucket&gt;\n    &lt;prefix&gt;spotdata_&lt;/prefix&gt;\n    &lt;state&gt;Active&lt;/state&gt;\n  &lt;/spotDatafeedSubscription&gt;\n&lt;/CreateSpotDatafeedSubscriptionResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateSubnet":{
      "name":"CreateSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSubnetRequest"},
      "output":{"shape":"CreateSubnetResult"},
      "documentation":"<p>Creates a subnet in an existing VPC.</p>\n     <p>When you create each subnet, you provide the VPC ID and the CIDR block you want\n\t\t\t\tfor the subnet. After you create a subnet, you can't change its CIDR block. The\n\t\t\t\tsubnet's CIDR block can be the same as the VPC's CIDR block (assuming you want only\n\t\t\t\ta single subnet in the VPC), or a subset of the VPC's CIDR block. If you create more\n\t\t\t\tthan one subnet in a VPC, the subnets' CIDR blocks must not overlap. The smallest\n\t\t\t\tsubnet (and VPC) you can create uses a /28 netmask (16 IP addresses), and the\n\t\t\t\tlargest uses a /16 netmask (65,536 IP addresses).</p>\n     <important>\n        <p>AWS reserves both the first four and the last IP address in each subnet's\n           CIDR block. They're not available for use.</p>\n     </important>\n\t\t <p>If you add more than one subnet to a VPC, they're set up in a star topology with a\n\t\t\t\tlogical router in the middle.</p>\n\t\t <p>For more information about subnets, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">Your VPC and Subnets</a>\n\t\t\t  in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example creates a subnet with CIDR block <code>10.0.1.0/24</code> in the VPC with the ID\n\t\t\t\t\t<code>vpc-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CreateSubnet\n&amp;VpcId=vpc-1a2b3c4d\n&amp;CidrBlock=10.0.1.0/24\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n  &lt;subnet&gt;\n    &lt;subnetId&gt;subnet-9d4a7b6c&lt;/subnetId&gt;\n    &lt;state&gt;pending&lt;/state&gt;\n    &lt;vpcId&gt;vpc-1a2b3c4d&lt;/vpcId&gt;\n    &lt;cidrBlock&gt;10.0.1.0/24&lt;/cidrBlock&gt; \n    &lt;availableIpAddressCount&gt;251&lt;/availableIpAddressCount&gt;\n    &lt;availabilityZone&gt;us-east-1a&lt;/availabilityZone&gt;\n    &lt;tagSet/&gt;\n  &lt;/subnet&gt;\n&lt;/CreateSubnetResponse&gt;</queryresponse>\n      </example>\n     </examples>"
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsRequest"},
      "documentation":"<p>Adds or overwrites one or more tags for the specified EC2 resource or resources.\n     Each resource can have a maximum of 10 tags. Each tag consists of a key and optional\n     value. Tag keys must be unique per resource.</p>\n    <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging\n     Your Resources</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example</name>\n    <description>This example request adds (or overwrites) two tags for an AMI and an instance. One\n     of the tags is just a key (<code>webserver</code>), with no value (we set the value to an empty\n     string). The other tag consists of a key (<code>stack</code>) and value\n      (<code>Production</code>).</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=CreateTags\n&amp;ResourceId.1=ami-1a2b3c4d\n&amp;ResourceId.2=i-7f4d3a2b\n&amp;Tag.1.Key=webserver\n&amp;Tag.1.Value=\n&amp;Tag.2.Key=stack\n&amp;Tag.2.Value=Production\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse><CreateTagsResponse\nxmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n  <requestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</requestId>\n  <return>true</return>\n</CreateTagsResponse></queryresponse>\n   </example>\n  </examples>"
    },
    "CreateVolume":{
      "name":"CreateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeRequest"},
      "output":{
        "shape":"Volume",
        "locationName":"volume",
        "queryName":"Volume"
      },
      "documentation":"<p>Creates an Amazon EBS volume that can be attached to any instance in the same Availability\n   Zone.</p>\n  <p>Any AWS Marketplace product codes from the snapshot are propagated to the volume.</p>\n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-creating-volume.html\">Creating or\n        Restoring an Amazon EBS Volume</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example</name>\n    <description>This example request creates an 80 GiB volume in the Availability Zone\n      <code>us-east-1a</code>.</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=CreateVolume\n&amp;Size=80\n&amp;AvailabilityZone=us-east-1a\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse>&lt;CreateVolumeResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n  &lt;volumeId&gt;vol-1a2b3c4d&lt;/volumeId&gt;\n  &lt;size&gt;80&lt;/size&gt;\n  &lt;snapshotId/&gt;\n  &lt;availabilityZone&gt;us-east-1a&lt;/availabilityZone&gt;\n  &lt;status&gt;creating&lt;/status&gt;\n  &lt;createTime&gt;YYYY-MM-DDTHH:MM:SS.000Z&lt;/createTime&gt;\n  &lt;volumeType&gt;standard&lt;/volumeType&gt;\n&lt;/CreateVolumeResponse&gt;</queryresponse>\n   </example>\n  </examples>"
    },
    "CreateVpc":{
      "name":"CreateVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcRequest"},
      "output":{"shape":"CreateVpcResult"},
[...]
