{
  "metadata":{
    "apiVersion":"2014-03-24",
    "endpointPrefix":"elasticache",
    "serviceFullName":"Amazon ElastiCache",
    "signatureVersion":"v4",
    "xmlNamespace":"http://elasticache.amazonaws.com/doc/2014-03-24/",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon ElastiCache</fullname>\n        <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a\n            distributed cache in the cloud.</p>\n        <p>With ElastiCache, customers gain all of the benefits of a high-performance, in-memory cache\n            with far less of the administrative burden of launching and managing a distributed\n            cache. The service makes set-up, scaling, and cluster failure handling much simpler than\n            in a self-managed cache deployment.</p>\n        <p>In addition, through integration with Amazon CloudWatch, customers get enhanced\n            visibility into the key performance statistics associated with their cache and can\n            receive alarms if a part of their cache runs hot.</p>",
  "operations":{
    "AuthorizeCacheSecurityGroupIngress":{
      "name":"AuthorizeCacheSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AuthorizeCacheSecurityGroupIngressMessage",
        "documentation":"<p>Represents the input of an <i>AuthorizeCacheSecurityGroupIngress</i> operation.</p>"
      },
      "output":{
        "shape":"AuthorizeCacheSecurityGroupIngressResult",
        "wrapper":true,
        "documentation":"<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n                <i>AuthorizeCacheSecurityGroupIngress</i>\n            </li>\n            <li>\n                <i>CreateCacheSecurityGroup</i>\n            </li>\n            <li>\n                <i>RevokeCacheSecurityGroupIngress</i>\n            </li>\n        </ul>",
        "resultWrapper":"AuthorizeCacheSecurityGroupIngressResult"
      },
      "errors":[
        {
          "shape":"CacheSecurityGroupNotFoundFault",
          "error":{
            "code":"CacheSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache security group name does not refer to an existing cache security\n            group.</p>"
        },
        {
          "shape":"InvalidCacheSecurityGroupStateFault",
          "error":{
            "code":"InvalidCacheSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the cache security group does not allow deletion.</p>"
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified Amazon EC2 security group is already authorized for the specified cache\n            security group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>AuthorizeCacheSecurityGroupIngress</i> operation allows network ingress to a cache\n            security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2\n            security groups are used as the authorization mechanism.</p>\n        <note> You cannot authorize ingress from an Amazon EC2 security group in one Region to an\n            ElastiCache cluster in another Region. </note>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=AuthorizeCacheSecurityGroupIngress\n   &EC2SecurityGroupName=default\n   &CacheSecurityGroupName=mygroup\n   &EC2SecurityGroupOwnerId=1234-5678-1234\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-12T01%3A29%3A15.746Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<AuthorizeCacheSecurityGroupIngressResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n    <AuthorizeCacheSecurityGroupIngressResult>\n        <CacheSecurityGroup>\n            <EC2SecurityGroups>\n                <EC2SecurityGroup>\n                    <Status>authorizing</Status>\n                    <EC2SecurityGroupName>default</EC2SecurityGroupName>\n                    <EC2SecurityGroupOwnerId>565419523791</EC2SecurityGroupOwnerId>\n                </EC2SecurityGroup>\n            </EC2SecurityGroups>\n            <CacheSecurityGroupName>mygroup</CacheSecurityGroupName>\n            <OwnerId>123456781234</OwnerId>\n            <Description>My security group</Description>\n        </CacheSecurityGroup>\n    </AuthorizeCacheSecurityGroupIngressResult>\n    <ResponseMetadata>\n        <RequestId>817fa999-3647-11e0-ae57-f96cfe56749c</RequestId>\n    </ResponseMetadata>\n</AuthorizeCacheSecurityGroupIngressResponse>\n            </queryresponse>\n        </examples>"
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CopySnapshotMessage",
        "documentation":"<p>Represents the input of a <i>CopySnapshotMessage</i> operation.</p>"
      },
      "output":{
        "shape":"CopySnapshotResult",
        "wrapper":true,
        "documentation":"<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper":"CopySnapshotResult"
      },
      "errors":[
        {
          "shape":"SnapshotAlreadyExistsFault",
          "error":{
            "code":"SnapshotAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a snapshot with the given name.</p>"
        },
        {
          "shape":"SnapshotNotFoundFault",
          "error":{
            "code":"SnapshotNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested snapshot name does not refer to an existing snapshot.</p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the maximum number of\n            snapshots.</p>"
        },
        {
          "shape":"InvalidSnapshotStateFault",
          "error":{
            "code":"InvalidSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the snapshot does not allow the requested action to occur.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CopySnapshot</i> operation makes a copy of an existing snapshot.</p>"
    },
    "CreateCacheCluster":{
      "name":"CreateCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateCacheClusterMessage",
        "documentation":"<p>Represents the input of a <i>CreateCacheCluster</i> operation.</p>"
      },
      "output":{
        "shape":"CreateCacheClusterResult",
        "wrapper":true,
        "documentation":"<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper":"CreateCacheClusterResult"
      },
      "errors":[
        {
          "shape":"ReplicationGroupNotFoundFault",
          "error":{
            "code":"ReplicationGroupNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified replication group does not exist.</p>"
        },
        {
          "shape":"InvalidReplicationGroupStateFault",
          "error":{
            "code":"InvalidReplicationGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested replication group is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"CacheClusterAlreadyExistsFault",
          "error":{
            "code":"CacheClusterAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a cache cluster with the given identifier.</p>"
        },
        {
          "shape":"InsufficientCacheClusterCapacityFault",
          "error":{
            "code":"InsufficientCacheClusterCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache node type is not available in the specified Availability Zone.</p>"
        },
        {
          "shape":"CacheSecurityGroupNotFoundFault",
          "error":{
            "code":"CacheSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache security group name does not refer to an existing cache security\n            group.</p>"
        },
        {
          "shape":"CacheSubnetGroupNotFoundFault",
          "error":{
            "code":"CacheSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache subnet group name does not refer to an existing cache subnet\n            group.</p>"
        },
        {
          "shape":"ClusterQuotaForCustomerExceededFault",
          "error":{
            "code":"ClusterQuotaForCustomerExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache\n            clusters per customer.</p>"
        },
        {
          "shape":"NodeQuotaForClusterExceededFault",
          "error":{
            "code":"NodeQuotaForClusterExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache nodes\n            in a single cache cluster.</p>"
        },
        {
          "shape":"NodeQuotaForCustomerExceededFault",
          "error":{
            "code":"NodeQuotaForCustomerExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache nodes\n            per customer. </p>"
        },
        {
          "shape":"CacheParameterGroupNotFoundFault",
          "error":{
            "code":"CacheParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache parameter group name does not refer to an existing cache parameter\n            group.</p>"
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The VPC network is in an invalid state.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateCacheCluster</i> operation creates a new cache cluster. All nodes in the\n            cache cluster run the same protocol-compliant cache engine software - either Memcached\n            or Redis.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=CreateCacheCluster\n   &NumCacheNodes=3\n   &CacheClusterId=mycache\n   &Engine=memcached\n   &CacheSecurityGroupNames.member.1=default\n   &CacheNodeType=cache.m1.large\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T00%3A33%3A09.322Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<CreateCacheClusterResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n    <CreateCacheClusterResult>\n        <CacheCluster>\n            <CacheClusterStatus>creating</CacheClusterStatus>\n            <NumCacheNodes>3</NumCacheNodes>\n            <Engine>memcached</Engine>\n            <PendingModifiedValues/>\n            <EngineVersion>1.4.5</EngineVersion>\n            <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n            <PreferredMaintenanceWindow>sun:08:00-sun:09:00</PreferredMaintenanceWindow>\n                <CacheNodeType>cache.m1.large</CacheNodeType>\n                <CacheSecurityGroups>\n                    <CacheSecurityGroup>\n                        <CacheSecurityGroupName>default</CacheSecurityGroupName>\n                        <Status>active</Status>\n                    </CacheSecurityGroup>\n                </CacheSecurityGroups>\n                <CacheClusterId>mycache</CacheClusterId>\n        </CacheCluster>\n    </CreateCacheClusterResult>\n    <ResponseMetadata>\n        <RequestId>aaf2e796-363f-11e0-a564-8f11342c56b0</RequestId>\n    </ResponseMetadata>\n</CreateCacheClusterResponse>\n            </queryresponse>\n        </examples>"
    },
    "CreateCacheParameterGroup":{
      "name":"CreateCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateCacheParameterGroupMessage",
        "documentation":"<p>Represents the input of a <i>CreateCacheParameterGroup</i> operation.</p>"
      },
      "output":{
        "shape":"CreateCacheParameterGroupResult",
        "wrapper":true,
        "documentation":"<p>Represents the output of a <i>CreateCacheParameterGroup</i> operation.</p>",
        "resultWrapper":"CreateCacheParameterGroupResult"
      },
      "errors":[
        {
          "shape":"CacheParameterGroupQuotaExceededFault",
          "error":{
            "code":"CacheParameterGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the maximum number of cache\n            security groups.</p>"
        },
        {
          "shape":"CacheParameterGroupAlreadyExistsFault",
          "error":{
            "code":"CacheParameterGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>A cache parameter group with the requested name already exists.</p>"
        },
        {
          "shape":"InvalidCacheParameterGroupStateFault",
          "error":{
            "code":"InvalidCacheParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the cache parameter group does not allow the requested action to\n            occur. </p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateCacheParameterGroup</i> operation creates a new cache parameter group. A\n            cache parameter group is a collection of parameters that you apply to all of the nodes\n            in a cache cluster.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=CreateCacheParameterGroup\n   &Description=My%20first%20cache%20parameter%20group\n   &CacheParameterGroupFamily=memcached1.4\n   &CacheParameterGroupName=mycacheparametergroup1\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T02%3A34%3A47.462Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE\n            </queryrequest>\n            <queryresponse>\n<CreateCacheParameterGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <CreateCacheParameterGroupResult>\n    <CacheParameterGroup>\n      <CacheParameterGroupName>mycacheparametergroup3</CacheParameterGroupName>\n      <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n      <Description>My first cache parameter group</Description>\n    </CacheParameterGroup>\n  </CreateCacheParameterGroupResult>\n  <ResponseMetadata>\n    <RequestId>05699541-b7f9-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</CreateCacheParameterGroupResponse>\n            \n            </queryresponse>\n        </examples>"
    },
    "CreateCacheSecurityGroup":{
      "name":"CreateCacheSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateCacheSecurityGroupMessage",
        "documentation":"<p>Represents the input of a <i>CreateCacheSecurityGroup</i> operation.</p>"
      },
      "output":{
        "shape":"CreateCacheSecurityGroupResult",
        "wrapper":true,
        "documentation":"<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n                <i>AuthorizeCacheSecurityGroupIngress</i>\n            </li>\n            <li>\n                <i>CreateCacheSecurityGroup</i>\n            </li>\n            <li>\n                <i>RevokeCacheSecurityGroupIngress</i>\n            </li>\n        </ul>",
        "resultWrapper":"CreateCacheSecurityGroupResult"
      },
      "errors":[
        {
          "shape":"CacheSecurityGroupAlreadyExistsFault",
          "error":{
            "code":"CacheSecurityGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>A cache security group with the specified name already exists.</p>"
        },
        {
          "shape":"CacheSecurityGroupQuotaExceededFault",
          "error":{
            "code":"QuotaExceeded.CacheSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache\n            security groups.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateCacheSecurityGroup</i> operation creates a new cache security group. Use a\n            cache security group to control access to one or more cache clusters.</p>\n        <p>Cache security groups are only used when you are creating a cluster outside of an Amazon\n            Virtual Private Cloud (VPC). If you are creating a cluster inside of a VPC, use a cache\n            subnet group instead. For more information, see <i>CreateCacheSubnetGroup</i>.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=CreateCacheSecurityGroup\n   &CacheSecurityGroupName=mycachesecuritygroup\n   &Description=My%20cache%20security%20group\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T02%3A43%3A10.703Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<CreateCacheSecurityGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <CreateCacheSecurityGroupResult>\n    <CacheSecurityGroup>\n      <EC2SecurityGroups/>\n      <CacheSecurityGroupName>mycachesecuritygroup</CacheSecurityGroupName>\n      <OwnerId>123456789012</OwnerId>\n      <Description>My cache security group</Description>\n    </CacheSecurityGroup>\n  </CreateCacheSecurityGroupResult>\n  <ResponseMetadata>\n    <RequestId>2b1c8035-b7fa-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</CreateCacheSecurityGroupResponse>\n\n            </queryresponse>\n        </examples>"
    },
    "CreateCacheSubnetGroup":{
      "name":"CreateCacheSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateCacheSubnetGroupMessage",
        "documentation":"<p>Represents the input of a <i>CreateCacheSubnetGroup</i> operation.</p>"
      },
      "output":{
        "shape":"CreateCacheSubnetGroupResult",
        "wrapper":true,
        "documentation":"<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n                <i>CreateCacheSubnetGroup</i>\n            </li>\n            <li>\n                <i>ModifyCacheSubnetGroup</i>\n            </li>\n        </ul>",
        "resultWrapper":"CreateCacheSubnetGroupResult"
      },
      "errors":[
        {
          "shape":"CacheSubnetGroupAlreadyExistsFault",
          "error":{
            "code":"CacheSubnetGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache subnet group name is already in use by an existing cache subnet\n            group.</p>"
        },
        {
          "shape":"CacheSubnetGroupQuotaExceededFault",
          "error":{
            "code":"CacheSubnetGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache\n            subnet groups.</p>"
        },
        {
          "shape":"CacheSubnetQuotaExceededFault",
          "error":{
            "code":"CacheSubnetQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of subnets in\n            a cache subnet group.</p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>An invalid subnet identifier was specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateCacheSubnetGroup</i> operation creates a new cache subnet group.</p>\n        <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private\n            Cloud (VPC).</p>\n        <examples>\n            <queryrequest>https://elasticache.amazonaws.com/\n    ?Action=CreateCacheSubnetGroup\n    &CacheSubnetGroupName=myCachesubnetgroup\n    &CacheSubnetGroupDescription=My%20new%20CacheSubnetGroup\n    &Version=2014-03-24\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2014-03-15T18%3A14%3A49.482Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CreateCacheSubnetGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n    <CreateCacheSubnetGroupResult>\n            <CacheSubnetGroup>\n                <VpcId>990524496922</VpcId>\n                <CacheSubnetGroupDescription>My new CacheSubnetGroup</CacheSubnetGroupDescription>\n                <CacheSubnetGroupName>myCachesubnetgroup</CacheSubnetGroupName>\n                <Subnets>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7c5b4115</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1c</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7b5b4112</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1b</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-3ea6bd57</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1d</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                </Subnets>\n            </CacheSubnetGroup>\n        </CreateCacheSubnetGroupResult>\n        <ResponseMetadata>\n            <RequestId>ed662948-a57b-11df-9e38-7ffab86c801f</RequestId>\n        </ResponseMetadata>\n    </CreateCacheSubnetGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateReplicationGroup":{
      "name":"CreateReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateReplicationGroupMessage",
        "documentation":"<p>Represents the input of a <i>CreateReplicationGroup</i> operation.</p>"
      },
      "output":{
        "shape":"CreateReplicationGroupResult",
        "wrapper":true,
        "documentation":"<p>Contains all of the attributes of a specific replication group.</p>",
        "resultWrapper":"CreateReplicationGroupResult"
      },
      "errors":[
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"InvalidCacheClusterStateFault",
          "error":{
            "code":"InvalidCacheClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"ReplicationGroupAlreadyExistsFault",
          "error":{
            "code":"ReplicationGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified replication group already exists.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateReplicationGroup</i> operation creates a replication group. A replication\n            group is a collection of cache clusters, where one of the clusters is a read/write\n            primary and the other clusters are read-only replicas. Writes to the primary are\n            automatically propagated to the replicas.</p>\n        <p>When you create a replication group, you must specify an existing cache cluster that is\n            in the primary role. When the replication group has been successfully created, you can\n            add one or more read replica replicas to it, up to a total of five read replicas.</p>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateSnapshotMessage",
        "documentation":"<p>Represents the input of a <i>CreateSnapshotMessage</i> operation.</p>"
      },
      "output":{
        "shape":"CreateSnapshotResult",
        "wrapper":true,
        "documentation":"<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper":"CreateSnapshotResult"
      },
      "errors":[
        {
          "shape":"SnapshotAlreadyExistsFault",
          "error":{
            "code":"SnapshotAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a snapshot with the given name.</p>"
        },
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"InvalidCacheClusterStateFault",
          "error":{
            "code":"InvalidCacheClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the maximum number of\n            snapshots.</p>"
        },
        {
          "shape":"SnapshotFeatureNotSupportedFault",
          "error":{
            "code":"SnapshotFeatureNotSupportedFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You attempted one of the following actions:</p>\n        <ul>\n            <li>\n                <p>Creating a snapshot of a Redis cache cluster running on a a <i>t1.micro</i> cache\n                    node.</p>\n            </li>\n            <li>\n                <p>Creating a snapshot of a cache cluster that is running Memcached rather than\n                    Redis.</p>\n            </li>\n        </ul>\n        <p>Neither of these are supported by ElastiCache.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        }
      ],
      "documentation":"<p>The <i>CreateSnapshot</i> operation creates a copy of an entire cache cluster at a\n            specific moment in time.</p>"
    },
    "DeleteCacheCluster":{
      "name":"DeleteCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteCacheClusterMessage",
        "documentation":"<p>Represents the input of a <i>DeleteCacheCluster</i> operation.</p>"
      },
      "output":{
        "shape":"DeleteCacheClusterResult",
        "wrapper":true,
        "documentation":"<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper":"DeleteCacheClusterResult"
      },
      "errors":[
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"InvalidCacheClusterStateFault",
          "error":{
            "code":"InvalidCacheClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"SnapshotAlreadyExistsFault",
          "error":{
            "code":"SnapshotAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a snapshot with the given name.</p>"
        },
        {
          "shape":"SnapshotFeatureNotSupportedFault",
          "error":{
            "code":"SnapshotFeatureNotSupportedFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You attempted one of the following actions:</p>\n        <ul>\n            <li>\n                <p>Creating a snapshot of a Redis cache cluster running on a a <i>t1.micro</i> cache\n                    node.</p>\n            </li>\n            <li>\n                <p>Creating a snapshot of a cache cluster that is running Memcached rather than\n                    Redis.</p>\n            </li>\n        </ul>\n        <p>Neither of these are supported by ElastiCache.</p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the maximum number of\n            snapshots.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteCacheCluster</i> operation deletes a previously provisioned cache cluster.\n                <i>DeleteCacheCluster</i> deletes all associated cache nodes, node endpoints and the\n            cache cluster itself. When you receive a successful response from this operation,\n            Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert\n            this operation.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DeleteCacheCluster\n   &CacheClusterId=simcoprod43&Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T02%3A46%3A46.129Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<DeleteCacheClusterResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DeleteCacheClusterResult>\n    <CacheCluster>\n      <CacheParameterGroup>\n        <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n        <CacheParameterGroupName>default.memcached1.4</CacheParameterGroupName>\n        <CacheNodeIdsToReboot/>\n      </CacheParameterGroup>\n      <CacheClusterId>simcoprod43</CacheClusterId>\n      <CacheClusterStatus>deleting</CacheClusterStatus>\n      <ConfigurationEndpoint>\n        <Port>11211</Port>\n        <Address>simcoprod43.m2st2p.cfg.cache.amazonaws.com</Address>\n      </ConfigurationEndpoint>\n      <CacheNodeType>cache.m1.large</CacheNodeType>\n      <Engine>memcached</Engine>\n      <PendingModifiedValues/>\n      <PreferredAvailabilityZone>us-east-1b</PreferredAvailabilityZone>\n      <CacheClusterCreateTime>2014-03-27T02:18:26.497Z</CacheClusterCreateTime>\n      <EngineVersion>1.4.5</EngineVersion>\n      <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n      <PreferredMaintenanceWindow>mon:05:00-mon:05:30</PreferredMaintenanceWindow>\n      <CacheSecurityGroups>\n        <CacheSecurityGroup>\n          <CacheSecurityGroupName>default</CacheSecurityGroupName>\n          <Status>active</Status>\n        </CacheSecurityGroup>\n      </CacheSecurityGroups>\n      <NumCacheNodes>3</NumCacheNodes>\n    </CacheCluster>\n  </DeleteCacheClusterResult>\n  <ResponseMetadata>\n    <RequestId>ab84aa7e-b7fa-11e0-9b0b-a9261be2b354</RequestId>\n  </ResponseMetadata>\n</DeleteCacheClusterResponse>\n            </queryresponse>\n        </examples>"
    },
    "DeleteCacheParameterGroup":{
      "name":"DeleteCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteCacheParameterGroupMessage",
        "documentation":"<p>Represents the input of a <i>DeleteCacheParameterGroup</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidCacheParameterGroupStateFault",
          "error":{
            "code":"InvalidCacheParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the cache parameter group does not allow the requested action to\n            occur. </p>"
        },
        {
          "shape":"CacheParameterGroupNotFoundFault",
          "error":{
            "code":"CacheParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache parameter group name does not refer to an existing cache parameter\n            group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteCacheParameterGroup</i> operation deletes the specified cache parameter\n            group. You cannot delete a cache parameter group if it is associated with any cache\n            clusters.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DeleteCacheParameterGroup\n   &CacheParameterGroupName=myparametergroup\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-25T21%3A16%3A39.166Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE\n            </queryrequest>\n            <queryresponse>\n<DeleteCacheParameterGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <ResponseMetadata>\n    <RequestId>d0a417cb-575b-11e0-8869-cd22b4f9d96f</RequestId>\n  </ResponseMetadata>\n</DeleteCacheParameterGroupResponse>\n            \n            </queryresponse>\n        </examples>"
    },
    "DeleteCacheSecurityGroup":{
      "name":"DeleteCacheSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteCacheSecurityGroupMessage",
        "documentation":"<p>Represents the input of a <i>DeleteCacheSecurityGroup</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidCacheSecurityGroupStateFault",
          "error":{
            "code":"InvalidCacheSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the cache security group does not allow deletion.</p>"
        },
        {
          "shape":"CacheSecurityGroupNotFoundFault",
          "error":{
            "code":"CacheSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache security group name does not refer to an existing cache security\n            group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteCacheSecurityGroup</i> operation deletes a cache security group.</p>\n        <note>You cannot delete a cache security group if it is associated with any cache\n            clusters.</note>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DeleteCacheSecurityGroup\n   &CacheSecurityGroupName=mycachesecuritygroup3\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T02%3A54%3A12.418Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<DeleteCacheSecurityGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n    <ResponseMetadata>\n        <RequestId>c130cfb7-3650-11e0-ae57-f96cfe56749c</RequestId>\n    </ResponseMetadata>\n</DeleteCacheSecurityGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteCacheSubnetGroup":{
      "name":"DeleteCacheSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteCacheSubnetGroupMessage",
        "documentation":"<p>Represents the input of a <i>DeleteCacheSubnetGroup</i> operation.</p>"
      },
      "errors":[
        {
          "shape":"CacheSubnetGroupInUse",
          "error":{
            "code":"CacheSubnetGroupInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache subnet group is currently in use.</p>"
        },
        {
          "shape":"CacheSubnetGroupNotFoundFault",
          "error":{
            "code":"CacheSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache subnet group name does not refer to an existing cache subnet\n            group.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteCacheSubnetGroup</i> operation deletes a cache subnet group.</p>\n        <note>You cannot delete a cache subnet group if it is associated with any cache\n            clusters.</note>\n        <examples>\n            <queryrequest>https://elasticache.amazonaws.com/\n     ?Action=DeleteCacheSubnetGroup\n     &CacheSubnetGroupName=mysubnetgroup\n     &Version=2014-03-24\n     &SignatureVersion=2\n     &SignatureMethod=HmacSHA256\n     &Timestamp=2014-03-15T17%3A48%3A21.746Z\n     &AWSAccessKeyId=<AWS Access Key ID>\n     &Signature=<Signature></queryrequest>\n            <queryresponse><DeleteCacheSubnetGroupResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n      <ResponseMetadata>\n        <RequestId>5d013245-4172-11df-8520-e7e1e602a915</RequestId>\n      </ResponseMetadata>\n    </DeleteCacheSubnetGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteReplicationGroup":{
      "name":"DeleteReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteReplicationGroupMessage",
        "documentation":"<p>Represents the input of a <i>DeleteReplicationGroup</i> operation.</p>"
      },
      "output":{
        "shape":"DeleteReplicationGroupResult",
        "wrapper":true,
        "documentation":"<p>Contains all of the attributes of a specific replication group.</p>",
        "resultWrapper":"DeleteReplicationGroupResult"
      },
      "errors":[
        {
          "shape":"ReplicationGroupNotFoundFault",
          "error":{
            "code":"ReplicationGroupNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified replication group does not exist.</p>"
        },
        {
          "shape":"InvalidReplicationGroupStateFault",
          "error":{
            "code":"InvalidReplicationGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested replication group is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"SnapshotAlreadyExistsFault",
          "error":{
            "code":"SnapshotAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a snapshot with the given name.</p>"
        },
        {
          "shape":"SnapshotFeatureNotSupportedFault",
          "error":{
            "code":"SnapshotFeatureNotSupportedFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You attempted one of the following actions:</p>\n        <ul>\n            <li>\n                <p>Creating a snapshot of a Redis cache cluster running on a a <i>t1.micro</i> cache\n                    node.</p>\n            </li>\n            <li>\n                <p>Creating a snapshot of a cache cluster that is running Memcached rather than\n                    Redis.</p>\n            </li>\n        </ul>\n        <p>Neither of these are supported by ElastiCache.</p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the maximum number of\n            snapshots.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteReplicationGroup</i> operation deletes an existing replication group. By\n            default, this operation deletes the entire replication group, including the primary\n            cache cluster and all of the read replicas. You can optionally delete only the read\n            replicas, while retaining the primary cache cluster.</p>\n        <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins\n            deleting the selected resources; you cannot cancel or revert this operation.</p>"
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteSnapshotMessage",
        "documentation":"<p>Represents the input of a <i>DeleteSnapshotMessage</i> operation.</p>"
      },
      "output":{
        "shape":"DeleteSnapshotResult",
        "wrapper":true,
        "documentation":"<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper":"DeleteSnapshotResult"
      },
      "errors":[
        {
          "shape":"SnapshotNotFoundFault",
          "error":{
            "code":"SnapshotNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested snapshot name does not refer to an existing snapshot.</p>"
        },
        {
          "shape":"InvalidSnapshotStateFault",
          "error":{
            "code":"InvalidSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the snapshot does not allow the requested action to occur.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DeleteSnapshot</i> operation deletes an existing snapshot. When you receive a\n            successful response from this operation, ElastiCache immediately begins deleting the snapshot;\n            you cannot cancel or revert this operation.</p>"
    },
    "DescribeCacheClusters":{
      "name":"DescribeCacheClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheClustersMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheClusters</i> operation.</p>"
      },
      "output":{
        "shape":"CacheClusterMessage",
        "documentation":"<p>Represents the output of a <i>DescribeCacheClusters</i> operation.</p>",
        "resultWrapper":"DescribeCacheClustersResult"
      },
      "errors":[
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeCacheClusters</i> operation returns information about all provisioned\n            cache clusters if no cache cluster identifier is specified, or about a specific cache\n            cluster if a cache cluster identifier is supplied.</p>\n        <p>By default, abbreviated information about the cache clusters(s) will be returned. You can\n            use the optional <i>ShowDetails</i> flag to retrieve detailed information about the\n            cache nodes associated with the cache clusters. These details include the DNS address\n            and port for the cache node endpoint.</p>\n        <p>If the cluster is in the CREATING state, only cluster level information will be displayed\n            until all of the nodes are successfully provisioned.</p>\n        <p>If the cluster is in the DELETING state, only cluster level information will be\n            displayed.</p>\n        <p>If cache nodes are currently being added to the cache cluster, node endpoint information\n            and creation time for the additional nodes will not be displayed until they are\n            completely provisioned. When the cache cluster state is <i>available</i>, the cluster is\n            ready for use.</p>\n        <p>If cache nodes are currently being removed from the cache cluster, no endpoint\n            information for the removed nodes is displayed.</p>\n\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeCacheClusters\n   &MaxRecords=100\n   &Version=2014-03-24\n   &ShowCacheNodeInfo=false\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T02%3A55%3A54.654Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<DescribeCacheClustersResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeCacheClustersResult>\n    <CacheClusters>\n      <CacheCluster>\n        <CacheParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <CacheParameterGroupName>default.memcached1.4</CacheParameterGroupName>\n          <CacheNodeIdsToReboot/>\n        </CacheParameterGroup>\n        <CacheClusterId>simcoprod42</CacheClusterId>\n        <CacheClusterStatus>available</CacheClusterStatus>\n        <ConfigurationEndpoint>\n          <Port>11211</Port>\n          <Address>simcoprod42.m2st2p.cfg.cache.amazonaws.com</Address>\n        </ConfigurationEndpoint>\n        <ClientDownloadLandingPage>\n          https://console.aws.amazon.com/elasticache/home#client-download:\n        </ClientDownloadLandingPage>\n        <CacheNodeType>cache.m1.large</CacheNodeType>\n        <Engine>memcached</Engine>\n        <PendingModifiedValues/>\n        <PreferredAvailabilityZone>us-east-1d</PreferredAvailabilityZone>\n        <CacheClusterCreateTime>2014-03-26T01:21:46.607Z</CacheClusterCreateTime>\n        <EngineVersion>1.4.5</EngineVersion>\n        <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n        <PreferredMaintenanceWindow>fri:08:30-fri:09:00</PreferredMaintenanceWindow>\n        <CacheSecurityGroups>\n          <CacheSecurityGroup>\n            <CacheSecurityGroupName>default</CacheSecurityGroupName>\n            <Status>active</Status>\n          </CacheSecurityGroup>\n        </CacheSecurityGroups>\n        <NotificationConfiguration>\n          <TopicStatus>active</TopicStatus>\n          <TopicArn>arn:aws:sns:us-east-1:123456789012:ElastiCacheNotifications</TopicArn>\n        </NotificationConfiguration>\n        <NumCacheNodes>6</NumCacheNodes>\n      </CacheCluster>\n    </CacheClusters>\n  </DescribeCacheClustersResult>\n  <ResponseMetadata>\n    <RequestId>f270d58f-b7fb-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</DescribeCacheClustersResponse></queryresponse>\n        </examples>"
    },
    "DescribeCacheEngineVersions":{
      "name":"DescribeCacheEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheEngineVersionsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheEngineVersions</i> operation.</p>"
      },
      "output":{
        "shape":"CacheEngineVersionMessage",
        "documentation":"<p>Represents the output of a <a>DescribeCacheEngineVersions</a> operation.</p>",
        "resultWrapper":"DescribeCacheEngineVersionsResult"
      },
      "documentation":"<p>The <i>DescribeCacheEngineVersions</i> operation returns a list of the available cache\n            engines and their versions.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeCacheEngineVersions\n   &MaxRecords=100\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-23T07%3A34%3A17.435Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse>\n<DescribeCacheEngineVersionsResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeCacheEngineVersionsResult>\n    <CacheEngineVersions>\n      <CacheEngineVersion>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Engine>memcached</Engine>\n        <CacheEngineVersionDescription>memcached version 1.4.14</CacheEngineVersionDescription>\n        <CacheEngineDescription>memcached</CacheEngineDescription>\n        <EngineVersion>1.4.14</EngineVersion>\n      </CacheEngineVersion>\n      <CacheEngineVersion>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Engine>memcached</Engine>\n        <CacheEngineVersionDescription>memcached version 1.4.5</CacheEngineVersionDescription>\n        <CacheEngineDescription>memcached</CacheEngineDescription>\n        <EngineVersion>1.4.5</EngineVersion>\n      </CacheEngineVersion>\n    </CacheEngineVersions>\n  </DescribeCacheEngineVersionsResult>\n  <ResponseMetadata>\n    <RequestId>a6ac9ad2-f8a4-11e1-a4d1-a345e5370093</RequestId>\n  </ResponseMetadata>\n</DescribeCacheEngineVersionsResponse>\n</queryresponse>\n        </examples>"
    },
    "DescribeCacheParameterGroups":{
      "name":"DescribeCacheParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheParameterGroupsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheParameterGroups</i> operation.</p>"
      },
      "output":{
        "shape":"CacheParameterGroupsMessage",
        "documentation":"<p>Represents the output of a <i>DescribeCacheParameterGroups</i> operation.</p>",
        "resultWrapper":"DescribeCacheParameterGroupsResult"
      },
      "errors":[
        {
          "shape":"CacheParameterGroupNotFoundFault",
          "error":{
            "code":"CacheParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache parameter group name does not refer to an existing cache parameter\n            group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeCacheParameterGroups</i> operation returns a list of cache parameter group\n            descriptions. If a cache parameter group name is specified, the list will contain only\n            the descriptions for that group.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeCacheParameterGroups\n   &MaxRecords=100\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T01%3A34%3A31.045Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<DescribeCacheParameterGroupsResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeCacheParameterGroupsResult>\n    <CacheParameterGroups>\n      <CacheParameterGroup>\n        <CacheParameterGroupName>default.memcached1.4</CacheParameterGroupName>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Description>Default parameter group for memcached1.4</Description>\n      </CacheParameterGroup>\n      <CacheParameterGroup>\n        <CacheParameterGroupName>mycacheparametergroup</CacheParameterGroupName>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Description>My cache parameter group</Description>\n      </CacheParameterGroup>\n      <CacheParameterGroup>\n        <CacheParameterGroupName>mycacheparametergroup1</CacheParameterGroupName>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Description>My first cache parameter group</Description>\n      </CacheParameterGroup>\n      <CacheParameterGroup>\n        <CacheParameterGroupName>mycacheparametergroup3</CacheParameterGroupName>\n        <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n        <Description>My first cache parameter group</Description>\n      </CacheParameterGroup>\n    </CacheParameterGroups>\n  </DescribeCacheParameterGroupsResult>\n  <ResponseMetadata>\n    <RequestId>7193fbb8-b7fc-11e0-9b0b-a9261be2b354</RequestId>\n  </ResponseMetadata>\n</DescribeCacheParameterGroupsResponse>\n</queryresponse>\n        </examples>"
    },
    "DescribeCacheParameters":{
      "name":"DescribeCacheParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheParametersMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheParameters</i> operation.</p>"
      },
      "output":{
        "shape":"CacheParameterGroupDetails",
        "documentation":"<p>Represents the output of a <i>DescribeCacheParameters</i> operation.</p>",
        "resultWrapper":"DescribeCacheParametersResult"
      },
      "errors":[
        {
          "shape":"CacheParameterGroupNotFoundFault",
          "error":{
            "code":"CacheParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache parameter group name does not refer to an existing cache parameter\n            group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeCacheParameters</i> operation returns the detailed parameter list for a\n            particular cache parameter group.</p>\n        <examples>\n            <example>\n                <description>Some of the output has been omitted for brevity. </description>\n                <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeCacheParameters\n   &CacheParameterGroupName=default.memcached1.4\n   &MaxRecords=100\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T03%3A07%3A23.039Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n                <queryresponse>\n<DescribeCacheParametersResponse xmlns=\"http://elasticache.amazonaws.com/doc/201\n1-07-15/\">\n  <DescribeCacheParametersResult>\n    <CacheNodeTypeSpecificParameters>\n      <CacheNodeTypeSpecificParameter>\n        <CacheNodeTypeSpecificValues>\n          <CacheNodeTypeSpecificValue>\n            <CacheNodeType>cache.c1.xlarge</CacheNodeType>\n            <Value>6000</Value>\n          </CacheNodeTypeSpecificValue>\n         \n (...output omitted...)\n\n        </CacheNodeTypeSpecificValues>\n        <DataType>integer</DataType>\n        <Source>system</Source>\n        <IsModifiable>false</IsModifiable>\n        <Description>The maximum configurable amount of memory to use to store items, in megabytes.</Description>\n        <AllowedValues>1-100000</AllowedValues>\n        <ParameterName>max_cache_memory</ParameterName>\n        <MinimumEngineVersion>1.4.5</MinimumEngineVersion>\n      </CacheNodeTypeSpecificParameter>\n      <CacheNodeTypeSpecificParameter>\n          \n (...output omitted...)\n\n      </CacheNodeTypeSpecificParameter>\n    </CacheNodeTypeSpecificParameters>\n    <Parameters>\n      <Parameter>\n        <ParameterValue>1024</ParameterValue>\n        <DataType>integer</DataType>\n        <Source>system</Source>\n        <IsModifiable>false</IsModifiable>\n        <Description>The backlog queue limit.</Description>\n        <AllowedValues>1-10000</AllowedValues>\n        <ParameterName>backlog_queue_limit</ParameterName>\n        <MinimumEngineVersion>1.4.5</MinimumEngineVersion>\n      </Parameter>\n \n (...output omitted...)\n      \n    </Parameters>\n  </DescribeCacheParametersResult>\n  <ResponseMetadata>\n    <RequestId>0c507368-b7fe-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</DescribeCacheParametersResponse></queryresponse>\n            </example>\n        </examples>"
    },
    "DescribeCacheSecurityGroups":{
      "name":"DescribeCacheSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheSecurityGroupsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheSecurityGroups</i> operation.</p>"
      },
      "output":{
        "shape":"CacheSecurityGroupMessage",
        "documentation":"<p>Represents the output of a <i>DescribeCacheSecurityGroups</i> operation.</p>",
        "resultWrapper":"DescribeCacheSecurityGroupsResult"
      },
      "errors":[
        {
          "shape":"CacheSecurityGroupNotFoundFault",
          "error":{
            "code":"CacheSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache security group name does not refer to an existing cache security\n            group.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeCacheSecurityGroups</i> operation returns a list of cache security group\n            descriptions. If a cache security group name is specified, the list will contain only\n            the description of that group.</p>\n        <examples>\n            <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeCacheSecurityGroups\n   &Version=2014-03-24\n   &MaxRecords=100\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T01%3A22%3A48.381Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n            <queryresponse>\n<DescribeCacheSecurityGroupsResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeCacheSecurityGroupsResult>\n    <CacheSecurityGroups>\n      <CacheSecurityGroup>\n        <EC2SecurityGroups/>\n        <CacheSecurityGroupName>default</CacheSecurityGroupName>\n        <OwnerId>123456789012</OwnerId>\n        <Description>default</Description>\n      </CacheSecurityGroup>\n      <CacheSecurityGroup>\n        <EC2SecurityGroups/>\n        <CacheSecurityGroupName>mycachesecuritygroup</CacheSecurityGroupName>\n        <OwnerId>123456789012</OwnerId>\n        <Description>My Security Group</Description>\n      </CacheSecurityGroup>\n    </CacheSecurityGroups>\n  </DescribeCacheSecurityGroupsResult>\n  <ResponseMetadata>\n    <RequestId>a95360ae-b7fc-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</DescribeCacheSecurityGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeCacheSubnetGroups":{
      "name":"DescribeCacheSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeCacheSubnetGroupsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeCacheSubnetGroups</i> operation.</p>"
      },
      "output":{
        "shape":"CacheSubnetGroupMessage",
        "documentation":"<p>Represents the output of a <i>DescribeCacheSubnetGroups</i> operation.</p>",
        "resultWrapper":"DescribeCacheSubnetGroupsResult"
      },
      "errors":[
        {
          "shape":"CacheSubnetGroupNotFoundFault",
          "error":{
            "code":"CacheSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache subnet group name does not refer to an existing cache subnet\n            group.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeCacheSubnetGroups</i> operation returns a list of cache subnet group\n            descriptions. If a subnet group name is specified, the list will contain only the\n            description of that group.</p>\n        <examples>\n            <example>\n                <description>Some of the output has been omitted for brevity. </description>\n                <queryrequest>https://elasticache.amazonaws.com/\n    ?Action=DescribeCacheSubnetGroups\n    &Version=2014-03-24\n    &MaxRecords=100\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2014-03-15T19%3A40%3A19.926Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n                <queryresponse><DescribeCacheSubnetGroupsResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n        <DescribeCacheSubnetGroupsResult>\n            <CacheSubnetGroups>\n                <CacheSubnetGroup>\n                    <VpcId>990524496922</VpcId>\n                    <CacheSubnetGroupDescription>description</CacheSubnetGroupDescription>\n                    <CacheSubnetGroupName>subnet_grp1</CacheSubnetGroupName>\n                    <Subnets>\n                        <Subnet>\n                            <SubnetStatus>Active</SubnetStatus>\n                            <SubnetIdentifier>subnet-7c5b4115</SubnetIdentifier>\n                            <SubnetAvailabilityZone>\n                                <Name>us-east-1c</Name>\n                            </SubnetAvailabilityZone>\n                        </Subnet>\n                        <Subnet>\n                            <SubnetStatus>Active</SubnetStatus>\n                            <SubnetIdentifier>subnet-7b5b4112</SubnetIdentifier>\n                            <SubnetAvailabilityZone>\n                                <Name>us-east-1b</Name>\n                            </SubnetAvailabilityZone>\n                        </Subnet>\n                        <Subnet>\n                            <SubnetStatus>Active</SubnetStatus>\n                            <SubnetIdentifier>subnet-3ea6bd57</SubnetIdentifier>\n                            <SubnetAvailabilityZone>\n                                <Name>us-east-1d</Name>\n                            </SubnetAvailabilityZone>\n                        </Subnet>\n                    </Subnets>\n                </CacheSubnetGroup>\n                \n (...output omitted...)\n      \n            </CacheSubnetGroups>\n        </DescribeCacheSubnetGroupsResult>\n        <ResponseMetadata>\n            <RequestId>31d0faee-229b-11e1-81f1-df3a2a803dad</RequestId>\n        </ResponseMetadata>\n    </DescribeCacheSubnetGroupsResponse></queryresponse>\n            </example>\n        </examples>"
    },
    "DescribeEngineDefaultParameters":{
      "name":"DescribeEngineDefaultParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEngineDefaultParametersMessage",
        "documentation":"<p>Represents the input of a <i>DescribeEngineDefaultParameters</i> operation.</p>"
      },
      "output":{
        "shape":"DescribeEngineDefaultParametersResult",
        "wrapper":true,
        "documentation":"<p>Represents the output of a <i>DescribeEngineDefaultParameters</i> operation.</p>",
        "resultWrapper":"DescribeEngineDefaultParametersResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeEngineDefaultParameters</i> operation returns the default engine and\n            system parameter information for the specified cache engine.</p>\n        <examples>\n            <example>\n                <description>Some of the output has been omitted for brevity. </description>\n                <queryrequest>\nhttps://elasticache.us-east-1.amazonaws.com/\n   ?Action=DescribeEngineDefaultParameters\n   &CacheParameterGroupFamily=memcached1.4\n   &MaxRecords=100\n   &Version=2014-03-24\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-27T01%3A34%3A31.045Z\n   &AWSAccessKeyId=YOUR-ACCESS-KEY\n   &Signature=YOUR-SIGNATURE</queryrequest>\n                <queryresponse>\n<DescribeEngineDefaultParametersResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeEngineDefaultParametersResult>\n    <EngineDefaults>\n      <CacheParameterGroupFamily>memcached1.4</CacheParameterGroupFamily>\n      <Parameters>\n        <Parameter>\n          <ParameterValue>1024</ParameterValue>\n          <DataType>integer</DataType>\n          <Source>system</Source>\n          <IsModifiable>false</IsModifiable>\n          <Description>The backlog queue limit.</Description>\n          <AllowedValues>1-10000</AllowedValues>\n          <ParameterName>backlog_queue_limit</ParameterName>\n          <MinimumEngineVersion>1.4.5</MinimumEngineVersion>\n        </Parameter>\n        <Parameter>\n                \n (...output omitted...)\n          \n        </Parameter>\n      </Parameters>\n      <CacheNodeTypeSpecificParameters>\n        <CacheNodeTypeSpecificParameter>\n          <CacheNodeTypeSpecificValues>\n            <CacheNodeTypeSpecificValue>\n              <CacheNodeType>cache.c1.xlarge</CacheNodeType>\n              <Value>6000</Value>\n            </CacheNodeTypeSpecificValue>\n               \n (...output omitted...)\n          \n          </CacheNodeTypeSpecificValues>\n          <DataType>integer</DataType>\n          <Source>system</Source>\n          <IsModifiable>false</IsModifiable>\n          <Description>The maximum configurable amount of memory to use to store\n items, in megabytes.</Description>\n          <AllowedValues>1-100000</AllowedValues>\n          <ParameterName>max_cache_memory</ParameterName>\n          <MinimumEngineVersion>1.4.5</MinimumEngineVersion>\n        </CacheNodeTypeSpecificParameter>\n               \n (...output omitted...)\n          \n      </CacheNodeTypeSpecificParameters>\n    </EngineDefaults>\n  </DescribeEngineDefaultParametersResult>\n  <ResponseMetadata>\n    <RequestId>061282fe-b7fd-11e0-9326-b7275b9d4a6c</RequestId>\n  </ResponseMetadata>\n</DescribeEngineDefaultParametersResponse></queryresponse>\n            </example>\n        </examples>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEventsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeEvents</i> operation.</p>"
      },
      "output":{
        "shape":"EventsMessage",
        "documentation":"<p>Represents the output of a <i>DescribeEvents</i> operation.</p>",
        "resultWrapper":"DescribeEventsResult"
      },
      "errors":[
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeEvents</i> operation returns events related to cache clusters, cache\n            security groups, and cache parameter groups. You can obtain events specific to a\n            particular cache cluster, cache security group, or cache parameter group by providing\n            the name as a parameter.</p>\n        <p>By default, only the events occurring within the last hour are returned; however, you can\n            retrieve up to 14 days' worth of events if necessary.</p>"
    },
    "DescribeReplicationGroups":{
      "name":"DescribeReplicationGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeReplicationGroupsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeReplicationGroups</i> operation.</p>"
      },
      "output":{
        "shape":"ReplicationGroupMessage",
        "documentation":"<p>Represents the output of a <i>DescribeReplicationGroups</i> operation.</p>",
        "resultWrapper":"DescribeReplicationGroupsResult"
      },
      "errors":[
        {
          "shape":"ReplicationGroupNotFoundFault",
          "error":{
            "code":"ReplicationGroupNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified replication group does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeReplicationGroups</i> operation returns information about a particular\n            replication group. If no identifier is specified, <i>DescribeReplicationGroups</i>\n            returns information about all replication groups.</p>"
    },
    "DescribeReservedCacheNodes":{
      "name":"DescribeReservedCacheNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeReservedCacheNodesMessage",
        "documentation":"<p>Represents the input of a <i>DescribeReservedCacheNodes</i> operation.</p>"
      },
      "output":{
        "shape":"ReservedCacheNodeMessage",
        "documentation":"<p>Represents the output of a <i>DescribeReservedCacheNodes</i> operation.</p>",
        "resultWrapper":"DescribeReservedCacheNodesResult"
      },
      "errors":[
        {
          "shape":"ReservedCacheNodeNotFoundFault",
          "error":{
            "code":"ReservedCacheNodeNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested reserved cache node was not found.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeReservedCacheNodes</i> operation returns information about reserved cache\n            nodes for this account, or about a specified reserved cache node.</p>\n        <examples>\n            <queryrequest>https://elasticache.amazonaws.com/\n   ?Action=DescribeReservedCacheNodes\n   &ReservedCacheNodeId=customerSpecifiedID\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2012-12-18T18%3A31%3A36.118Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse><DescribeReservedCacheNodesResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeReservedCacheNodesResult>\n    <ReservedCacheNodes>\n      <ReservedCacheNode>\n        <OfferingType>Medium Utilization</OfferingType>\n        <RecurringCharges/>\n        <ProductDescription>memcached</ProductDescription>\n        <ReservedCacheNodesOfferingId>649fd0c8-cf6d-47a0-bfa6-060f8e75e95f</ReservedCacheNodesOfferingId>\n        <State>payment-failed</State>\n        <ReservedCacheNodeId>myreservationid</ReservedCacheNodeId>\n        <CacheNodeCount>1</CacheNodeCount>\n        <StartTime>2010-12-15T00:25:14.131Z</StartTime>\n        <Duration>31536000</Duration>\n        <FixedPrice>227.5</FixedPrice>\n        <UsagePrice>0.046</UsagePrice>\n        <CacheNodeType>cache.m1.small</CacheNodeType>\n      </ReservedCacheNode>\n  </DescribeReservedCacheNodesResult>\n  <ResponseMetadata>\n    <RequestId>c695119b-2961-11e1-bd06-6fe008f046c3</RequestId>\n  </ResponseMetadata>\n</DescribeReservedCacheNodesResponse>\n</queryresponse>\n        </examples>"
    },
    "DescribeReservedCacheNodesOfferings":{
      "name":"DescribeReservedCacheNodesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeReservedCacheNodesOfferingsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeReservedCacheNodesOfferings</i> operation.</p>"
      },
      "output":{
        "shape":"ReservedCacheNodesOfferingMessage",
        "documentation":"<p>Represents the output of a <i>DescribeReservedCacheNodesOfferings</i> operation.</p>",
        "resultWrapper":"DescribeReservedCacheNodesOfferingsResult"
      },
      "errors":[
        {
          "shape":"ReservedCacheNodesOfferingNotFoundFault",
          "error":{
            "code":"ReservedCacheNodesOfferingNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache node offering does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeReservedCacheNodesOfferings</i> operation lists available reserved cache\n            node offerings.</p>\n        <examples>\n            <queryrequest>https://elasticache.amazonaws.com/\n   ?Action=DescribeReservedCacheNodesOfferings\n   &ReservedCacheNodesOfferingId=438012d3-4052-4cc7-b2e3-8d3372e0e706\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2014-03-18T18%3A31%3A36.118Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse><DescribeReservedCacheNodesOfferingsResponse xmlns=\"http://elasticache.amazonaws.com/doc/2014-03-24/\">\n  <DescribeReservedCacheNodesOfferingsResult>\n    <ReservedCacheNodesOfferings>\n      <ReservedCacheNodesOffering>\n        <Duration>31536000</Duration>\n        <OfferingType>Heavy Utilization</OfferingType>\n        <RecurringCharges>\n          <RecurringCharge>\n            <RecurringChargeFrequency>Hourly</RecurringChargeFrequency>\n            <RecurringChargeAmount>0.123</RecurringChargeAmount>\n          </RecurringCharge>\n        </RecurringCharges>\n        <FixedPrice>162.0</FixedPrice>\n        <ProductDescription>memcached</ProductDescription>\n        <UsagePrice>0.0</UsagePrice>\n        <ReservedCacheNodesOfferingId>SampleOfferingId</ReservedCacheNodesOfferingId>\n        <CacheNodeType>cache.m1.small</CacheNodeType>\n      </ReservedCacheNodesOffering>\n    </ReservedCacheNodesOfferings>\n  </DescribeReservedCacheNodesOfferingsResult>\n  <ResponseMetadata>\n    <RequestId>521b420a-2961-11e1-bd06-6fe008f046c3</RequestId>\n  </ResponseMetadata>\n</DescribeReservedCacheNodesOfferingsResponse>\n</queryresponse>\n        </examples>"
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeSnapshotsMessage",
        "documentation":"<p>Represents the input of a <i>DescribeSnapshotsMessage</i> operation.</p>"
      },
      "output":{
        "shape":"DescribeSnapshotsListMessage",
        "documentation":"<p>Represents the output of a <i>DescribeSnapshots</i> operation.</p>",
        "resultWrapper":"DescribeSnapshotsResult"
      },
      "errors":[
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"SnapshotNotFoundFault",
          "error":{
            "code":"SnapshotNotFoundFault",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested snapshot name does not refer to an existing snapshot.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
      "documentation":"<p>The <i>DescribeSnapshots</i> operation returns information about cache cluster snapshots.\n            By default, <i>DescribeSnapshots</i> lists all of your snapshots; it can optionally\n            describe a single snapshot, or just the snapshots associated with a particular cache\n            cluster.</p>"
    },
    "ModifyCacheCluster":{
      "name":"ModifyCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ModifyCacheClusterMessage",
        "documentation":"<p>Represents the input of a <i>ModifyCacheCluster</i> operation.</p>"
      },
      "output":{
        "shape":"ModifyCacheClusterResult",
        "wrapper":true,
        "documentation":"<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper":"ModifyCacheClusterResult"
      },
      "errors":[
        {
          "shape":"InvalidCacheClusterStateFault",
          "error":{
            "code":"InvalidCacheClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster is not in the <i>available</i> state.</p>"
        },
        {
          "shape":"InvalidCacheSecurityGroupStateFault",
          "error":{
            "code":"InvalidCacheSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The current state of the cache security group does not allow deletion.</p>"
        },
        {
          "shape":"CacheClusterNotFoundFault",
          "error":{
            "code":"CacheClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>"
        },
        {
          "shape":"NodeQuotaForClusterExceededFault",
          "error":{
            "code":"NodeQuotaForClusterExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache nodes\n            in a single cache cluster.</p>"
        },
        {
          "shape":"NodeQuotaForCustomerExceededFault",
          "error":{
            "code":"NodeQuotaForCustomerExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request cannot be processed because it would exceed the allowed number of cache nodes\n            per customer. </p>"
        },
        {
          "shape":"CacheSecurityGroupNotFoundFault",
          "error":{
            "code":"CacheSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache security group name does not refer to an existing cache security\n            group.</p>"
        },
        {
          "shape":"CacheParameterGroupNotFoundFault",
          "error":{
            "code":"CacheParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The requested cache parameter group name does not refer to an existing cache parameter\n            group.</p>"
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The VPC network is in an invalid state.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{
            "code":"InvalidParameterValue",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value for a parameter is invalid.</p>"
        },
        {
          "shape":"InvalidParameterCombinationException",
          "error":{
            "code":"InvalidParameterCombination",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Two or more incompatible parameters were specified.</p>"
        }
      ],
[...]
