{
  "metadata":{
    "apiVersion":"2012-09-25",
    "endpointPrefix":"elastictranscoder",
    "serviceFullName":"Amazon Elastic Transcoder",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "documentation":"<fullname>AWS Elastic Transcoder Service</fullname>\n        <p>The AWS Elastic Transcoder Service.</p>",
  "operations":{
    "CancelJob":{
      "name":"CancelJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/jobs/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"CancelJobRequest",
        "documentation":"<p>The <code>CancelJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CancelJobResponse",
        "documentation":"<p>The response body contains a JSON object. If the job is successfully canceled, the value\n            of <code>Success</code> is <code>true</code>.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to\n            delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CancelJob operation cancels an unfinished job.</p>\n        <note>You can only cancel a job that has a status of <code>Submitted</code>. To prevent a\n            pipeline from starting to process a job while you're getting the job identifier, use\n                <a>UpdatePipelineStatus</a> to temporarily pause the pipeline.</note>\n        <examples>\n            <example>\n                <request>DELETE /2012-09-25/jobs/3333333333333-abcde3 HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]</request>\n                <response>Status: 202 Accepted x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Success\":\"true\" }</response>\n            </example>\n        </examples>"
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/jobs",
        "responseCode":201
      },
      "input":{
        "shape":"CreateJobRequest",
        "documentation":"<p>The <code>CreateJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreateJobResponse",
        "documentation":"<p>The CreateJobResponse structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds\n            the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p> When you create a job, Elastic Transcoder returns JSON data that includes the values\n            that you specified plus information about the job that is created. </p>\n        <p>If you have specified more than one output for your jobs (for example, one output for the\n            Kindle Fire and another output for the Apple iPhone 4s), you currently must use the\n            Elastic Transcoder API to list the jobs (as opposed to the AWS Console).</p>\n        <examples>\n            <name>CreateJob Example</name>\n            <example>\n                <request>POST /2012-09-25/jobs HTTP/1.1 Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] { \"Input\":{\n                    \"Key\":\"recipes/lasagna.mp4\", \"FrameRate\":\"auto\", \"Resolution\":\"auto\",\n                    \"AspectRatio\":\"auto\", \"Interlaced\":\"auto\", \"Container\":\"mp4\" },\n                    \"OutputKeyPrefix\":\"recipes/\", \"Outputs\":[ {\n                    \"Key\":\"mp4/lasagna-kindlefirehd.mp4\",\n                    \"ThumbnailPattern\":\"mp4/thumbnails/lasagna-{count}\", \"Rotate\":\"0\",\n                    \"PresetId\":\"1351620000000-100080\" }, { \"Key\":\"iphone/lasagna-1024k\",\n                    \"ThumbnailPattern\":\"iphone/th1024k/lasagna-{count}\", \"Rotate\":\"0\",\n                    \"PresetId\":\"1351620000000-987654\", \"SegmentDuration\":\"5\" }, {\n                    \"Key\":\"iphone/lasagna-512k\", \"ThumbnailPattern\":\"iphone/th512k/lasagna-{count}\",\n                    \"Rotate\":\"0\", \"PresetId\":\"1351620000000-456789\", \"Watermarks\":[ {\n                    \"InputKey\":\"logo/128x64.png\", \"PresetWatermarkId\":\"company logo 128x64\" } ],\n                    \"SegmentDuration\":\"5\" } ], \"Playlists\": [ { \"Format\": \"HLSv3\", \"Name\":\n                    \"playlist-iPhone-lasagna.m3u8\", \"OutputKeys\": [ \"iphone/lasagna-1024k\",\n                    \"iphone/lasagna-512k\" ] } ], \"PipelineId\":\"1111111111111-abcde1\" } </request>\n                <response>Status: 201 Created x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Job\":{\n                    \"Id\":\"3333333333333-abcde3\" \"Input\":{ \"AspectRatio\":\"auto\", \"Container\":\"mp4\",\n                    \"FrameRate\":\"auto\", \"Interlaced\":\"auto\", \"Key\":\"cooking/lasagna.mp4\",\n                    \"Resolution\":\"auto\" }, \"Output\":{ \"Duration\":\"1003\", \"Height\":\"720\", \"Id\":\"1\",\n                    \"Key\":\"mp4/lasagna-kindlefirehd.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Progressing\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"mp4/thumbnails/lasagna-{count}\", \"Width\":\"1280\" },\n                    \"Outputs\":[ { \"Duration\":\"1003\", \"Height\":\"720\", \"Id\":\"1\",\n                    \"Key\":\"mp4/lasagna-kindlefirehd.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Progressing\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"mp4/thumbnails/lasagna-{count}\", \"Width\":\"1280\" }, {\n                    \"Duration\":\"1003\", \"Height\":\"640\", \"Id\":\"2\", \"Key\":\"iphone/lasagna-1024k\",\n                    \"PresetId\":\"1351620000000-987654\", \"Rotate\":\"0\", \"SegmentDuration\":\"5\",\n                    \"Status\":\"Progressing\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"iphone/th1024k/lasagna-{count}\", \"Width\":\"1136\" }, {\n                    \"Duration\":\"1003\", \"Height\":\"640\", \"Id\":\"3\", \"Key\":\"iphone/lasagna-512k\",\n                    \"PresetId\":\"1351620000000-456789\", \"Watermarks\":[ {\n                    \"InputKey\":\"logo/128x64.png\", \"PresetWatermarkId\":\"company logo 128x64\" } ],\n                    \"Rotate\":\"0\", \"SegmentDuration\":\"5\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"iphone/th512k/lasagna-{count}\", \"Width\":\"1136\" } ],\n                    \"PipelineId\":\"1111111111111-abcde1\", \"Playlists\":[ { \"Format\":\"HLSv3\",\n                    \"Name\":\"playlist-iPhone-lasagna.m3u8\", \"OutputKeys\": [ \"iphone/lasagna-1024k\",\n                    \"iphone/lasagna-512k\" ] } ], \"Status\":\"Progressing\" } </response>\n            </example>\n        </examples>"
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines",
        "responseCode":201
      },
      "input":{
        "shape":"CreatePipelineRequest",
        "documentation":"<p>The <code>CreatePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreatePipelineResponse",
        "documentation":"<p>When you create a pipeline, Elastic Transcoder returns the values that you specified in the\n            request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds\n            the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CreatePipeline operation creates a pipeline with settings that you specify.</p>\n        <examples>\n            <example>\n                <request>POST /2012-09-25/pipelines HTTP/1.1 Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] {\n                    \"Name\":\"Default\", \"InputBucket\":\"salesoffice.example.com-source\",\n                    \"OutputBucket\":\"salesoffice.example.com-public-promos\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/transcode-service\", \"Notifications\":{\n                    \"Progressing\":\"\", \"Completed\":\"\", \"Warning\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\" } \"ContentConfig\":{\n                    \"Bucket\": \"My-S3-bucket\", \"Permissions\":[ { \"GranteeType\":\"Email\", \"Grantee\":\n                    \"marketing-promos@example.com\", \"Access\":[ \"Read\" ] } ],\n                    \"StorageClass\":\"Standard\" }, \"ThumbnailConfig\":{ \"Bucket\":\"My-S3-bucket\",\n                    \"Permissions\":[ { \"GranteeType\":\"Email\",\n                    \"Grantee\":\"marketing-promos@example.com\", \"Access\":[ \"Read\" ] } ],\n                    \"StorageClass\":\"Standard\" } }</request>\n                <response>Status: 201 Created x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Pipeline\":{\n                    Id\":\"1111111111111-abcde1\", \"InputBucket\":\"salesoffice.example.com-source\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/Elastic_Transcoder_Default_Role\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ET_Errors\", \"Progressing\":\"\",\n                    \"Warning\":\"\" }, \"ContentConfig\":{\n                    \"Bucket\":\"salesoffice.example.com-public-promos\", \"Permissions\":[ {\n                    \"GranteeType\":\"Email\", \"Grantee\":\"marketing-promos@example.com\", \"Access\":[\n                    \"FullControl\" ] } ], \"StorageClass\":\"Standard\" }, \"ThumbnailConfig\":{\n                    \"Bucket\":\"salesoffice.example.com-public-promos-thumbnails\", \"Permissions\":[ {\n                    \"GranteeType\":\"Email\", \"Grantee\":\"marketing-promos@example.com\", \"Access\":[\n                    \"FullControl\" ] } ], \"StorageClass\":\"ReducedRedundancy\" }, \"Status\":\"Active\" } }\n                </response>\n            </example>\n        </examples>"
    },
    "CreatePreset":{
      "name":"CreatePreset",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/presets",
        "responseCode":201
      },
      "input":{
        "shape":"CreatePresetRequest",
        "documentation":"<p>The <code>CreatePresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreatePresetResponse",
        "documentation":"<p>The <code>CreatePresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds\n            the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CreatePreset operation creates a preset with settings that you specify.</p>\n        <important>Elastic Transcoder checks the CreatePreset settings to ensure that they meet Elastic Transcoder requirements\n            and to determine whether they comply with H.264 standards. If your settings are not\n            valid for Elastic Transcoder, Elastic Transcoder returns an HTTP 400 response (<code>ValidationException</code>) and\n            does not create the preset. If the settings are valid for Elastic Transcoder but aren't strictly\n            compliant with the H.264 standard, Elastic Transcoder creates the preset and returns a warning message\n            in the response. This helps you determine whether your settings comply with the H.264\n            standard while giving you greater flexibility with respect to the video that Elastic Transcoder\n            produces.</important>\n        <p>Elastic Transcoder uses the H.264 video-compression format. For more information, see the International\n            Telecommunication Union publication <i>Recommendation ITU-T H.264: Advanced video coding\n                for generic audiovisual services</i>.</p>\n        <examples>\n            <example>\n                <request>POST /2012-09-25/presets HTTP/1.1 Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] {\n                    \"Name\":\"DefaultPreset\", \"Description\":\"Use for published videos\",\n                    \"Container\":\"mp4\", \"Audio\":{ \"Codec\":\"AAC\", \"SampleRate\":\"44100\",\n                    \"BitRate\":\"96\", \"Channels\":\"2\" }, \"Video\":{ \"Codec\":\"H.264\", \"CodecOptions\":{\n                    \"Profile\":\"main\", \"Level\":\"2.2\", \"MaxReferenceFrames\":\"3\", \"MaxBitRate\":\"\",\n                    \"BufferSize\":\"\" }, \"KeyframesMaxDist\":\"240\", \"FixedGOP\":\"false\",\n                    \"BitRate\":\"1600\", \"FrameRate\":\"30\", \"MaxWidth\": \"auto\", \"MaxHeight\": \"auto\",\n                    \"SizingPolicy\": \"Fit\", \"PaddingPolicy\": \"NoPad\", \"DisplayAspectRatio\": \"16:9\",\n                    \"Watermarks\":[ { \"Id\":\"company logo\", \"MaxWidth\":\"20%\", \"MaxHeight\":\"20%\",\n                    \"SizingPolicy\":\"ShrinkToFit\", \"HorizontalAlign\":\"Right\",\n                    \"HorizontalOffset\":\"10px\", \"VerticalAlign\":\"Bottom\", \"VerticalOffset\":\"10px\",\n                    \"Opacity\":\"55.5\", \"Target\":\"Content\" } ]}, \"Thumbnails\":{ \"Format\":\"png\",\n                    \"Interval\":\"120\", \"MaxWidth\": \"auto, \"MaxHeight\": \"auto\", \"SizingPolicy\": \"Fit\",\n                    \"PaddingPolicy\": \"NoPad\" } }</request>\n                <response>Status: 201 Created x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Preset\":{ \"Audio\":{\n                    \"BitRate\":\"96\", \"Channels\":\"2\", \"Codec\":\"AAC\", \"SampleRate\":\"44100\" },\n                    \"Container\":\"mp4\", \"Description\":\"Use for published videos\",\n                    \"Id\":\"5555555555555-abcde5\", \"Name\":\"DefaultPreset\", \"Thumbnails\":{ \"Format\":\"png\",\n                    \"Interval\":\"120\", \"MaxWidth\": \"auto, \"MaxHeight\": \"auto\", \"SizingPolicy\": \"Fit\",\n                    \"PaddingPolicy\": \"NoPad\" }, \"Type\":\"Custom\", \"Video\":{ \"Codec\":\"H.264\",\n                    \"CodecOptions\":{ \"Profile\":\"main\", \"Level\":\"2.2\", \"MaxReferenceFrames\":\"3\",\n                    \"MaxBitRate\":\"\", \"BufferSize\":\"\" }, \"KeyframesMaxDist\":\"240\",\n                    \"FixedGOP\":\"false\", \"BitRate\":\"1600\", \"FrameRate\":\"30\", \"MaxWidth\": \"auto\",\n                    \"MaxHeight\": \"auto\", \"SizingPolicy\": \"Fit\", \"PaddingPolicy\": \"NoPad\",\n                    \"DisplayAspectRatio\": \"16:9\", \"Watermarks\":[ { \"Id\":\"company logo\",\n                    \"MaxWidth\":\"20%\", \"MaxHeight\":\"20%\", \"SizingPolicy\":\"ShrinkToFit\",\n                    \"HorizontalAlign\":\"Right\", \"HorizontalOffset\":\"10px\", \"VerticalAlign\":\"Bottom\",\n                    \"VerticalOffset\":\"10px\", \"Opacity\":\"55.5\", \"Target\":\"Content\" } ] } },\n                    \"Warning\":\"\" }</response>\n            </example>\n        </examples>"
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/pipelines/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"DeletePipelineRequest",
        "documentation":"<p>The <code>DeletePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"DeletePipelineResponse",
        "documentation":"<p>The <code>DeletePipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to\n            delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The DeletePipeline operation removes a pipeline.</p>\n        <p> You can only delete a pipeline that has never been used or that is not currently in use\n            (doesn't contain any active jobs). If the pipeline is currently in use,\n                <code>DeletePipeline</code> returns an error. </p>\n        <examples>\n            <example>\n                <request>DELETE /2012-09-25/pipelines/1111111111111-abcde1 HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]</request>\n                <response>Status: 202 Accepted x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Success\":\"true\" } </response>\n            </example>\n        </examples>"
    },
    "DeletePreset":{
      "name":"DeletePreset",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/presets/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"DeletePresetRequest",
        "documentation":"<p>The <code>DeletePresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"DeletePresetResponse",
        "documentation":"<p>The <code>DeletePresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The DeletePreset operation removes a preset that you've added in an AWS region.</p>\n        <note>\n            <p>You can't delete the default presets that are included with Elastic Transcoder.</p>\n        </note>\n        <examples>\n            <example>\n                <request>DELETE /2012-09-25/pipelines/5555555555555-abcde5 HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response>Status: 202 Accepted x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Success\":\"true\" }</response>\n            </example>\n        </examples>"
    },
    "ListJobsByPipeline":{
      "name":"ListJobsByPipeline",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobsByPipeline/{PipelineId}"
      },
      "input":{
        "shape":"ListJobsByPipelineRequest",
        "documentation":"<p>The <code>ListJobsByPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListJobsByPipelineResponse",
        "documentation":"<p>The <code>ListJobsByPipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListJobsByPipeline operation gets a list of the jobs currently in a pipeline.</p>\n        <p>Elastic Transcoder returns all of the jobs currently in the specified pipeline. The\n            response body contains one element for each job that satisfies the search criteria.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/jobsByPipeline/1111111111111-abcde1?Ascending=true HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Jobs\":[ { \"Id\":\"3333333333333-abcde3\",\n                    \"Input\":{ \"AspectRatio\":\"auto\", \"Container\":\"mp4\", \"FrameRate\":\"auto\",\n                    \"Interlaced\":\"auto\", \"Key\":\"cooking/lasagna.mp4\", \"Resolution\":\"auto\" },\n                    \"Outputs \":[ { \"Id\":\"1\" \"Key\":\"cooking/lasagna-KindleFireHD.mp4\",\n                    \"PresetId\":\"5555555555555-abcde5\", \"Rotate\":\"0\", \"Status\":\"Submitted\",\n                    \"StatusDetail\":\"Job has been received.\",\n                    \"ThumbnailPattern\":\"cooking/lasagna-{count}-KindleFireHD\", \"Duration\":\"1003\",\n                    \"Width\":\"1280\", \"Height\":\"720\" }, { \"Id\":\"2\"\n                    \"Key\":\"cooking/lasagna-iPhone4s.mp4\", \"PresetId\":\"1351620000000-100020\",\n                    \"Rotate\":\"0\", \"Status\":\"Submitted\", \"StatusDetail\":\"Job has been received.\",\n                    \"ThumbnailPattern\":\"cooking/lasagna-{count}-iPhone4s\", \"Duration\":\"1003\",\n                    \"Width\":\"1920\", \"Height\":\"1080\" } ], \"Output\":{\n                    \"Key\":\"cooking/lasagna-KindleFireHD.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Submitted\", \"StatusDetail\":\"Job has been received.\",\n                    \"ThumbnailPattern\":\"cooking/lasagna-{count}-KindleFireHD\" },\n                    \"PipelineId\":\"1111111111111-abcde1\" }, { \"Id\":\"4444444444444-abcde4\", \"Input\":{\n                    \"AspectRatio\":\"auto\", \"Container\":\"mp4\", \"FrameRate\":\"auto\",\n                    \"Interlaced\":\"auto\", \"Key\":\"cooking/baked-ziti.mp4\", \"Resolution\":\"auto\" },\n                    \"Outputs\":[ { \"Id\":\"1\" \"Key\":\"cooking/baked-ziti-KindleFireHD.mp4\",\n                    \"PresetId\":\"1351620000000-100080\", \"Rotate\":\"0\", \"Status\":\"Complete\",\n                    \"StatusDetail\":\"\", \"ThumbnailPattern\":\"cooking/baked-ziti-{count}-KindleFireHD\",\n                    \"Duration\":\"596\", \"Width\":\"1280\", \"Height\":\"720\" } ], \"Output\":{\n                    \"Key\":\"cooking/baked-ziti-KindleFireHD.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"cooking/baked-ziti-{count}-KindleFireHD\" },\n                    \"PipelineId\":\"1111111111111-abcde1\" } ], \"NextPageToken\":null </response>\n            </example>\n        </examples>"
    },
    "ListJobsByStatus":{
      "name":"ListJobsByStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobsByStatus/{Status}"
      },
      "input":{
        "shape":"ListJobsByStatusRequest",
        "documentation":"<p>The <code>ListJobsByStatusRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListJobsByStatusResponse",
        "documentation":"<p>\n            The <code>ListJobsByStatusResponse</code> structure.\n        </p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListJobsByStatus operation gets a list of jobs that have a specified status. The\n            response body contains one element for each job that satisfies the search criteria.</p>\n        <examples>\n            <example>\n                <request> GET /2012-09-25/jobsByStatus/Complete?Ascending=true HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response> Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Jobs\":[ {\n                    \"Id\":\"3333333333333-abcde3\", \"Input\":{ \"AspectRatio\":\"auto\", \"Container\":\"mp4\",\n                    \"FrameRate\":\"auto\", \"Interlaced\":\"auto\", \"Key\":\"cooking/lasagna.mp4\",\n                    \"Resolution\":\"auto\" }, \"Output\":{ \"Duration\":\"1003\", \"Height\":\"720\", \"Id\":\"1\",\n                    \"Key\":\"mp4/lasagna-kindlefirehd.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"mp4/thumbnails/lasagna-{count}\", \"Width\":\"1280\" },\n                    \"Outputs\":[ { \"Duration\":\"1003\", \"Height\":\"720\", \"Id\":\"1\",\n                    \"Key\":\"mp4/lasagna-kindlefirehd.mp4\", \"PresetId\":\"1351620000000-100080\",\n                    \"Rotate\":\"0\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"mp4/thumbnails/lasagna-{count}\", \"Width\":\"1280\" }, {\n                    \"Duration\":\"1003\", \"Height\":\"640\", \"Id\":\"2\", \"Key\":\"iphone/lasagna-1024k\",\n                    \"PresetId\":\"1351620000000-987654\", \"Rotate\":\"0\", \"SegmentDuration\":\"5\",\n                    \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"iphone/th1024k/lasagna-{count}\", \"Width\":\"1136\" }, ],\n                    \"PipelineId\":\"1111111111111-abcde1\", \"Playlists\":[ { \"Format\":\"HLSv3\",\n                    \"Name\":\"playlist-iPhone-lasagna.m3u8\", \"OutputKeys\":[ \"iphone/lasagna-1024k\",\n                    \"iphone/lasagna-512k\" ] } ], \"Status\":\"Complete\" }, {\n                    \"Id\":\"4444444444444-abcde4\", \"Input\":{ \"AspectRatio\":\"auto\", \"Container\":\"mp4\",\n                    \"FrameRate\":\"auto\", \"Interlaced\":\"auto\", \"Key\":\"cooking/spaghetti.mp4\",\n                    \"Resolution\":\"auto\" }, \"Output\":{ \"Duration\":\"1003\", \"Height\":\"640\", \"Id\":\"3\",\n                    \"Key\":\"iphone/spaghetti-512k\", \"PresetId\":\"1351620000000-456789\", \"Rotate\":\"0\",\n                    \"SegmentDuration\":\"5\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"iphone/th512k/spaghetti-{count}\", \"Width\":\"1136\" },\n                    \"Outputs\":[ { \"Duration\":\"1003\", \"Height\":\"640\", \"Id\":\"3\",\n                    \"Key\":\"iphone/spaghetti-512k\", \"PresetId\":\"1351620000000-456789\", \"Rotate\":\"0\",\n                    \"SegmentDuration\":\"5\", \"Status\":\"Complete\", \"StatusDetail\":\"\",\n                    \"ThumbnailPattern\":\"iphone/th512k/spaghetti-{count}\", \"Width\":\"1136\" } ],\n                    \"Playlists\":[ { \"Format\":\"HLSv3\", \"Name\":\"playlist-iPhone-spaghetti.m3u8\",\n                    \"OutputKeys\":[ \"iphone/spaghetti-512k\" ] } ], \"Status\":\"Complete\" } ],\n                    \"NextPageToken\":null }</response>\n            </example>\n        </examples>"
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/pipelines"
      },
      "input":{
        "shape":"ListPipelinesRequest",
        "documentation":"<p>The <code>ListPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListPipelinesResponse",
        "documentation":"<p>A list of the pipelines associated with the current AWS account.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListPipelines operation gets a list of the pipelines associated with the current AWS\n            account.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/pipelines HTTP/1.1 Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Pipelines\":[ {\n                    \"Id\":\"1111111111111-abcde1\", \"Name\":\"Tokyo-Default\",\n                    \"InputBucket\":\"salesoffice-tokyo.example.com-source\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/Elastic_Transcoder_Default_Role\",\n                    \"Notifications\":{ \"Progressing\":\"\", \"Completed\":\"\", \"Warning\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\" }, \"ContentConfig\":{\n                    \"Bucket\":\"salesoffice-tokyo.example.com-public-promos\", \"Permissions\":[ {\n                    \"GranteeType\":\"Email\", \"Grantee\":\"marketing-promos-tokyo@example.com\",\n                    \"Access\":[ \"FullControl\" ] } ], \"StorageClass\":\"Standard\" }, \"ThumbnailConfig\":{\n                    \"Bucket\":\"salesoffice-tokyo.example.com-public-promos-thumbnails\",\n                    \"Permissions\":[ { \"GranteeType\":\"Email\",\n                    \"Grantee\":\"marketing-promos-tokyo@example.com\", \"Access\":[ \"FullControl\" ] } ],\n                    \"StorageClass\":\"ReducedRedundancy\" }, \"Status\":\"Active\" }, {\n                    \"Id\":\"2222222222222-abcde2\", \"Name\":\"Amsterdam-Default\",\n                    \"InputBucket\":\"salesoffice-amsterdam.example.com-source\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/Elastic_Transcoder_Default_Role\",\n                    \"Notifications\":{ \"Progressing\":\"\", \"Completed\":\"\", \"Warning\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\" }, \"ContentConfig\":{\n                    \"Bucket\":\"salesoffice-amsterdam.example.com-public-promos\", \"Permissions\":[ {\n                    \"GranteeType\":\"Email\", \"Grantee\":\"marketing-promos-amsterdam@example.com\",\n                    \"Access\":[ \"FullControl\" ] } ], \"StorageClass\":\"Standard\" }, nails\",\n                    \"ThumbnailConfig\":{\n                    \"Bucket\":\"salesoffice-amsterdam.example.com-public-promos-thumb \"Permissions\":[\n                    { \"GranteeType\":\"Email\", \"Grantee\":\"marketing-promos-amsterdam@example.com\",\n                    \"Access\":[ \"FullControl\" ] } ], \"StorageClass\":\"ReducedRedundancy\" },\n                    \"Status\":\"Active\" } ] } </response>\n            </example>\n        </examples>"
    },
    "ListPresets":{
      "name":"ListPresets",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/presets"
      },
      "input":{
        "shape":"ListPresetsRequest",
        "documentation":"<p>The <code>ListPresetsRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListPresetsResponse",
        "documentation":"<p>The <code>ListPresetsResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListPresets operation gets a list of the default presets included with Elastic Transcoder and the\n            presets that you've added in an AWS region.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/presets HTTP/1.1 Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]</request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Presets\":[ { \"Audio\":{ \"BitRate\":\"96\",\n                    \"Channels\":\"2\", \"Codec\":\"AAC\", \"SampleRate\":\"44100\" }, \"Container\":\"mp4\",\n                    \"Description\":\"Use for published videos\", \"Id\":\"5555555555555-abcde5\",\n                    \"Name\":\"DefaultPreset\", \"Thumbnails\":{ \"Format\":\"png\", \"Interval\":\"120\",\n                    \"MaxHeight\":\"auto\", \"MaxWidth\":\"auto\", \"PaddingPolicy\":\"Pad\",\n                    \"SizingPolicy\":\"Fit\" }, \"Type\":\"Custom\", \"Video\":{ \"BitRate\":\"1600\",\n                    \"Codec\":\"H.264\", \"CodecOptions\":{ \"Level\":\"2.2\", \"MaxReferenceFrames\":\"3\",\n                    \"Profile\":\"main\", \"MaxBitRate\":\"\", \"BufferSize\":\"\" },\n                    \"DisplayAspectRatio\":\"auto\", \"FixedGOP\":\"false\", \"FrameRate\":\"30\",\n                    \"KeyframesMaxDist\":\"240\", \"MaxHeight\":\"auto\", \"MaxWidth\":\"auto\",\n                    \"PaddingPolicy\":\"Pad\", \"SizingPolicy\":\"Fit\" } }, {...} ] } </response>\n            </example>\n        </examples>"
    },
    "ReadJob":{
      "name":"ReadJob",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobs/{Id}"
      },
      "input":{
        "shape":"ReadJobRequest",
        "documentation":"<p>The <code>ReadJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadJobResponse",
        "documentation":"<p>The <code>ReadJobResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadJob operation returns detailed information about a job.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/jobs/3333333333333-abcde3 HTTP/1.1 Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Job\":{ \"Id\":\"3333333333333-abcde3\", \"Input\":{\n                    \"AspectRatio\":\"auto\", \"Container\":\"mp4\", \"FrameRate\":\"auto\",\n                    \"Interlaced\":\"auto\", \"Key\":\"cooking/lasagna.mp4\", \"Resolution\":\"auto\" },\n                    \"Output\":{ \"Key\":\"\", \"PresetId\":\"5555555555555-abcde5\", \"Rotate\":\"0\",\n                    \"Status\":\"Submitted\", \"StatusDetail\":\"\", \"ThumbnailPattern\":\"{count}\" },\n                    \"PipelineId\":\"1111111111111-abcde1\" } }</response>\n            </example>\n        </examples>"
    },
    "ReadPipeline":{
      "name":"ReadPipeline",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/pipelines/{Id}"
      },
      "input":{
        "shape":"ReadPipelineRequest",
        "documentation":"<p>The <code>ReadPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadPipelineResponse",
        "documentation":"<p>The <code>ReadPipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadPipeline operation gets detailed information about a pipeline.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/pipelines/1111111111111-abcde1 HTTP/1.1\n                    Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] </request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Pipeline\":{ \"Id\":\"1111111111111-abcde1\",\n                    \"InputBucket\":\"salesoffice.example.com-source\", \"Name\":\"Default\",\n                    \"Notifications\":{ \"Completed\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\", \"Progressing\":\"\",\n                    \"Warning\":\"\" }, \"OutputBucket\":\"salesoffice.example.com-public-promos\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/transcode-service\", \"Status\":\"Active\" }\n                    }</response>\n            </example>\n        </examples>"
    },
    "ReadPreset":{
      "name":"ReadPreset",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/presets/{Id}"
      },
      "input":{
        "shape":"ReadPresetRequest",
        "documentation":"<p>The <code>ReadPresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadPresetResponse",
        "documentation":"<p>The <code>ReadPresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadPreset operation gets detailed information about a preset.</p>\n        <examples>\n            <example>\n                <request>GET /2012-09-25/presets/5555555555555-abcde5 HTTP/1.1 Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] </request>\n                <response>Status: 200 OK Content-Type: charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256\n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature] { \"Preset\":{ \"Audio\":{\n                    \"Codec\":\"AAC\", \"SampleRate\":\"44100\", \"BitRate\":96, \"Channels\":2 },\n                    \"Container\":\"mp4\", \"Description\":\"Use for published videos\",\n                    \"Id\":\"5555555555555-abcde5\", \"Name\":\"DefaultPreset\", \"Thumbnails\":{ \"Format\":\"png\",\n                    \"Interval\":\"120\", \"MaxWidth\": \"auto\", \"MaxHeight\": \"auto\", \"SizingPolicy\":\n                    \"Fill\", \"PaddingPolicy\": \"Pad\" }, \"Type\":\"Custom\", \"Video\":{ \"MaxWidth\": \"auto\",\n                    \"MaxHeight\": \"auto\", \"SizingPolicy\": \"Fill\", \"PaddingPolicy\": \"Pad\",\n                    \"DisplayAspectRatio\": \"auto\", \"BitRate\":\"1600\", \"Codec\":\"H.264\",\n                    \"CodecOptions\":{ \"Level\":\"2.2\", \"MaxReferenceFrames\":\"3\", \"Profile\":\"main\",\n                    \"MaxBitRate\":\"\", \"BufferSize\":\"\" }, \"FixedGOP\":\"false\", \"FrameRate\":\"30\",\n                    \"KeyframesMaxDist\":\"240\" } } }</response>\n            </example>\n        </examples>"
    },
    "TestRole":{
      "name":"TestRole",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/roleTests",
        "responseCode":200
      },
      "input":{
        "shape":"TestRoleRequest",
        "documentation":"<p> The <code>TestRoleRequest</code> structure. </p>"
      },
      "output":{
        "shape":"TestRoleResponse",
        "documentation":"<p>The <code>TestRoleResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The TestRole operation tests the IAM role used to create the pipeline.</p>\n        <p>The <code>TestRole</code> action lets you determine whether the IAM role you are using\n            has sufficient permissions to let Elastic Transcoder perform tasks associated with the transcoding\n            process. The action attempts to assume the specified IAM role, checks read access to the\n            input and output buckets, and tries to send a test notification to Amazon SNS topics\n            that you specify.</p>\n        <examples>\n            <example>\n                <request>POST /2012-09-25/roleTests HTTP/1.1 Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] {\n                    \"InputBucket\":\"salesoffice.example.com-source\",\n                    \"OutputBucket\":\"salesoffice.example.com-public-promos\",\n                    \"Role\":\"arn:aws:iam::123456789012:role/transcode-service\", \"Topics\":\n                    [\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\",\n                    \"arn:aws:sns:us-east-1:111222333444:ETS_Progressing\"] }</request>\n                <response>Status: 200 OK x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Messages\":[ \"The role\n                    arn:aws:iam::123456789012:role/transcode-service does not have access to the\n                    bucket: salesoffice.example.com-source\", \"The role\n                    arn:aws:iam::123456789012:role/transcode-service does not have access to the\n                    topic: arn:aws:sns:us-east-1:111222333444:ETS_Errors\" ], \"Success\": \"false\"\n                    }</response>\n            </example>\n        </examples>"
    },
    "UpdatePipeline":{
      "name":"UpdatePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/2012-09-25/pipelines/{Id}",
        "responseCode":200
      },
      "input":{
        "shape":"UpdatePipelineRequest",
        "documentation":"<p>The <code>UpdatePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineResponse",
        "documentation":"<p>When you update a pipeline, Elastic Transcoder returns the values that you specified in the request.\n        </p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to\n            delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p> Use the <code>UpdatePipeline</code> operation to update settings for a pipeline.\n                <important>When you change pipeline settings, your changes take effect immediately.\n                Jobs that you have already submitted and that Elastic Transcoder has not started to process are\n                affected in addition to jobs that you submit after you change settings. </important>\n        </p>"
    },
    "UpdatePipelineNotifications":{
      "name":"UpdatePipelineNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines/{Id}/notifications"
      },
      "input":{
        "shape":"UpdatePipelineNotificationsRequest",
        "documentation":"<p>The <code>UpdatePipelineNotificationsRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineNotificationsResponse",
        "documentation":"<p>The <code>UpdatePipelineNotificationsResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to\n            delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>With the UpdatePipelineNotifications operation, you can update Amazon Simple Notification Service (Amazon SNS)\n            notifications for a pipeline.</p>\n        <p>When you update notifications for a pipeline, Elastic Transcoder returns the values that you specified\n            in the request.</p>\n        <examples>\n            <example>\n                <request>POST /2012-09-25/pipelines/1111111111111-abcde1/notifications HTTP/1.1\n                    Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] { \"Id\":\"1111111111111-abcde1\", \"Notifications\":{\n                    \"Progressing\":\"\", \"Completed\":\"\", \"Warning\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\" } }</request>\n                <response>Status: 202 Accepted x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Id\":\"1111111111111-abcde1\",\n                    \"Notifications\":{ \"Completed\":\"\",\n                    \"Error\":\"arn:aws:sns:us-east-1:111222333444:ETS_Errors\", \"Progressing\":\"\",\n                    \"Warning\":\"\" } }</response>\n            </example>\n        </examples>"
    },
    "UpdatePipelineStatus":{
      "name":"UpdatePipelineStatus",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines/{Id}/status"
      },
      "input":{
        "shape":"UpdatePipelineStatusRequest",
        "documentation":"<p>The <code>UpdatePipelineStatusRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineStatusResponse",
        "documentation":"When you update status for a pipeline,\n        Elastic Transcoder returns the values that you specified in the request."
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to\n            which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to\n            delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The UpdatePipelineStatus operation pauses or reactivates a pipeline, so that the pipeline\n            stops or restarts the processing of jobs.</p>\n        <p>Changing the pipeline status is useful if you want to cancel one or more jobs. You can't\n            cancel jobs after Elastic Transcoder has started processing them; if you pause the pipeline to which\n            you submitted the jobs, you have more time to get the job IDs for the jobs that you want\n            to cancel, and to send a <a>CancelJob</a> request. </p>\n        <examples>\n            <example>\n                <request>POST /2012-09-25/pipelines/1111111111111-abcde1/status HTTP/1.1\n                    Content-Type: application/json; charset=UTF-8\nAccept: */*\nHost: elastictranscoder.[Elastic Transcoder-endpoint].amazonaws.com:443\nx-amz-date: 20130114T174952Z\nAuthorization: AWS4-HMAC-SHA256 \n               Credential=[access-key-id]/[request-date]/[Elastic Transcoder-endpoint]/ets/aws4_request,\n               SignedHeaders=host;x-amz-date;x-amz-target,\n               Signature=[calculated-signature]\nContent-Length: [number-of-characters-in-JSON-string] { \"Id\":\"1111111111111-abcde1\", \"Status\":\"Active\" } </request>\n                <response>Status: 202 Accepted x-amzn-RequestId: c321ec43-378e-11e2-8e4c-4d5b971203e9\nContent-Type: application/json\nContent-Length: [number-of-characters-in-response]\nDate: Mon, 14 Jan 2013 06:01:47 GMT { \"Id\":\"1111111111111-abcde1\",\n                    \"Status\":\"Active\" } </response>\n            </example>\n        </examples>"
    }
  },
  "shapes":{
    "AccessControl":{
      "type":"string",
      "pattern":"(^FullControl$)|(^Read$)|(^ReadAcp$)|(^WriteAcp$)"
    },
    "AccessControls":{
      "type":"list",
      "member":{"shape":"AccessControl"},
      "max":30
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
      },
      "error":{"httpStatusCode":403},
      "exception":true,
      "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
    },
    "Artwork":{
      "type":"structure",
      "members":{
        "InputKey":{
          "shape":"WatermarkKey",
          "documentation":"<p>The name of the file to be used as album art. To determine which Amazon S3 bucket contains the \n            specified file, Elastic Transcoder checks the pipeline specified by <code>PipelineId</code>; the \n            <code>InputBucket</code> object in that pipeline identifies the bucket.</p>\n        <p>If the file name includes a prefix, for example, <code>cooking/pie.jpg</code>,\n            include the prefix in the key. If the file isn't in the specified bucket, \n            Elastic Transcoder returns an error.</p>"
        },
        "MaxWidth":{
          "shape":"DigitsOrAuto",
          "documentation":"<p>The maximum width of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder \n        uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 \n        and 4096, inclusive.</p>"
        },
        "MaxHeight":{
          "shape":"DigitsOrAuto",
          "documentation":"<p>The maximum height of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder \n        uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 \n        and 3072, inclusive.</p>"
        },
        "SizingPolicy":{
          "shape":"SizingPolicy",
          "documentation":"<p>Specify one of the following values to control scaling of the output album art:</p>\n        <p>\n            <ul>\n                <li>\n<code>Fit:</code> Elastic Transcoder scales the output art so it matches the value that you\n                    specified in either <code>MaxWidth</code> or <code>MaxHeight</code> without \n                    exceeding the other value.</li>\n                <li>\n<code>Fill:</code> Elastic Transcoder scales the output art so it matches the value that you\n                    specified in either <code>MaxWidth</code> or <code>MaxHeight</code> and matches or \n                    exceeds the other value. Elastic Transcoder centers the output art and then crops it in the \n                    dimension (if any) that exceeds the maximum value. </li>\n                <li>\n<code>Stretch:</code> Elastic Transcoder stretches the output art to match the values that you\n                    specified for <code>MaxWidth</code> and <code>MaxHeight</code>. If the relative \n                    proportions of the input art and the output art are different, the output art will \n                    be distorted.</li>\n                <li>\n<code>Keep:</code> Elastic Transcoder does not scale the output art. If either dimension of the\n                    input art exceeds the values that you specified for <code>MaxWidth</code> and \n                    <code>MaxHeight</code>, Elastic Transcoder crops the output art.</li>\n                <li>\n<code>ShrinkToFit:</code> Elastic Transcoder scales the output art down so that its dimensions \n                    match the values that you specified for at least one of <code>MaxWidth</code> and \n                    <code>MaxHeight</code> without exceeding either value. If you specify this option, \n                    Elastic Transcoder does not scale the art up.</li>\n                <li>\n<code>ShrinkToFill</code> Elastic Transcoder scales the output art down so that its dimensions \n                    match the values that you specified for at least one of <code>MaxWidth</code> and \n                    <code>MaxHeight</code> without dropping below either value. If you specify this \n                    option, Elastic Transcoder does not scale the art up.</li>\n            </ul>\n        </p>"
        },
        "PaddingPolicy":{
          "shape":"PaddingPolicy",
          "documentation":"<p>When you set <code>PaddingPolicy</code> to <code>Pad</code>, Elastic Transcoder may add white bars to the \n        top and bottom and/or left and right sides of the output album art to make the total size of \n        the output art match the values that you specified for <code>MaxWidth</code> and \n        <code>MaxHeight</code>.</p>"
        },
        "AlbumArtFormat":{
          "shape":"JpgOrPng",
          "documentation":"<p>The format of album art, if any. Valid formats are <code>.jpg</code> and <code>.png</code>.</p>"
        }
      },
      "documentation":"<p>The file to be used as album art. There can be multiple artworks associated with an audio file, \n            to a maximum of 20.</p>\n        <p>To remove artwork or leave the artwork empty, you can either set <code>Artwork</code>\n            to null, or set the <code>Merge Policy</code> to \"Replace\" and use an empty\n            <code>Artwork</code> array.</p>\n        <p>To pass through existing artwork unchanged, set the <code>Merge Policy</code> to\n            \"Prepend\", \"Append\", or \"Fallback\", and use an empty <code>Artwork</code> array.</p>"
    },
    "Artworks":{
      "type":"list",
      "member":{"shape":"Artwork"}
    },
    "Ascending":{
      "type":"string",
      "pattern":"(^true$)|(^false$)"
    },
    "AspectRatio":{
      "type":"string",
      "pattern":"(^auto$)|(^1:1$)|(^4:3$)|(^3:2$)|(^16:9$)"
    },
    "AudioBitRate":{
      "type":"string",
      "pattern":"^\\d{1,3}$"
    },
    "AudioChannels":{
      "type":"string",
      "pattern":"(^auto$)|(^0$)|(^1$)|(^2$)"
    },
    "AudioCodec":{
      "type":"string",
      "pattern":"(^AAC$)|(^vorbis$)|(^mp3$)"
    },
    "AudioCodecOptions":{
      "type":"structure",
      "members":{
        "Profile":{
          "shape":"AudioCodecProfile",
          "documentation":"<p>You can only choose an audio profile when you specify AAC for the value of Audio:Codec.</p>\n        <p>Specify the AAC profile for the output file. Elastic Transcoder supports the following profiles:</p>\n        <ul>\n            <li>\n<code>auto</code>: If you specify <code>auto</code>, Elastic Transcoder will select\n                the profile based on the bit rate selected for the output file.</li>\n            <li>\n<code>AAC-LC</code>: The most common AAC profile. Use for bitrates larger than\n                64 kbps.</li>\n            <li>\n<code>HE-AAC</code>: Not supported on some older players and devices.\n                Use for bitrates between 40 and 80 kbps.</li>\n            <li>\n<code>HE-AACv2</code>: Not supported on some players and devices.\n                Use for bitrates less than 48 kbps.</li>\n        </ul>\n        <note><p>If you created any presets before AAC profiles were added, Elastic Transcoder automatically updated\n            your presets to use AAC-LC. You can change the value as required.</p></note>"
        }
      },
      "documentation":"<p>Options associated with your audio codec.</p>"
    },
    "AudioCodecProfile":{
      "type":"string",
      "pattern":"(^auto$)|(^AAC-LC$)|(^HE-AAC$)|(^HE-AACv2$)"
    },
    "AudioParameters":{
      "type":"structure",
      "members":{
        "Codec":{
          "shape":"AudioCodec",
          "documentation":"<p>The audio codec for the output file. Valid values include <code>aac</code>, \n            <code>mp3</code>, and <code>vorbis</code>.</p>"
        },
        "SampleRate":{
          "shape":"AudioSampleRate",
          "documentation":"<p>The sample rate of the audio stream in the output file, in Hertz. Valid values\n            include:</p>\n        <p><code>auto</code>, <code>22050</code>, <code>32000</code>, <code>44100</code>,\n                <code>48000</code>, <code>96000</code></p>\n        <p>If you specify <code>auto</code>, Elastic Transcoder automatically detects the sample rate.</p>"
        },
        "BitRate":{
          "shape":"AudioBitRate",
          "documentation":"<p>The bit rate of the audio stream in the output file, in kilobits/second. Enter an integer\n            between 64 and 320, inclusive.</p>"
        },
        "Channels":{
          "shape":"AudioChannels",
          "documentation":"<p>The number of audio channels in the output file. Valid values include:</p>\n        <p><code>auto</code>, <code>0</code>, <code>1</code>, <code>2</code></p>\n        <p>If you specify <code>auto</code>, Elastic Transcoder automatically detects the number of channels in\n            the input file.</p>"
        },
        "CodecOptions":{
          "shape":"AudioCodecOptions",
          "documentation":"<p>If you specified <code>AAC</code> for <code>Audio:Codec</code>, this is the <code>AAC</code> \n            compression profile to use. Valid values include:</p>\n        <p><code>auto</code>, <code>AAC-LC</code>, <code>HE-AAC</code>, <code>HE-AACv2</code></p>\n        <p>If you specify <code>auto</code>, Elastic Transcoder chooses a profile based on the bit rate of the output file.</p>"
        }
      },
      "documentation":"<p>Parameters required for transcoding audio.</p>"
    },
    "AudioSampleRate":{
      "type":"string",
      "pattern":"(^auto$)|(^22050$)|(^32000$)|(^44100$)|(^48000$)|(^96000$)"
    },
    "BucketName":{
      "type":"string",
      "pattern":"^(\\w|\\.|-){1,255}$"
    },
    "CancelJobRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"Id",
          "location":"uri",
          "locationName":"Id",
          "documentation":"<p>The identifier of the job that you want to cancel. </p>\n        <p>To get a list of the jobs (including their <code>jobId</code>) that have a status of\n                <code>Submitted</code>, use the <a>ListJobsByStatus</a> API action.</p>"
        }
      },
      "documentation":"<p>The <code>CancelJobRequest</code> structure.</p>"
    },
    "CancelJobResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The response body contains a JSON object. If the job is successfully canceled, the value\n            of <code>Success</code> is <code>true</code>.</p>"
    },
    "CaptionFormat":{
      "type":"structure",
      "members":{
        "Format":{
          "shape":"CaptionFormatFormat",
          "documentation":"<p>The format you specify determines whether Elastic Transcoder generates an\n         embedded or sidecar caption for this output.</p>\n      <ul>\n         <li>\n<p><b>Valid Embedded Caption Formats:</b></p>\n            <ul>\n               <li><p><b>For MP3</b>: None</p></li>\n               <li><p><b>For MP4</b>: mov-text</p></li>\n               <li><p><b>For MPEG-TS</b>: None</p></li>\n               <li><p><b>For ogg</b>: None</p></li>\n               <li><p><b>For webm</b>: None</p></li>\n            </ul>\n         </li>\n         <li>\n<p><b>Valid Sidecar Caption Formats:</b> Elastic Transcoder\n            supports dfxp (first div element only), scc, srt, and webvtt. There are\n            no container restrictions on sidecar captions. If you want ttml or smpte-tt\n            compatible captions, specify dfxp as your output format.</p>\n         </li>\n      </ul>"
        },
        "Pattern":{
          "shape":"CaptionFormatPattern",
          "documentation":"<p>The prefix for caption filenames, in the form <i>description</i>-<code>{language}</code>, where:</p>\n      <ul>\n         <li>\n<i>description</i> is a description of the video.</li>\n         <li>\n<code>{language}</code> is a literal value that Elastic Transcoder replaces with the two- or three-letter\n            code for the language of the caption in the output file names.</li>\n      </ul>\n      <p>If you don't include <code>{language}</code> in the file name pattern, Elastic Transcoder automatically\n         appends \"<code>{language}</code>\" to the value that you specify for the description.  In addition,\n         Elastic Transcoder automatically appends the count to the end of the segment files.</p>\n      <p>For example, suppose you're transcoding into srt format. When you enter\n         \"Sydney-{language}-sunrise\", and the language of the captions is English\n         (en), the name of the first caption file will be Sydney-en-sunrise00000.srt.</p>"
        }
      },
      "documentation":"<p>The file format of the output captions. If you leave this value blank,\n         Elastic Transcoder returns an error.</p>"
    },
    "CaptionFormatFormat":{
      "type":"string",
      "pattern":"(^mov-text$)|(^cea-608$)|(^cea-708$)|(^srt$)|(^scc$)|(^webvtt$)|(^dfxp$)"
    },
    "CaptionFormatPattern":{
      "type":"string",
      "pattern":"(^$)|(^.*\\{language\\}.*$)"
    },
    "CaptionFormats":{
      "type":"list",
      "member":{"shape":"CaptionFormat"},
      "max":4
    },
    "CaptionMergePolicy":{
      "type":"string",
      "pattern":"(^MergeOverride$)|(^MergeRetain$)|(^Override$)"
    },
    "CaptionSource":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p>The name of the sidecar caption file that you want Elastic Transcoder to include in the\n         output file.</p>"
        },
        "Language":{
          "shape":"Key",
          "documentation":"<p>A string that specifies the language of the caption. Specify this as one of:</p>\n      <ul>\n         <li><p>2-character ISO 639-1 code</p></li>\n         <li><p>3-character ISO 639-2 code</p></li>\n      </ul>\n      <p>For more information on ISO language codes and language names, see the List of ISO \n         639-1 codes.</p>"
        },
        "TimeOffset":{
          "shape":"TimeOffset",
          "documentation":"<p>For clip generation or captions that do not start at the same time\n         as the associated video file, the <code>TimeOffset</code> tells Elastic Transcoder how much of the video to encode\n         before including captions.</p>\n      <p>Specify the TimeOffset in the form [+-]SS.sss or [+-]HH:mm:SS.ss.</p>"
        },
        "Label":{
          "shape":"Name",
          "documentation":"<p>The label of the caption shown in the player when choosing\n         a language. We recommend that you put the caption language name here, \n         in the language of the captions.</p>"
        }
      },
      "documentation":"<p>A source file for the input sidecar captions used during the transcoding\n         process.</p>"
    },
    "CaptionSources":{
      "type":"list",
      "member":{"shape":"CaptionSource"},
      "max":20
    },
    "Captions":{
      "type":"structure",
      "members":{
        "MergePolicy":{
          "shape":"CaptionMergePolicy",
          "documentation":"<p>A policy that determines how Elastic Transcoder handles the existence of multiple captions.</p>\n      <ul>\n         <li><p><b>MergeOverride:</b> Elastic Transcoder transcodes both embedded\n            and sidecar captions into outputs. If captions for a language are embedded in the input\n            file and also appear in a sidecar file, Elastic Transcoder uses the sidecar captions and ignores the\n            embedded captions for that language.</p></li>\n         <li><p><b>MergeRetain:</b>  Elastic Transcoder transcodes both embedded\n            and sidecar captions into outputs. If captions for a language are embedded in the input\n            file and also appear in a sidecar file, Elastic Transcoder uses the embedded captions and ignores the\n            sidecar captions for that language. If <guilabel>CaptionSources</guilabel> is empty,\n            Elastic Transcoder omits all sidecar captions from the output files.</p></li>\n         <li><p><b>Override:</b> Elastic Transcoder transcodes only the\n            sidecar captions that you specify in <code>CaptionSources</code>.</p></li>\n      </ul>\n      <p><code>MergePolicy</code> cannot be null.</p>"
        },
        "CaptionSources":{
          "shape":"CaptionSources",
          "documentation":"<p>Source files for the input sidecar captions used during the transcoding\n         process. To omit all sidecar captions, leave <code>CaptionSources</code> blank.</p>"
        },
        "CaptionFormats":{
          "shape":"CaptionFormats",
          "documentation":"<p>The array of file formats for the output captions. If you leave this value blank,\n         Elastic Transcoder returns an error.</p>"
        }
      },
      "documentation":"<p>The captions to be created, if any.</p>"
    },
    "Clip":{
      "type":"structure",
      "members":{
        "TimeSpan":{
          "shape":"TimeSpan",
          "documentation":"<p>Settings that determine when a clip begins and how long it lasts.</p>"
        }
      },
      "documentation":"<p>Settings for one clip in a composition. All jobs in a playlist must have the same clip settings.</p>"
    },
    "CodecOption":{
      "type":"string",
      "min":1,
      "max":255
    },
    "CodecOptions":{
      "type":"map",
      "key":{"shape":"CodecOption"},
      "value":{"shape":"CodecOption"},
      "max":30
    },
    "Composition":{
      "type":"list",
      "member":{"shape":"Clip"}
    },
    "CreateJobOutput":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p> The name to assign to the transcoded file. Elastic Transcoder saves the file in the Amazon S3 bucket\n            specified by the <code>OutputBucket</code> object in the pipeline that is specified by\n            the pipeline ID. If a file with the specified name already exists in the output bucket,\n            the job fails. </p>"
        },
        "ThumbnailPattern":{
          "shape":"ThumbnailPattern",
          "documentation":"<p>Whether you want Elastic Transcoder to create thumbnails for your videos and, if so, how you want Elastic Transcoder\n            to name the files.</p>\n        <p>If you don't want Elastic Transcoder to create thumbnails, specify \"\".</p>\n        <p> If you do want Elastic Transcoder to create thumbnails, specify the information that you want to\n            include in the file name for each thumbnail. You can specify the following values in any\n            sequence: </p>\n        <ul>\n            <li>\n                <p>\n                    <b><code>{count}</code> (Required)</b>: If you want to create thumbnails, you\n                    must include <code>{count}</code> in the <code>ThumbnailPattern</code> object.\n                    Wherever you specify <code>{count}</code>, Elastic Transcoder adds a five-digit sequence\n                    number (beginning with <b>00001</b>) to thumbnail file names. The number\n                    indicates where a given thumbnail appears in the sequence of thumbnails for a\n                    transcoded file. </p>\n                <important>If you specify a literal value and/or <code>{resolution}</code> but you\n                    omit <code>{count}</code>, Elastic Transcoder returns a validation error and does not create\n                    the job.</important>\n            </li>\n            <li>\n                <p>\n                    <b>Literal values (Optional)</b>: You can specify literal values anywhere in the\n                        <code>ThumbnailPattern</code> object. For example, you can include them as a\n                    file name prefix or as a delimiter between <code>{resolution}</code> and\n                        <code>{count}</code>. </p>\n            </li>\n            <li>\n                <p>\n                    <b><code>{resolution}</code> (Optional)</b>: If you want Elastic Transcoder to include the\n                    resolution in the file name, include <code>{resolution}</code> in the\n                        <code>ThumbnailPattern</code> object. </p>\n            </li>\n        </ul>\n        <p>When creating thumbnails, Elastic Transcoder automatically saves the files in the format (.jpg or .png)\n            that appears in the preset that you specified in the <code>PresetID</code> value of\n                <code>CreateJobOutput</code>. Elastic Transcoder also appends the applicable file name\n            extension.</p>"
        },
        "Rotate":{
          "shape":"Rotate",
          "documentation":"<p> The number of degrees clockwise by which you want Elastic Transcoder to rotate the output relative to\n            the input. Enter one of the following values: <code>auto</code>, <code>0</code>,\n                <code>90</code>, <code>180</code>, <code>270</code>. The value <code>auto</code>\n            generally works only if the file that you're transcoding contains rotation metadata.\n        </p>"
        },
        "PresetId":{
          "shape":"Id",
          "documentation":"<p> The <code>Id</code> of the preset to use for this job. The preset determines the audio,\n            video, and thumbnail settings that Elastic Transcoder uses for transcoding. </p>"
        },
        "SegmentDuration":{
          "shape":"Float",
          "documentation":"<p>If you specify a preset in <code>PresetId</code> for which the value of\n                <code>Container</code> is ts (MPEG-TS), SegmentDuration is the duration of each .ts\n            file in seconds. The range of valid values is 1 to 60 seconds.</p>"
        },
        "Watermarks":{
          "shape":"JobWatermarks",
          "documentation":"<p>Information about the watermarks that you want Elastic Transcoder to add to the video during\n            transcoding. You can specify up to four watermarks for each output. Settings for each\n            watermark must be defined in the preset for the current output.</p>"
        },
        "AlbumArt":{
          "shape":"JobAlbumArt",
          "documentation":"<p>Information about the album art that you want Elastic Transcoder to add to the file during\n            transcoding. You can specify up to twenty album artworks for each output. Settings for each\n            artwork must be defined in the job for the current output.</p>"
        },
        "Composition":{
          "shape":"Composition",
          "documentation":"<p>You can create an output file that contains an excerpt from the input file. This \n           excerpt, called a clip, can come from the beginning, middle, or end of the file. \n           The Composition object contains settings for the clips that make up an output file. \n           For the current release, you can only specify settings for a single clip per output \n           file. The Composition object cannot be null.</p>"
        },
        "Captions":{
          "shape":"Captions",
          "documentation":"<p>You can configure Elastic Transcoder to transcode captions, or subtitles, from one format to another.\n         All captions must be in UTF-8. Elastic Transcoder supports two types of captions:</p>\n      <ul>\n         <li>\n<p><b>Embedded:</b> Embedded captions\n            are included in the same file as the audio and video. Elastic Transcoder supports\n            only one embedded caption per language, to a maximum of 300 embedded captions per file.</p>\n            <p>Valid input values include: <code>CEA-608 (EIA-608</code>, first non-empty channel only),\n            \t<code>CEA-708 (EIA-708</code>, first non-empty channel only), and <code>mov-text</code></p>\n            <p>Valid outputs include: <code>mov-text</code></p>\n            <p>Elastic Transcoder supports a maximum of one embedded format per output.</p>\n</li>\n         <li>\n<p><b>Sidecar:</b> Sidecar captions are kept in a\n            separate metadata file from the audio and video data.  Sidecar captions require a player\n            that is capable of understanding the relationship between the video file and the sidecar\n            file. Elastic Transcoder supports only one sidecar caption per language, to a maximum of 20 sidecar\n            captions per file.</p>\n            <p>Valid input values include: <code>dfxp</code> (first div element only),\n               <code>ebu-tt</code>, <code>scc</code>, <code>smpt</code>, <code>srt</code>,\n               <code>ttml</code> (first div element only), and <code>webvtt</code></p>\n            <p>Valid outputs include: <code>dfxp</code> (first div element only), <code>scc</code>,\n               <code>srt</code>, and <code>webvtt</code>.</p>\n</li>\n         </ul>\n         <p> If you want ttml or smpte-tt compatible captions, specify dfxp as your output format.</p>\n         <p>Elastic Transcoder does not support OCR (Optical Character Recognition), does not accept pictures\n            as a valid input for captions, and is not available for audio-only transcoding. Elastic Transcoder does\n            not preserve text formatting (for example, italics) during the transcoding process.</p>\n            <p>To remove captions or leave the captions empty, set <code>Captions</code> to null. To pass through\n            existing captions unchanged, set the <code>MergePolicy</code> to <code>MergeRetain</code>,\n            and pass in a null <code>CaptionSources</code> array.</p>\n      <p>For more information on embedded files, see the Subtitles Wikipedia page.</p>\n      <p>For more information on sidecar files, see the Extensible Metadata Platform and Sidecar file\n         Wikipedia pages.</p>"
        }
      },
      "documentation":"<p>The <code>CreateJobOutput</code> structure.</p>"
    },
    "CreateJobOutputs":{
      "type":"list",
      "member":{"shape":"CreateJobOutput"},
      "max":30
    },
    "CreateJobPlaylist":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"Filename",
          "documentation":"<p>The name that you want Elastic Transcoder to assign to the master playlist, for example,\n            nyc-vacation.m3u8. The name cannot include a / character. If you create more than one\n            master playlist (not recommended), the values of all <code>Name</code> objects must be\n            unique. Elastic Transcoder automatically appends .m3u8 to the file name. If you include\n            .m3u8 in <code>Name</code>, it will appear twice in the file name. </p>"
        },
        "Format":{
          "shape":"PlaylistFormat",
          "documentation":"<p>This value must currently be HLSv3.</p>"
        },
        "OutputKeys":{
          "shape":"OutputKeys",
          "documentation":"<p>For each output in this job that you want to include in a master playlist, the value of\n            the <code>Outputs:Key</code> object. If you include more than one output in a playlist,\n            the value of <code>SegmentDuration</code> for all of the outputs must be the same.</p>"
        }
      },
      "documentation":"<p>Information about the master playlist.</p>"
    },
    "CreateJobPlaylists":{
      "type":"list",
      "member":{"shape":"CreateJobPlaylist"},
      "max":30
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "PipelineId",
        "Input"
      ],
      "members":{
        "PipelineId":{
          "shape":"Id",
          "documentation":"<p>The <code>Id</code> of the pipeline that you want Elastic Transcoder to use for\n            transcoding. The pipeline determines several settings, including the Amazon S3 bucket\n            from which Elastic Transcoder gets the files to transcode and the bucket into which\n            Elastic Transcoder puts the transcoded files.</p>"
        },
        "Input":{
          "shape":"JobInput",
          "documentation":"<p>A section of the request body that provides information about the file that is being\n            transcoded.</p>"
        },
        "Output":{"shape":"CreateJobOutput"},
        "Outputs":{
          "shape":"CreateJobOutputs",
          "documentation":"<p> A section of the request body that provides information about the transcoded (target)\n            files. We recommend that you use the <code>Outputs</code> syntax instead of the\n                <code>Output</code> syntax. </p>"
        },
[...]
