{
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"elasticbeanstalk",
    "serviceAbbreviation":"Elastic Beanstalk",
    "serviceFullName":"AWS Elastic Beanstalk",
    "signatureVersion":"v4",
    "xmlNamespace":"http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS Elastic Beanstalk</fullname>\n\n      <p>\n         This is the AWS Elastic Beanstalk API Reference. This guide provides detailed information \n         about AWS Elastic Beanstalk actions, data types, parameters, and errors.\n      </p>\n\n      <p>AWS Elastic Beanstalk\n         is a tool that makes it easy for you to create,\n         deploy, and manage scalable, fault-tolerant applications running on\n         Amazon Web Services cloud resources.\n      </p>\n\n      <p>\n         For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page.  \n         The location of the latest AWS Elastic Beanstalk WSDL is \n         <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>.\n      </p>\n       <p><b>Endpoints</b></p>\n       <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the \n<i>Amazon Web Services Glossary</i>.</p>",
  "operations":{
    "CheckDNSAvailability":{
      "name":"CheckDNSAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CheckDNSAvailabilityMessage",
        "documentation":"<p>Results message indicating whether a CNAME is available.</p>"
      },
      "output":{
        "shape":"CheckDNSAvailabilityResultMessage",
        "documentation":"<p>Indicates if the specified CNAME is available.</p>",
        "resultWrapper":"CheckDNSAvailabilityResult"
      },
      "documentation":"<p>\n         Checks if the specified CNAME is available.\n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?CNAMEPrefix=sampleapplication\n&Operation=CheckDNSAvailability\n&AuthParams         </queryrequest>\n\n         <queryresponse> <CheckDNSAvailabilityResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CheckDNSAvailabilityResult>\n    <FullyQualifiedCNAME>sampleapplication.elasticbeanstalk.amazonaws.com</FullyQualifiedCNAME>\n    <Available>true</Available>\n  </CheckDNSAvailabilityResult>\n  <ResponseMetadata>\n    <RequestId>12f6701f-f1d6-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CheckDNSAvailabilityResponse></queryresponse>\n      </examples>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "documentation":"<p>Result message containing a single description of an application.</p>",
        "resultWrapper":"CreateApplicationResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        }
      ],
      "documentation":"<p>\n         Creates an application that has one configuration\n         template named\n         <code>default</code>\n         and no application versions.\n      </p>\n      <?oxy_delete author=\"brussard\" timestamp=\"20131024T142047-0700\" content=\"&lt;note&gt;\n         The\n         &lt;code&gt;default&lt;/code&gt;\n         configuration template is for a 32-bit version of the\n         Amazon Linux\n         operating system running the Tomcat 6 application container.\n      &lt;/note&gt;\">\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&Description=Sample%20Description\n&Operation=CreateApplication\n&AuthParams         </queryrequest>\n\n         <queryresponse><CreateApplicationResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CreateApplicationResult>\n    <Application>\n      <Versions/>\n      <Description>Sample Description</Description>\n      <ApplicationName>SampleApp</ApplicationName>\n      <DateCreated>2010-11-16T23:09:20.256Z</DateCreated>\n      <DateUpdated>2010-11-16T23:09:20.256Z</DateUpdated>\n      <ConfigurationTemplates>\n        <member>Default</member>\n      </ConfigurationTemplates>\n    </Application>\n  </CreateApplicationResult>\n  <ResponseMetadata>\n    <RequestId>8b00e053-f1d6-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CreateApplicationResponse>      </queryresponse>\n      </examples>"
    },
    "CreateApplicationVersion":{
      "name":"CreateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateApplicationVersionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "documentation":"<p>\n         Result message wrapping a single description of an application\n         version.\n      </p>",
        "resultWrapper":"CreateApplicationVersionResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        },
        {
          "shape":"TooManyApplicationVersionsException",
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of application versions associated with their account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        }
      ],
      "documentation":"<p>Creates an application version for the specified\n         application.</p>\n      <note>Once you create an application version with a specified Amazon S3\n         bucket\n         and key location, you cannot change that Amazon S3 location. If you change the\n         Amazon S3 location,\n         you receive an exception when you attempt to launch an environment from the\n         application version. </note>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&VersionLabel=Version1\n&Description=description\n&SourceBundle.S3Bucket=amazonaws.com\n&SourceBundle.S3Key=sample.war\n&AutoCreateApplication=true\n&Operation=CreateApplicationVersion\n&AuthParams         </queryrequest>\n\n         <queryresponse><CreateApplicationVersionResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CreateApplicationVersionResult>\n    <ApplicationVersion>\n      <SourceBundle>\n        <S3Bucket>amazonaws.com</S3Bucket>\n        <S3Key>sample.war</S3Key>\n      </SourceBundle>\n      <VersionLabel>Version1</VersionLabel>\n      <Description>description</Description>\n      <ApplicationName>SampleApp</ApplicationName>\n      <DateCreated>2010-11-17T03:21:59.161Z</DateCreated>\n      <DateUpdated>2010-11-17T03:21:59.161Z</DateUpdated>\n    </ApplicationVersion>\n  </CreateApplicationVersionResult>\n  <ResponseMetadata>\n    <RequestId>d653efef-f1f9-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CreateApplicationVersionResponse>         </queryresponse>\n      </examples>"
    },
    "CreateConfigurationTemplate":{
      "name":"CreateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateConfigurationTemplateMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescription",
        "documentation":"<p>\n         Describes the settings for a configuration set.\n\t\t</p>",
        "resultWrapper":"CreateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TooManyConfigurationTemplatesException",
          "error":{
            "code":"TooManyConfigurationTemplatesException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of configuration templates associated with their account.</p>"
        }
      ],
      "documentation":"<p>Creates a configuration template. Templates are associated with a\n         specific application\n         and are used to deploy different versions of the\n         application with\n         the same configuration settings.</p>\n\n      <p>Related Topics</p>\n      <ul>\n\n         <li>\n            <a>DescribeConfigurationOptions</a>\n         </li>\n         <li>\n            <a>DescribeConfigurationSettings</a>\n         </li>\n         <li>\n            <a>ListAvailableSolutionStacks</a>\n         </li>\n      </ul>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&TemplateName=AppTemplate\n&SolutionStackName=32bit%20Amazon%20Linux%20running%20Tomcat%207\n&Description=ConfigTemplateDescription\n&Operation=CreateConfigurationTemplate\n&AuthParams          </queryrequest>\n\n         <queryresponse><CreateConfigurationTemplateResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CreateConfigurationTemplateResult>\n    <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n    <OptionSettings>\n      <member>\n        <OptionName>ImageId</OptionName>\n        <Value>ami-f2f0069b</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Endpoint</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM4</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>JDBC_CONNECTION_STRING</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>SecurityGroups</OptionName>\n        <Value>elasticbeanstalk-default</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>UnhealthyThreshold</OptionName>\n        <Value>5</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>InstanceType</OptionName>\n        <Value>t1.micro</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>Statistic</OptionName>\n        <Value>Average</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>LoadBalancerHTTPSPort</OptionName>\n        <Value>OFF</Value>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>Stickiness Cookie Expiration</OptionName>\n        <Value>0</Value>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM5</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>MeasureName</OptionName>\n        <Value>NetworkOut</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Interval</OptionName>\n        <Value>30</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>Application Healthcheck URL</OptionName>\n        <Value>/</Value>\n        <Namespace>aws:elasticbeanstalk:application</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Topic ARN</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>LowerBreachScaleIncrement</OptionName>\n        <Value>-1</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>XX:MaxPermSize</OptionName>\n        <Value>64m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>UpperBreachScaleIncrement</OptionName>\n        <Value>1</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>MinSize</OptionName>\n        <Value>1</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>Custom Availability Zones</OptionName>\n        <Value>us-east-1a</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>Availability Zones</OptionName>\n        <Value>Any 1</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>LogPublicationControl</OptionName>\n        <Value>false</Value>\n        <Namespace>aws:elasticbeanstalk:hostmanager</Namespace>\n      </member>\n      <member>\n        <OptionName>JVM Options</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Topic Name</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM2</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>LoadBalancerHTTPPort</OptionName>\n        <Value>80</Value>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>Timeout</OptionName>\n        <Value>5</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>BreachDuration</OptionName>\n        <Value>2</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>MonitoringInterval</OptionName>\n        <Value>5 minute</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM1</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>MaxSize</OptionName>\n        <Value>4</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>LowerThreshold</OptionName>\n        <Value>2000000</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>AWS_SECRET_KEY</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>AWS_ACCESS_KEY_ID</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>UpperThreshold</OptionName>\n        <Value>6000000</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Protocol</OptionName>\n        <Value>email</Value>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>Unit</OptionName>\n        <Value>Bytes</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Xmx</OptionName>\n        <Value>256m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>Cooldown</OptionName>\n        <Value>360</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>Period</OptionName>\n        <Value>1</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Xms</OptionName>\n        <Value>256m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>EC2KeyName</OptionName>\n        <Value/>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>Stickiness Policy</OptionName>\n        <Value>false</Value>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM3</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>HealthyThreshold</OptionName>\n        <Value>3</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>SSLCertificateId</OptionName>\n        <Value/>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n    </OptionSettings>\n    <Description>ConfigTemplateDescription</Description>\n    <ApplicationName>SampleApp</ApplicationName>\n    <DateCreated>2010-11-17T03:48:19.640Z</DateCreated>\n    <TemplateName>AppTemplate</TemplateName>\n    <DateUpdated>2010-11-17T03:48:19.640Z</DateUpdated>\n  </CreateConfigurationTemplateResult>\n  <ResponseMetadata>\n    <RequestId>846cd905-f1fd-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CreateConfigurationTemplateResponse>  </queryresponse>\n      </examples>"
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateEnvironmentMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"EnvironmentDescription",
        "documentation":"<p>Describes the properties of an environment.</p>",
        "resultWrapper":"CreateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"TooManyEnvironmentsException",
          "error":{
            "code":"TooManyEnvironmentsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit of allowed environments associated with the account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>\n         Launches an environment for the specified application using\n         the specified configuration.\n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&EnvironmentName=SampleApp\n&SolutionStackName=32bit%20Amazon%20Linux%20running%20Tomcat%207\n&Description=EnvDescrip\n&Operation=CreateEnvironment\n&AuthParams             </queryrequest>\n\n         <queryresponse><CreateEnvironmentResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CreateEnvironmentResult>\n    <VersionLabel>Version1</VersionLabel>\n    <Status>Deploying</Status>\n    <ApplicationName>SampleApp</ApplicationName>\n    <Health>Grey</Health>\n    <EnvironmentId>e-icsgecu3wf</EnvironmentId>\n    <DateUpdated>2010-11-17T03:59:33.520Z</DateUpdated>\n    <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n    <Description>EnvDescrip</Description>\n    <EnvironmentName>SampleApp</EnvironmentName>\n    <DateCreated>2010-11-17T03:59:33.520Z</DateCreated>\n  </CreateEnvironmentResult>\n  <ResponseMetadata>\n    <RequestId>15db925e-f1ff-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CreateEnvironmentResponse> </queryresponse>\n      </examples>"
    },
    "CreateStorageLocation":{
      "name":"CreateStorageLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"CreateStorageLocationResultMessage",
        "documentation":"<p>Results of a <a>CreateStorageLocationResult</a> call.</p>",
        "resultWrapper":"CreateStorageLocationResult"
      },
      "errors":[
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        },
        {
          "shape":"S3SubscriptionRequiredException",
          "error":{
            "code":"S3SubscriptionRequiredException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller does not have a subscription to Amazon S3.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>\n         Creates the Amazon S3 storage location for the account.\n\t\t</p>\n      <p>\n         This location is used to store user log files.\n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?Operation=CreateStorageLocation\n&AuthParams                   </queryrequest>\n\n         <queryresponse> <CreateStorageLocationResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <CreateStorageLocationResult>\n    <S3Bucket>elasticbeanstalk-us-east-1-780612358023</S3Bucket>\n  </CreateStorageLocationResult>\n  <ResponseMetadata>\n    <RequestId>ef51b94a-f1d6-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</CreateStorageLocationResponse>         </queryresponse>\n      </examples>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        }
      ],
      "documentation":"<p>\n         Deletes the specified application along with all\n         associated versions and\n         configurations. The application versions will not be deleted from your Amazon S3 bucket.\n      </p>\n      <note>You cannot delete an application that has a running environment.\n      </note>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&Operation=DeleteApplication\n&AuthParams         </queryrequest>\n\n         <queryresponse><DeleteApplicationResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>1f155abd-f1d7-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DeleteApplicationResponse>         </queryresponse>\n      </examples>"
    },
    "DeleteApplicationVersion":{
      "name":"DeleteApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteApplicationVersionMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"SourceBundleDeletionException",
          "error":{
            "code":"SourceBundleDeletionFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to delete the Amazon S3 source bundle associated with the application version, although the application version deleted successfully.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        }
      ],
      "documentation":"<p>\n         Deletes the specified version from the specified\n         application.\n      </p>\n      <note>You cannot delete an application version that is associated with a\n         running environment.</note>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&VersionLabel=First%20Release\n&Operation=DeleteApplicationVersion\n&AuthParams         </queryrequest>\n\n         <queryresponse><DeleteApplicationVersionResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>58dc7339-f272-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DeleteApplicationVersionResponse>          </queryresponse>\n      </examples>"
    },
    "DeleteConfigurationTemplate":{
      "name":"DeleteConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteConfigurationTemplateMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified configuration template.</p>\n      <note>When you launch an environment using a configuration template, the\n         environment\n         gets a copy of the template. You can delete or modify the environment's copy of\n         the template without\n         affecting the running environment.</note>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&TemplateName=SampleAppTemplate\n&Operation=DeleteConfigurationTemplate\n&AuthParams         </queryrequest>\n\n         <queryresponse><DeleteConfigurationTemplateResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>af9cf1b6-f25e-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DeleteConfigurationTemplateResponse>   </queryresponse>\n      </examples>"
    },
    "DeleteEnvironmentConfiguration":{
      "name":"DeleteEnvironmentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteEnvironmentConfigurationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "documentation":"<p>\n         Deletes the draft configuration associated with the running environment.\n\t\t</p>\n      <p>\n         Updating a running environment with any configuration changes creates a\n         draft configuration set. You can get the draft configuration using\n         <a>DescribeConfigurationSettings</a> while the update is in progress \n         or if the update fails. The <code>DeploymentStatus</code> for the draft \n         configuration indicates whether the deployment is in process or has failed.\n         The draft configuration remains in existence until it is deleted with this action.\n      </p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&EnvironmentName=SampleApp\n&Operation=DeleteEnvironmentConfiguration\n&AuthParams         </queryrequest>\n\n         <queryresponse><DeleteEnvironmentConfigurationResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>fdf76507-f26d-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DeleteEnvironmentConfigurationResponse>\n         </queryresponse>      </examples>"
    },
    "DescribeApplicationVersions":{
      "name":"DescribeApplicationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeApplicationVersionsMessage",
        "documentation":"<p>Result message containing a list of configuration descriptions.</p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionsMessage",
        "documentation":"<p>Result message wrapping a list of application version descriptions.</p>",
        "resultWrapper":"DescribeApplicationVersionsResult"
      },
      "documentation":"<p>Returns descriptions for existing application versions.</p>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&Operation=DescribeApplicationVersions\n&AuthParams         </queryrequest>\n\n         <queryresponse><DescribeApplicationVersionsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeApplicationVersionsResult>\n    <ApplicationVersions>\n      <member>\n        <SourceBundle>\n          <S3Bucket>amazonaws.com</S3Bucket>\n          <S3Key>sample.war</S3Key>\n        </SourceBundle>\n        <VersionLabel>Version1</VersionLabel>\n        <Description>description</Description>\n        <ApplicationName>SampleApp</ApplicationName>\n        <DateCreated>2010-11-17T03:21:59.161Z</DateCreated>\n        <DateUpdated>2010-11-17T03:21:59.161Z</DateUpdated>\n      </member>\n    </ApplicationVersions>\n  </DescribeApplicationVersionsResult>\n  <ResponseMetadata>\n    <RequestId>773cd80a-f26c-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeApplicationVersionsResponse>          </queryresponse>\n      </examples>"
    },
    "DescribeApplications":{
      "name":"DescribeApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeApplicationsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionsMessage",
        "documentation":"<p>Result message containing a list of application descriptions.</p>",
        "resultWrapper":"DescribeApplicationsResult"
      },
      "documentation":"<p>Returns the descriptions of existing applications.</p>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationNames.member.1=SampleApplication\n&Operation=DescribeApplications\n&AuthParams         </queryrequest>\n\n         <queryresponse><DescribeApplicationsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeApplicationsResult>\n    <Applications>\n      <member>\n        <Versions/>\n        <Description>Sample Description</Description>\n        <ApplicationName>SampleApplication</ApplicationName>\n        <DateCreated>2010-11-16T20:20:51.974Z</DateCreated>\n        <DateUpdated>2010-11-16T20:20:51.974Z</DateUpdated>\n        <ConfigurationTemplates>\n          <member>Default</member>\n        </ConfigurationTemplates>\n      </member>\n    </Applications>\n  </DescribeApplicationsResult>\n  <ResponseMetadata>\n    <RequestId>577c70ff-f1d7-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeApplicationsResponse>        </queryresponse>\n      </examples>"
    },
    "DescribeConfigurationOptions":{
      "name":"DescribeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationOptionsMessage",
        "documentation":"<p>Result message containig a list of application version descriptions.\n      </p>"
      },
      "output":{
        "shape":"ConfigurationOptionsDescription",
        "documentation":"<p>Describes the settings for a specified configuration set.</p>",
        "resultWrapper":"DescribeConfigurationOptionsResult"
      },
      "documentation":"<p>\n         Describes the configuration options that are used in a\n         particular configuration template or environment, or that \n         a specified solution stack defines. The description includes the values the\n         options, their default values, and an indication of\n         the required action on a running environment if an option value is changed.\n\t\t</p>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&TemplateName=default\n&Operation=DescribeConfigurationOptions\n&AuthParams         </queryrequest>\n\n         <queryresponse><DescribeConfigurationOptionsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeConfigurationOptionsResult>\n    <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n    <Options>\n            <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>ImageId</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>ami-6036c009</DefaultValue>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>Notification Endpoint</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>PARAM4</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>JDBC_CONNECTION_STRING</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>SecurityGroups</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>elasticbeanstalk-default</DefaultValue>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>2</MinValue>\n        <Name>UnhealthyThreshold</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>5</DefaultValue>\n        <MaxValue>10</MaxValue>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>InstanceType</Name>\n        <ValueOptions>\n          <member>t1.micro</member>\n          <member>m1.small</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>t1.micro</DefaultValue>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>Statistic</Name>\n        <ValueOptions>\n          <member>Minimum</member>\n          <member>Maximum</member>\n          <member>Sum</member>\n          <member>Average</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>Average</DefaultValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>LoadBalancerHTTPSPort</Name>\n        <ValueOptions>\n          <member>OFF</member>\n          <member>443</member>\n          <member>8443</member>\n          <member>5443</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>OFF</DefaultValue>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>0</MinValue>\n        <Name>Stickiness Cookie Expiration</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>0</DefaultValue>\n        <MaxValue>1000000</MaxValue>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>PARAM5</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>MeasureName</Name>\n        <ValueOptions>\n          <member>CPUUtilization</member>\n          <member>NetworkIn</member>\n          <member>NetworkOut</member>\n          <member>DiskWriteOps</member>\n          <member>DiskReadBytes</member>\n          <member>DiskReadOps</member>\n          <member>DiskWriteBytes</member>\n          <member>Latency</member>\n          <member>RequestCount</member>\n          <member>HealthyHostCount</member>\n          <member>UnhealthyHostCount</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>NetworkOut</DefaultValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>5</MinValue>\n        <Name>Interval</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>30</DefaultValue>\n        <MaxValue>300</MaxValue>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>Application Healthcheck URL</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>/</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:application</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>Notification Topic ARN</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>LowerBreachScaleIncrement</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>-1</DefaultValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Regex>\n          <Pattern>^\\S*$</Pattern>\n          <Label>nospaces</Label>\n        </Regex>\n        <Name>XX:MaxPermSize</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>64m</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>UpperBreachScaleIncrement</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>1</DefaultValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>1</MinValue>\n        <Name>MinSize</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>1</DefaultValue>\n        <MaxValue>10000</MaxValue>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>Custom Availability Zones</Name>\n        <ValueOptions>\n          <member>us-east-1a</member>\n          <member>us-east-1b</member>\n          <member>us-east-1c</member>\n          <member>us-east-1d</member>\n        </ValueOptions>\n        <ValueType>List</ValueType>\n        <DefaultValue>us-east-1a</DefaultValue>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>Availability Zones</Name>\n        <ValueOptions>\n          <member>Any 1</member>\n          <member>Any 2</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>Any 1</DefaultValue>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>LogPublicationControl</Name>\n        <ValueType>Boolean</ValueType>\n        <DefaultValue>false</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:hostmanager</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>JVM Options</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>Notification Topic Name</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>PARAM2</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>LoadBalancerHTTPPort</Name>\n        <ValueOptions>\n          <member>OFF</member>\n          <member>80</member>\n          <member>8080</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>80</DefaultValue>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>2</MinValue>\n        <Name>Timeout</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>5</DefaultValue>\n        <MaxValue>60</MaxValue>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>1</MinValue>\n        <Name>BreachDuration</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>2</DefaultValue>\n        <MaxValue>600</MaxValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <Name>MonitoringInterval</Name>\n        <ValueOptions>\n          <member>1 minute</member>\n          <member>5 minute</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>5 minute</DefaultValue>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>PARAM1</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>1</MinValue>\n        <Name>MaxSize</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>4</DefaultValue>\n        <MaxValue>10000</MaxValue>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>0</MinValue>\n        <Name>LowerThreshold</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>2000000</DefaultValue>\n        <MaxValue>20000000</MaxValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>AWS_SECRET_KEY</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>AWS_ACCESS_KEY_ID</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>0</MinValue>\n        <Name>UpperThreshold</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>6000000</DefaultValue>\n        <MaxValue>20000000</MaxValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>Notification Protocol</Name>\n        <ValueOptions>\n          <member>http</member>\n          <member>https</member>\n          <member>email</member>\n          <member>email-json</member>\n          <member>sqs</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>email</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>Unit</Name>\n        <ValueOptions>\n          <member>Seconds</member>\n          <member>Percent</member>\n          <member>Bytes</member>\n          <member>Bits</member>\n          <member>Count</member>\n          <member>Bytes/Second</member>\n          <member>Bits/Second</member>\n          <member>Count/Second</member>\n          <member>None</member>\n        </ValueOptions>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>Bytes</DefaultValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Regex>\n          <Pattern>^\\S*$</Pattern>\n          <Label>nospaces</Label>\n        </Regex>\n        <Name>Xmx</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>256m</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>0</MinValue>\n        <Name>Cooldown</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>360</DefaultValue>\n        <MaxValue>10000</MaxValue>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>1</MinValue>\n        <Name>Period</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>1</DefaultValue>\n        <MaxValue>600</MaxValue>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Regex>\n          <Pattern>^\\S*$</Pattern>\n          <Label>nospaces</Label>\n        </Regex>\n        <Name>Xms</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>256m</DefaultValue>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>EC2KeyName</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <Name>Stickiness Policy</Name>\n        <ValueType>Boolean</ValueType>\n        <DefaultValue>false</DefaultValue>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartApplicationServer</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>PARAM3</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>NoInterruption</ChangeSeverity>\n        <MinValue>2</MinValue>\n        <Name>HealthyThreshold</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue>3</DefaultValue>\n        <MaxValue>10</MaxValue>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <UserDefined>false</UserDefined>\n        <ChangeSeverity>RestartEnvironment</ChangeSeverity>\n        <MaxLength>2000</MaxLength>\n        <Name>SSLCertificateId</Name>\n        <ValueType>Scalar</ValueType>\n        <DefaultValue/>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n    </Options>\n  </DescribeConfigurationOptionsResult>\n  <ResponseMetadata>\n    <RequestId>e8768900-f272-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeConfigurationOptionsResponse>   </queryresponse>\n      </examples>"
    },
    "DescribeConfigurationSettings":{
      "name":"DescribeConfigurationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationSettingsMessage",
        "documentation":"<p>Result message containing all of the configuration settings for a\n         specified solution stack or configuration template.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescriptions",
        "documentation":"<p>The results from a request to change the configuration settings of an\n         environment.</p>",
        "resultWrapper":"DescribeConfigurationSettingsResult"
      },
      "documentation":"<p>\n         Returns a description of the settings for the specified\n         configuration set, that is, either a configuration template or the\n         configuration set associated with a running environment.\n\t\t</p>\n      <p>\n         When describing the settings for the configuration set associated with a\n         running environment, it is possible to receive two sets of setting descriptions.\n         One is the deployed configuration set, and the other is a draft configuration\n         of an environment that is either in the process of deployment or that failed to\n         deploy. \n\t\t</p>\n      <p>Related Topics</p>\n      <ul>\n         <li>\n            <a>DeleteEnvironmentConfiguration</a>\n         </li>\n      </ul>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&TemplateName=default\n&Operation=DescribeConfigurationSettings\n&AuthParams         </queryrequest>\n\n         <queryresponse><DescribeConfigurationSettingsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeConfigurationSettingsResult>\n    <ConfigurationSettings>\n      <member>\n        <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n        <OptionSettings>\n      <member>\n        <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n        <OptionSettings>\n          <member>\n            <OptionName>ImageId</OptionName>\n            <Value>ami-f2f0069b</Value>\n            <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n          </member>\n          <member>\n            <OptionName>Notification Endpoint</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n          </member>\n          <member>\n            <OptionName>PARAM4</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>JDBC_CONNECTION_STRING</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>SecurityGroups</OptionName>\n            <Value>elasticbeanstalk-default</Value>\n            <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n          </member>\n          <member>\n            <OptionName>UnhealthyThreshold</OptionName>\n            <Value>5</Value>\n            <Namespace>aws:elb:healthcheck</Namespace>\n          </member>\n          <member>\n            <OptionName>InstanceType</OptionName>\n            <Value>t1.micro</Value>\n            <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n          </member>\n          <member>\n            <OptionName>Statistic</OptionName>\n            <Value>Average</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>LoadBalancerHTTPSPort</OptionName>\n            <Value>OFF</Value>\n            <Namespace>aws:elb:loadbalancer</Namespace>\n          </member>\n          <member>\n            <OptionName>Stickiness Cookie Expiration</OptionName>\n            <Value>0</Value>\n            <Namespace>aws:elb:policies</Namespace>\n          </member>\n          <member>\n            <OptionName>PARAM5</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>MeasureName</OptionName>\n            <Value>NetworkOut</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>Interval</OptionName>\n            <Value>30</Value>\n            <Namespace>aws:elb:healthcheck</Namespace>\n          </member>\n          <member>\n            <OptionName>Application Healthcheck URL</OptionName>\n            <Value>/</Value>\n            <Namespace>aws:elasticbeanstalk:application</Namespace>\n          </member>\n          <member>\n            <OptionName>Notification Topic ARN</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n          </member>\n          <member>\n            <OptionName>LowerBreachScaleIncrement</OptionName>\n            <Value>-1</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>XX:MaxPermSize</OptionName>\n            <Value>64m</Value>\n            <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n          </member>\n          <member>\n            <OptionName>UpperBreachScaleIncrement</OptionName>\n            <Value>1</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>MinSize</OptionName>\n            <Value>1</Value>\n            <Namespace>aws:autoscaling:asg</Namespace>\n          </member>\n          <member>\n            <OptionName>Custom Availability Zones</OptionName>\n            <Value>us-east-1a</Value>\n            <Namespace>aws:autoscaling:asg</Namespace>\n          </member>\n          <member>\n            <OptionName>Availability Zones</OptionName>\n            <Value>Any 1</Value>\n            <Namespace>aws:autoscaling:asg</Namespace>\n          </member>\n          <member>\n            <OptionName>LogPublicationControl</OptionName>\n            <Value>false</Value>\n            <Namespace>aws:elasticbeanstalk:hostmanager</Namespace>\n          </member>\n          <member>\n            <OptionName>JVM Options</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n          </member>\n          <member>\n            <OptionName>Notification Topic Name</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n          </member>\n          <member>\n            <OptionName>PARAM2</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>LoadBalancerHTTPPort</OptionName>\n            <Value>80</Value>\n            <Namespace>aws:elb:loadbalancer</Namespace>\n          </member>\n          <member>\n            <OptionName>Timeout</OptionName>\n            <Value>5</Value>\n            <Namespace>aws:elb:healthcheck</Namespace>\n          </member>\n          <member>\n            <OptionName>BreachDuration</OptionName>\n            <Value>2</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>MonitoringInterval</OptionName>\n            <Value>5 minute</Value>\n            <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n          </member>\n          <member>\n            <OptionName>PARAM1</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>MaxSize</OptionName>\n            <Value>4</Value>\n            <Namespace>aws:autoscaling:asg</Namespace>\n          </member>\n          <member>\n            <OptionName>LowerThreshold</OptionName>\n            <Value>2000000</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>AWS_SECRET_KEY</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>AWS_ACCESS_KEY_ID</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>UpperThreshold</OptionName>\n            <Value>6000000</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>Notification Protocol</OptionName>\n            <Value>email</Value>\n            <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n          </member>\n          <member>\n            <OptionName>Unit</OptionName>\n            <Value>Bytes</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>Xmx</OptionName>\n            <Value>256m</Value>\n            <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n          </member>\n          <member>\n            <OptionName>Cooldown</OptionName>\n            <Value>360</Value>\n            <Namespace>aws:autoscaling:asg</Namespace>\n          </member>\n          <member>\n            <OptionName>Period</OptionName>\n            <Value>1</Value>\n            <Namespace>aws:autoscaling:trigger</Namespace>\n          </member>\n          <member>\n            <OptionName>Xms</OptionName>\n            <Value>256m</Value>\n            <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n          </member>\n          <member>\n            <OptionName>EC2KeyName</OptionName>\n            <Value/>\n            <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n          </member>\n          <member>\n            <OptionName>Stickiness Policy</OptionName>\n            <Value>false</Value>\n            <Namespace>aws:elb:policies</Namespace>\n          </member>\n          <member>\n            <OptionName>PARAM3</OptionName>\n            <Value/>\n            <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n          </member>\n          <member>\n            <OptionName>HealthyThreshold</OptionName>\n            <Value>3</Value>\n            <Namespace>aws:elb:healthcheck</Namespace>\n          </member>\n          <member>\n            <OptionName>SSLCertificateId</OptionName>\n            <Value/>\n            <Namespace>aws:elb:loadbalancer</Namespace>\n          </member>\n        </OptionSettings>\n        <Description>Default Configuration Template</Description>\n        <ApplicationName>SampleApp</ApplicationName>\n        <DateCreated>2010-11-17T03:20:17.832Z</DateCreated>\n        <TemplateName>Default</TemplateName>\n        <DateUpdated>2010-11-17T03:20:17.832Z</DateUpdated>\n      </member>\n    </ConfigurationSettings>\n  </DescribeConfigurationSettingsResult>\n  <ResponseMetadata>\n    <RequestId>4bde8884-f273-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeConfigurationSettingsResponse>         </queryresponse>\n      </examples>"
    },
    "DescribeEnvironmentResources":{
      "name":"DescribeEnvironmentResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEnvironmentResourcesMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentResourceDescriptionsMessage",
        "documentation":"<p>Result message containing a list of environment resource\n         descriptions.\n      </p>",
        "resultWrapper":"DescribeEnvironmentResourcesResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>Returns AWS resources for this environment.</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-hc8mvnayrx\n&EnvironmentName=SampleAppVersion\n&Operation=DescribeEnvironmentResources\n&AuthParams         </queryrequest>\n\n         <queryresponse><DescribeEnvironmentResourcesResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeEnvironmentResourcesResult>\n    <EnvironmentResources>\n      <LoadBalancers>\n        <member>\n          <Name>elasticbeanstalk-SampleAppVersion</Name>\n        </member>\n      </LoadBalancers>\n      <LaunchConfigurations>\n        <member>\n          <Name>elasticbeanstalk-SampleAppVersion-hbAc8cSZH7</Name>\n        </member>\n      </LaunchConfigurations>\n      <AutoScalingGroups>\n        <member>\n          <Name>elasticbeanstalk-SampleAppVersion-us-east-1c</Name>\n        </member>\n      </AutoScalingGroups>\n      <EnvironmentName>SampleAppVersion</EnvironmentName>\n      <Triggers>\n        <member>\n          <Name>elasticbeanstalk-SampleAppVersion-us-east-1c</Name>\n        </member>\n      </Triggers>\n      <Instances/>\n    </EnvironmentResources>\n  </DescribeEnvironmentResourcesResult>\n  <ResponseMetadata>\n    <RequestId>e1cb7b96-f287-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeEnvironmentResourcesResponse>        </queryresponse>\n      </examples>"
    },
    "DescribeEnvironments":{
      "name":"DescribeEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEnvironmentsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentDescriptionsMessage",
        "documentation":"<p>Result message containing a list of environment descriptions.</p>",
        "resultWrapper":"DescribeEnvironmentsResult"
      },
      "documentation":"<p>Returns descriptions for existing environments.</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&IncludeDeleted=true\n&IncludedDeletedBackTo=2008-11-05T06%3A00%3A00Z\n&Operation=DescribeEnvironments\n&AuthParams        </queryrequest>\n\n         <queryresponse><DescribeEnvironmentsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeEnvironmentsResult>\n    <Environments>\n      <member>\n        <VersionLabel>Version1</VersionLabel>\n        <Status>Available</Status>\n        <ApplicationName>SampleApp</ApplicationName>\n        <EndpointURL>elasticbeanstalk-SampleApp-1394386994.us-east-1.elb.amazonaws.com</EndpointURL>\n        <CNAME>SampleApp-jxb293wg7n.elasticbeanstalk.amazonaws.com</CNAME>\n        <Health>Green</Health>\n        <EnvironmentId>e-icsgecu3wf</EnvironmentId>\n        <DateUpdated>2010-11-17T04:01:40.668Z</DateUpdated>\n        <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n        <Description>EnvDescrip</Description>\n        <EnvironmentName>SampleApp</EnvironmentName>\n        <DateCreated>2010-11-17T03:59:33.520Z</DateCreated>\n      </member>\n    </Environments>\n  </DescribeEnvironmentsResult>\n  <ResponseMetadata>\n    <RequestId>44790c68-f260-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeEnvironmentsResponse> </queryresponse>\n      </examples>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEventsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EventDescriptionsMessage",
        "documentation":"<p>Result message wrapping a list of event descriptions.</p>",
        "resultWrapper":"DescribeEventsResult"
      },
      "documentation":"<p>Returns list of event descriptions matching criteria up to the last 6 weeks.</p>\n      <note>\n         This action returns the most recent 1,000 events from the specified\n         <code>NextToken</code>.\n      </note>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&Severity=TRACE\n&StartTime=2010-11-17T10%3A26%3A40Z\n&Operation=DescribeEvents\n&AuthParams         </queryrequest>\n\n         <queryresponse> <DescribeEventsResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <DescribeEventsResult>\n    <Events>\n      <member>\n        <Message>Successfully completed createEnvironment activity.</Message>\n        <EventDate>2010-11-17T20:25:35.191Z</EventDate>\n        <VersionLabel>New Version</VersionLabel>\n        <RequestId>bb01fa74-f287-11df-8a78-9f77047e0d0c</RequestId>\n        <ApplicationName>SampleApp</ApplicationName>\n        <EnvironmentName>SampleAppVersion</EnvironmentName>\n        <Severity>INFO</Severity>\n      </member>\n      <member>\n        <Message>Launching a new EC2 instance: i-04a8c569</Message>\n        <EventDate>2010-11-17T20:21:30Z</EventDate>\n        <VersionLabel>New Version</VersionLabel>\n        <ApplicationName>SampleApp</ApplicationName>\n        <EnvironmentName>SampleAppVersion</EnvironmentName>\n        <Severity>DEBUG</Severity>\n      </member>\n      <member>\n        <Message>At least one EC2 instance has entered the InService lifecycle state.</Message>\n        <EventDate>2010-11-17T20:20:32.008Z</EventDate>\n        <VersionLabel>New Version</VersionLabel>\n        <RequestId>bb01fa74-f287-11df-8a78-9f77047e0d0c</RequestId>\n        <ApplicationName>SampleApp</ApplicationName>\n        <EnvironmentName>SampleAppVersion</EnvironmentName>\n        <Severity>INFO</Severity>\n      </member>\n      <member>\n        <Message>Elastic Load Balancer elasticbeanstalk-SampleAppVersion has failed 0 healthy instances - Environment may not be available.</Message>\n        <EventDate>2010-11-17T20:19:28Z</EventDate>\n        <VersionLabel>New Version</VersionLabel>\n        <ApplicationName>SampleApp</ApplicationName>\n        <EnvironmentName>SampleAppVersion</EnvironmentName>\n        <Severity>WARN</Severity>\n      </member>\n    </Events>\n  </DescribeEventsResult>\n  <ResponseMetadata>\n    <RequestId>f10d02dd-f288-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</DescribeEventsResponse>        </queryresponse>\n      </examples>"
    },
    "ListAvailableSolutionStacks":{
      "name":"ListAvailableSolutionStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListAvailableSolutionStacksResultMessage",
        "documentation":"<p>A\n         list of available AWS Elastic Beanstalk\n         solution stacks.\n      </p>",
        "resultWrapper":"ListAvailableSolutionStacksResult"
      },
      "documentation":"<p>\n         Returns a list of the available solution stack names.\n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?Operation=ListAvailableSolutionStacks\n&AuthParams         </queryrequest>\n\n         <queryresponse><ListAvailableSolutionStacksResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ListAvailableSolutionStacksResult>\n    <SolutionStacks>\n      <member>64bit Amazon Linux running Tomcat 6</member>\n      <member>32bit Amazon Linux running Tomcat 6</member>\n      <member>64bit Amazon Linux running Tomcat 7</member>\n      <member>32bit Amazon Linux running Tomcat 7</member>\n    </SolutionStacks>\n  </ListAvailableSolutionStacksResult>\n  <ResponseMetadata>\n    <RequestId>f21e2a92-f1fc-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</ListAvailableSolutionStacksResponse>         </queryresponse>\n      </examples>"
    },
    "RebuildEnvironment":{
      "name":"RebuildEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RebuildEnvironmentMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>\n         Deletes and recreates all of the AWS resources (for example: the Auto Scaling group, load\n         balancer, etc.)\n         for a specified environment and forces a restart.  \n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-hc8mvnayrx\n&EnvironmentName=SampleAppVersion\n&Operation=RebuildEnvironment\n&AuthParams         </queryrequest>\n\n         <queryresponse><RebuildEnvironmentResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>a7d6606e-f289-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</RebuildEnvironmentResponse>      </queryresponse>\n      </examples>"
    },
    "RequestEnvironmentInfo":{
      "name":"RequestEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RequestEnvironmentInfoMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "documentation":"<p>\n         Initiates a request to compile the specified type of\n         information of the deployed environment.\n      </p>\n\n      <p>\n         Setting the <code>InfoType</code> to <code>tail</code>\n         compiles the last lines from the application server log files of every\n         Amazon EC2 instance in your environment. Use <a>RetrieveEnvironmentInfo</a>\n         to access the compiled information.\n      </p>\n       <p>Related Topics</p>\n      <ul>\n       \n         <li>\n            <a>RetrieveEnvironmentInfo</a>\n         </li>\n      </ul>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-hc8mvnayrx\n&EnvironmentName=SampleAppVersion\n&InfoType=tail\n&Operation=RequestEnvironmentInfo\n&AuthParams                    </queryrequest>\n\n         <queryresponse><RequestEnvironmentInfoResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>126a4ff3-f28a-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</RequestEnvironmentInfoResponse>         </queryresponse>\n      </examples>"
    },
    "RestartAppServer":{
      "name":"RestartAppServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RestartAppServerMessage",
        "documentation":"<p></p>"
      },
      "documentation":"<p>\n         Causes the environment to restart the application\n         container server running on each Amazon EC2 instance. \n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-hc8mvnayrx\n&EnvironmentName=SampleAppVersion\n&Operation=RestartAppServer\n&AuthParams                   </queryrequest>\n         <queryresponse><RestartAppServerResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>90e8d1d5-f28a-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</RestartAppServerResponse>      </queryresponse>\n      </examples>"
    },
    "RetrieveEnvironmentInfo":{
      "name":"RetrieveEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RetrieveEnvironmentInfoMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"RetrieveEnvironmentInfoResultMessage",
        "documentation":"<p>Result message containing a description of the requested environment\n         info.</p>",
        "resultWrapper":"RetrieveEnvironmentInfoResult"
      },
      "documentation":"<p>\n         Retrieves the compiled information from a\n         <a>RequestEnvironmentInfo</a>\n         request.\n      </p>\n       <p>Related Topics</p>\n      <ul>\n    \n         <li>\n            <a>RequestEnvironmentInfo</a>\n         </li>\n      </ul>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-hc8mvnayrx\n&EnvironmentName=SampleAppVersion\n&InfoType=tail\n&Operation=RetrieveEnvironmentInfo\n&AuthParams               </queryrequest>\n\n         <queryresponse><RetrieveEnvironmentInfoResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <RetrieveEnvironmentInfoResult>\n    <EnvironmentInfo>\n      <member>\n        <Message>\n         https://elasticbeanstalk.us-east-1.s3.amazonaws.com/environments%2Fa514386a-709f-4888-9683-068c38d744b4%2Flogs%2Fi-92a3ceff%2F278756a8-7d83-4bc1-93db-b1763163705a.log?Expires=1291236023\n         &AuthParams\n        </Message>\n        <SampleTimestamp>2010-11-17T20:40:23.210Z</SampleTimestamp>\n        <InfoType>tail</InfoType>\n        <Ec2InstanceId>i-92a3ceff</Ec2InstanceId>\n      </member>\n    </EnvironmentInfo>\n  </RetrieveEnvironmentInfoResult>\n  <ResponseMetadata>\n    <RequestId>e8e785c9-f28a-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</RetrieveEnvironmentInfoResponse>      </queryresponse>\n      </examples>"
    },
    "SwapEnvironmentCNAMEs":{
      "name":"SwapEnvironmentCNAMEs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SwapEnvironmentCNAMEsMessage",
        "documentation":"<p></p>"
      },
      "documentation":"<p>\n         Swaps the CNAMEs of two environments.  \n      </p>\n      \n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?SourceEnvironmentName=SampleApp\n&DestinationEnvironmentName=SampleApp2\n&Operation=SwapEnvironmentCNAMEs\n&AuthParams</queryrequest>\n         \n         <queryresponse><SwapEnvironmentCNAMEsResponse xmlns=\"http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <ResponseMetadata>\n    <RequestId>f4e1b145-9080-11e0-8e5a-a558e0ce1fc4</RequestId>\n  </ResponseMetadata>\n</SwapEnvironmentCNAMEsResponse>      </queryresponse>\n      </examples>"
    },
    "TerminateEnvironment":{
      "name":"TerminateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"TerminateEnvironmentMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentDescription",
        "documentation":"<p>Describes the properties of an environment.</p>",
        "resultWrapper":"TerminateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>\n         Terminates the specified environment.\n\t\t</p>\n\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?EnvironmentId=e-icsgecu3wf\n&EnvironmentName=SampleApp\n&TerminateResources=true\n&Operation=TerminateEnvironment\n&AuthParams </queryrequest>\n\n         <queryresponse><TerminateEnvironmentResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <TerminateEnvironmentResult>\n    <VersionLabel>Version1</VersionLabel>\n    <Status>Terminating</Status>\n    <ApplicationName>SampleApp</ApplicationName>\n    <EndpointURL>elasticbeanstalk-SampleApp-1394386994.us-east-1.elb.amazonaws.com</EndpointURL>\n    <CNAME>SampleApp-jxb293wg7n.elasticbeanstalk.amazonaws.com</CNAME>\n    <Health>Grey</Health>\n    <EnvironmentId>e-icsgecu3wf</EnvironmentId>\n    <DateUpdated>2010-11-17T17:10:41.976Z</DateUpdated>\n    <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n    <Description>EnvDescrip</Description>\n    <EnvironmentName>SampleApp</EnvironmentName>\n    <DateCreated>2010-11-17T03:59:33.520Z</DateCreated>\n  </TerminateEnvironmentResult>\n  <ResponseMetadata>\n    <RequestId>9b71af21-f26d-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</TerminateEnvironmentResponse> </queryresponse>\n      </examples>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "documentation":"<p>Result message containing a single description of an application.</p>",
        "resultWrapper":"UpdateApplicationResult"
      },
      "documentation":"<p>Updates the specified application to have the specified\n         properties.\t  </p>\n      <note>\n         If a property (for example, <code>description</code>) is not provided, the\n         value\n         remains unchanged. To clear these properties, specify an empty string.\n      </note>\n      <examples>\n<queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&Description=Another%20Description\n&Operation=UpdateApplication\n&AuthParams   </queryrequest>\n\n         <queryresponse><UpdateApplicationResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <UpdateApplicationResult>\n    <Application>\n      <Versions>\n        <member>New Version</member>\n      </Versions>\n      <Description>Another Description</Description>\n      <ApplicationName>SampleApp</ApplicationName>\n      <DateCreated>2010-11-17T19:26:20.410Z</DateCreated>\n      <DateUpdated>2010-11-17T20:42:54.611Z</DateUpdated>\n      <ConfigurationTemplates>\n        <member>Default</member>\n      </ConfigurationTemplates>\n    </Application>\n  </UpdateApplicationResult>\n  <ResponseMetadata>\n    <RequestId>40be666b-f28b-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</UpdateApplicationResponse>         </queryresponse>\n      </examples>"
    },
    "UpdateApplicationVersion":{
      "name":"UpdateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateApplicationVersionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "documentation":"<p>\n         Result message wrapping a single description of an application\n         version.\n      </p>",
        "resultWrapper":"UpdateApplicationVersionResult"
      },
      "documentation":"<p>\n         Updates the specified application version to have the specified\n         properties.\n         \n      </p>\n\n      <note>\n         If a property (for example,\n         <code>description</code>) is not provided, the\n         value remains unchanged. To clear properties,\n         specify an empty string.\n      </note>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&VersionLabel=New%20Version\n&Description=New%20Release%20Description\n&Operation=UpdateApplicationVersion\n&AuthParams            </queryrequest>\n\n         <queryresponse><UpdateApplicationVersionResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <UpdateApplicationVersionResult>\n    <ApplicationVersion>\n      <SourceBundle>\n        <S3Bucket>awsemr</S3Bucket>\n        <S3Key>sample.war</S3Key>\n      </SourceBundle>\n      <VersionLabel>New Version</VersionLabel>\n      <Description>New Release Description</Description>\n      <ApplicationName>SampleApp</ApplicationName>\n      <DateCreated>2010-11-17T19:26:20.699Z</DateCreated>\n      <DateUpdated>2010-11-17T20:48:16.632Z</DateUpdated>\n    </ApplicationVersion>\n  </UpdateApplicationVersionResult>\n  <ResponseMetadata>\n    <RequestId>00b10aa1-f28c-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</UpdateApplicationVersionResponse>          </queryresponse>\n      </examples>"
    },
    "UpdateConfigurationTemplate":{
      "name":"UpdateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateConfigurationTemplateMessage",
        "documentation":"<p>The result message containing the options for the specified solution\n         stack.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescription",
        "documentation":"<p>\n         Describes the settings for a configuration set.\n\t\t</p>",
        "resultWrapper":"UpdateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>\n         Updates the specified configuration template to have the specified\n         properties or configuration option values.\n\t  </p>\n      <note>\n         If a property (for example,\n         <code>ApplicationName</code>) is not provided, its\n         value remains unchanged. To clear such\n         properties, specify an empty string.\n      </note>\n      <p>Related Topics</p>\n      <ul>\n         <li>\n            <a>DescribeConfigurationOptions</a>\n         </li>\n      </ul>\n      <examples>\n         <queryrequest>https://elasticbeanstalk.us-east-1.amazon.com/?ApplicationName=SampleApp\n&TemplateName=default\n&Description=changed%20description\n&OptionSettings.member.1.Namespace=aws%3Aautoscaling%3Atrigger\n&OptionSettings.member.1.OptionName=LowerThreshold\n&OptionSettings.member.1.Value=1000000\n&Operation=UpdateConfigurationTemplate\n&AuthParams          </queryrequest>\n         <queryresponse><UpdateConfigurationTemplateResponse xmlns=\"https://elasticbeanstalk.amazonaws.com/docs/2010-12-01/\">\n  <UpdateConfigurationTemplateResult>\n    <SolutionStackName>32bit Amazon Linux running Tomcat 7</SolutionStackName>\n    <OptionSettings>\n      <member>\n        <OptionName>Availability Zones</OptionName>\n        <Value>Any 1</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM5</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>LowerThreshold</OptionName>\n        <Value>1000000</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>UpperThreshold</OptionName>\n        <Value>9000000</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>LowerBreachScaleIncrement</OptionName>\n        <Value>-1</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>MeasureName</OptionName>\n        <Value>NetworkOut</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Period</OptionName>\n        <Value>60</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Xmx</OptionName>\n        <Value>256m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM3</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>EC2KeyName</OptionName>\n        <Value/>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>MinSize</OptionName>\n        <Value>1</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>JVM Options</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>XX:MaxPermSize</OptionName>\n        <Value>64m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n      <member>\n        <OptionName>AWS_SECRET_KEY</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>UpperBreachScaleIncrement</OptionName>\n        <Value>1</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Topic ARN</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>InstanceType</OptionName>\n        <Value>t1.micro</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>Custom Availability Zones</OptionName>\n        <Value>us-east-1a</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>Statistic</OptionName>\n        <Value>Average</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Protocol</OptionName>\n        <Value>email</Value>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>JDBC_CONNECTION_STRING</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM2</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>Stickiness Cookie Expiration</OptionName>\n        <Value>0</Value>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <OptionName>SSLCertificateId</OptionName>\n        <Value/>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>MaxSize</OptionName>\n        <Value>4</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>Stickiness Policy</OptionName>\n        <Value>false</Value>\n        <Namespace>aws:elb:policies</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Topic Name</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>SecurityGroups</OptionName>\n        <Value>elasticbeanstalk-default</Value>\n        <Namespace>aws:autoscaling:launchconfiguration</Namespace>\n      </member>\n      <member>\n        <OptionName>LoadBalancerHTTPPort</OptionName>\n        <Value>80</Value>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>Unit</OptionName>\n        <Value>None</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>AWS_ACCESS_KEY_ID</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM4</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>Application Healthcheck URL</OptionName>\n        <Value>/</Value>\n        <Namespace>aws:elasticbeanstalk:application</Namespace>\n      </member>\n      <member>\n        <OptionName>LoadBalancerHTTPSPort</OptionName>\n        <Value>OFF</Value>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>HealthyThreshold</OptionName>\n        <Value>3</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>Timeout</OptionName>\n        <Value>5</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>Cooldown</OptionName>\n        <Value>0</Value>\n        <Namespace>aws:autoscaling:asg</Namespace>\n      </member>\n      <member>\n        <OptionName>UnhealthyThreshold</OptionName>\n        <Value>5</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>Interval</OptionName>\n        <Value>30</Value>\n        <Namespace>aws:elb:healthcheck</Namespace>\n      </member>\n      <member>\n        <OptionName>LogPublicationControl</OptionName>\n        <Value>false</Value>\n        <Namespace>aws:elasticbeanstalk:hostmanager</Namespace>\n      </member>\n      <member>\n        <OptionName>BreachDuration</OptionName>\n        <Value>120</Value>\n        <Namespace>aws:autoscaling:trigger</Namespace>\n      </member>\n      <member>\n        <OptionName>PARAM1</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:application:environment</Namespace>\n      </member>\n      <member>\n        <OptionName>Notification Endpoint</OptionName>\n        <Value/>\n        <Namespace>aws:elasticbeanstalk:sns:topics</Namespace>\n      </member>\n      <member>\n        <OptionName>Protocol</OptionName>\n        <Value>HTTP</Value>\n        <Namespace>aws:elb:loadbalancer</Namespace>\n      </member>\n      <member>\n        <OptionName>Xms</OptionName>\n        <Value>256m</Value>\n        <Namespace>aws:elasticbeanstalk:container:tomcat:jvmoptions</Namespace>\n      </member>\n    </OptionSettings>\n    <Description>changed description</Description>\n    <ApplicationName>SampleApp</ApplicationName>\n    <DateCreated>2010-11-17T19:26:20.420Z</DateCreated>\n    <TemplateName>Default</TemplateName>\n    <DateUpdated>2010-11-17T20:58:27.508Z</DateUpdated>\n  </UpdateConfigurationTemplateResult>\n  <ResponseMetadata>\n    <RequestId>6cbcb09a-f28d-11df-8a78-9f77047e0d0c</RequestId>\n  </ResponseMetadata>\n</UpdateConfigurationTemplateResponse>    </queryresponse>\n      </examples>"
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateEnvironmentMessage",
[...]
