{
  "metadata":{
    "apiVersion":"2010-05-08",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "serviceAbbreviation":"IAM",
    "serviceFullName":"AWS Identity and Access Management",
    "signatureVersion":"v4",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2010-05-08/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS Identity and Access Management</fullname>\n\t\t\n\t\t<p>AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions\n\t\t\tunder your AWS account. This guide provides descriptions of the IAM API. For general\n\t\t\tinformation about IAM, see <a href=\"http://aws.amazon.com/iam/\" target=\"_blank\">AWS Identity\n\t\t\t\tand Access Management (IAM)</a>. For the user guide for IAM, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/\" target=\"_blank\">Using IAM</a>. </p>\n\t\t\n\t\t<note> AWS provides SDKs that consist of libraries and sample code for various programming\n\t\t\tlanguages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient\n\t\t\tway to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks\n\t\t\tsuch as cryptographically signing requests (see below), managing errors, and retrying requests\n\t\t\tautomatically. For information about the AWS SDKs, including how to download and install them,\n\t\t\tsee the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a> page. </note>\n\t\t\n\t\t<p> Using the IAM Query API, you make direct calls to the IAM web service. IAM supports\n\t\t\tGET and POST requests for all actions. That is, the API does not require you to use GET for\n\t\t\tsome actions and POST for others. However, GET requests are subject to the limitation size of\n\t\t\ta URL; although this limit is browser dependent, a typical limit is 2048 bytes. Therefore, for\n\t\t\toperations that require larger sizes, you must use a POST request. </p>\n\t\t\n\t\t<p><b>Signing Requests</b><br> Requests must be signed using an access key ID and a secret\n\t\t\taccess key. We strongly recommend that you do not use your AWS account access key ID and\n\t\t\tsecret access key for everyday work with IAM. You can use the access key ID and secret access\n\t\t\tkey for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials\n\t\t\tand use those to sign requests.</p> \n\t\t\n\t\t<p>To sign requests, we recommend that you use <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If\n\t\t\tyou have an existing application that uses Signature Version 2, you do not have to update it\n\t\t\tto use Signature Version 4. However, some operations now require Signature Version 4. The\n\t\t\tdocumentation for operations that require version 4 indicate this requirement. </p>\n\t\t\n\n\t\t<p><b>Additional Resources</b><br>\n\t\tFor more information, see the following:</p>\n\t\t\n\t\t<ul>\n\t\t\t<li>\n<a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\" target=\"_blank\">AWS Security Credentials</a>. This topic provides general information about the types of\n\t\t\t\tcredentials used for accessing AWS.</li>\n\t\t\t<li>\n<a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\" target=\"_blank\">IAM\n\t\t\t\t\tBest Practices</a>. This topic presents a list of suggestions for using the IAM service\n\t\t\t\tto help secure your AWS resources.</li>\n\t\t\t<li>\n<a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/\" target=\"_blank\">AWS Security Token Service</a>. This guide\n\t\t\t\tdescribes how to create and use temporary security credentials.</li>\n\t\t\t<li>\n<a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\" target=\"_blank\">Signing AWS API Requests</a>. This set of topics walk you through the process of signing\n\t\t\t\ta request using an access key ID and secret access key.</li>\n\t\t</ul>",
  "operations":{
    "AddRoleToInstanceProfile":{
      "name":"AddRoleToInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Adds the specified role to the specified instance profile. For more information about roles,\n\t\t\tgo to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with\n\t\t\t\tRoles</a>. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance\n\t\t\t\tProfiles</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=AddRoleToInstanceProfile\n&InstanceProfileName=Webserver\n&RoleName=S3Access\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<ResponseMetadata> </ResponseMetadata>\n\t\t\t<queryresponse>\n<AddRoleToInstanceProfileResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <ResponseMetadata>\n    <RequestId>12657608-99f2-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</AddRoleToInstanceProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "AddUserToGroup":{
      "name":"AddUserToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUserToGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Adds the specified user to the specified group.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=AddUserToGroup\n&GroupName=Managers\n&UserName=Bob\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<AddUserToGroupResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</AddUserToGroupResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "ChangePassword":{
      "name":"ChangePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChangePasswordRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"InvalidUserTypeException",
          "error":{
            "code":"InvalidUserType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the type of user for the transaction was incorrect.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that is temporarily unmodifiable,\n\t\t\tsuch as a user name that was deleted and then recreated. The error indicates that the request\n\t\t\tis likely to succeed if you try again after waiting several minutes. The error message\n\t\t\tdescribes the entity.</p>"
        }
      ],
      "documentation":"<p>Changes the password of the IAM user calling <code>ChangePassword</code>. The root account\n\t\t\tpassword is not affected by this action. For information about modifying passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\" target=\"_blank\">Managing Passwords</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=ChangePassword\n&OldPassword=U79}kgds4?\n&NewPassword=Lb0*1(9xpN\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<ChangePasswordResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</ChangePasswordResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateAccessKey":{
      "name":"CreateAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessKeyRequest"},
      "output":{
        "shape":"CreateAccessKeyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateAccessKey</a> action.</p>",
        "resultWrapper":"CreateAccessKeyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Creates a new AWS secret access key and corresponding AWS access key ID for the specified\n\t\t\tuser. The default status for new keys is <code>Active</code>.</p>\n\t\t<p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS\n\t\t\taccess key ID signing the request. Because this action works for access keys under the AWS\n\t\t\taccount, you can use this API to manage root credentials even if the AWS account has no\n\t\t\tassociated users.</p>\n\t\t<p>For information about limits on the number of keys you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<important>To ensure the security of your AWS account, the secret access key is accessible only\n\t\t\tduring key and user creation. You must save the key (for example, in a text file) if you want\n\t\t\tto be able to access it again. If a secret key is lost, you can delete the access keys for the\n\t\t\tassociated user and then create new keys.</important>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateAccessKey\n&UserName=Bob\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateAccessKeyResponse>\n   <CreateAccessKeyResult>\n     <AccessKey>\n         <UserName>Bob</UserName>\n         <AccessKeyId>AKIAIOSFODNN7EXAMPLE</AccessKeyId>\n         <Status>Active</Status>\n         <SecretAccessKey>wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY\n         </SecretAccessKey>\n      </AccessKey>\n   </CreateAccessKeyResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</CreateAccessKeyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateAccountAlias":{
      "name":"CreateAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountAliasRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>This action creates an alias for your AWS account. For information about using an AWS account\n\t\t\talias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\" target=\"_blank\">Using an Alias for Your AWS Account ID</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateAccountAlias\n&AccountAlias=foocorporation\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateAccountAliasResponse>\n  <ResponseMetadata>\n    <RequestId>36b5db08-f1b0-11df-8fbe-45274EXAMPLE</RequestId>\n  </ResponseMetadata>\n</CreateAccountAliasResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateGroup</a> action.</p>",
        "resultWrapper":"CreateGroupResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Creates a new group.</p>\n\t\t<p>For information about the number of groups you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateGroup\n&Path=/\n&GroupName=Admins\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateGroupResponse>\n   <CreateGroupResult>\n      <Group>\n         <Path>/</Path>\n         <GroupName>Admins</GroupName>\n         <GroupId>AGPACKCEVSQ6C2EXAMPLE</GroupId>\n         <Arn>arn:aws:iam::123456789012:group/Admins</Arn>\n      </Group>\n   </CreateGroupResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</CreateGroupResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileRequest"},
      "output":{
        "shape":"CreateInstanceProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateInstanceProfile</a>\n\t\t\taction.</p>",
        "resultWrapper":"CreateInstanceProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Creates a new instance profile. For information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance\n\t\t\t\tProfiles</a>.</p>\n\t\t<p>For information about the number of instance profiles you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateInstanceProfile\n&InstanceProfileName=Webserver\n&Path=/application_abc/component_xyz/\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateInstanceProfileResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <CreateInstanceProfileResult>\n    <InstanceProfile>\n      <InstanceProfileId>AIPAD5ARO2C5EXAMPLE3G</InstanceProfileId>\n      <Roles/>\n      <InstanceProfileName>Webserver</InstanceProfileName>\n      <Path>/application_abc/component_xyz/</Path>\n      <Arn>arn:aws:iam::123456789012:instance-profile/application_abc/component_xyz/Webserver</Arn>\n      <CreateDate>2012-05-09T16:11:10.222Z</CreateDate>\n    </InstanceProfile>\n  </CreateInstanceProfileResult>\n  <ResponseMetadata>\n    <RequestId>974142ee-99f1-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</CreateInstanceProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateLoginProfile":{
      "name":"CreateLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoginProfileRequest"},
      "output":{
        "shape":"CreateLoginProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateLoginProfile</a> action.</p>",
        "resultWrapper":"CreateLoginProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"PasswordPolicyViolationException",
          "error":{
            "code":"PasswordPolicyViolation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the provided password did not meet the requirements imposed\n\t\t\tby the account password policy.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Creates a password for the specified user, giving the user the ability to access AWS services\n\t\t\tthrough the AWS Management Console. For more information about managing passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_ManagingLogins.html\" target=\"_blank\">Managing Passwords</a> in <i>Using IAM</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateLoginProfile\n&UserName=Bob\n&Password=Password1\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateLoginProfileResponse>\n   <CreateUserResult>\n      <LoginProfile>\n         <UserName>Bob</UserName>\n         <CreateDate>2011-09-19T23:00:56Z</CreateDate>\n      </LoginProfile>\n   </CreateUserResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</CreateLoginProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateRole":{
      "name":"CreateRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRoleRequest"},
      "output":{
        "shape":"CreateRoleResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateRole</a> action.</p>",
        "resultWrapper":"CreateRoleResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the policy document was malformed. The error message\n\t\t\tdescribes the specific error.</p>"
        }
      ],
      "documentation":"<p>Creates a new role for your AWS account. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>.\n\t\t\tFor information about limitations on role names and the number of roles you can create, go to\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<p>The policy grants permission to an EC2 instance to assume the role. The policy is URL-encoded\n\t\t\taccording to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>.\n\t\t\tCurrently, only EC2 instances can assume roles.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateRole\n&RoleName=S3Access\n&Path=/application_abc/component_xyz/\n&AssumeRolePolicyDocument={\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"ec2.amazonaws.com\"]},\"Action\":[\"sts:AssumeRole\"]}]}\n&Version=2010-05-08\n&AUTHPARAMS\n\t\t\t</queryrequest>\n\t\t\t<queryresponse>\n<CreateRoleResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <CreateRoleResult>\n    <Role>\n      <Path>/application_abc/component_xyz/</Path>\n      <Arn>arn:aws:iam::123456789012:role/application_abc/component_xyz/S3Access</Arn>\n      <RoleName>S3Access</RoleName>\n      <AssumeRolePolicyDocument>{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"ec2.amazonaws.com\"]},\"Action\":[\"sts:AssumeRole\"]}]}</AssumeRolePolicyDocument>\n      <CreateDate>2012-05-08T23:34:01.495Z</CreateDate>\n      <RoleId>AROADBQP57FF2AEXAMPLE</RoleId>\n    </Role>\n  </CreateRoleResult>\n  <ResponseMetadata>\n    <RequestId>4a93ceee-9966-11e1-b624-b1aEXAMPLE7c</RequestId>\n  </ResponseMetadata>\n</CreateRoleResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateSAMLProvider":{
      "name":"CreateSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSAMLProviderRequest"},
      "output":{
        "shape":"CreateSAMLProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateSAMLProvider</a> action.</p>",
        "resultWrapper":"CreateSAMLProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports SAML 2.0.</p>\n\t\t<p>The SAML provider that you create with this operation can be used as a principal in a role's\n\t\t\ttrust policy to establish a trust relationship between AWS and a SAML identity provider. You\n\t\t\tcan create an IAM role that supports Web-based single sign-on (SSO) to the AWS Management Console or one\n\t\t\tthat supports API access to AWS. </p>\n\t\t\n\t\t<p>When you create the SAML provider, you upload an a SAML metadata document that you get from\n\t\t\tyour IdP and that includes the issuer's name, expiration information, and keys that can be\n\t\t\tused to validate the SAML authentication response (assertions) that are received from the IdP.\n\t\t\tYou must generate the metadata document using the identity management software that is used as\n\t\t\tyour organization's IdP. </p>\n\t\t\n\t\t<note>This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version\n\t\t\t4</a>.</note>\n\t\t\n\t\t<p>For more information, see <a href=\"http://aws-docs-alpha.integ.amazon.com/STS/latest/UsingSTS/STSMgmtConsole-SAML.html\">Giving Console Access Using SAML</a> and <a href=\"http://aws-docs-alpha.integ.amazon.com/STS/latest/UsingSTS/CreatingSAML.html\">Creating\n\t\t\t\tTemporary Security Credentials for SAML Federation</a> in the <i>Using Temporary\n\t\t\t\tCredentials</i> guide. </p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateSAMLProvider\n&Name=MyUniversity\n&SAMLProviderDocument=VGhpcyBpcyB3aGVyZSB5b3UgcHV0IHRoZSBTQU1MIHByb3ZpZGVyIG1ldGFkYXRhIGRvY3VtZW50\nLCBCYXNlNjQtZW5jb2RlZCBpbnRvIGEgYmlnIHN0cmluZy4=\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<CreateSAMLProviderResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <CreateSAMLProviderResult>\n    <SAMLProviderArn>arn:aws:iam::123456789012:saml-metadata/MyUniversity</SAMLProviderArn>\n  </CreateSAMLProviderResult>\n  <ResponseMetadata>\n    <RequestId>29f47818-99f5-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</CreateSAMLProviderResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateUser</a> action.</p>",
        "resultWrapper":"CreateUserResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Creates a new user for your AWS account.</p>\n\t\t<p>For information about limitations on the number of users you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateUser\n&Path=/division_abc/subdivision_xyz/\n&UserName=Bob\n&Version=2010-05-08\n&AUTHPARAMS\n\t\t\t</queryrequest>\n\t\t\t<queryresponse>\n<CreateUserResponse>\n   <CreateUserResult>\n      <User>\n         <Path>/division_abc/subdivision_xyz/</Path>\n         <UserName>Bob</UserName>\n         <UserId>AIDACKCEVSQ6C2EXAMPLE</UserId>\n         <Arn>arn:aws:iam::123456789012:user/division_abc/subdivision_xyz/Bob\n         </Arn>\n     </User>\n   </CreateUserResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</CreateUserResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "CreateVirtualMFADevice":{
      "name":"CreateVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVirtualMFADeviceRequest"},
      "output":{
        "shape":"CreateVirtualMFADeviceResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateVirtualMFADevice</a>\n\t\t\taction.</p>",
        "resultWrapper":"CreateVirtualMFADeviceResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        }
      ],
      "documentation":"<p>Creates a new virtual MFA device for the AWS account. After creating the virtual MFA, use <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_EnableMFADevice.html\" target=\"_blank\">EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about\n\t\t\tcreating and working with virtual MFA devices, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_VirtualMFA.html\" target=\"_blank\">Using a Virtual MFA Device</a> in <i>Using AWS Identity and Access Management</i>.</p>\n\t\t<p>For information about limits on the number of MFA devices you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<important>The seed information contained in the QR code and the Base32 string should be treated\n\t\t\tlike any other secret access information, such as your AWS access keys or your passwords.\n\t\t\tAfter you provision your virtual device, you should ensure that the information is destroyed\n\t\t\tfollowing secure procedures.</important>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=CreateVirtualMFADevice\n&VirtualMFADeviceName=ExampleName\n&Path=/\n&Version=2010-05-08\n&AUTHPARAMS\n</queryrequest>\n\t\t\t<queryresponse>\n<CreateVirtualMFADeviceResponse>\n  <CreateVirtualMFADeviceResult>\n    <VirtualMFADevice>\n      <SerialNumber>arn:aws:iam::123456789012:mfa/ExampleName</SerialNumber>\n      <Base32StringSeed>2K5K5XTLA7GGE75TQLYEXAMPLEEXAMPLEEXAMPLECHDFW4KJYZ6\n      UFQ75LL7COCYKM</Base32StringSeed>\n      <QRCodePNG>89504E470D0A1A0AASDFAHSDFKJKLJFKALSDFJASDF</QRCodePNG> <!-- byte array of png file -->\n    </VirtualMFADevice>\n  </CreateVirtualMFADeviceResult>\n  <ResponseMetadata>\n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</CreateVirtualMFADeviceResponse>\n</queryresponse>\n\t\t</examples>"
    },
    "DeactivateMFADevice":{
      "name":"DeactivateMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that is temporarily unmodifiable,\n\t\t\tsuch as a user name that was deleted and then recreated. The error indicates that the request\n\t\t\tis likely to succeed if you try again after waiting several minutes. The error message\n\t\t\tdescribes the entity.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deactivates the specified MFA device and removes it from association with the user name for\n\t\t\twhich it was originally enabled.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeactivateMFADevice\n&UserName=Bob\n&SerialNumber=R1234\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeactivateMFADeviceResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeactivateMFADeviceResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteAccessKey":{
      "name":"DeleteAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessKeyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the access key associated with the specified user.</p>\n\t\t<p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS\n\t\t\taccess key ID signing the request. Because this action works for access keys under the AWS\n\t\t\taccount, you can use this API to manage root credentials even if the AWS account has no\n\t\t\tassociated users.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteAccessKey\n&UserName=Bob\n&AccessKeyId=AKIAIOSFODNN7EXAMPLE\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteAccessKeyResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteAccessKeyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteAccountAlias":{
      "name":"DeleteAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountAliasRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified AWS account alias. For information about using an AWS account alias,\n\t\t\tsee <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\" target=\"_blank\">Using an\n\t\t\t\tAlias for Your AWS Account ID</a> in <i>Using AWS Identity and Access Management</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteAccountAlias\n&AccountAlias=foocorporation\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteAccountAliasResponse>\n  <ResponseMetadata>\n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</DeleteAccountAliasResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteAccountPasswordPolicy":{
      "name":"DeleteAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Deletes the password policy for the AWS account.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteAccountPasswordPolicy\n&Version=2010-05-08\n&AUTHPARAMS\n</queryrequest>\n\t\t\t<queryresponse>\n<DeleteAccountPasswordPolicyResponse>\n   <ResponseMetadata>\n\t   <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n\t</ResponseMetadata>\n</DeleteAccountPasswordPolicy>\n</queryresponse>\n\t\t</examples>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified group. The group must not contain any users or have any attached\n\t\t\tpolicies.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteGroup\n&Group=Test\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteGroupResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteGroupResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteGroupPolicy":{
      "name":"DeleteGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy that is associated with the specified group.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteGroupPolicy\n&GroupName=Admins\n&PolicyName=AdminRoot\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteGroupPolicyResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteGroupPolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified instance profile. The instance profile must not have an associated\n\t\t\trole.</p>\n\t\t<important>Make sure you do not have any Amazon EC2 instances running with the instance profile\n\t\t\tyou are about to delete. Deleting a role or instance profile that is associated with a running\n\t\t\tinstance will break any applications running on the instance.</important>\n\t\t<p>For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance\n\t\t\t\tProfiles</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteInstanceProfile\n&InstanceProfileName=Webserver\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteInstanceProfileResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <ResponseMetadata>\n    <RequestId>90c18667-99f3-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</DeleteInstanceProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteLoginProfile":{
      "name":"DeleteLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoginProfileRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that is temporarily unmodifiable,\n\t\t\tsuch as a user name that was deleted and then recreated. The error indicates that the request\n\t\t\tis likely to succeed if you try again after waiting several minutes. The error message\n\t\t\tdescribes the entity.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the password for the specified user, which terminates the user's ability to access\n\t\t\tAWS services through the AWS Management Console.</p>\n\t\t<important>Deleting a user's password does not prevent a user from accessing IAM through the\n\t\t\tcommand line interface or the API. To prevent all user access you must also either make the\n\t\t\taccess key inactive or delete it. For more information about making keys inactive or deleting\n\t\t\tthem, see <a>UpdateAccessKey</a> and <a>DeleteAccessKey</a>. </important>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteLoginProfile\n&UserName=Bob\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteLoginProfileResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteLoginProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteRole":{
      "name":"DeleteRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRoleRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified role. The role must not have any policies attached. For more\n\t\t\tinformation about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with\n\t\t\tRoles</a>.</p>\n\t\t<important>Make sure you do not have any Amazon EC2 instances running with the role you are\n\t\t\tabout to delete. Deleting a role or instance profile that is associated with a running\n\t\t\tinstance will break any applications running on the instance.</important>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteRole\n&RoleName=S3Access\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteRoleResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <ResponseMetadata>\n    <RequestId>913e3f37-99ed-11e1-a4c3-270EXAMPLE04</RequestId>\n  </ResponseMetadata>\n</DeleteRoleResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteRolePolicy":{
      "name":"DeleteRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRolePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy associated with the specified role.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteRolePolicy\n&PolicyName=S3AccessPolicy\n&RoleName=S3Access\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteRolePolicyResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <ResponseMetadata>\n    <RequestId>c749ee7f-99ef-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</DeleteRolePolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteSAMLProvider":{
      "name":"DeleteSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSAMLProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ],
      "documentation":"<p>Deletes a SAML provider.</p>\n\t\t<p>Deleting the provider does not update any roles that reference the SAML provider as a\n\t\t\tprincipal in their trust policies. Any attempt to assume a role that references a SAML\n\t\t\tprovider that has been deleted will fail. </p>\n\t\t<note>This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version\n\t\t\t4</a>.</note>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteSAMLProvider\n&Name=arn:aws:iam::123456789012:saml-metadata/MyUniversity\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t</examples>"
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified server certificate.</p>\n\t\t<important>If you are using a server certificate with Elastic Load Balancing, deleting the\n\t\t\tcertificate could have implications for your application. If Elastic Load Balancing doesn't\n\t\t\tdetect the deletion of bound certificates, it may continue to use the certificates. This could\n\t\t\tcause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the\n\t\t\treference to the certificate from Elastic Load Balancing before using this command to delete\n\t\t\tthe certificate. For more information, go to <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html\" target=\"blank\">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API\n\t\t\t\tReference</i>.</important>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteServerCertificate\n&ServerCertificateName=ProdServerCert\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteServerCertificateResponse>\n  <ResponseMetadata>\n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</DeleteServerCertificateResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteSigningCertificate":{
      "name":"DeleteSigningCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSigningCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified signing certificate associated with the specified user.</p>\n\t\t<p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS\n\t\t\taccess key ID signing the request. Because this action works for access keys under the AWS\n\t\t\taccount, you can use this API to manage root credentials even if the AWS account has no\n\t\t\tassociated users.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteSigningCertificate\n&UserName=Bob\n&CertificateId=TA7SMP42TDN5Z26OBPJE7EXAMPLE\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteSigningCertificateResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteSigningCertificateResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified user. The user must not belong to any groups, have any keys or signing\n\t\t\tcertificates, or have any attached policies.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteUser\n&UserName=Bob\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteUserResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteUserResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteUserPolicy":{
      "name":"DeleteUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy associated with the specified user.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteUserPolicy\n&UserName=Bob\n&PolicyName=AllAccessPolicy\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<DeleteUserPolicyResponse>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</DeleteUserPolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "DeleteVirtualMFADevice":{
      "name":"DeleteVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVirtualMFADeviceRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to delete a resource that has attached\n\t\t\tsubordinate entities. The error message describes these entities.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        }
      ],
      "documentation":"<p>Deletes a virtual MFA device.</p>\n\t\t<note>You must deactivate a user's virtual MFA device before you can delete it. For information\n\t\t\tabout deactivating MFA devices, see <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_DeactivateMFADevice.html\">DeactivateMFADevice</a>.</note>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=DeleteVirtualMFADevice\n&SerialNumber=arn:aws:iam::123456789012:mfa/ExampleName\n&Version=2010-05-08\n&AUTHPARAMS\n</queryrequest>\n\t\t\t<queryresponse>\n<DeleteVirtualMFADeviceResponse>\n  <DeleteVirtualMFADeviceResult>\n    <VirtualMFADevice>\n      <SerialNumber>arn:aws:iam::123456789012:mfa/ExampleName</SerialNumber>\n    </VirtualMFADevice>\n  </DeleteVirtualMFADeviceResult>\n  <ResponseMetadata>\n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</DeleteVirtualMFADeviceResponse>\n</queryresponse>\n\t\t</examples>"
    },
    "EnableMFADevice":{
      "name":"EnableMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that is temporarily unmodifiable,\n\t\t\tsuch as a user name that was deleted and then recreated. The error indicates that the request\n\t\t\tis likely to succeed if you try again after waiting several minutes. The error message\n\t\t\tdescribes the entity.</p>"
        },
        {
          "shape":"InvalidAuthenticationCodeException",
          "error":{
            "code":"InvalidAuthenticationCode",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the authentication code was not recognized. The error\n\t\t\tmessage describes the specific error.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create resources beyond the current AWS\n\t\t\taccount limits. The error message describes the limit exceeded.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Enables the specified MFA device and associates it with the specified user name. When\n\t\t\tenabled, the MFA device is required for every subsequent login by the user name associated\n\t\t\twith the device.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=EnableMFADevice\n&UserName=Bob\n&SerialNumber=R1234\n&AuthenticationCode1=234567\n&AuthenticationCode2=987654\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<EnableMFADeviceResponse>\n   <ResponseMetadata>\n     <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</EnableMFADeviceResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetAccountPasswordPolicy":{
      "name":"GetAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountPasswordPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetAccountPasswordPolicy</a>\n\t\t\taction.</p>",
        "resultWrapper":"GetAccountPasswordPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves the password policy for the AWS account. For more information about using a\n\t\t\tpassword policy, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html\">Managing an\n\t\t\t\tIAM Password Policy</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetAccountPasswordPolicy\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetAccountPasswordPolicyResponse>\n  <GetAccountPasswordPolicyResult>\n    <PasswordPolicy> \n        <MinimumPasswordLength>6</MinimumPasswordLength>, \n        <RequireUppercaseCharacters>false</RequireUppercaseCharacters>\n        <RequireLowercaseCharacters>false</RequireLowercaseCharacters> \n        <RequireNumbers>false</RequireNumbers> \n        <RequireSymbols>false</RequireSymbols>\n        <AllowUsersToChangePassword>true</AllowUsersToChangePassword>\n    </PasswordPolicy>\t\n  </GetAccountPasswordPolicyResult>\n  <ResponseMetadata> \n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</GetAccountPasswordPolicyResponse>\t\n</queryresponse>\n\t\t</examples>"
    },
    "GetAccountSummary":{
      "name":"GetAccountSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountSummaryResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetAccountSummary</a> action.</p>",
        "resultWrapper":"GetAccountSummaryResult"
      },
      "documentation":"<p>Retrieves account level information about account entity usage and IAM quotas.</p>\n\t\t<p>For information about limitations on IAM entities, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?LimitationsOnEntities.html\" target=\"_blank\">Limitations on IAM Entities</a> in <i>Using AWS Identity and Access\n\t\t\t\tManagement</i>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetAccountSummary\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetAccountSummaryResponse>\n  <GetAccountSummaryResult>\n    <SummaryMap>\n      <entry>\n        <key>Groups</key>\n        <value>31</value>\n      </entry>\n      <entry>\n        <key>GroupsQuota</key>\n        <value>50</value>\n      </entry>\n      <entry>\n        <key>UsersQuota</key>\n        <value>150</value>\n      </entry>\n      <entry>\n        <key>Users</key>\n        <value>35</value>\n      </entry>\n      <entry>\n        <key>GroupPolicySizeQuota</key>\n        <value>10240</value>\n      </entry>\n      <entry>\n        <key>AccessKeysPerUserQuota</key>\n        <value>2</value>\n      </entry>\n      <entry>\n        <key>GroupsPerUserQuota</key>\n        <value>10</value>\n      </entry>\n      <entry>\n        <key>UserPolicySizeQuota</key>\n        <value>10240</value>\n      </entry>\n      <entry>\n        <key>SigningCertificatesPerUserQuota</key>\n        <value>2</value>\n      </entry>\n      <entry>\n        <key>ServerCertificates</key>\n        <value>0</value>\n      </entry>\n      <entry>\n        <key>ServerCertificatesQuota</key>\n        <value>10</value>\n      </entry>\n      <entry>\n        <key>AccountMFAEnabled</key>\n        <value>0</value>\n      </entry>\n      <entry>\n        <key>MFADevicesInUse</key>\n        <value>10</value>\n      </entry>\n      <entry>\n        <key>MFADevices</key>\n        <value>20</value>\n      </entry>\n    </SummaryMap>\n  </GetAccountSummaryResult>\n  <ResponseMetadata>\n    <RequestId>f1e38443-f1ad-11df-b1ef-a9265EXAMPLE</RequestId>\n  </ResponseMetadata>\n</GetAccountSummaryResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{
        "shape":"GetGroupResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetGroup</a> action.</p>",
        "resultWrapper":"GetGroupResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Returns a list of users that are in the specified group. You can paginate the results using\n\t\t\tthe <code>MaxItems</code> and <code>Marker</code> parameters.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetGroup\n&GroupName=Admins\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetGroupResponse>\n   <GetGroupResult>\n      <Group>\n         <Path>/</Path>\n         <GroupName>Admins</GroupName>\n         <GroupId>AGPACKCEVSQ6C2EXAMPLE</GroupId>\n         <Arn>arn:aws:iam::123456789012:group/Admins</Arn>\n      </Group>\n      <Users>      \n         <member>\n            <Path>/division_abc/subdivision_xyz/</Path>\n            <UserName>Bob</UserName>\n            <UserId>AIDACKCEVSQ6C2EXAMPLE</UserId>\n            <Arn>\n            arn:aws:iam::123456789012:user/division_abc/subdivision_xyz/Bob\n            </Arn>\n         </member>\n         <member>\n            <Path>/division_abc/subdivision_xyz/</Path>\n            <UserName>Susan</UserName>\n            <UserId>AIDACKCEVSQ6C2EXAMPLE</UserId>\n            <Arn>\n            arn:aws:iam::123456789012:user/division_abc/subdivision_xyz/Susan\n            </Arn>\n         </member>\n      </Users>\n      <IsTruncated>false</IsTruncated>\n   </GetGroupResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</GetGroupResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetGroupPolicy":{
      "name":"GetGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupPolicyRequest"},
      "output":{
        "shape":"GetGroupPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetGroupPolicy</a> action.</p>",
        "resultWrapper":"GetGroupPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves the specified policy document for the specified group. The returned policy is\n\t\t\tURL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetGroupPolicy\n&GroupName=Admins\n&PolicyName=AdminRoot\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetGroupPolicyResponse>\n   <GetGroupPolicyResult>\n      <GroupName>Admins</GroupName>\n      <PolicyName>AdminRoot</PolicyName>\n      <PolicyDocument>\n      {\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Action\":\"*\",\"Resource\":\"*\"}]}\n      </PolicyDocument>\n   </GetGroupPolicyResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</GetGroupPolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetInstanceProfile":{
      "name":"GetInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceProfileRequest"},
      "output":{
        "shape":"GetInstanceProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetInstanceProfile</a> action.</p>",
        "resultWrapper":"GetInstanceProfileResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified instance profile, including the instance profile's\n\t\t\tpath, GUID, ARN, and role. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance\n\t\t\t\tProfiles</a>. For more information about ARNs, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html#Identifiers_ARNs\">ARNs</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetInstanceProfile\n&InstanceProfileName=Webserver\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetInstanceProfileResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <GetInstanceProfileResult>\n    <InstanceProfile>\n      <InstanceProfileId>AIPAD5ARO2C5EXAMPLE3G</InstanceProfileId>\n      <Roles>\n        <member>\n          <Path>/application_abc/component_xyz/</Path>\n          <Arn>arn:aws:iam::123456789012:role/application_abc/component_xyz/S3Access</Arn>\n          <RoleName>S3Access</RoleName>\n          <AssumeRolePolicyDocument>{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"ec2.amazonaws.com\"]},\"Action\":[\"sts:AssumeRole\"]}]}</AssumeRolePolicyDocument>\n          <CreateDate>2012-05-09T15:45:35Z</CreateDate>\n          <RoleId>AROACVYKSVTSZFEXAMPLE</RoleId>\n        </member>\n      </Roles>\n      <InstanceProfileName>Webserver</InstanceProfileName>\n      <Path>/application_abc/component_xyz/</Path>\n      <Arn>arn:aws:iam::123456789012:instance-profile/application_abc/component_xyz/Webserver</Arn>\n      <CreateDate>2012-05-09T16:11:10Z</CreateDate>\n    </InstanceProfile>\n  </GetInstanceProfileResult>\n  <ResponseMetadata>\n    <RequestId>37289fda-99f2-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</GetInstanceProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetLoginProfile":{
      "name":"GetLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoginProfileRequest"},
      "output":{
        "shape":"GetLoginProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetLoginProfile</a> action.</p>",
        "resultWrapper":"GetLoginProfileResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves the user name and password-creation date for the specified user. If the user has\n\t\t\tnot been assigned a password, the action returns a 404 (<code>NoSuchEntity</code>) error. </p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetLoginProfile\n&UserName=Bob\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetLoginProfileResponse>\n   <GetLoginProfileResult>\n      <LoginProfile>\n         <UserName>Bob</UserName>\n         <CreateDate>2011-09-19T23:00:56Z</CreateDate>\n      </LoginProfile>\n   </GetLoginProfileResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</GetLoginProfileResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetRole":{
      "name":"GetRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRoleRequest"},
      "output":{
        "shape":"GetRoleResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetRole</a> action.</p>",
        "resultWrapper":"GetRoleResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified role, including the role's path, GUID, ARN, and the\n\t\t\tpolicy granting permission to EC2 to assume the role. For more information about ARNs, go to\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html#Identifiers_ARNs\">ARNs</a>. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with\n\t\t\tRoles</a>.</p>\n\t\t<p>The returned policy is URL-encoded according to RFC 3986. For more information about RFC\n\t\t\t3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetRole\n&RoleName=S3Access\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetRoleResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <GetRoleResult>\n    <Role>\n      <Path>/application_abc/component_xyz/</Path>\n      <Arn>arn:aws:iam::123456789012:role/application_abc/component_xyz/S3Access</Arn>\n      <RoleName>S3Access</RoleName>\n      <AssumeRolePolicyDocument>{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"Service\":[\"ec2.amazonaws.com\"]},\"Action\":[\"sts:AssumeRole\"]}]}</AssumeRolePolicyDocument>\n      <CreateDate>2012-05-08T23:34:01Z</CreateDate>\n      <RoleId>AROADBQP57FF2AEXAMPLE</RoleId>\n    </Role>\n  </GetRoleResult>\n  <ResponseMetadata>\n    <RequestId>df37e965-9967-11e1-a4c3-270EXAMPLE04</RequestId>\n  </ResponseMetadata>\n</GetRoleResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetRolePolicy":{
      "name":"GetRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRolePolicyRequest"},
      "output":{
        "shape":"GetRolePolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetRolePolicy</a> action.</p>",
        "resultWrapper":"GetRolePolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves the specified policy document for the specified role. For more information about\n\t\t\troles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with\n\t\t\t\tRoles</a>.</p>\n\t\t<p>The returned policy is URL-encoded according to RFC 3986. For more information about RFC\n\t\t\t3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetRolePolicy\n&PolicyName=S3AccessPolicy\n&RoleName=S3Access\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetRolePolicyResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <GetRolePolicyResult>\n    <PolicyName>S3AccessPolicy</PolicyName>\n    <RoleName>S3Access</RoleName>\n    <PolicyDocument>{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Action\":[\"s3:*\"],\"Resource\":[\"*\"]}]}</PolicyDocument>\n  </GetRolePolicyResult>\n  <ResponseMetadata>\n    <RequestId>7e7cd8bc-99ef-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</GetRolePolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetSAMLProvider":{
      "name":"GetSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSAMLProviderRequest"},
      "output":{
        "shape":"GetSAMLProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetSAMLProvider</a> action.</p>",
        "resultWrapper":"GetSAMLProviderResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        }
      ],
      "documentation":"<p>Returns the SAML provider metadocument that was uploaded when the provider was created or\n\t\t\tupdated.</p>\n\t\t<note>This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version\n\t\t\t4</a>.\n\t\t</note>\n\t\t\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetSAMLProvider\n&Name=arn:aws:iam::123456789012:saml-metadata/MyUniversity\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetSAMLProviderResponse xmlns=\"https://iam.amazonaws.com/doc/2010-05-08/\">\n  <GetSAMLProviderResult>\n    <CreateDate>2012-05-09T16:27:11Z</CreateDate>\n    <ValidUntil>2015-12-31T211:59:59Z</ValidUntil>\n    <SAMLMetadataDocument>Pd9fexDssTkRgGNqs...DxptfEs==</SAMLMetadataDocument>\n  </GetSAMLProviderResult>\n  <ResponseMetadata>\n    <RequestId>29f47818-99f5-11e1-a4c3-27EXAMPLE804</RequestId>\n  </ResponseMetadata>\n</GetSAMLProviderResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetServerCertificate":{
      "name":"GetServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServerCertificateRequest"},
      "output":{
        "shape":"GetServerCertificateResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetServerCertificate</a> action.</p>",
        "resultWrapper":"GetServerCertificateResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified server certificate.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetServerCertificate\n&ServerCertificateName=ProdServerCert\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetServerCertificateResponse>\n  <GetServerCertificateResult>\n    <ServerCertificate>\n      <ServerCertificateMetadata>\n        <ServerCertificateName>ProdServerCert</ServerCertificateName>\n        <Path>/company/servercerts/</Path>\n        <Arn>arn:aws:iam::123456789012:server-certificate/company/servercerts/ProdServerCert</Arn>\n        <UploadDate>2010-05-08T01:02:03.004Z</UploadDate>\n        <ServerCertificateId>ASCACKCEVSQ6C2EXAMPLE</ServerCertificateId>\n      </ServerCertificateMetadata>\n      <CertificateBody>-----BEGIN CERTIFICATE-----\nMIICdzCCAeCgAwIBAgIGANc+Ha2wMA0GCSqGSIb3DQEBBQUAMFMxCzAJBgNVBAYT\nAlVTMRMwEQYDVQQKEwpBbWF6b24uY29tMQwwCgYDVQQLEwNBV1MxITAfBgNVBAMT\nGEFXUyBMaW1pdGVkLUFzc3VyYW5jZSBDQTAeFw0wOTAyMDQxNzE5MjdaFw0xMDAy\nMDQxNzE5MjdaMFIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBbWF6b24uY29tMRcw\nFQYDVQQLEw5BV1MtRGV2ZWxvcGVyczEVMBMGA1UEAxMMNTdxNDl0c3ZwYjRtMIGf\nMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCpB/vsOwmT/O0td1RqzKjttSBaPjbr\ndqwNe9BrOyB08fw2+Ch5oonZYXfGUrT6mkYXH5fQot9HvASrzAKHO596FdJA6DmL\nywdWe1Oggk7zFSXO1Xv+3vPrJtaYxYo3eRIp7w80PMkiOv6M0XK8ubcTouODeJbf\nsuDqcLnLDxwsvwIDAQABo1cwVTAOBgNVHQ8BAf8EBAMCBaAwFgYDVR0lAQH/BAww\nCgYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQULGNaBphBumaKbDRK\nCAi0mH8B3mowDQYJKoZIhvcNAQEFBQADgYEAuKxhkXaCLGcqDuweKtO/AEw9ZePH\nwr0XqsaIK2HZboqruebXEGsojK4Ks0WzwgrEynuHJwTn760xe39rSqXWIOGrOBaX\nwFpWHVjTFMKk+tSDG1lssLHyYWWdFFU4AnejRGORJYNaRHgVTKjHphc5jEhHm0BX\nAEaHzTpmEXAMPLE=\n-----END CERTIFICATE-----\n      </CertificateBody>\n    </ServerCertificate>\n  </GetServerCertificateResult>\n  <ResponseMetadata>\n    <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n  </ResponseMetadata>\n</GetServerCertificateResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserRequest"},
      "output":{
        "shape":"GetUserResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetUser</a> action.</p>",
        "resultWrapper":"GetUserResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified user, including the user's path, unique ID, and\n\t\t\tARN.</p>\n\t\t<p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS\n\t\t\taccess key ID signing the request.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetUser\n&UserName=Bob\n&Version=2010-05-08\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetUserResponse>\n   <GetUserResult>\n      <User>\n         <Path>/division_abc/subdivision_xyz/</Path>\n         <UserName>Bob</UserName>\n         <UserId>AIDACKCEVSQ6C2EXAMPLE</UserId>\n         <Arn>\n         arn:aws:iam::123456789012:user/division_abc/subdivision_xyz/Bob\n         </Arn>\n      </User>\n   </GetUserResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</GetUserResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "GetUserPolicy":{
      "name":"GetUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserPolicyRequest"},
      "output":{
        "shape":"GetUserPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetUserPolicy</a> action.</p>",
        "resultWrapper":"GetUserPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
      "documentation":"<p>Retrieves the specified policy document for the specified user. The returned policy is\n\t\t\tURL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>.</p>\n\t\t<examples>\n\t\t\t<queryrequest>\nhttps://iam.amazonaws.com/\n?Action=GetUserPolicy\n&UserName=Bob\n&PolicyName=AllAccessPolicy\n&AUTHPARAMS\n      </queryrequest>\n\t\t\t<queryresponse>\n<GetUserPolicyResponse>\n   <GetUserPolicyResult>\n      <UserName>Bob</UserName>\n      <PolicyName>AllAccessPolicy</PolicyName>\n      <PolicyDocument>\n      {\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Action\":\"*\",\"Resource\":\"*\"}]}\n      </PolicyDocument>\n   </GetUserPolicyResult>\n   <ResponseMetadata>\n      <RequestId>7a62c49f-347e-4fc4-9331-6e8eEXAMPLE</RequestId>\n   </ResponseMetadata>\n</GetUserPolicyResponse>\n      </queryresponse>\n\t\t</examples>"
    },
    "ListAccessKeys":{
      "name":"ListAccessKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessKeysRequest"},
      "output":{
        "shape":"ListAccessKeysResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListAccessKeys</a> action.</p>",
        "resultWrapper":"ListAccessKeysResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it referenced an entity that does not exist. The error\n\t\t\tmessage describes the entity.</p>"
        }
      ],
[...]
