{
  "metadata":{
    "apiVersion":"2013-01-10",
    "endpointPrefix":"rds",
    "serviceAbbreviation":"Amazon RDS",
    "serviceFullName":"Amazon Relational Database Service",
    "signatureVersion":"v2",
    "xmlNamespace":"http://rds.amazonaws.com/doc/2013-01-10/",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon Relational Database Service</fullname>\n        <p>        \n        Amazon Relational Database Service (Amazon RDS) is a web service\n        that makes it easier to set up, operate, and scale a relational\n        database in the cloud. It provides cost-efficient, resizable\n        capacity for an industry-standard relational database and manages\n        common database administration tasks, freeing up developers to focus\n        on what makes their applications and businesses unique.\n        </p>\n        <p>\n        Amazon RDS gives you access to the capabilities of a familiar MySQL or Oracle \n        database server. This means the code, applications, and tools you\n        already use today with your existing MySQL or Oracle databases work with Amazon\n        RDS without modification. Amazon RDS automatically backs up your database\n        and maintains the database software that powers your DB Instance. Amazon\n        RDS is flexible: you can scale your database instance's compute resources\n        and storage capacity to meet your application's demand. As with all\n        Amazon Web Services, there are no up-front investments, and you pay\n        only for the resources you use.\n        </p>\n       \n            <p>\n            This is the <i>Amazon RDS API Reference</i>. It contains a comprehensive description \n            of all Amazon RDS Query APIs and data types. Note that this API is asynchronous and some\n            actions may require polling to determine when an action has been applied. See the parameter description to determine if \n        a change is applied immediately or on the next instance reboot or during the maintenance window. To get started with Amazon RDS, \n            go to the \n            <a href=\"http://docs.amazonwebservices.com/AmazonRDS/latest/GettingStartedGuide/\">Amazon RDS Getting Started Guide</a>. \n            For more information on Amazon RDS concepts and usage scenarios, go to the \n            <a href=\"http://docs.amazonwebservices.com/AmazonRDS/latest/UserGuide/\">Amazon RDS User Guide</a>.\n        </p>",
  "operations":{
    "AddSourceIdentifierToSubscription":{
      "name":"AddSourceIdentifierToSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddSourceIdentifierToSubscriptionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"AddSourceIdentifierToSubscriptionResult",
        "wrapper":true,
        "documentation":"<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper":"AddSourceIdentifierToSubscriptionResult"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The subscription name does not exist.</p>"
        },
        {
          "shape":"SourceNotFoundFault",
          "error":{
            "code":"SourceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested source could not be found.</p>"
        }
      ],
      "documentation":"<p>Adds a source identifier to an existing RDS event notification subscription.</p>\n        <examples>\n        <queryrequest>https://rds.us-east-1.amazonaws.com/\n        ?Action=AddSourceIdentifierToSubscription\n        ?SubscriptionName=EventSubscription01\n        &SourceIdentifier=dbinstance01\n        &Version=2013-01-10\n        &SignatureVersion=4\n        &SignatureMethod=HmacSHA256\n        &Timestamp=20130128T011410Z\n        &AWSAccessKeyId=<AWS Access Key ID>\n        &Signature=<Signature>\n         </queryrequest>\n        \n        <queryresponse>\n<AddSourceIdentifierToSubscriptionResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <AddSourceIdentifierToSubscriptionResult>\n    <EventSubscription>\n      <Enabled>true</Enabled>\n      <CustomerAwsId>012345678901</CustomerAwsId>\n      <SourceType>db-instance</SourceType>\n      <Status>modifying</Status>\n      <SourceIdsList>\n        <SourceId>dbinstance01</SourceId>\n      </SourceIdsList>\n      <SubscriptionCreationTime>2013-01-28 00:29:23.736</SubscriptionCreationTime>\n      <EventCategoriesList>\n        <EventCategory>creation</EventCategory>\n        <EventCategory>deletion</EventCategory>\n      </EventCategoriesList>\n      <CustSubscriptionId>EventSubscription01</CustSubscriptionId>\n      <SnsTopicArn>arn:aws:sns:us-east-1:012345678901:EventSubscription01</SnsTopicArn>\n    </EventSubscription>\n  </AddSourceIdentifierToSubscriptionResult>\n  <ResponseMetadata>\n    <RequestId>05d0fd8a-68e8-11e2-8e4d-31f087d822e1</RequestId>\n  </ResponseMetadata>\n</AddSourceIdentifierToSubscriptionResponse>\n        </queryresponse>                \n        \n        </examples>"
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddTagsToResourceMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"DBInstanceNotFoundFault",
          "error":{
            "code":"DBInstanceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBInstanceIdentifier</i> does not refer to an existing DB instance.\n        </p>"
        },
        {
          "shape":"DBSnapshotNotFoundFault",
          "error":{
            "code":"DBSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot.\n        </p>"
        }
      ],
      "documentation":"<p> Adds metadata tags to a DB Instance. These tags can also be used with cost allocation reporting to track cost associated with a DB Instance.</p>\n        <p>For an overview on tagging DB Instances, see <a href=\"http://docs.amazonwebservices.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">DB Instance Tags.</a></p>"
    },
    "AuthorizeDBSecurityGroupIngress":{
      "name":"AuthorizeDBSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AuthorizeDBSecurityGroupIngressMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"AuthorizeDBSecurityGroupIngressResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>DescribeDBSecurityGroups</a></li>\n            <li><a>AuthorizeDBSecurityGroupIngress</a></li>\n            <li><a>CreateDBSecurityGroup</a></li>\n            <li><a>RevokeDBSecurityGroupIngress</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSecurityGroups</a> action.</p>",
        "resultWrapper":"AuthorizeDBSecurityGroupIngressResult"
      },
      "errors":[
        {
          "shape":"DBSecurityGroupNotFoundFault",
          "error":{
            "code":"DBSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            <i>DBSecurityGroupName</i> does not refer to an existing DB security group.\n        </p>"
        },
        {
          "shape":"InvalidDBSecurityGroupStateFault",
          "error":{
            "code":"InvalidDBSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The state of the DB security group does not allow deletion.\n        </p>"
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The specified CIDRIP or EC2 security group is already authorized for the specified DB security group.\n        </p>"
        },
        {
          "shape":"AuthorizationQuotaExceededFault",
          "error":{
            "code":"AuthorizationQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            DB security group authorization quota has been reached.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Enables ingress to a DBSecurityGroup using one of two forms of authorization. First,\n        EC2 or VPC Security Groups can be added to the DBSecurityGroup if the application using the database\n        is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your\n        database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or\n        (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).\n        </p>\n        <note>\n            You cannot authorize ingress from an EC2 security group in one Region to an Amazon RDS DB Instance in another.\n            You cannot authorize ingress from a VPC security group in one VPC to an Amazon RDS DB Instance in another.\n        </note>\n        <p>For an overview of CIDR ranges, go to the \n            <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?CIDRIP=192.168.1.1%2F24\n    &DBSecurityGroupName=mydbsecuritygroup\n    &Version=2013-01-10\n    &Action=AuthorizeDBSecurityGroupIngress\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-02-15T17%3A10%3A50.274Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><AuthorizeDBSecurityGroupIngressResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <AuthorizeDBSecurityGroupIngressResult>\n    <DBSecurityGroup>\n      <EC2SecurityGroups/>\n      <DBSecurityGroupDescription>My new DBSecurityGroup</DBSecurityGroupDescription>\n      <IPRanges>\n        <IPRange>\n          <CIDRIP>192.168.1.1/24</CIDRIP>\n          <Status>authorizing</Status>\n        </IPRange>\n      </IPRanges>\n      <OwnerId>621567473609</OwnerId>\n      <DBSecurityGroupName>mydbsecuritygroup</DBSecurityGroupName>\n      <VpcId>vpc-1ab2c3d4</VpcId>\n    </DBSecurityGroup>\n  </AuthorizeDBSecurityGroupIngressResult>\n  <ResponseMetadata>\n    <RequestId>d9799197-bf2d-11de-b88d-993294bf1c81</RequestId>\n  </ResponseMetadata>\n</AuthorizeDBSecurityGroupIngressResponse></queryresponse>\n        </examples>"
    },
    "CopyDBSnapshot":{
      "name":"CopyDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CopyDBSnapshotMessage",
        "documentation":"<p>\n\n         </p>"
      },
      "output":{
        "shape":"CopyDBSnapshotResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBSnapshot</a></li>\n            <li><a>DeleteDBSnapshot</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper":"CopyDBSnapshotResult"
      },
      "errors":[
        {
          "shape":"DBSnapshotAlreadyExistsFault",
          "error":{
            "code":"DBSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"DBSnapshotNotFoundFault",
          "error":{
            "code":"DBSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot.\n        </p>"
        },
        {
          "shape":"InvalidDBSnapshotStateFault",
          "error":{
            "code":"InvalidDBSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The state of the DB snapshot does not allow deletion.\n        </p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Copies the specified DBSnapshot. The source DBSnapshot must be in the \"available\" state.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=CopyDBSnapshot\n    &SourceDBSnapshotIdentifier=rds:simcoprod01-2012-04-02-00-01\n    &TargetDBSnapshotIdentifier=mydbsnapshot\n    &Version=2013-01-10\n    &SignatureVersion=2&SignatureMethod=HmacSHA256\n    &Timestamp=2011-12-12T06%3A27%3A42.551Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CopyDBSnapshotResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CopyDBSnapshotResult>\n    <DBSnapshot>\n      <Port>3306</Port>\n      <Engine>mysql</Engine>\n      <Status>available</Status>\n      <AvailabilityZone>us-east-1a</AvailabilityZone>\n      <LicenseModel>general-public-license</LicenseModel>\n      <InstanceCreateTime>2011-05-23T06:06:43.110Z</InstanceCreateTime>\n      <AllocatedStorage>10</AllocatedStorage>\n      <DBInstanceIdentifier>simcoprod01</DBInstanceIdentifier>\n      <EngineVersion>5.1.50</EngineVersion>\n      <DBSnapshotIdentifier>mydbsnapshot</DBSnapshotIdentifier>\n      <SnapshotType>manual</SnapshotType>\n      <MasterUsername>master</MasterUsername>\n    </DBSnapshot>\n  </CopyDBSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>c4181d1d-8505-11e0-90aa-eb648410240d</RequestId>\n  </ResponseMetadata>\n</CopyDBSnapshotResponse></queryresponse>\n        </examples>"
    },
    "CreateDBInstance":{
      "name":"CreateDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateDBInstanceMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"CreateDBInstanceResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBInstance</a></li>\n            <li><a>DeleteDBInstance</a></li>\n            <li><a>ModifyDBInstance</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper":"CreateDBInstanceResult"
      },
      "errors":[
        {
          "shape":"DBInstanceAlreadyExistsFault",
          "error":{
            "code":"DBInstanceAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        User already has a DB instance with the given identifier.\n        </p>"
        },
        {
          "shape":"InsufficientDBInstanceCapacityFault",
          "error":{
            "code":"InsufficientDBInstanceCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Specified DB instance class is not available in the specified Availability Zone.\n        </p>"
        },
        {
          "shape":"DBParameterGroupNotFoundFault",
          "error":{
            "code":"DBParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBParameterGroupName</i> does not refer to an\n        existing DB parameter group.\n        </p>"
        },
        {
          "shape":"DBSecurityGroupNotFoundFault",
          "error":{
            "code":"DBSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            <i>DBSecurityGroupName</i> does not refer to an existing DB security group.\n        </p>"
        },
        {
          "shape":"InstanceQuotaExceededFault",
          "error":{
            "code":"InstanceQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB instances.\n        </p>"
        },
        {
          "shape":"StorageQuotaExceededFault",
          "error":{
            "code":"StorageQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the\n        allowed amount of storage available across all DB instances.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupNotFoundFault",
          "error":{
            "code":"DBSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupDoesNotCoverEnoughAZs",
          "error":{
            "code":"DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Subnets in the DB subnet group should cover at least 2 Availability Zones unless there is only 1 availablility zone.\n        </p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. \n        </p>"
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         DB subnet group does not cover all Availability Zones after it is created because users' change.\n        </p>"
        },
        {
          "shape":"ProvisionedIopsNotAvailableInAZFault",
          "error":{
            "code":"ProvisionedIopsNotAvailableInAZFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Provisioned IOPS not available in the specified Availability Zone.\n        </p>"
        },
        {
          "shape":"OptionGroupNotFoundFault",
          "error":{
            "code":"OptionGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n           The specified option group could not be found. \n        </p>"
        }
      ],
      "documentation":"<p>\n        Creates a new DB instance.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n   ?Action=CreateDBInstance\n   &DBInstanceIdentifier=SimCoProd01\n   &Engine=mysql\n   &MasterUserPassword=Password01\n   &AllocatedStorage=10\n   &MasterUsername=master\n   &Version=2013-01-10\n   &DBInstanceClass=db.m1.large\n   &DBSubnetGroupName=dbSubnetgroup01\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2011-05-23T05%3A54%3A53.578Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse><CreateDBInstanceResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n    <CreateDBInstanceResult>\n        <DBInstance>\n            <ReadReplicaDBInstanceIdentifiers/>\n            <Engine>mysql</Engine>\n            <PendingModifiedValues>\n                <MasterUserPassword>****</MasterUserPassword>\n            </PendingModifiedValues>\n            <BackupRetentionPeriod>1</BackupRetentionPeriod>\n            <MultiAZ>false</MultiAZ>\n            <LicenseModel>general-public-license</LicenseModel>\n            <DBSubnetGroup>\n                <VpcId>990524496922</VpcId>\n                <SubnetGroupStatus>Complete</SubnetGroupStatus>\n                <DBSubnetGroupDescription>description</DBSubnetGroupDescription>\n                <DBSubnetGroupName>subnet_grp1</DBSubnetGroupName>\n                <Subnets>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7c5b4115</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1c</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7b5b4112</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1b</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-3ea6bd57</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1d</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                </Subnets>\n            </DBSubnetGroup>            \n            <DBInstanceStatus>creating</DBInstanceStatus>\n            <EngineVersion>5.1.50</EngineVersion>\n            <DBInstanceIdentifier>simcoprod01</DBInstanceIdentifier>\n            <DBParameterGroups>\n                <DBParameterGroup>\n                    <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n                    <DBParameterGroupName>default.mysql5.1</DBParameterGroupName>\n                </DBParameterGroup>\n            </DBParameterGroups>\n            <DBSecurityGroups>\n                <DBSecurityGroup>\n                    <Status>active</Status>\n                    <DBSecurityGroupName>default</DBSecurityGroupName>\n                </DBSecurityGroup>\n            </DBSecurityGroups>\n            <PreferredBackupWindow>00:00-00:30</PreferredBackupWindow>\n            <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n            <PreferredMaintenanceWindow>sat:07:30-sat:08:00</PreferredMaintenanceWindow>\n                <AllocatedStorage>10</AllocatedStorage>\n                <DBInstanceClass>db.m1.large</DBInstanceClass>\n                <MasterUsername>master</MasterUsername>\n        </DBInstance>\n    </CreateDBInstanceResult>\n    <ResponseMetadata>\n        <RequestId>2e5d4270-8501-11e0-bd9b-a7b1ece36d51</RequestId>\n    </ResponseMetadata>\n</CreateDBInstanceResponse></queryresponse>\n        </examples>"
    },
    "CreateDBInstanceReadReplica":{
      "name":"CreateDBInstanceReadReplica",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceReadReplicaMessage"},
      "output":{
        "shape":"CreateDBInstanceReadReplicaResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBInstance</a></li>\n            <li><a>DeleteDBInstance</a></li>\n            <li><a>ModifyDBInstance</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper":"CreateDBInstanceReadReplicaResult"
      },
      "errors":[
        {
          "shape":"DBInstanceAlreadyExistsFault",
          "error":{
            "code":"DBInstanceAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        User already has a DB instance with the given identifier.\n        </p>"
        },
        {
          "shape":"InsufficientDBInstanceCapacityFault",
          "error":{
            "code":"InsufficientDBInstanceCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Specified DB instance class is not available in the specified Availability Zone.\n        </p>"
        },
        {
          "shape":"DBParameterGroupNotFoundFault",
          "error":{
            "code":"DBParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBParameterGroupName</i> does not refer to an\n        existing DB parameter group.\n        </p>"
        },
        {
          "shape":"DBSecurityGroupNotFoundFault",
          "error":{
            "code":"DBSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            <i>DBSecurityGroupName</i> does not refer to an existing DB security group.\n        </p>"
        },
        {
          "shape":"InstanceQuotaExceededFault",
          "error":{
            "code":"InstanceQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB instances.\n        </p>"
        },
        {
          "shape":"StorageQuotaExceededFault",
          "error":{
            "code":"StorageQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the\n        allowed amount of storage available across all DB instances.\n        </p>"
        },
        {
          "shape":"DBInstanceNotFoundFault",
          "error":{
            "code":"DBInstanceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBInstanceIdentifier</i> does not refer to an existing DB instance.\n        </p>"
        },
        {
          "shape":"InvalidDBInstanceStateFault",
          "error":{
            "code":"InvalidDBInstanceState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The specified DB instance is not in the <i>available</i> state.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupNotFoundFault",
          "error":{
            "code":"DBSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupDoesNotCoverEnoughAZs",
          "error":{
            "code":"DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Subnets in the DB subnet group should cover at least 2 Availability Zones unless there is only 1 availablility zone.\n        </p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. \n        </p>"
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         DB subnet group does not cover all Availability Zones after it is created because users' change.\n        </p>"
        },
        {
          "shape":"ProvisionedIopsNotAvailableInAZFault",
          "error":{
            "code":"ProvisionedIopsNotAvailableInAZFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Provisioned IOPS not available in the specified Availability Zone.\n        </p>"
        },
        {
          "shape":"OptionGroupNotFoundFault",
          "error":{
            "code":"OptionGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n           The specified option group could not be found. \n        </p>"
        }
      ],
      "documentation":"<p>\n    Creates a DB Instance that acts as a Read Replica of a source DB Instance.\n    </p>\n    <p>\n    All Read Replica DB Instances are created as Single-AZ deployments with backups disabled.\n    All other DB Instance attributes (including DB Security Groups and DB Parameter Groups)\n    are inherited from the source DB Instance, except as specified below.\n    </p>\n    <important>\n        <p>\n        The source DB Instance must have backup retention enabled.\n        </p>\n    </important>\n       <examples>\n           <queryrequest>https://rds.amazonaws.com/\n   ?Action=CreateDBInstanceReadReplica\n   &DBInstanceIdentifier=myreadreplica\n   &SourceDBInstanceIdentifier=mydbinstance\n   &Version=2013-01-10\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2011-05-15T23%3A35%3A07.325Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n           <queryresponse><CreateDBInstanceReadReplicaResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CreateDBInstanceReadReplicaResult>\n    <DBInstance>\n      <ReadReplicaDBInstanceIdentifiers/>\n      <Engine>mysql</Engine>\n      <PendingModifiedValues/>\n      <BackupRetentionPeriod>0</BackupRetentionPeriod>\n      <MultiAZ>false</MultiAZ>\n      <LicenseModel>general-public-license</LicenseModel>\n      <DBInstanceStatus>creating</DBInstanceStatus>\n      <EngineVersion>5.1.50</EngineVersion>\n      <DBInstanceIdentifier>myreadreplica</DBInstanceIdentifier>\n      <DBParameterGroups>\n        <DBParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <DBParameterGroupName>default.mysql5.1</DBParameterGroupName>\n        </DBParameterGroup>\n      </DBParameterGroups>\n      <ReadReplicaSourceDBInstanceIdentifier>mydbinstance</ReadReplicaSourceDBInstanceIdentifier>\n      <DBSecurityGroups>\n        <DBSecurityGroup>\n          <Status>active</Status>\n          <DBSecurityGroupName>default</DBSecurityGroupName>\n        </DBSecurityGroup>\n      </DBSecurityGroups>\n      <PreferredBackupWindow>23:00-01:00</PreferredBackupWindow>\n      <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n      <PreferredMaintenanceWindow>sun:05:00-sun:09:00</PreferredMaintenanceWindow>\n      <AllocatedStorage>10</AllocatedStorage>\n      <DBInstanceClass>db.m1.small</DBInstanceClass>\n      <MasterUsername>master</MasterUsername>\n    </DBInstance>\n  </CreateDBInstanceReadReplicaResult>\n  <ResponseMetadata>\n    <RequestId>3e24c5cd-c6e2-11df-8463-4f0c49644cb7</RequestId>\n  </ResponseMetadata>\n</CreateDBInstanceReadReplicaResponse></queryresponse>\n       </examples>"
    },
    "CreateDBParameterGroup":{
      "name":"CreateDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateDBParameterGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"CreateDBParameterGroupResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the <a>CreateDBParameterGroup</a> action.\n        </p>\n        <p>\n            This data type is used as a request parameter in the <a>DeleteDBParameterGroup</a> action,\n            and as a response element in the <a>DescribeDBParameterGroups</a> action.\n        </p>",
        "resultWrapper":"CreateDBParameterGroupResult"
      },
      "errors":[
        {
          "shape":"DBParameterGroupQuotaExceededFault",
          "error":{
            "code":"DBParameterGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed\n        number of DB parameter groups.\n        </p>"
        },
        {
          "shape":"DBParameterGroupAlreadyExistsFault",
          "error":{
            "code":"DBParameterGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        A DB parameter group with the same name exists.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Creates a new DB Parameter Group.\n        </p>\n        <p>\n            A DB Parameter Group is initially created with the default parameters for the\n            database engine used by the DB Instance. To provide custom values for any of the\n            parameters, you must modify the group after creating it using\n            <i>ModifyDBParameterGroup</i>. Once you've created a DB Parameter Group, you need to\n            associate it with your DB Instance using <i>ModifyDBInstance</i>. When you associate\n            a new DB Parameter Group with a running DB Instance, you need to reboot the DB\n            Instance for the new DB Parameter Group and associated settings to take effect. \n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=CreateDBParameterGroup\n    &DBParameterGroupName=mydbparametergroup3\n    &DBParameterGroupFamily=MySQL5.1\n    &Version=2013-01-10\n    &Description=My%20new%20DBParameterGroup\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-05-11T18%3A09%3A29.793Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CreateDBParameterGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CreateDBParameterGroupResult>\n    <DBParameterGroup>\n      <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n      <Description>My new DBParameterGroup</Description>\n      <DBParameterGroupName>mydbparametergroup3</DBParameterGroupName>\n    </DBParameterGroup>\n  </CreateDBParameterGroupResult>\n  <ResponseMetadata>\n    <RequestId>0b447b66-bf36-11de-a88b-7b5b3d23b3a7</RequestId>\n  </ResponseMetadata>\n</CreateDBParameterGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateDBSecurityGroup":{
      "name":"CreateDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateDBSecurityGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"CreateDBSecurityGroupResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>DescribeDBSecurityGroups</a></li>\n            <li><a>AuthorizeDBSecurityGroupIngress</a></li>\n            <li><a>CreateDBSecurityGroup</a></li>\n            <li><a>RevokeDBSecurityGroupIngress</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSecurityGroups</a> action.</p>",
        "resultWrapper":"CreateDBSecurityGroupResult"
      },
      "errors":[
        {
          "shape":"DBSecurityGroupAlreadyExistsFault",
          "error":{
            "code":"DBSecurityGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        A DB security group with the name specified in\n        <i>DBSecurityGroupName</i> already exists.\n        </p>"
        },
        {
          "shape":"DBSecurityGroupQuotaExceededFault",
          "error":{
            "code":"QuotaExceeded.DBSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            Request would result in user exceeding the allowed number of DB security groups.\n        </p>"
        },
        {
          "shape":"DBSecurityGroupNotSupportedFault",
          "error":{
            "code":"DBSecurityGroupNotSupported",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            A DB security group is not allowed for this action.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Creates a new DB Security Group. DB Security Groups control access to a DB Instance.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=CreateDBSecurityGroup\n    &DBSecurityGroupName=mydbsecuritygroup\n    &DBSecurityGroupDescription=My%20new%20DBSecurityGroup\n    &EC2VpcId=vpc-1a2b3c4d\n    &Version=2013-01-10\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-02-15T18%3A14%3A49.482Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CreateDBSecurityGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n    <CreateDBSecurityGroupResult>\n        <DBSecurityGroup>\n            <EC2SecurityGroups/>\n            <DBSecurityGroupDescription>My new DBSecurityGroup</DBSecurityGroupDescription>\n            <IPRanges/>\n            <OwnerId>565419523791</OwnerId>\n            <DBSecurityGroupName>mydbsecuritygroup</DBSecurityGroupName>\n            <VpcId>vpc-1a2b3c4d</VpcId>\n        </DBSecurityGroup>\n    </CreateDBSecurityGroupResult>\n    <ResponseMetadata>\n        <RequestId>ed662948-a57b-11df-9e38-7ffab86c801f</RequestId>\n    </ResponseMetadata>\n</CreateDBSecurityGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateDBSnapshot":{
      "name":"CreateDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateDBSnapshotMessage",
        "documentation":"<p>\n\n         </p>"
      },
      "output":{
        "shape":"CreateDBSnapshotResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBSnapshot</a></li>\n            <li><a>DeleteDBSnapshot</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper":"CreateDBSnapshotResult"
      },
      "errors":[
        {
          "shape":"DBSnapshotAlreadyExistsFault",
          "error":{
            "code":"DBSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"InvalidDBInstanceStateFault",
          "error":{
            "code":"InvalidDBInstanceState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The specified DB instance is not in the <i>available</i> state.\n        </p>"
        },
        {
          "shape":"DBInstanceNotFoundFault",
          "error":{
            "code":"DBInstanceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBInstanceIdentifier</i> does not refer to an existing DB instance.\n        </p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Creates a DBSnapshot. The source DBInstance must be in \"available\" state.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=CreateDBSnapshot\n    &DBInstanceIdentifier=simcoprod01\n    &DBSnapshotIdentifier=mydbsnapshot\n    &Version=2013-01-10\n    &SignatureVersion=2&SignatureMethod=HmacSHA256\n    &Timestamp=2011-05-23T06%3A27%3A42.551Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CreateDBSnapshotResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CreateDBSnapshotResult>\n    <DBSnapshot>\n      <Port>3306</Port>\n      <Engine>mysql</Engine>\n      <Status>creating</Status>\n      <AvailabilityZone>us-east-1a</AvailabilityZone>\n      <LicenseModel>general-public-license</LicenseModel>\n      <InstanceCreateTime>2011-05-23T06:06:43.110Z</InstanceCreateTime>\n      <AllocatedStorage>10</AllocatedStorage>\n      <DBInstanceIdentifier>simcoprod01</DBInstanceIdentifier>\n      <EngineVersion>5.1.50</EngineVersion>\n      <DBSnapshotIdentifier>mydbsnapshot</DBSnapshotIdentifier>\n      <SnapshotType>manual</SnapshotType>\n      <MasterUsername>master</MasterUsername>\n    </DBSnapshot>\n  </CreateDBSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>c4181d1d-8505-11e0-90aa-eb648410240d</RequestId>\n  </ResponseMetadata>\n</CreateDBSnapshotResponse></queryresponse>\n        </examples>"
    },
    "CreateDBSubnetGroup":{
      "name":"CreateDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateDBSubnetGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"CreateDBSubnetGroupResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBSubnetGroup</a></li>\n            <li><a>ModifyDBSubnetGroup</a></li>\n            <li><a>DescribeDBSubnetGroups</a></li>\n            <li><a>DeleteDBSubnetGroup</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSubnetGroups</a> action.</p>",
        "resultWrapper":"CreateDBSubnetGroupResult"
      },
      "errors":[
        {
          "shape":"DBSubnetGroupAlreadyExistsFault",
          "error":{
            "code":"DBSubnetGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSubnetGroupName</i> is already used by an existing DB subnet group.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupQuotaExceededFault",
          "error":{
            "code":"DBSubnetGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB subnet groups.\n        </p>"
        },
        {
          "shape":"DBSubnetQuotaExceededFault",
          "error":{
            "code":"DBSubnetQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of subnets in a DB subnet groups.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupDoesNotCoverEnoughAZs",
          "error":{
            "code":"DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Subnets in the DB subnet group should cover at least 2 Availability Zones unless there is only 1 availablility zone.\n        </p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. \n        </p>"
        }
      ],
      "documentation":"<p>\n            Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=CreateDBSubnetGroup\n    &DBSubnetGroupName=mydbsubnetgroup\n    &DBSubnetGroupDescription=My%20new%20DBSubnetGroup\n    &Version=2013-01-10\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-02-15T18%3A14%3A49.482Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><CreateDBSubnetGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n    <CreateDBSubnetGroupResult>\n            <DBSubnetGroup>\n                <VpcId>990524496922</VpcId>\n                <SubnetGroupStatus>Complete</SubnetGroupStatus>\n                <DBSubnetGroupDescription>My new DBSubnetGroup</DBSubnetGroupDescription>\n                <DBSubnetGroupName>mydbsubnetgroup</DBSubnetGroupName>\n                <Subnets>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7c5b4115</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1c</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-7b5b4112</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1b</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                    <Subnet>\n                        <SubnetStatus>Active</SubnetStatus>\n                        <SubnetIdentifier>subnet-3ea6bd57</SubnetIdentifier>\n                        <SubnetAvailabilityZone>\n                            <Name>us-east-1d</Name>\n                        </SubnetAvailabilityZone>\n                    </Subnet>\n                </Subnets>\n            </DBSubnetGroup>       \n        </CreateDBSubnetGroupResult>\n        <ResponseMetadata>\n            <RequestId>ed662948-a57b-11df-9e38-7ffab86c801f</RequestId>\n        </ResponseMetadata>\n    </CreateDBSubnetGroupResponse></queryresponse>\n            </examples>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateEventSubscriptionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "wrapper":true,
        "documentation":"<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {
          "shape":"EventSubscriptionQuotaExceededFault",
          "error":{
            "code":"EventSubscriptionQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have reached the maximum number of event subscriptions.</p>"
        },
        {
          "shape":"SubscriptionAlreadyExistFault",
          "error":{
            "code":"SubscriptionAlreadyExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The supplied subscription name already exists.</p>"
        },
        {
          "shape":"SNSInvalidTopicFault",
          "error":{
            "code":"SNSInvalidTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>SNS has responded that there is a problem with the SND topic specified.</p>"
        },
        {
          "shape":"SNSNoAuthorizationFault",
          "error":{
            "code":"SNSNoAuthorization",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You do not have permission to publish to the SNS topic ARN.</p>"
        },
        {
          "shape":"SNSTopicArnNotFoundFault",
          "error":{
            "code":"SNSTopicArnNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The SNS topic ARN does not exist.</p>"
        },
        {
          "shape":"SubscriptionCategoryNotFoundFault",
          "error":{
            "code":"SubscriptionCategoryNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The supplied category does not exist.</p>"
        },
        {
          "shape":"SourceNotFoundFault",
          "error":{
            "code":"SourceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The requested source could not be found.</p>"
        }
      ],
      "documentation":"<p>Creates an RDS event notification subscription. This action requires a topic ARN \n            (Amazon Resource Name) created by either \n            the RDS console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in \n        Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p>\n        <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of RDS \n            sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) \n            for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and \n        EventCategories = Availability, Backup.</p> \n            <p>If you specify both the SourceType and SourceIds, such as \n                SourceType = db-instance and SourceIdentifier = myDBInstance1, you will be notified of all the db-instance  \n            events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, \n            you will receive notice of the events for that source type for all your RDS sources. If you \n            do not specify either the SourceType nor the SourceIdentifier, you will be notified of events \n            generated from all RDS sources belonging to your customer account.</p>\n        <examples>\n        <queryrequest>https://rds.us-east-1.amazonaws.com/\n        ?Action=CreateEventSubscription\n        &SubscriptionName=EventSubscription02\n        &Enabled=true\n        &SnsTopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A012345678901%3AEventSubscription01\n        &Version=2013-01-10\n        &SignatureVersion=4\n        &SignatureMethod=HmacSHA256\n        &Timestamp=20130128T002941Z\n        &AWSAccessKeyId=<AWS Access Key ID>\n        &Signature=<Signature>\n         </queryrequest>\n        <queryresponse><CreateEventSubscriptionResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CreateEventSubscriptionResult>\n    <EventSubscription>\n      <Enabled>true</Enabled>\n      <CustomerAwsId>012345678901</CustomerAwsId>\n      <Status>creating</Status>\n      <SubscriptionCreationTime>Mon Jan 28 00:29:42 UTC 2013</SubscriptionCreationTime>\n      <CustSubscriptionId>EventSubscription02</CustSubscriptionId>\n      <SnsTopicArn>arn:aws:sns:us-east-1:012345678901:EventSubscription01</SnsTopicArn>\n    </EventSubscription>\n  </CreateEventSubscriptionResult>\n  <ResponseMetadata>\n    <RequestId>cf3407aa-68e1-11e2-bd13-a92da73b3119</RequestId>\n  </ResponseMetadata>\n</CreateEventSubscriptionResponse>\n        </queryresponse>\n        \n        <queryrequest>https://rds.us-east-1.amazonaws.com/\n        ?Action=CreateEventSubscription\n        &SubscriptionName=EventSubscription03\n        &SourceType=db-instance\n        &EventCategories.member.1=creation\n        &EventCategories.member.2=deletion\n        &SourceIds.member.1=dbinstance01\n        &SourceIds.member.2=dbinstance02\n        &Enabled=true\n        &SnsTopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A012345678901%3AEventSubscription01\n        &Version=2013-01-10\n        &SignatureVersion=4\n        &SignatureMethod=HmacSHA256\n        &Timestamp=20130128T014117Z\n        &AWSAccessKeyId=<AWS Access Key ID>\n        &Signature=<Signature>\n         </queryrequest>\n        <queryresponse><CreateEventSubscriptionResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n<CreateEventSubscriptionResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <CreateEventSubscriptionResult>\n    <EventSubscription>\n      <Enabled>true</Enabled>\n      <CustomerAwsId>012345678901</CustomerAwsId>\n      <SourceType>db-instance</SourceType>\n      <Status>creating</Status>\n      <SourceIdsList>\n        <SourceId>dbinstance01</SourceId>\n        <SourceId>dbinstance02</SourceId>\n      </SourceIdsList>\n      <SubscriptionCreationTime>Mon Jan 28 01:41:19 UTC 2013</SubscriptionCreationTime>\n      <EventCategoriesList>\n        <EventCategory>creation</EventCategory>\n        <EventCategory>deletion</EventCategory>\n      </EventCategoriesList>\n      <CustSubscriptionId>EventSubscription03</CustSubscriptionId>\n      <SnsTopicArn>arn:aws:sns:us-east-1:012345678901:EventSubscription01</SnsTopicArn>\n    </EventSubscription>\n  </CreateEventSubscriptionResult>\n  <ResponseMetadata>\n    <RequestId>d064b48c-68eb-11e2-ab10-11125abcb784</RequestId>\n  </ResponseMetadata>\n</CreateEventSubscriptionResponse>\n\n        </queryresponse>\n        \n        </examples>"
    },
    "CreateOptionGroup":{
      "name":"CreateOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateOptionGroupMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateOptionGroupResult",
        "wrapper":true,
        "documentation":"<p>\n        </p>",
        "resultWrapper":"CreateOptionGroupResult"
      },
      "errors":[
        {
          "shape":"OptionGroupAlreadyExistsFault",
          "error":{
            "code":"OptionGroupAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The option group you are trying to create already exists.\n        </p>"
        },
        {
          "shape":"OptionGroupQuotaExceededFault",
          "error":{
            "code":"OptionGroupQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The quota of 20 option groups was exceeded for this AWS account.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Creates a new Option Group. \n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n                ?Action=CreateOptionGroup\n                &OptionGroupName=myoptiongroup\n                &EngineName=oracle-se1\n                &MajorEngineVersion=11.2\n                &OptionGroupDescription=Test Option Group</queryrequest>\n            <queryresponse><CreateOptionGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n                <CreateOptionGroupResult>\n                    <OptionGroup>\n                        <MajorEngineVersion>11.2</MajorEngineVersion>\n                        <OptionGroupName>myoptiongroup</OptionGroupName>\n                        <EngineName>oracle-se1</EngineName>\n                        <OptionGroupDescription>Test Option Group</OptionGroupDescription>\n                        <Options/>\n                    </OptionGroup>\n                </CreateOptionGroupResult>\n                <ResponseMetadata>\n                    <RequestId>b2416a8a-84c9-11e1-a264-0b23c28bc344</RequestId>\n                </ResponseMetadata>\n            </CreateOptionGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteDBInstance":{
      "name":"DeleteDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDBInstanceMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DeleteDBInstanceResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBInstance</a></li>\n            <li><a>DeleteDBInstance</a></li>\n            <li><a>ModifyDBInstance</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper":"DeleteDBInstanceResult"
      },
      "errors":[
        {
          "shape":"DBInstanceNotFoundFault",
          "error":{
            "code":"DBInstanceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBInstanceIdentifier</i> does not refer to an existing DB instance.\n        </p>"
        },
        {
          "shape":"InvalidDBInstanceStateFault",
          "error":{
            "code":"InvalidDBInstanceState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The specified DB instance is not in the <i>available</i> state.\n        </p>"
        },
        {
          "shape":"DBSnapshotAlreadyExistsFault",
          "error":{
            "code":"DBSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"SnapshotQuotaExceededFault",
          "error":{
            "code":"SnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        Request would result in user exceeding the allowed number of DB snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n        The DeleteDBInstance API deletes a previously provisioned RDS instance. A successful response\n        from the web service indicates the request was received correctly. If a final DBSnapshot is requested\n        the status of the RDS instance will be \"deleting\" until the DBSnapshot is created. DescribeDBInstance\n        is used to monitor the status of this operation. This cannot be canceled or reverted once submitted.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n   ?Action=DeleteDBInstance\n   &DBInstanceIdentifier=myrestoreddbinstance\n   &SkipFinalSnapshot=true\n   &Version=2013-01-10\n   &Timestamp=2011-05-23T07%3A19%3A35.947Z\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse><DeleteDBInstanceResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DeleteDBInstanceResult>\n    <DBInstance>\n      <ReadReplicaDBInstanceIdentifiers/>\n      <LatestRestorableTime>2011-05-23T07:15:00Z</LatestRestorableTime>\n      <Engine>mysql</Engine>\n      <PendingModifiedValues/>\n      <BackupRetentionPeriod>1</BackupRetentionPeriod>\n      <MultiAZ>false</MultiAZ>\n      <LicenseModel>general-public-license</LicenseModel>\n      <DBInstanceStatus>deleting</DBInstanceStatus>\n      <EngineVersion>5.1.50</EngineVersion>\n      <Endpoint>\n        <Port>3306</Port>\n        <Address>myrestoreddbinstance.cu7u2t4uz396.us-east.rds.amazonaws.com</Address>\n      </Endpoint>\n      <DBInstanceIdentifier>myrestoreddbinstance</DBInstanceIdentifier>\n      <DBParameterGroups>\n        <DBParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <DBParameterGroupName>default.mysql5.1</DBParameterGroupName>\n        </DBParameterGroup>\n      </DBParameterGroups>\n      <DBSecurityGroups>\n        <DBSecurityGroup>\n          <Status>active</Status>\n          <DBSecurityGroupName>default</DBSecurityGroupName>\n        </DBSecurityGroup>\n      </DBSecurityGroups>\n      <PreferredBackupWindow>00:00-00:30</PreferredBackupWindow>\n      <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n      <PreferredMaintenanceWindow>sat:07:30-sat:08:00</PreferredMaintenanceWindow>\n      <AvailabilityZone>us-east-1d</AvailabilityZone>\n      <InstanceCreateTime>2011-05-23T06:52:48.255Z</InstanceCreateTime>\n      <AllocatedStorage>10</AllocatedStorage>\n      <DBInstanceClass>db.m1.large</DBInstanceClass>\n      <MasterUsername>master</MasterUsername>\n    </DBInstance>\n  </DeleteDBInstanceResult>\n  <ResponseMetadata>\n    <RequestId>03ea4ae8-850d-11e0-90aa-eb648410240d</RequestId>\n  </ResponseMetadata>\n</DeleteDBInstanceResponse></queryresponse>\n        </examples>"
    },
    "DeleteDBParameterGroup":{
      "name":"DeleteDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDBParameterGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "errors":[
        {
          "shape":"InvalidDBParameterGroupStateFault",
          "error":{
            "code":"InvalidDBParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The DB parameter group cannot be deleted because it is in use.\n        </p>"
        },
        {
          "shape":"DBParameterGroupNotFoundFault",
          "error":{
            "code":"DBParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBParameterGroupName</i> does not refer to an\n        existing DB parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes a specified DBParameterGroup. The DBParameterGroup cannot be associated with\n        any RDS instances to be deleted.\n        </p>\n        <note>\n            The specified DB Parameter Group cannot be associated with any DB Instances.\n        </note>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=DeleteDBParameterGroup\n    &DBParameterGroupName=mydbparametergroup\n    &Version=2013-01-10\n    &SignatureVersion=2&SignatureMethod=HmacSHA256\n    &Timestamp=2011-05-11T18%3A47%3A08.851Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><DeleteDBParameterGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <ResponseMetadata>\n    <RequestId>4dc38be9-bf3b-11de-a88b-7b5b3d23b3a7</RequestId>\n  </ResponseMetadata>\n</DeleteDBParameterGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteDBSecurityGroup":{
      "name":"DeleteDBSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDBSecurityGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "errors":[
        {
          "shape":"InvalidDBSecurityGroupStateFault",
          "error":{
            "code":"InvalidDBSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The state of the DB security group does not allow deletion.\n        </p>"
        },
        {
          "shape":"DBSecurityGroupNotFoundFault",
          "error":{
            "code":"DBSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            <i>DBSecurityGroupName</i> does not refer to an existing DB security group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes a DB Security Group. \n        </p>\n        <note>The specified DB Security Group must not be associated with any DB Instances.</note>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n ?Action=DeleteDBSecurityGroup\n &DBSecurityGroupName=mysecuritygroup\n &Version=2013-01-10\n &SignatureVersion=2\n &SignatureMethod=HmacSHA256\n &Timestamp=2011-02-15T17%3A48%3A21.746Z\n &AWSAccessKeyId=<AWS Access Key ID>\n &Signature=<Signature></queryrequest>\n            <queryresponse><DeleteDBSecurityGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <ResponseMetadata>\n    <RequestId>5d013245-4172-11df-8520-e7e1e602a915</RequestId>\n  </ResponseMetadata>\n</DeleteDBSecurityGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteDBSnapshot":{
      "name":"DeleteDBSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDBSnapshotMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DeleteDBSnapshotResult",
        "wrapper":true,
        "documentation":"<p>\n            Contains the result of a successful invocation of the following actions:\n        </p>\n        <ul>\n            <li><a>CreateDBSnapshot</a></li>\n            <li><a>DeleteDBSnapshot</a></li>\n        </ul>\n        <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper":"DeleteDBSnapshotResult"
      },
      "errors":[
        {
          "shape":"InvalidDBSnapshotStateFault",
          "error":{
            "code":"InvalidDBSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The state of the DB snapshot does not allow deletion.\n        </p>"
        },
        {
          "shape":"DBSnapshotNotFoundFault",
          "error":{
            "code":"DBSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes a DBSnapshot. \n        </p>\n        <note>The DBSnapshot must be in the <code>available</code> state to be\n        deleted.</note>\n        <examples>\n            <queryrequest>https://rds.amazon.com/\n   &DBSnapshotIdentifier=mydbsnapshot\n   &Version=2013-01-10\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2011-05-23T06%3A27%3A42.551Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n            <queryresponse><DeleteDBSnapshotResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DeleteDBSnapshotResult>\n    <DBSnapshot>\n      <Port>3306</Port>\n      <SnapshotCreateTime>2011-03-11T07:20:24.082Z</SnapshotCreateTime>\n      <Engine>mysql</Engine>\n      <Status>deleted</Status>\n      <AvailabilityZone>us-east-1d</AvailabilityZone>\n      <LicenseModel>general-public-license</LicenseModel>\n      <InstanceCreateTime>2010-07-16T00:06:59.107Z</InstanceCreateTime>\n      <AllocatedStorage>60</AllocatedStorage>\n      <DBInstanceIdentifier>simcoprod01</DBInstanceIdentifier>\n      <EngineVersion>5.1.47</EngineVersion>\n      <DBSnapshotIdentifier>mysnapshot2</DBSnapshotIdentifier>\n      <SnapshotType>manual</SnapshotType>\n      <MasterUsername>master</MasterUsername>\n    </DBSnapshot>\n  </DeleteDBSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>627a43a1-8507-11e0-bd9b-a7b1ece36d51</RequestId>\n  </ResponseMetadata>\n</DeleteDBSnapshotResponse></queryresponse>\n        </examples>"
    },
    "DeleteDBSubnetGroup":{
      "name":"DeleteDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDBSubnetGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "errors":[
        {
          "shape":"InvalidDBSubnetGroupStateFault",
          "error":{
            "code":"InvalidDBSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The DB subnet group cannot be deleted because it is in use.\n        </p>"
        },
        {
          "shape":"InvalidDBSubnetStateFault",
          "error":{
            "code":"InvalidDBSubnetStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The DB subnet is not in the <i>available</i> state.\n        </p>"
        },
        {
          "shape":"DBSubnetGroupNotFoundFault",
          "error":{
            "code":"DBSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes a DB subnet group. \n        </p>\n        <note>The specified database subnet group must not be associated with any DB instances.</note>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n     ?Action=DeleteDBSubnetGroup\n     &DBSubnetGroupName=mysubnetgroup\n     &Version=2013-01-10\n     &SignatureVersion=2\n     &SignatureMethod=HmacSHA256\n     &Timestamp=2011-02-15T17%3A48%3A21.746Z\n     &AWSAccessKeyId=<AWS Access Key ID>\n     &Signature=<Signature></queryrequest>\n                <queryresponse><DeleteDBSubnetGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n      <ResponseMetadata>\n        <RequestId>5d013245-4172-11df-8520-e7e1e602a915</RequestId>\n      </ResponseMetadata>\n    </DeleteDBSubnetGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteEventSubscriptionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"DeleteEventSubscriptionResult",
        "wrapper":true,
        "documentation":"<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper":"DeleteEventSubscriptionResult"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The subscription name does not exist.</p>"
        },
        {
          "shape":"InvalidEventSubscriptionStateFault",
          "error":{
            "code":"InvalidEventSubscriptionState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This error can occur if someone else is modifying a subscription. You should retry the action.</p>"
        }
      ],
      "documentation":"<p>Deletes an RDS event notification subscription.</p>\n        <examples>\n        <queryrequest>https://rds.us-east-1.amazonaws.com/\n        ?Action=DeleteEventSubscription\n        &SubscriptionName=EventSubscription01\n        &Version=2013-01-10\n        &SignatureVersion=4\n        &SignatureMethod=HmacSHA256\n        &Timestamp=20130128T012739Z\n        &AWSAccessKeyId=<AWS Access Key ID>\n        &Signature=<Signature>\n         </queryrequest>\n        \n        <queryresponse>\n<DeleteEventSubscriptionResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DeleteEventSubscriptionResult>\n    <EventSubscription>\n      <Enabled>true</Enabled>\n      <CustomerAwsId>012345678901</CustomerAwsId>\n      <SourceType>db-instance</SourceType>\n      <Status>deleting</Status>\n      <SubscriptionCreationTime>2013-01-28 00:29:23.736</SubscriptionCreationTime>\n      <EventCategoriesList>\n        <EventCategory>creation</EventCategory>\n        <EventCategory>deletion</EventCategory>\n      </EventCategoriesList>\n      <CustSubscriptionId>EventSubscription01</CustSubscriptionId>\n      <SnsTopicArn>arn:aws:sns:us-east-1:012345678901:EventSubscription01</SnsTopicArn>\n    </EventSubscription>\n  </DeleteEventSubscriptionResult>\n  <ResponseMetadata>\n    <RequestId>e7cf30ac-68e9-11e2-bd13-a92da73b3119</RequestId>\n  </ResponseMetadata>\n</DeleteEventSubscriptionResponse>\n\n        </queryresponse>      \n        </examples>"
    },
    "DeleteOptionGroup":{
      "name":"DeleteOptionGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteOptionGroupMessage",
        "documentation":"<p>\n        </p>"
      },
      "errors":[
        {
          "shape":"OptionGroupNotFoundFault",
          "error":{
            "code":"OptionGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n           The specified option group could not be found. \n        </p>"
        },
        {
          "shape":"InvalidOptionGroupStateFault",
          "error":{
            "code":"InvalidOptionGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The option group is not in the <i>available</i> state.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Deletes an existing Option Group.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n                ?Action=DeleteOptionGroup\n                &OptionGroupName=myoptiongroup</queryrequest>\n            <queryresponse><DeleteOptionGroupResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n            </DeleteOptionGroupResponse></queryresponse>\n        </examples>"
    },
    "DescribeDBEngineVersions":{
      "name":"DescribeDBEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBEngineVersionsMessage"},
      "output":{
        "shape":"DBEngineVersionMessage",
        "documentation":"<p>\n            Contains the result of a successful invocation of the <a>DescribeDBEngineVersions</a> action.\n        </p>",
        "resultWrapper":"DescribeDBEngineVersionsResult"
      },
      "documentation":"<p>\n    Returns a list of the available DB engines.\n    </p>\n       <examples>\n           <queryrequest>https://rds.amazonaws.com/\n   ?Action=DescribeDBEngineVersions\n   &MaxRecords=100\n   &Version=2013-01-10\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2011-05-23T07%3A34%3A17.435Z\n   &AWSAccessKeyId=<AWS Access Key ID>\n   &Signature=<Signature></queryrequest>\n           <queryresponse><DescribeDBEngineVersionsResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DescribeDBEngineVersionsResult>\n    <DBEngineVersions>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <EngineVersion>5.1.42</EngineVersion>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.1.45</EngineVersion>\n        <DBEngineVersionDescription>yaSSL Security Fixes</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.1.47</EngineVersion>\n        <DBEngineVersionDescription>MySQL 5.1.47.R1 with InnoDB Plugin 1.0.8</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.1.48</EngineVersion>\n        <DBEngineVersionDescription>MySQL 5.1.47.R1 with InnoDB Plugin 1.0.8</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.1.49</EngineVersion>\n        <DBEngineVersionDescription>MySQL 5.1.49-R1 with innodb plugin</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.1.50</EngineVersion>\n        <DBEngineVersionDescription>MySQL 5.1.50-R3</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>mysql5.5</DBParameterGroupFamily>\n        <Engine>mysql</Engine>\n        <DBEngineDescription>Use instead of mysql5.1</DBEngineDescription>\n        <EngineVersion>5.5.7</EngineVersion>\n        <DBEngineVersionDescription>MySQL 5.5.7.R1</DBEngineVersionDescription>\n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-ee-11.2</DBParameterGroupFamily>\n        <Engine>oracle-ee</Engine>\n        <DBEngineDescription>Oracle Database Server EE</DBEngineDescription>\n        <EngineVersion>11.2.0.2</EngineVersion>\n        <DBEngineVersionDescription>Oracle EE release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-ee-11.2</DBParameterGroupFamily>\n        <Engine>oracle-ee</Engine>\n        <DBEngineDescription>Oracle Database Server EE</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v2</EngineVersion>\n        <DBEngineVersionDescription>First Oracle Enterprise Edition One - DB Engine Version 11.2.0.2.v2</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-ee-11.2</DBParameterGroupFamily>\n        <Engine>oracle-ee</Engine>\n        <DBEngineDescription>Oracle Database Server EE</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v3</EngineVersion>\n        <DBEngineVersionDescription>Oracle EE release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se</Engine>\n        <DBEngineDescription>Oracle Database Server SE</DBEngineDescription>\n        <EngineVersion>11.2.0.2</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se</Engine>\n        <DBEngineDescription>Oracle Database Server SE</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v2</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se</Engine>\n        <DBEngineDescription>Oracle Database Server SE</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v3</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se1-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se1</Engine>\n        <DBEngineDescription>Oracle Database Server SE1</DBEngineDescription>\n        <EngineVersion>11.2.0.2</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE1 release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se1-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se1</Engine>\n        <DBEngineDescription>Oracle Database Server SE1</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v2</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE1 release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n      <DBEngineVersion>\n        <DBParameterGroupFamily>oracle-se1-11.2</DBParameterGroupFamily>\n        <Engine>oracle-se1</Engine>\n        <DBEngineDescription>Oracle Database Server SE1</DBEngineDescription>\n        <EngineVersion>11.2.0.2.v3</EngineVersion>\n        <DBEngineVersionDescription>Oracle SE1 release</DBEngineVersionDescription>\n        <CharacterSet>\n            <CharacterSetName>AL32UTF8</CharacterSetName>\n            <CharacterSetDescription>Unicode 5.0 UTF-8 Universal character set</CharacterSetDescription>\n        </CharacterSet> \n      </DBEngineVersion>\n    </DBEngineVersions>\n  </DescribeDBEngineVersionsResult>\n  <ResponseMetadata>\n    <RequestId>1162dc55-850f-11e0-90aa-eb648410240d</RequestId>\n  </ResponseMetadata>\n</DescribeDBEngineVersionsResponse></queryresponse>\n       </examples>"
    },
    "DescribeDBInstances":{
      "name":"DescribeDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDBInstancesMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DBInstanceMessage",
        "documentation":"<p>\n        Contains the result of a successful invocation of the <a>DescribeDBInstances</a> action.\n        </p>",
        "resultWrapper":"DescribeDBInstancesResult"
      },
      "errors":[
        {
          "shape":"DBInstanceNotFoundFault",
          "error":{
            "code":"DBInstanceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBInstanceIdentifier</i> does not refer to an existing DB instance.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns information about provisioned RDS instances. This API supports pagination.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n   ?Action=DescribeDBInstances\n   &Version=2013-01-10\n   &MaxRecords=100\n   &SignatureVersion=2\n   &SignatureMethod=HmacSHA256\n   &Timestamp=2011-05-23T06%3A54%3A55.116Z\n   &AWSAccessKeyId=< Your AWS Access ID Key >\n   &Signature= < Your Signature ></queryrequest>\n            <queryresponse><DescribeDBInstancesResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DescribeDBInstancesResult>\n    <DBInstances>     \n      <DBInstance>\n        <ReadReplicaDBInstanceIdentifiers/>\n        <LatestRestorableTime>2011-05-23T06:50:00Z</LatestRestorableTime>\n        <Engine>mysql</Engine>\n        <PendingModifiedValues/>\n        <BackupRetentionPeriod>1</BackupRetentionPeriod>\n        <MultiAZ>false</MultiAZ>\n        <LicenseModel>general-public-license</LicenseModel>\n        <DBInstanceStatus>available</DBInstanceStatus>\n        <EngineVersion>5.1.50</EngineVersion>\n        <Endpoint>\n          <Port>3306</Port>\n          <Address>simcoprod01.cu7u2t4uz396.us-east-1.rds.amazonaws.com</Address>\n        </Endpoint>\n        <DBInstanceIdentifier>simcoprod01</DBInstanceIdentifier>\n        <DBParameterGroups>\n          <DBParameterGroup>\n            <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n            <DBParameterGroupName>default.mysql5.1</DBParameterGroupName>\n          </DBParameterGroup>\n        </DBParameterGroups>\n        <DBSecurityGroups>\n          <DBSecurityGroup>\n            <Status>active</Status>\n            <DBSecurityGroupName>default</DBSecurityGroupName>\n          </DBSecurityGroup>\n        </DBSecurityGroups>\n        <PreferredBackupWindow>00:00-00:30</PreferredBackupWindow>\n        <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>\n        <PreferredMaintenanceWindow>sat:07:30-sat:08:00</PreferredMaintenanceWindow>\n        <AvailabilityZone>us-east-1a</AvailabilityZone>\n        <InstanceCreateTime>2011-05-23T06:06:43.110Z</InstanceCreateTime>\n        <AllocatedStorage>10</AllocatedStorage>\n        <DBInstanceClass>db.m1.large</DBInstanceClass>\n        <MasterUsername>master</MasterUsername>\n      </DBInstance>\n  </DescribeDBInstancesResult>\n  <ResponseMetadata>\n    <RequestId>9135fff3-8509-11e0-bd9b-a7b1ece36d51</RequestId>\n  </ResponseMetadata>\n</DescribeDBInstancesResponse></queryresponse>\n        </examples>"
    },
    "DescribeDBParameterGroups":{
      "name":"DescribeDBParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDBParameterGroupsMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DBParameterGroupsMessage",
        "documentation":"<p>\n        Contains the result of a successful invocation of the <a>DescribeDBParameterGroups</a> action.\n        </p>",
        "resultWrapper":"DescribeDBParameterGroupsResult"
      },
      "errors":[
        {
          "shape":"DBParameterGroupNotFoundFault",
          "error":{
            "code":"DBParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBParameterGroupName</i> does not refer to an\n        existing DB parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns a list of DBParameterGroup descriptions. If a DBParameterGroupName is specified,\n        the list will contain only the description of the specified DBParameterGroup.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=DescribeDBParameterGroups\n    &DBParameterGroupName=myparamsgroup\n    &MaxRecords=100\n    &Version=2013-01-10\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-02-15T17%3A54%3A32.899Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><DescribeDBParameterGroupsResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DescribeDBParameterGroupsResult>\n    <DBParameterGroups>\n      <DBParameterGroup>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Description>Default parameter group for mysql5.1</Description>\n        <DBParameterGroupName>default.mysql5.1</DBParameterGroupName>\n      </DBParameterGroup>\n      <DBParameterGroup>\n        <DBParameterGroupFamily>mysql5.1</DBParameterGroupFamily>\n        <Description>My DB Param Group</Description>\n        <DBParameterGroupName>testdbparamgroup</DBParameterGroupName>\n      </DBParameterGroup>\n    </DBParameterGroups>\n  </DescribeDBParameterGroupsResult>\n  <ResponseMetadata>\n    <RequestId>cb8d9bb4-a02a-11df-bd60-c955b7d6e8e0</RequestId>\n  </ResponseMetadata>\n</DescribeDBParameterGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeDBParameters":{
      "name":"DescribeDBParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParametersMessage"},
      "output":{
        "shape":"DBParameterGroupDetails",
        "documentation":"<p>\n        Contains the result of a successful invocation of the <a>DescribeDBParameters</a> action.\n        </p>",
        "resultWrapper":"DescribeDBParametersResult"
      },
      "errors":[
        {
          "shape":"DBParameterGroupNotFoundFault",
          "error":{
            "code":"DBParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBParameterGroupName</i> does not refer to an\n        existing DB parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns the detailed parameter list for a particular DBParameterGroup.\n        </p>\n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=DescribeDBParameters\n    &DBParameterGroupName=mydbparametergroup\n    &Source=system\n    &MaxRecords=100\n    &Version=2013-01-10\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-05-11T19%3A31%3A42.262Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><DescribeDBParametersResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DescribeDBParametersResult>\n    <Parameters>\n      <Parameter>\n        <ParameterValue>/rdsdbbin/mysql</ParameterValue>\n        <DataType>string</DataType>\n        <Source>system</Source>\n        <IsModifiable>false</IsModifiable>\n        <Description>The MySQL installation base directory.</Description>\n        <ApplyType>static</ApplyType>\n        <ParameterName>basedir</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>32768</ParameterValue>\n        <DataType>integer</DataType>\n        <Source>system</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>The size of the cache to hold the SQL statements for the binary log during a transaction.</Description>\n        <ApplyType>dynamic</ApplyType>\n        <AllowedValues>4096-9223372036854775807</AllowedValues>\n        <ParameterName>binlog_cache_size</ParameterName>\n      </Parameter>\n    </Parameters>\n  </DescribeDBParametersResult>\n  <ResponseMetadata>\n    <RequestId>8743f2cf-bf41-11de-8c8e-49155882c409</RequestId>\n  </ResponseMetadata>\n</DescribeDBParametersResponse></queryresponse>\n        </examples>"
    },
    "DescribeDBSecurityGroups":{
      "name":"DescribeDBSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDBSecurityGroupsMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DBSecurityGroupMessage",
        "documentation":"<p>\n        Contains the result of a successful invocation of the <a>DescribeDBSecurityGroups</a> action.\n        </p>",
        "resultWrapper":"DescribeDBSecurityGroupsResult"
      },
      "errors":[
        {
          "shape":"DBSecurityGroupNotFoundFault",
          "error":{
            "code":"DBSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            <i>DBSecurityGroupName</i> does not refer to an existing DB security group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns a list of DBSecurityGroup descriptions. If a DBSecurityGroupName is specified,\n        the list will contain only the descriptions of the specified DBSecurityGroup.\n        </p>\n        <p>For an overview of CIDR ranges, go to the \n            <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>.\n        </p>\n        \n        <examples>\n            <queryrequest>https://rds.amazonaws.com/\n    ?Action=DescribeDBSecurityGroups\n    &Version=2013-01-10\n    &MaxRecords=100\n    &SignatureVersion=2\n    &SignatureMethod=HmacSHA256\n    &Timestamp=2011-02-15T19%3A40%3A19.926Z\n    &AWSAccessKeyId=<AWS Access Key ID>\n    &Signature=<Signature></queryrequest>\n            <queryresponse><DescribeDBSecurityGroupsResponse xmlns=\"http://rds.amazonaws.com/doc/2013-01-10/\">\n  <DescribeDBSecurityGroupsResult>\n    <DBSecurityGroups>\n      <DBSecurityGroup>\n        <EC2SecurityGroups>\n          <EC2SecurityGroup>\n            <Status>authorized</Status>\n            <EC2SecurityGroupName>myec2securitygroup</EC2SecurityGroupName>\n            <EC2SecurityGroupOwnerId>054794666394</EC2SecurityGroupOwnerId>\n          </EC2SecurityGroup>\n        </EC2SecurityGroups>\n        <DBSecurityGroupDescription>default</DBSecurityGroupDescription>\n        <IPRanges>\n          <IPRange>\n            <CIDRIP>127.0.0.1/30</CIDRIP>\n            <Status>authorized</Status>\n          </IPRange>\n        </IPRanges>\n        <OwnerId>621567473609</OwnerId>\n        <DBSecurityGroupName>default</DBSecurityGroupName>\n        <VpcId>vpc-1ab2c3d4</VpcId>\n      </DBSecurityGroup>\n      <DBSecurityGroup>\n        <EC2SecurityGroups/>\n        <DBSecurityGroupDescription>My new DBSecurityGroup</DBSecurityGroupDescription>\n        <IPRanges>\n          <IPRange>\n            <CIDRIP>192.168.1.1/24</CIDRIP>\n            <Status>authorized</Status>\n          </IPRange>\n        </IPRanges>\n        <OwnerId>621567473609</OwnerId>\n        <DBSecurityGroupName>mydbsecuritygroup</DBSecurityGroupName>\n        <VpcId>vpc-1ab2c3d5</VpcId>\n      </DBSecurityGroup>\n      <DBSecurityGroup>\n        <EC2SecurityGroups/>\n        <DBSecurityGroupDescription>My new DBSecurityGroup</DBSecurityGroupDescription>\n        <IPRanges/>\n        <OwnerId>621567473609</OwnerId>\n        <DBSecurityGroupName>mydbsecuritygroup4</DBSecurityGroupName>\n        <VpcId>vpc-1ab2c3d6</VpcId>\n      </DBSecurityGroup>\n    </DBSecurityGroups>\n  </DescribeDBSecurityGroupsResult>\n  <ResponseMetadata>\n    <RequestId>bbdad154-bf42-11de-86a4-97241dfaadff</RequestId>\n  </ResponseMetadata>\n</DescribeDBSecurityGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeDBSnapshots":{
      "name":"DescribeDBSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDBSnapshotsMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DBSnapshotMessage",
        "documentation":"<p>\n        Contains the result of a successful invocation of the <a>DescribeDBSnapshots</a> action.\n        </p>",
        "resultWrapper":"DescribeDBSnapshotsResult"
      },
      "errors":[
        {
          "shape":"DBSnapshotNotFoundFault",
          "error":{
            "code":"DBSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot.\n        </p>"
        }
      ],
[...]
