{
  "metadata":{
    "apiVersion":"2013-04-15",
    "endpointPrefix":"support",
    "jsonVersion":"1.1",
    "serviceFullName":"AWS Support",
    "signatureVersion":"v4",
    "targetPrefix":"AWSSupport_20130415",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Support</fullname>\n    \n    \n    <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support actions and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p>\n    \n    <p>The AWS Support service also exposes a set of <a href=\"https://aws.amazon.com/support/trustedadvisor\">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> \n    \n    <p>The following list describes the AWS Support case management actions: </p>\n    <ul>\n      <li>\n<b>Service names, issue categories, and available severity levels. </b>The actions <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> enable you to obtain AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> action. </li>\n      <li>\n<b>Case creation, case details, and case resolution.</b> The actions <a>CreateCase</a>, <a>DescribeCases</a>, and <a>ResolveCase</a> enable you to create AWS Support cases, retrieve them, and resolve them.</li>\n      <li>\n<b>Case communication.</b> The actions <a>DescribeCommunications</a> and <a>AddCommunicationToCase</a> enable you to retrieve and add communication to AWS Support cases. </li>\n    </ul>\n    \n    <p>The following list describes the actions available from the AWS Support service for  Trusted Advisor:</p>\n    <ul>\n      <li>\n<a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</li> \n      <li>Using the CheckId for a specific check returned by DescribeTrustedAdvisorChecks, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</li> \n      <li>\n<a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</li>\n      <li>\n<a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </li>\n      <li>\n<a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks.  </li>\n    </ul>\n        \n    <p>For authentication of requests, AWS Support uses <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p>\n    \n    <p>See the AWS Support <a href=\"http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">User Guide</a> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>",
  "operations":{
    "AddCommunicationToCase":{
      "name":"AddCommunicationToCase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddCommunicationToCaseRequest",
        "documentation":"<p>To be written.</p>"
      },
      "output":{
        "shape":"AddCommunicationToCaseResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        },
        {
          "shape":"CaseIdNotFound",
          "exception":true,
          "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
        }
      ],
      "documentation":"<p>Adds additional customer communication to an AWS Support case. You use the <code>CaseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>CcEmailAddresses</code> value. The <code>CommunicationBody</code> value contains the text of the communication.</p>\n    <p>The response indicates the success or failure of the request.</p>\n    <p>This operation implements a subset of the behavior on the AWS Support <a href=\"https://aws.amazon.com/support\">Your Support Cases</a> web form.</p>"
    },
    "CreateCase":{
      "name":"CreateCase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCaseRequest"},
      "output":{
        "shape":"CreateCaseResponse",
        "documentation":"<p>The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> action. </p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        },
        {
          "shape":"CaseCreationLimitExceeded",
          "exception":true,
          "documentation":"<p>The case creation limit for the account has been exceeded. </p>"
        }
      ],
      "documentation":"<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href=\"https://aws.amazon.com/support/createCase\">Open a new case</a> page. Its parameters require you to specify the following information: </p>\n    <ol>\n      <li>\n<b>ServiceCode.</b> The code for an AWS service. You obtain the <code>ServiceCode</code> by calling <a>DescribeServices</a>. </li>\n      <li>\n<b>CategoryCode.</b> The category for the service defined for the <code>ServiceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </li>\n      <li>\n<b>SeverityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</li>\n      <li>\n<b>Subject.</b> The <b>Subject</b> field  on the AWS Support Center <a href=\"https://aws.amazon.com/support/createCase\">Open a new case</a> page.</li>\n      <li>\n<b>CommunicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href=\"https://aws.amazon.com/support/createCase\">Open a new case</a> page.</li>\n      <li>\n<b>Language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</li>\n      <li>\n<b>CcEmailAddresses.</b> The  AWS Support Center <b>CC</b> field on the <a href=\"https://aws.amazon.com/support/createCase\">Open a new case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href=\"http://aws.amazon.com/tools/\">AWS SDK</a>. </li>\n    <li>\n<b>IssueType.</b> The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\" </li>\n</ol>\n    \n    <note><p>The AWS Support API does not currently support the ability to add attachments to cases. You can, however, call <a>AddCommunicationToCase</a> to add information to an open case.</p> </note>\n    \n    <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> action to retrieve existing AWS Support cases. </p>"
    },
    "DescribeCases":{
      "name":"DescribeCases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCasesRequest"},
      "output":{
        "shape":"DescribeCasesResponse",
        "documentation":"<p>Returns an array of <a>CaseDetails</a> objects and a <code>NextToken</code> that defines a point for pagination in the result set.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        },
        {
          "shape":"CaseIdNotFound",
          "exception":true,
          "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
        }
      ],
      "documentation":"<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>AfterTime</code> and <code>BeforeTime</code> request parameters. </p>\n    \n    <p>The response returns the following in JSON format:</p> \n    <ol>\n      <li>One or more <a>CaseDetails</a> data types. </li>\n      <li>One or more <code>NextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</li>\n    </ol>"
    },
    "DescribeCommunications":{
      "name":"DescribeCommunications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCommunicationsRequest"},
      "output":{
        "shape":"DescribeCommunicationsResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        },
        {
          "shape":"CaseIdNotFound",
          "exception":true,
          "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
        }
      ],
      "documentation":"<p>Returns communications regarding the support case. You can use the <code>AfterTime</code> and <code>BeforeTime</code> parameters to filter by date. The <code>CaseId</code> parameter enables you to identify a specific case by its <code>CaseId</code> value.</p>\n    <p>The <code>MaxResults</code> and <code>NextToken</code> parameters enable you to control the pagination of the result set. Set <code>MaxResults</code> to the number of cases you want displayed on each page, and use  <code>NextToken</code> to specify the resumption of pagination.</p>"
    },
    "DescribeServices":{
      "name":"DescribeServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServicesRequest"},
      "output":{
        "shape":"DescribeServicesResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p>\n    \n<p>The service codes and category codes correspond to the values that are displayed in the\n        <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href=\"https://aws.amazon.com/support/createCase\">Open a new case</a> page. The values in those\n      fields, however, do not necessarily match the service codes and categories returned by the\n        <code>DescribeServices</code> request. Always use the service codes and categories obtained\n      programmatically. This practice ensures that you always have the most recent set of service\n      and category codes.</p>"
    },
    "DescribeSeverityLevels":{
      "name":"DescribeSeverityLevels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSeverityLevelsRequest"},
      "output":{
        "shape":"DescribeSeverityLevelsResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request.  </p>"
    },
    "DescribeTrustedAdvisorCheckRefreshStatuses":{
      "name":"DescribeTrustedAdvisorCheckRefreshStatuses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustedAdvisorCheckRefreshStatusesRequest"},
      "output":{
        "shape":"DescribeTrustedAdvisorCheckRefreshStatusesResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p>"
    },
    "DescribeTrustedAdvisorCheckResult":{
      "name":"DescribeTrustedAdvisorCheckResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustedAdvisorCheckResultRequest"},
      "output":{
        "shape":"DescribeTrustedAdvisorCheckResultResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p>\n    <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p>\n    <ul>\n      <li><a>TrustedAdvisorCategorySpecificSummary</a></li>\n      <li><a>TrustedAdvisorResourceDetail</a></li>\n      <li><a>TrustedAdvisorResourcesSummary</a></li>\n    </ul>\n<p>In addition, the response contains these fields:</p>\n    <ul>\n      <li>\n<b>Status.</b> The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</li>\n      <li>\n<b>Timestamp.</b> The time of the last refresh of the check.</li>\n      <li>\n<b>CheckId.</b> The unique identifier for the check.</li>\n    </ul>"
    },
    "DescribeTrustedAdvisorCheckSummaries":{
      "name":"DescribeTrustedAdvisorCheckSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustedAdvisorCheckSummariesRequest"},
      "output":{
        "shape":"DescribeTrustedAdvisorCheckSummariesResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p>    \n    <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>"
    },
    "DescribeTrustedAdvisorChecks":{
      "name":"DescribeTrustedAdvisorChecks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustedAdvisorChecksRequest"},
      "output":{
        "shape":"DescribeTrustedAdvisorChecksResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English (\"en\") and Japanese (\"ja\") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check.</p>"
    },
    "RefreshTrustedAdvisorCheck":{
      "name":"RefreshTrustedAdvisorCheck",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RefreshTrustedAdvisorCheckRequest"},
      "output":{
        "shape":"RefreshTrustedAdvisorCheckResponse",
        "documentation":"<p>The current refresh status of a Trusted Advisor check.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        }
      ],
      "documentation":"<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p>\n      <p>The response contains a <a>RefreshTrustedAdvisorCheckResult</a> object, which contains these fields:</p>\n    <ul>\n      <li>\n<b>Status.</b> The refresh status of the check: \"none\", \"enqueued\", \"processing\", \"success\", or \"abandoned\".</li>\n      <li>\n<b>MillisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</li>\n      <li>\n<b>CheckId.</b> The unique identifier for the check.</li>\n    </ul>"
    },
    "ResolveCase":{
      "name":"ResolveCase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResolveCaseRequest"},
      "output":{
        "shape":"ResolveCaseResponse",
        "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"InternalServerError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal server error occurred.</p>"
        },
        {
          "shape":"CaseIdNotFound",
          "exception":true,
          "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
        }
      ],
      "documentation":"<p>Takes a <code>CaseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.</p>"
    }
  },
  "shapes":{
    "AddCommunicationToCaseRequest":{
      "type":"structure",
      "required":["communicationBody"],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        },
        "communicationBody":{
          "shape":"CommunicationBody",
          "documentation":"<p>The body of an email communication to add to the support case.</p>"
        },
        "ccEmailAddresses":{
          "shape":"CcEmailAddressList",
          "documentation":"<p>The email addresses in the CC line of an email to be added to the support case.</p>"
        }
      },
      "documentation":"<p>To be written.</p>"
    },
    "AddCommunicationToCaseResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"Result",
          "documentation":"<p>True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "AfterTime":{"type":"string"},
    "BeforeTime":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CaseCreationLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>An error message that indicates that you have exceeded the number of cases you can have open. </p>"
        }
      },
      "exception":true,
      "documentation":"<p>The case creation limit for the account has been exceeded. </p>"
    },
    "CaseDetails":{
      "type":"structure",
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        },
        "displayId":{
          "shape":"DisplayId",
          "documentation":"<p>The ID displayed for the case in the AWS Support Center. This is a numeric string. </p>"
        },
        "subject":{
          "shape":"Subject",
          "documentation":"<p>The subject line for the case in the AWS Support Center.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the case. </p>"
        },
        "serviceCode":{
          "shape":"ServiceCode",
          "documentation":"<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>"
        },
        "categoryCode":{
          "shape":"CategoryCode",
          "documentation":"<p>The category of problem for the AWS Support case.</p>"
        },
        "severityCode":{
          "shape":"SeverityCode",
          "documentation":"<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>"
        },
        "submittedBy":{
          "shape":"SubmittedBy",
          "documentation":"<p>The email address of the account that submitted the case.</p>"
        },
        "timeCreated":{
          "shape":"TimeCreated",
          "documentation":"<p>The time that the case was case created in the AWS Support Center. </p>"
        },
        "recentCommunications":{
          "shape":"RecentCaseCommunications",
          "documentation":"<p>The five most recent communications between you and AWS Support Center. Includes a <code>nextToken</code> to retrieve the next set of communications.</p>"
        },
        "ccEmailAddresses":{
          "shape":"CcEmailAddressList",
          "documentation":"<p>The email addresses that receive copies of communication about the case.</p>"
        },
        "language":{
          "shape":"Language",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      },
      "documentation":"<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p>\n    <ol>\n      <li>\n<b>CaseID.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</li>\n      <li>\n<b>CategoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</li>\n      <li>\n<b>DisplayId.</b> The identifier for the case on pages in the AWS Support Center.</li>\n      <li>\n<b>Language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</li>\n      <li>\n<b>RecentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>Body</code>, <code>CaseId</code>, <code>SubmittedBy</code>, and <code>TimeCreated</code>.</li>   \n      <li>\n<b>NextToken.</b> A resumption point for pagination.</li>\n      <li>\n<b>ServiceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</li>\n      <li>\n<b>SeverityCode. </b>The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>.</li>\n      <li>\n<b>Status.</b> The status of the case in the AWS Support Center.</li>\n      <li>\n<b>Subject.</b> The subject line of the case.</li>\n      <li>\n<b>SubmittedBy.</b> The email address of the account that submitted the case.</li>\n      <li>\n<b>TimeCreated.</b> The time the case was created, in ISO-8601 format.</li>\n    </ol>"
    },
    "CaseId":{"type":"string"},
    "CaseIdList":{
      "type":"list",
      "member":{"shape":"CaseId"},
      "min":0,
      "max":100
    },
    "CaseIdNotFound":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
        }
      },
      "exception":true,
      "documentation":"<p>The requested <code>CaseId</code> could not be located.</p>"
    },
    "CaseList":{
      "type":"list",
      "member":{"shape":"CaseDetails"}
    },
    "CaseStatus":{"type":"string"},
    "Category":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"CategoryCode",
          "documentation":"<p>The category code for the support case. </p>"
        },
        "name":{
          "shape":"CategoryName",
          "documentation":"<p>The category name for the support case. </p>"
        }
      },
      "documentation":"<p>A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.</p>"
    },
    "CategoryCode":{"type":"string"},
    "CategoryList":{
      "type":"list",
      "member":{"shape":"Category"}
    },
    "CategoryName":{"type":"string"},
    "CcEmailAddress":{"type":"string"},
    "CcEmailAddressList":{
      "type":"list",
      "member":{"shape":"CcEmailAddress"}
    },
    "Communication":{
      "type":"structure",
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        },
        "body":{
          "shape":"CommunicationBody",
          "documentation":"<p>The text of the communication between the customer and AWS Support.</p>"
        },
        "submittedBy":{
          "shape":"SubmittedBy",
          "documentation":"<p>The email address of the account that submitted the AWS Support case. </p>"
        },
        "timeCreated":{
          "shape":"TimeCreated",
          "documentation":"<p>The time the support case was created. </p>"
        }
      },
      "documentation":"<p>Exposes the fields used by a communication for an AWS Support case.</p>"
    },
    "CommunicationBody":{"type":"string"},
    "CommunicationList":{
      "type":"list",
      "member":{"shape":"Communication"}
    },
    "CreateCaseRequest":{
      "type":"structure",
      "required":[
        "subject",
        "communicationBody"
      ],
      "members":{
        "subject":{
          "shape":"Subject",
          "documentation":"<p>The title of the AWS Support case.</p>"
        },
        "serviceCode":{
          "shape":"ServiceCode",
          "documentation":"<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>"
        },
        "severityCode":{
          "shape":"SeverityCode",
          "documentation":"<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>\n    <note><p>The availability of severity levels depends on each customer's support subscription. In other words, your subscription may not necessarily require the urgent level of response time.</p></note>"
        },
        "categoryCode":{
          "shape":"CategoryCode",
          "documentation":"<p>The category of problem for the AWS Support case. </p>"
        },
        "communicationBody":{
          "shape":"CommunicationBody",
          "documentation":"<p>The communication body text when you create an AWS Support case by calling <a>CreateCase</a>.</p>"
        },
        "ccEmailAddresses":{
          "shape":"CcEmailAddressList",
          "documentation":"<p>A list of email addresses that AWS Support copies on case correspondence.</p>"
        },
        "language":{
          "shape":"Language",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        },
        "issueType":{
          "shape":"IssueType",
          "documentation":"<p>The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\" </p>"
        }
      }
    },
    "CreateCaseResponse":{
      "type":"structure",
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        }
      },
      "documentation":"<p>The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> action. </p>"
    },
    "DescribeCasesRequest":{
      "type":"structure",
      "members":{
        "caseIdList":{
          "shape":"CaseIdList",
          "documentation":"<p>A list of ID numbers of the support cases you want returned. The maximum number of cases is 100. </p>"
        },
        "displayId":{
          "shape":"DisplayId",
          "documentation":"<p>The ID displayed for a case in the AWS Support Center user interface. </p>"
        },
        "afterTime":{
          "shape":"AfterTime",
          "documentation":"<p>The start date for a filtered date search on support case communications.</p>"
        },
        "beforeTime":{
          "shape":"BeforeTime",
          "documentation":"<p>The end date for a filtered date search on support case communications.</p>"
        },
        "includeResolvedCases":{
          "shape":"IncludeResolvedCases",
          "documentation":"<p>Specifies whether resolved support cases should be included in the <a>DescribeCases</a> results.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>A resumption point for pagination.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of results to return before paginating.</p>"
        },
        "language":{
          "shape":"Language",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      }
    },
    "DescribeCasesResponse":{
      "type":"structure",
      "members":{
        "cases":{
          "shape":"CaseList",
          "documentation":"<p>The details for the cases that match the request.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>A resumption point for pagination.</p>"
        }
      },
      "documentation":"<p>Returns an array of <a>CaseDetails</a> objects and a <code>NextToken</code> that defines a point for pagination in the result set.</p>"
    },
    "DescribeCommunicationsRequest":{
      "type":"structure",
      "required":["caseId"],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        },
        "beforeTime":{
          "shape":"BeforeTime",
          "documentation":"<p>The end date for a filtered date search on support case communications.</p>"
        },
        "afterTime":{
          "shape":"AfterTime",
          "documentation":"<p>The start date for a filtered date search on support case communications.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>A resumption point for pagination.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of results to return before paginating.</p>"
        }
      }
    },
    "DescribeCommunicationsResponse":{
      "type":"structure",
      "members":{
        "communications":{
          "shape":"CommunicationList",
          "documentation":"<p>The communications for the case.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>A resumption point for pagination.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeServicesRequest":{
      "type":"structure",
      "members":{
        "serviceCodeList":{
          "shape":"ServiceCodeList",
          "documentation":"<p>A JSON-formatted list of service codes available for AWS services.</p>"
        },
        "language":{
          "shape":"Language",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      }
    },
    "DescribeServicesResponse":{
      "type":"structure",
      "members":{
        "services":{
          "shape":"ServiceList",
          "documentation":"<p>A JSON-formatted list of AWS services.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeSeverityLevelsRequest":{
      "type":"structure",
      "members":{
        "language":{
          "shape":"Language",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      }
    },
    "DescribeSeverityLevelsResponse":{
      "type":"structure",
      "members":{
        "severityLevels":{
          "shape":"SeverityLevelsList",
          "documentation":"<p>The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesRequest":{
      "type":"structure",
      "required":["checkIds"],
      "members":{
        "checkIds":{
          "shape":"StringList",
          "documentation":"<p>The IDs of the Trusted Advisor checks.</p>"
        }
      }
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesResponse":{
      "type":"structure",
      "required":["statuses"],
      "members":{
        "statuses":{
          "shape":"TrustedAdvisorCheckRefreshStatusList",
          "documentation":"<p>The refresh status of the specified Trusted Advisor checks.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrustedAdvisorCheckResultRequest":{
      "type":"structure",
      "required":["checkId"],
      "members":{
        "checkId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        },
        "language":{
          "shape":"String",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      }
    },
    "DescribeTrustedAdvisorCheckResultResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"TrustedAdvisorCheckResult",
          "documentation":"<p>The detailed results of the Trusted Advisor check.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrustedAdvisorCheckSummariesRequest":{
      "type":"structure",
      "required":["checkIds"],
      "members":{
        "checkIds":{
          "shape":"StringList",
          "documentation":"<p>The IDs of the Trusted Advisor checks.</p>"
        }
      }
    },
    "DescribeTrustedAdvisorCheckSummariesResponse":{
      "type":"structure",
      "required":["summaries"],
      "members":{
        "summaries":{
          "shape":"TrustedAdvisorCheckSummaryList",
          "documentation":"<p>The summary information for the requested Trusted Advisor checks.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrustedAdvisorChecksRequest":{
      "type":"structure",
      "required":["language"],
      "members":{
        "language":{
          "shape":"String",
          "documentation":"<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>"
        }
      }
    },
    "DescribeTrustedAdvisorChecksResponse":{
      "type":"structure",
      "required":["checks"],
      "members":{
        "checks":{
          "shape":"TrustedAdvisorCheckList",
          "documentation":"<p>Information about all available Trusted Advisor checks.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "DisplayId":{"type":"string"},
    "Double":{"type":"double"},
    "ErrorMessage":{"type":"string"},
    "IncludeResolvedCases":{"type":"boolean"},
    "InternalServerError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>An internal server error occurred.</p>"
        }
      },
      "exception":true,
      "fault":true,
      "documentation":"<p>An internal server error occurred.</p>"
    },
    "IssueType":{"type":"string"},
    "Language":{"type":"string"},
    "Long":{"type":"long"},
    "MaxResults":{
      "type":"integer",
      "min":10,
      "max":100
    },
    "NextToken":{"type":"string"},
    "RecentCaseCommunications":{
      "type":"structure",
      "members":{
        "communications":{
          "shape":"CommunicationList",
          "documentation":"<p>The five most recent communications associated with the case.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>A resumption point for pagination.</p>"
        }
      },
      "documentation":"<p>Contains the five most recent communications associated with the case.</p>"
    },
    "RefreshTrustedAdvisorCheckRequest":{
      "type":"structure",
      "required":["checkId"],
      "members":{
        "checkId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        }
      }
    },
    "RefreshTrustedAdvisorCheckResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"TrustedAdvisorCheckRefreshStatus",
          "documentation":"<p>The current refresh status for a check, including the amount of time until the check is eligible for refresh. </p>"
        }
      },
      "documentation":"<p>The current refresh status of a Trusted Advisor check.</p>"
    },
    "ResolveCaseRequest":{
      "type":"structure",
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i></p>"
        }
      }
    },
    "ResolveCaseResponse":{
      "type":"structure",
      "members":{
        "initialCaseStatus":{
          "shape":"CaseStatus",
          "documentation":"<p>The status of the case when the <a>ResolveCase</a> request was sent.</p>"
        },
        "finalCaseStatus":{
          "shape":"CaseStatus",
          "documentation":"<p>The status of the case after the <a>ResolveCase</a> request was processed.</p>"
        }
      },
      "documentation":"<p>Contains the following objects or data if successful. Otherwise, returns an error.</p>"
    },
    "Result":{"type":"boolean"},
    "Service":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ServiceCode",
          "documentation":"<p>The code for an AWS service returned by <a>DescribeServices</a> response. Has a corresponding name represented by Service.name.</p>"
        },
        "name":{
          "shape":"ServiceName",
          "documentation":"<p>The friendly name for an AWS service. Has a corresponding code represented by Service.code. </p>"
        },
        "categories":{
          "shape":"CategoryList",
          "documentation":"<p>A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>.</p>"
        }
      },
      "documentation":"<p>Represents an AWS Service returned by the <a>DescribeServices</a> action. </p>"
    },
    "ServiceCode":{
      "type":"string",
      "pattern":"[0-9a-z\\-_]+"
    },
    "ServiceCodeList":{
      "type":"list",
      "member":{"shape":"ServiceCode"},
      "min":0,
      "max":100
    },
    "ServiceList":{
      "type":"list",
      "member":{"shape":"Service"}
    },
    "ServiceName":{"type":"string"},
    "SeverityCode":{"type":"string"},
    "SeverityLevel":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"SeverityLevelCode",
          "documentation":"<p>One of four values: \"low,\" \"medium,\" \"high,\" and \"urgent\". These values correspond to response times returned to the caller in <code>SeverityLevel.name</code>. </p>"
        },
        "name":{
          "shape":"SeverityLevelName",
          "documentation":"<p>The name of the severity level that corresponds to the severity level code.</p>"
        }
      },
      "documentation":"<p>A code and name pair that represent a severity level that can be applied to a support case. </p>"
    },
    "SeverityLevelCode":{"type":"string"},
    "SeverityLevelName":{"type":"string"},
    "SeverityLevelsList":{
      "type":"list",
      "member":{"shape":"SeverityLevel"}
    },
    "Status":{"type":"string"},
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Subject":{"type":"string"},
    "SubmittedBy":{"type":"string"},
    "TimeCreated":{"type":"string"},
    "TrustedAdvisorCategorySpecificSummary":{
      "type":"structure",
      "members":{
        "costOptimizing":{
          "shape":"TrustedAdvisorCostOptimizingSummary",
          "documentation":"<p>The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category.</p>"
        }
      },
      "documentation":"<p>The container for summary information that relates to the category of the Trusted Advisor check.</p>"
    },
    "TrustedAdvisorCheckDescription":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "description",
        "category",
        "metadata"
      ],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The display name for the Trusted Advisor check.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The description of the Trusted Advisor check, which includes the alert criteria and recommended actions (contains HTML markup).</p>"
        },
        "category":{
          "shape":"String",
          "documentation":"<p>The category of the Trusted Advisor check.</p>"
        },
        "metadata":{
          "shape":"StringList",
          "documentation":"<p>The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check.</p>"
        }
      },
      "documentation":"<p>The description and metadata for a Trusted Advisor check.</p>"
    },
    "TrustedAdvisorCheckList":{
      "type":"list",
      "member":{"shape":"TrustedAdvisorCheckDescription"}
    },
    "TrustedAdvisorCheckRefreshStatus":{
      "type":"structure",
      "required":[
        "checkId",
        "status",
        "millisUntilNextRefreshable"
      ],
      "members":{
        "checkId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the Trusted Advisor check for which a refresh has been requested: \"none\", \"enqueued\", \"processing\", \"success\", or \"abandoned\".</p>"
        },
        "millisUntilNextRefreshable":{
          "shape":"Long",
          "documentation":"<p>The amount of time, in milliseconds, until the Trusted Advisor check is eligible for refresh.</p>"
        }
      },
      "documentation":"<p>The refresh status of a Trusted Advisor check. </p>"
    },
    "TrustedAdvisorCheckRefreshStatusList":{
      "type":"list",
      "member":{"shape":"TrustedAdvisorCheckRefreshStatus"}
    },
    "TrustedAdvisorCheckResult":{
      "type":"structure",
      "required":[
        "checkId",
        "timestamp",
        "status",
        "resourcesSummary",
        "categorySpecificSummary",
        "flaggedResources"
      ],
      "members":{
        "checkId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        },
        "timestamp":{
          "shape":"String",
          "documentation":"<p>The time of the last refresh of the check.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p>"
        },
        "resourcesSummary":{"shape":"TrustedAdvisorResourcesSummary"},
        "categorySpecificSummary":{
          "shape":"TrustedAdvisorCategorySpecificSummary",
          "documentation":"<p>Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.</p>"
        },
        "flaggedResources":{
          "shape":"TrustedAdvisorResourceDetailList",
          "documentation":"<p>The details about each resource listed in the check result.</p>"
        }
      },
      "documentation":"<p>The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.</p>"
    },
    "TrustedAdvisorCheckSummary":{
      "type":"structure",
      "required":[
        "checkId",
        "timestamp",
        "status",
        "resourcesSummary",
        "categorySpecificSummary"
      ],
      "members":{
        "checkId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the Trusted Advisor check.</p>"
        },
        "timestamp":{
          "shape":"String",
          "documentation":"<p>The time of the last refresh of the check.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p>"
        },
        "hasFlaggedResources":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the Trusted Advisor check has flagged resources.</p>"
        },
        "resourcesSummary":{"shape":"TrustedAdvisorResourcesSummary"},
        "categorySpecificSummary":{
          "shape":"TrustedAdvisorCategorySpecificSummary",
          "documentation":"<p>Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.</p>"
        }
      },
      "documentation":"<p>A summary of a Trusted Advisor check result, including the alert status, last refresh, and number of resources examined.</p>"
    },
    "TrustedAdvisorCheckSummaryList":{
      "type":"list",
      "member":{"shape":"TrustedAdvisorCheckSummary"}
    },
    "TrustedAdvisorCostOptimizingSummary":{
      "type":"structure",
      "required":[
        "estimatedMonthlySavings",
        "estimatedPercentMonthlySavings"
      ],
      "members":{
        "estimatedMonthlySavings":{
          "shape":"Double",
          "documentation":"<p>The estimated monthly savings that might be realized if the recommended actions are taken.</p>"
        },
        "estimatedPercentMonthlySavings":{
          "shape":"Double",
          "documentation":"<p>The estimated percentage of savings that might be realized if the recommended actions are taken.</p>"
        }
      },
      "documentation":"<p>The estimated cost savings that might be realized if the recommended actions are taken.</p>"
    },
    "TrustedAdvisorResourceDetail":{
      "type":"structure",
      "required":[
        "status",
        "region",
        "resourceId",
        "metadata"
      ],
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The status code for the resource identified in the Trusted Advisor check.</p>"
        },
        "region":{
          "shape":"String",
          "documentation":"<p>The AWS region in which the identified resource is located. </p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the identified resource.</p>"
        },
        "isSuppressed":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the AWS resource was ignored by Trusted Advisor because it was marked as suppressed by the user.</p>"
        },
        "metadata":{
          "shape":"StringList",
          "documentation":"<p>Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>.</p>"
        }
      },
      "documentation":"<p>Contains information about a resource identified by a Trusted Advisor check. </p>"
    },
    "TrustedAdvisorResourceDetailList":{
      "type":"list",
      "member":{"shape":"TrustedAdvisorResourceDetail"}
    },
    "TrustedAdvisorResourcesSummary":{
      "type":"structure",
      "required":[
        "resourcesProcessed",
        "resourcesFlagged",
        "resourcesIgnored",
        "resourcesSuppressed"
      ],
      "members":{
        "resourcesProcessed":{
          "shape":"Long",
          "documentation":"<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>"
        },
        "resourcesFlagged":{
          "shape":"Long",
          "documentation":"<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>"
        },
        "resourcesIgnored":{
          "shape":"Long",
          "documentation":"<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>"
        },
        "resourcesSuppressed":{
          "shape":"Long",
          "documentation":"<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>"
        }
      },
      "documentation":"<p>Details about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>. </p>"
    }
  }
}
