<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>).
  <div id="awsdocs-legal-zone-copyright"></div>
</div>

<!-- Gitter chat -->
<script>((window.gitter = {}).chat = {}).options = { room: 'aws/aws-sdk-ruby' };</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
