# frozen_string_literal: true

{{#generated_src_warning}}
{{generated_src_warning}}
{{/generated_src_warning}}
{{#included_in_core}}
require_relative '../../shared_spec_helper'
{{/included_in_core}}
{{^included_in_core}}
require_relative '../../aws-sdk-core/spec/shared_spec_helper'
{{/included_in_core}}

$:.unshift(File.expand_path('../../lib', __FILE__))
{{#gem_dependencies}}
$:.unshift(File.expand_path('../../../{{dependency}}/lib', __FILE__))
{{/gem_dependencies}}

require 'rspec'
require 'webmock/rspec'
require '{{gem_name}}'
