body {
  padding-top: 50px;
}

#main {
  padding: 40px 15px;
}

pre {
  color: white;
  background-color: #333333;
  font-weight: normal;
}

code.language-ruby .string .delimiter {
  color: #FEDEAD;
}

code.language-ruby .string .content {
  color: #F4A09E;
}

code.language-ruby .symbol {
  color: #CD5C5D;
}

code.language-ruby .comment {
  color: #83CEDF;
}

code.language-ruby .constant {
  color: #BDB765;
  font-weight: bold;
}
