{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-26",
    "endpointPrefix":"transcribestreaming",
    "protocol":"rest-json",
    "protocolSettings":{"h2":"eventstream"},
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Transcribe Streaming Service",
    "serviceId":"Transcribe Streaming",
    "signatureVersion":"v4",
    "signingName":"transcribe",
    "uid":"transcribe-streaming-2017-10-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "GetMedicalScribeStream":{
      "name":"GetMedicalScribeStream",
      "http":{
        "method":"GET",
        "requestUri":"/medical-scribe-stream/{SessionId}"
      },
      "input":{"shape":"GetMedicalScribeStreamRequest"},
      "output":{"shape":"GetMedicalScribeStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StartCallAnalyticsStreamTranscription":{
      "name":"StartCallAnalyticsStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/call-analytics-stream-transcription"
      },
      "input":{"shape":"StartCallAnalyticsStreamTranscriptionRequest"},
      "output":{"shape":"StartCallAnalyticsStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    },
    "StartMedicalScribeStream":{
      "name":"StartMedicalScribeStream",
      "http":{
        "method":"POST",
        "requestUri":"/medical-scribe-stream"
      },
      "input":{"shape":"StartMedicalScribeStreamRequest"},
      "output":{"shape":"StartMedicalScribeStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    },
    "StartMedicalStreamTranscription":{
      "name":"StartMedicalStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/medical-stream-transcription"
      },
      "input":{"shape":"StartMedicalStreamTranscriptionRequest"},
      "output":{"shape":"StartMedicalStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    },
    "StartStreamTranscription":{
      "name":"StartStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/stream-transcription"
      },
      "input":{"shape":"StartStreamTranscriptionRequest"},
      "output":{"shape":"StartStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    }
  },
  "shapes":{
    "Alternative":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"String"},
        "Items":{"shape":"ItemList"},
        "Entities":{"shape":"EntityList"}
      }
    },
    "AlternativeList":{
      "type":"list",
      "member":{"shape":"Alternative"}
    },
    "AudioChunk":{"type":"blob"},
    "AudioEvent":{
      "type":"structure",
      "members":{
        "AudioChunk":{
          "shape":"AudioChunk",
          "eventpayload":true
        }
      },
      "event":true
    },
    "AudioStream":{
      "type":"structure",
      "members":{
        "AudioEvent":{"shape":"AudioEvent"},
        "ConfigurationEvent":{"shape":"ConfigurationEvent"}
      },
      "eventstream":true
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BucketName":{
      "type":"string",
      "max":64,
      "pattern":"[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
    },
    "CallAnalyticsEntity":{
      "type":"structure",
      "members":{
        "BeginOffsetMillis":{"shape":"Long"},
        "EndOffsetMillis":{"shape":"Long"},
        "Category":{"shape":"String"},
        "Type":{"shape":"String"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"}
      }
    },
    "CallAnalyticsEntityList":{
      "type":"list",
      "member":{"shape":"CallAnalyticsEntity"}
    },
    "CallAnalyticsItem":{
      "type":"structure",
      "members":{
        "BeginOffsetMillis":{"shape":"Long"},
        "EndOffsetMillis":{"shape":"Long"},
        "Type":{"shape":"ItemType"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"},
        "VocabularyFilterMatch":{"shape":"Boolean"},
        "Stable":{"shape":"Stable"}
      }
    },
    "CallAnalyticsItemList":{
      "type":"list",
      "member":{"shape":"CallAnalyticsItem"}
    },
    "CallAnalyticsLanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "en-GB",
        "es-US",
        "fr-CA",
        "fr-FR",
        "en-AU",
        "it-IT",
        "de-DE",
        "pt-BR"
      ]
    },
    "CallAnalyticsLanguageIdentification":{
      "type":"list",
      "member":{"shape":"CallAnalyticsLanguageWithScore"}
    },
    "CallAnalyticsLanguageWithScore":{
      "type":"structure",
      "members":{
        "LanguageCode":{"shape":"CallAnalyticsLanguageCode"},
        "Score":{"shape":"Double"}
      }
    },
    "CallAnalyticsTranscriptResultStream":{
      "type":"structure",
      "members":{
        "UtteranceEvent":{"shape":"UtteranceEvent"},
        "CategoryEvent":{"shape":"CategoryEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "CategoryEvent":{
      "type":"structure",
      "members":{
        "MatchedCategories":{"shape":"StringList"},
        "MatchedDetails":{"shape":"MatchedCategoryDetails"}
      },
      "event":true
    },
    "ChannelDefinition":{
      "type":"structure",
      "required":[
        "ChannelId",
        "ParticipantRole"
      ],
      "members":{
        "ChannelId":{"shape":"ChannelId"},
        "ParticipantRole":{"shape":"ParticipantRole"}
      }
    },
    "ChannelDefinitions":{
      "type":"list",
      "member":{"shape":"ChannelDefinition"},
      "max":2,
      "min":2
    },
    "ChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "CharacterOffsets":{
      "type":"structure",
      "members":{
        "Begin":{"shape":"Integer"},
        "End":{"shape":"Integer"}
      }
    },
    "ClinicalNoteGenerationResult":{
      "type":"structure",
      "members":{
        "ClinicalNoteOutputLocation":{"shape":"Uri"},
        "TranscriptOutputLocation":{"shape":"Uri"},
        "Status":{"shape":"ClinicalNoteGenerationStatus"},
        "FailureReason":{"shape":"String"}
      }
    },
    "ClinicalNoteGenerationSettings":{
      "type":"structure",
      "required":["OutputBucketName"],
      "members":{
        "OutputBucketName":{"shape":"BucketName"},
        "NoteTemplate":{"shape":"MedicalScribeNoteTemplate"}
      }
    },
    "ClinicalNoteGenerationStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "Confidence":{"type":"double"},
    "ConfigurationEvent":{
      "type":"structure",
      "members":{
        "ChannelDefinitions":{"shape":"ChannelDefinitions"},
        "PostCallAnalyticsSettings":{"shape":"PostCallAnalyticsSettings"}
      },
      "event":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ContentIdentificationType":{
      "type":"string",
      "enum":["PII"]
    },
    "ContentRedactionOutput":{
      "type":"string",
      "enum":[
        "redacted",
        "redacted_and_unredacted"
      ]
    },
    "ContentRedactionType":{
      "type":"string",
      "enum":["PII"]
    },
    "DateTime":{"type":"timestamp"},
    "Double":{"type":"double"},
    "Entity":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Category":{"shape":"String"},
        "Type":{"shape":"String"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"}
      }
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "GetMedicalScribeStreamRequest":{
      "type":"structure",
      "required":["SessionId"],
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "location":"uri",
          "locationName":"SessionId"
        }
      }
    },
    "GetMedicalScribeStreamResponse":{
      "type":"structure",
      "members":{
        "MedicalScribeStreamDetails":{"shape":"MedicalScribeStreamDetails"}
      }
    },
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
    },
    "Integer":{"type":"integer"},
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "IssueDetected":{
      "type":"structure",
      "members":{
        "CharacterOffsets":{"shape":"CharacterOffsets"}
      }
    },
    "IssuesDetected":{
      "type":"list",
      "member":{"shape":"IssueDetected"}
    },
    "Item":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Type":{"shape":"ItemType"},
        "Content":{"shape":"String"},
        "VocabularyFilterMatch":{"shape":"Boolean"},
        "Speaker":{"shape":"String"},
        "Confidence":{"shape":"Confidence"},
        "Stable":{"shape":"Stable"}
      }
    },
    "ItemList":{
      "type":"list",
      "member":{"shape":"Item"}
    },
    "ItemType":{
      "type":"string",
      "enum":[
        "pronunciation",
        "punctuation"
      ]
    },
    "KMSEncryptionContextMap":{
      "type":"map",
      "key":{"shape":"NonEmptyString"},
      "value":{"shape":"NonEmptyString"},
      "max":10,
      "min":1
    },
    "KMSKeyId":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
    },
    "LanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "en-GB",
        "es-US",
        "fr-CA",
        "fr-FR",
        "en-AU",
        "it-IT",
        "de-DE",
        "pt-BR",
        "ja-JP",
        "ko-KR",
        "zh-CN",
        "th-TH",
        "es-ES",
        "ar-SA",
        "pt-PT",
        "ca-ES",
        "ar-AE",
        "hi-IN",
        "zh-HK",
        "nl-NL",
        "no-NO",
        "sv-SE",
        "pl-PL",
        "fi-FI",
        "zh-TW",
        "en-IN",
        "en-IE",
        "en-NZ",
        "en-AB",
        "en-ZA",
        "en-WL",
        "de-CH",
        "af-ZA",
        "eu-ES",
        "hr-HR",
        "cs-CZ",
        "da-DK",
        "fa-IR",
        "gl-ES",
        "el-GR",
        "he-IL",
        "id-ID",
        "lv-LV",
        "ms-MY",
        "ro-RO",
        "ru-RU",
        "sr-RS",
        "sk-SK",
        "so-SO",
        "tl-PH",
        "uk-UA",
        "vi-VN",
        "zu-ZA",
        "am-ET",
        "be-BY",
        "bg-BG",
        "bn-IN",
        "bs-BA",
        "ckb-IQ",
        "ckb-IR",
        "cy-WL",
        "es-MX",
        "et-ET",
        "fa-AF",
        "gu-IN",
        "ht-HT",
        "hu-HU",
        "hy-AM",
        "is-IS",
        "jv-ID",
        "ka-GE",
        "kab-DZ",
        "kk-KZ",
        "km-KH",
        "kn-IN",
        "lg-IN",
        "lt-LT",
        "mk-MK",
        "ml-IN",
        "mr-IN",
        "my-MM",
        "ne-NP",
        "or-IN",
        "pa-IN",
        "ps-AF",
        "si-LK",
        "sl-SI",
        "sq-AL",
        "su-ID",
        "sw-BI",
        "sw-KE",
        "sw-RW",
        "sw-TZ",
        "sw-UG",
        "ta-IN",
        "te-IN",
        "tr-TR",
        "uz-UZ"
      ]
    },
    "LanguageIdentification":{
      "type":"list",
      "member":{"shape":"LanguageWithScore"}
    },
    "LanguageOptions":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[a-zA-Z-,]+"
    },
    "LanguageWithScore":{
      "type":"structure",
      "members":{
        "LanguageCode":{"shape":"LanguageCode"},
        "Score":{"shape":"Double"}
      }
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "Long":{"type":"long"},
    "MatchedCategoryDetails":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"PointsOfInterest"}
    },
    "MediaEncoding":{
      "type":"string",
      "enum":[
        "pcm",
        "ogg-opus",
        "flac"
      ]
    },
    "MediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":8000
    },
    "MedicalAlternative":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"String"},
        "Items":{"shape":"MedicalItemList"},
        "Entities":{"shape":"MedicalEntityList"}
      }
    },
    "MedicalAlternativeList":{
      "type":"list",
      "member":{"shape":"MedicalAlternative"}
    },
    "MedicalContentIdentificationType":{
      "type":"string",
      "enum":["PHI"]
    },
    "MedicalEntity":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Category":{"shape":"String"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"}
      }
    },
    "MedicalEntityList":{
      "type":"list",
      "member":{"shape":"MedicalEntity"}
    },
    "MedicalItem":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Type":{"shape":"ItemType"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"},
        "Speaker":{"shape":"String"}
      }
    },
    "MedicalItemList":{
      "type":"list",
      "member":{"shape":"MedicalItem"}
    },
    "MedicalResult":{
      "type":"structure",
      "members":{
        "ResultId":{"shape":"String"},
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "IsPartial":{"shape":"Boolean"},
        "Alternatives":{"shape":"MedicalAlternativeList"},
        "ChannelId":{"shape":"String"}
      }
    },
    "MedicalResultList":{
      "type":"list",
      "member":{"shape":"MedicalResult"}
    },
    "MedicalScribeAudioEvent":{
      "type":"structure",
      "required":["AudioChunk"],
      "members":{
        "AudioChunk":{
          "shape":"AudioChunk",
          "eventpayload":true
        }
      },
      "event":true
    },
    "MedicalScribeChannelDefinition":{
      "type":"structure",
      "required":[
        "ChannelId",
        "ParticipantRole"
      ],
      "members":{
        "ChannelId":{"shape":"MedicalScribeChannelId"},
        "ParticipantRole":{"shape":"MedicalScribeParticipantRole"}
      }
    },
    "MedicalScribeChannelDefinitions":{
      "type":"list",
      "member":{"shape":"MedicalScribeChannelDefinition"},
      "max":2,
      "min":2
    },
    "MedicalScribeChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "MedicalScribeConfigurationEvent":{
      "type":"structure",
      "required":[
        "ResourceAccessRoleArn",
        "PostStreamAnalyticsSettings"
      ],
      "members":{
        "VocabularyName":{"shape":"VocabularyName"},
        "VocabularyFilterName":{"shape":"VocabularyFilterName"},
        "VocabularyFilterMethod":{"shape":"MedicalScribeVocabularyFilterMethod"},
        "ResourceAccessRoleArn":{"shape":"IamRoleArn"},
        "ChannelDefinitions":{"shape":"MedicalScribeChannelDefinitions"},
        "EncryptionSettings":{"shape":"MedicalScribeEncryptionSettings"},
        "PostStreamAnalyticsSettings":{"shape":"MedicalScribePostStreamAnalyticsSettings"},
        "MedicalScribeContext":{"shape":"MedicalScribeContext"}
      },
      "event":true
    },
    "MedicalScribeContext":{
      "type":"structure",
      "members":{
        "PatientContext":{"shape":"MedicalScribePatientContext"}
      }
    },
    "MedicalScribeEncryptionSettings":{
      "type":"structure",
      "required":["KmsKeyId"],
      "members":{
        "KmsEncryptionContext":{"shape":"KMSEncryptionContextMap"},
        "KmsKeyId":{"shape":"KMSKeyId"}
      }
    },
    "MedicalScribeInputStream":{
      "type":"structure",
      "members":{
        "AudioEvent":{"shape":"MedicalScribeAudioEvent"},
        "SessionControlEvent":{"shape":"MedicalScribeSessionControlEvent"},
        "ConfigurationEvent":{"shape":"MedicalScribeConfigurationEvent"}
      },
      "eventstream":true
    },
    "MedicalScribeLanguageCode":{
      "type":"string",
      "enum":["en-US"]
    },
    "MedicalScribeMediaEncoding":{
      "type":"string",
      "enum":[
        "pcm",
        "ogg-opus",
        "flac"
      ]
    },
    "MedicalScribeMediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":16000
    },
    "MedicalScribeNoteTemplate":{
      "type":"string",
      "enum":[
        "HISTORY_AND_PHYSICAL",
        "GIRPP",
        "DAP",
        "SIRP",
        "BIRP",
        "BEHAVIORAL_SOAP",
        "PHYSICAL_SOAP"
      ]
    },
    "MedicalScribeParticipantRole":{
      "type":"string",
      "enum":[
        "PATIENT",
        "CLINICIAN"
      ]
    },
    "MedicalScribePatientContext":{
      "type":"structure",
      "members":{
        "Pronouns":{"shape":"Pronouns"}
      }
    },
    "MedicalScribePostStreamAnalyticsResult":{
      "type":"structure",
      "members":{
        "ClinicalNoteGenerationResult":{"shape":"ClinicalNoteGenerationResult"}
      }
    },
    "MedicalScribePostStreamAnalyticsSettings":{
      "type":"structure",
      "required":["ClinicalNoteGenerationSettings"],
      "members":{
        "ClinicalNoteGenerationSettings":{"shape":"ClinicalNoteGenerationSettings"}
      }
    },
    "MedicalScribeResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{"shape":"MedicalScribeTranscriptEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "MedicalScribeSessionControlEvent":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{"shape":"MedicalScribeSessionControlEventType"}
      },
      "event":true
    },
    "MedicalScribeSessionControlEventType":{
      "type":"string",
      "enum":["END_OF_SESSION"]
    },
    "MedicalScribeStreamDetails":{
      "type":"structure",
      "members":{
        "SessionId":{"shape":"SessionId"},
        "StreamCreatedAt":{"shape":"DateTime"},
        "StreamEndedAt":{"shape":"DateTime"},
        "LanguageCode":{"shape":"MedicalScribeLanguageCode"},
        "MediaSampleRateHertz":{"shape":"MedicalScribeMediaSampleRateHertz"},
        "MediaEncoding":{"shape":"MedicalScribeMediaEncoding"},
        "VocabularyName":{"shape":"VocabularyName"},
        "VocabularyFilterName":{"shape":"VocabularyFilterName"},
        "VocabularyFilterMethod":{"shape":"MedicalScribeVocabularyFilterMethod"},
        "ResourceAccessRoleArn":{"shape":"IamRoleArn"},
        "ChannelDefinitions":{"shape":"MedicalScribeChannelDefinitions"},
        "EncryptionSettings":{"shape":"MedicalScribeEncryptionSettings"},
        "StreamStatus":{"shape":"MedicalScribeStreamStatus"},
        "PostStreamAnalyticsSettings":{"shape":"MedicalScribePostStreamAnalyticsSettings"},
        "PostStreamAnalyticsResult":{"shape":"MedicalScribePostStreamAnalyticsResult"},
        "MedicalScribeContextProvided":{"shape":"NullableBoolean"}
      }
    },
    "MedicalScribeStreamStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "PAUSED",
        "FAILED",
        "COMPLETED"
      ]
    },
    "MedicalScribeTranscriptEvent":{
      "type":"structure",
      "members":{
        "TranscriptSegment":{"shape":"MedicalScribeTranscriptSegment"}
      },
      "event":true
    },
    "MedicalScribeTranscriptItem":{
      "type":"structure",
      "members":{
        "BeginAudioTime":{"shape":"Double"},
        "EndAudioTime":{"shape":"Double"},
        "Type":{"shape":"MedicalScribeTranscriptItemType"},
        "Confidence":{"shape":"Confidence"},
        "Content":{"shape":"String"},
        "VocabularyFilterMatch":{"shape":"NullableBoolean"}
      }
    },
    "MedicalScribeTranscriptItemList":{
      "type":"list",
      "member":{"shape":"MedicalScribeTranscriptItem"}
    },
    "MedicalScribeTranscriptItemType":{
      "type":"string",
      "enum":[
        "pronunciation",
        "punctuation"
      ]
    },
    "MedicalScribeTranscriptSegment":{
      "type":"structure",
      "members":{
        "SegmentId":{"shape":"String"},
        "BeginAudioTime":{"shape":"Double"},
        "EndAudioTime":{"shape":"Double"},
        "Content":{"shape":"String"},
        "Items":{"shape":"MedicalScribeTranscriptItemList"},
        "IsPartial":{"shape":"Boolean"},
        "ChannelId":{"shape":"String"}
      }
    },
    "MedicalScribeVocabularyFilterMethod":{
      "type":"string",
      "enum":[
        "remove",
        "mask",
        "tag"
      ]
    },
    "MedicalTranscript":{
      "type":"structure",
      "members":{
        "Results":{"shape":"MedicalResultList"}
      }
    },
    "MedicalTranscriptEvent":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"MedicalTranscript"}
      },
      "event":true
    },
    "MedicalTranscriptResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{"shape":"MedicalTranscriptEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "ModelName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "NonEmptyString":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".*\\S.*"
    },
    "NullableBoolean":{
      "type":"boolean",
      "box":true
    },
    "NumberOfChannels":{
      "type":"integer",
      "min":2
    },
    "PartialResultsStability":{
      "type":"string",
      "enum":[
        "high",
        "medium",
        "low"
      ]
    },
    "ParticipantRole":{
      "type":"string",
      "enum":[
        "AGENT",
        "CUSTOMER"
      ]
    },
    "PiiEntityTypes":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[A-Z_, ]+"
    },
    "PointsOfInterest":{
      "type":"structure",
      "members":{
        "TimestampRanges":{"shape":"TimestampRanges"}
      }
    },
    "PostCallAnalyticsSettings":{
      "type":"structure",
      "required":[
        "OutputLocation",
        "DataAccessRoleArn"
      ],
      "members":{
        "OutputLocation":{"shape":"String"},
        "DataAccessRoleArn":{"shape":"String"},
        "ContentRedactionOutput":{"shape":"ContentRedactionOutput"},
        "OutputEncryptionKMSKeyId":{"shape":"String"}
      }
    },
    "Pronouns":{
      "type":"string",
      "enum":[
        "HE_HIM",
        "SHE_HER",
        "THEY_THEM"
      ],
      "sensitive":true
    },
    "RequestId":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "Result":{
      "type":"structure",
      "members":{
        "ResultId":{"shape":"String"},
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "IsPartial":{"shape":"Boolean"},
        "Alternatives":{"shape":"AlternativeList"},
        "ChannelId":{"shape":"String"},
        "LanguageCode":{"shape":"LanguageCode"},
        "LanguageIdentification":{"shape":"LanguageIdentification"}
      }
    },
    "ResultList":{
      "type":"list",
      "member":{"shape":"Result"}
    },
    "Sentiment":{
      "type":"string",
      "enum":[
        "POSITIVE",
        "NEGATIVE",
        "MIXED",
        "NEUTRAL"
      ]
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":503},
      "exception":true
    },
    "SessionId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
    },
    "Specialty":{
      "type":"string",
      "enum":[
        "PRIMARYCARE",
        "CARDIOLOGY",
        "NEUROLOGY",
        "ONCOLOGY",
        "RADIOLOGY",
        "UROLOGY"
      ]
    },
    "Stable":{"type":"boolean"},
    "StartCallAnalyticsStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "MediaSampleRateHertz",
        "MediaEncoding",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"CallAnalyticsLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{"shape":"AudioStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"CallAnalyticsLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        }
      },
      "payload":"AudioStream"
    },
    "StartCallAnalyticsStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"CallAnalyticsLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "CallAnalyticsTranscriptResultStream":{"shape":"CallAnalyticsTranscriptResultStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"CallAnalyticsLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        }
      },
      "payload":"CallAnalyticsTranscriptResultStream"
    },
    "StartMedicalScribeStreamRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "MediaSampleRateHertz",
        "MediaEncoding",
        "InputStream"
      ],
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "LanguageCode":{
          "shape":"MedicalScribeLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MedicalScribeMediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MedicalScribeMediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "InputStream":{"shape":"MedicalScribeInputStream"}
      },
      "payload":"InputStream"
    },
    "StartMedicalScribeStreamResponse":{
      "type":"structure",
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"MedicalScribeLanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MedicalScribeMediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MedicalScribeMediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "ResultStream":{"shape":"MedicalScribeResultStream"}
      },
      "payload":"ResultStream"
    },
    "StartMedicalStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "MediaSampleRateHertz",
        "MediaEncoding",
        "Specialty",
        "Type",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "Specialty":{
          "shape":"Specialty",
          "location":"header",
          "locationName":"x-amzn-transcribe-specialty"
        },
        "Type":{
          "shape":"Type",
          "location":"header",
          "locationName":"x-amzn-transcribe-type"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{"shape":"AudioStream"},
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "ContentIdentificationType":{
          "shape":"MedicalContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        }
      },
      "payload":"AudioStream"
    },
    "StartMedicalStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "Specialty":{
          "shape":"Specialty",
          "location":"header",
          "locationName":"x-amzn-transcribe-specialty"
        },
        "Type":{
          "shape":"Type",
          "location":"header",
          "locationName":"x-amzn-transcribe-type"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "TranscriptResultStream":{"shape":"MedicalTranscriptResultStream"},
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "ContentIdentificationType":{
          "shape":"MedicalContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        }
      },
      "payload":"TranscriptResultStream"
    },
    "StartStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "MediaSampleRateHertz",
        "MediaEncoding",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{"shape":"AudioStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "IdentifyMultipleLanguages":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-multiple-languages"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        }
      },
      "payload":"AudioStream"
    },
    "StartStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "TranscriptResultStream":{"shape":"TranscriptResultStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "IdentifyMultipleLanguages":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-multiple-languages"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        }
      },
      "payload":"TranscriptResultStream"
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TimestampRange":{
      "type":"structure",
      "members":{
        "BeginOffsetMillis":{"shape":"Long"},
        "EndOffsetMillis":{"shape":"Long"}
      }
    },
    "TimestampRanges":{
      "type":"list",
      "member":{"shape":"TimestampRange"}
    },
    "Transcript":{
      "type":"structure",
      "members":{
        "Results":{"shape":"ResultList"}
      }
    },
    "TranscriptEvent":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"Transcript"}
      },
      "event":true
    },
    "TranscriptResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{"shape":"TranscriptEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "Type":{
      "type":"string",
      "enum":[
        "CONVERSATION",
        "DICTATION"
      ]
    },
    "Uri":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":"(s3://|http(s*)://).+"
    },
    "UtteranceEvent":{
      "type":"structure",
      "members":{
        "UtteranceId":{"shape":"String"},
        "IsPartial":{"shape":"Boolean"},
        "ParticipantRole":{"shape":"ParticipantRole"},
        "BeginOffsetMillis":{"shape":"Long"},
        "EndOffsetMillis":{"shape":"Long"},
        "Transcript":{"shape":"String"},
        "Items":{"shape":"CallAnalyticsItemList"},
        "Entities":{"shape":"CallAnalyticsEntityList"},
        "Sentiment":{"shape":"Sentiment"},
        "IssuesDetected":{"shape":"IssuesDetected"},
        "LanguageCode":{"shape":"CallAnalyticsLanguageCode"},
        "LanguageIdentification":{"shape":"CallAnalyticsLanguageIdentification"}
      },
      "event":true
    },
    "VocabularyFilterMethod":{
      "type":"string",
      "enum":[
        "remove",
        "mask",
        "tag"
      ]
    },
    "VocabularyFilterName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "VocabularyFilterNames":{
      "type":"string",
      "max":3000,
      "min":1,
      "pattern":"^[a-zA-Z0-9,-._]+"
    },
    "VocabularyName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "VocabularyNames":{
      "type":"string",
      "max":3000,
      "min":1,
      "pattern":"^[a-zA-Z0-9,-._]+"
    }
  }
}
