#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '*' do
  if item[:extension] == 'md'
    filter :erb
    filter :rdiscount
    filter :colorize_syntax, code_ray: { :css => :class }
    layout 'default'
    filter :relativize_paths, type: :html
  end
end

route '*' do
  if match = item.identifier.match(/^\/sections\/(.+)$/)
    item[:section] = match[1].chop
    puts [item.identifier, match[1]].inspect
    item[:path] = '/' + match[1]
    puts item[:path]
    '/' + match[1] + 'index.html'
  elsif item[:extension] == 'md'
    item.identifier + 'index.html'
  else
    item.identifier.chop + '.' + item[:extension]
  end
end

layout '*', :erb
